Repository eventespresso/event-espresso-core, pull requests merged in 2018-12, with the labels that each got.

#809 Add a more prominent mention of the Event Smart service.
  readme.txt
Labels: status:merge

#813 dont use expectException as thats new, instead use setExceptionExpect…
  tests/testcases/core/libraries/rest_api/ModelDataTranslatorTest.php
Labels: category:unit-tests, status:review, type:bug 🐞

#815 don’t load our blocks framework if in Divi front-end editor context
  core/EE_System.core.php
Labels: category:3rd-party-integrations, category:assets, category:gutenberg, type:theme/plugin-conflict 💥

#822 Fix "seperator" typo on Countries page
  core/db_models/EEM_Country.model.php
Labels: category:admin-pages, type:bug 🐞

#825 fixed WordPress heartbeat logic not loading Fixes #819
  caffeinated/admin/extend/events/Extend_Events_Admin_Page.core.php
  core/EE_Config.core.php
  core/EE_Dependency_Map.core.php
  core/EE_System.core.php
  core/domain/entities/contexts/RequestTypeContext.php
  core/domain/services/admin/ajax/EventEditorHeartbeat.php
  core/domain/services/admin/ajax/ThankYouPageIpnMonitor.php
  core/domain/services/admin/ajax/WordpressHeartbeat.php
  core/domain/services/contexts/RequestTypeContextChecker.php
  core/domain/services/contexts/RequestTypeContextCheckerInterface.php
  core/domain/services/contexts/RequestTypeContextDetector.php
  core/domain/services/contexts/RequestTypeContextFactory.php
  core/services/request/Request.php
  modules/thank_you_page/EED_Thank_You_Page.module.php
Labels: category:admin-page-ui-&-ux, category:frontend-ui-&-ux, status:merge, type:bug 🐞

#840 Fixed duplicate subregions issue Fixes #832
  admin_pages/general_settings/General_Settings_Admin_Page.core.php
  core/services/address/CountrySubRegionDao.php
Labels: category:admin-pages, status:merge, type:bug 🐞, type:impacts-eventsmart

#868 Update node and npm version requirements and fix travis builds
  .travis.yml
  package-lock.json
  package.json
Labels: category:assets, type:bug 🐞, type:build-process 🔨

#798 Fet/rest relation endpoints
  core/db_classes/EE_Base_Class.class.php
  core/db_models/relations/EE_HABTM_Relation.php
  core/libraries/rest_api/controllers/model/Base.php
  core/libraries/rest_api/controllers/model/Read.php
  core/libraries/rest_api/controllers/model/Write.php
  docs/C--REST-API/ee4-rest-api-editing-relations.md
  docs/C--REST-API/ee4-rest-api-writing-data.md
  docs/C--REST-API/rest-api-changelog.md
  modules/core_rest_api/EED_Core_Rest_Api.module.php
  tests/testcases/core/db_classes/EE_Base_Class_Test.php
  tests/testcases/core/libraries/rest_api/controllers/WriteAddRelationTest.php
  tests/testcases/core/libraries/rest_api/controllers/WriteRemoveRelationTest.php
  tests/testcases/core/libraries/rest_api/controllers/WriteTest.php
Labels: category:models-and-data-infrastructure, status:merge, type:feature-request 🙏
