Repository eventespresso/event-espresso-core, pull requests merged in 2018-09, with the labels that each got.

#676 Add instanceof checks to avoid fatal errors on txn page
  admin_pages/transactions/Transactions_Admin_Page.core.php
Labels: status:needs-testing

#660 Added a filter so the system status page's content can be modified
  core/db_models/EEM_System_Status.model.php
Labels: category:admin-page-ui-&-ux, status:merge, type:enhancement 🎉

#683 Avoid fatal error when invalid ID is in ticket selector shortcode fixes #655
  core/domain/entities/shortcodes/EspressoTicketSelector.php
Labels: status:merge, type:bug 🐞

#681 Improve REST Schema to include missing fields and call field calcualtor classes non-statically
  CHANGELOG.md
  core/EE_Dependency_Map.core.php
  core/entities/models/JsonModelSchema.php
  core/libraries/rest_api/CalculatedModelFields.php
  core/libraries/rest_api/calculations/Attendee.php
  core/libraries/rest_api/calculations/Base.php
  core/libraries/rest_api/calculations/CalculatedModelFieldsFactory.php
  core/libraries/rest_api/calculations/Datetime.php
  core/libraries/rest_api/calculations/Event.php
  core/libraries/rest_api/calculations/Registration.php
  core/libraries/rest_api/controllers/model/Read.php
  core/libraries/rest_api/controllers/model/Write.php
  modules/core_rest_api/EED_Core_Rest_Api.module.php
  tests/testcases/core/libraries/rest_api/controllers/Read_Test.php
Labels: category:models-and-data-infrastructure, status:merge, type:enhancement 🎉

#691 Fixed fatal by using loader instead of direct instantiation of REST controller
  core/libraries/form_sections/inputs/EE_Select_Ajax_Model_Rest_Input.input.php
Labels: category:forms-systems, status:merge, type:bug 🐞

#620 Fix Session Start Fatal Errors when known Custom Session Save Handler is in use
  CHANGELOG.md
  core/EE_Dependency_Map.core.php
  core/EE_Session.core.php
  core/services/session/SessionStartHandler.php
  tests/includes/CoreLoader.php
  tests/mocks/core/EE_Session_Mock.core.php
Labels: category:core-plugin, status:merge, type:bug 🐞, type:enhancement 🎉

#650 Fixed error when editing active plugins via the built-in editor Fixes #394
  CHANGELOG.md
  caffeinated/modules/recaptcha_invisible/EED_Recaptcha_Invisible.module.php
  core/domain/entities/contexts/RequestTypeContext.php
  core/domain/services/contexts/RequestTypeContextChecker.php
  core/domain/services/contexts/RequestTypeContextCheckerInterface.php
  core/domain/services/contexts/RequestTypeContextDetector.php
  core/services/request/Request.php
  core/services/request/middleware/DetectFileEditorRequest.php
Labels: category:core-plugin, status:merge, type:bug 🐞

#696 Add filter hooks to allow customizing the display of sub line items o…
  core/libraries/line_item_display/EE_SPCO_Line_Item_Display_Strategy.strategy.php
Labels: category:spco-&-registration, status:needs-testing, status:review, type:enhancement 🎉

#695 Fixed pue slug in the skeleton new payment method add-on
  tests/mocks/addons/new-payment-method/EE_New_Payment_Method.class.php
Labels: status:review, type:bug 🐞, type:build-process 🔨

#706 Remove note about filters, fixes #702
  caffeinated/modules/event_single_caff/templates/admin-event-single-settings.template.php
  caffeinated/modules/events_archive_caff/templates/admin-event-list-settings.template.php
Labels: category:admin-page-ui-&-ux, status:merge

#705 Fix Session Exception Triggered by Error Notices Fixes #688
  CHANGELOG.md
  core/EE_Session.core.php
Labels: category:core-plugin, status:merge, type:bug 🐞

#690 Fixed warning during registration reports in PHP 7.2
  core/libraries/batch/JobHandlers/RegistrationsReport.php
Labels: category:reports-exporting-importing, status:merge, type:bug 🐞

#708 Fix memory timeout for sites with a brazillion tags
  CHANGELOG.md
  core/CPTs/EE_CPT_Strategy.core.php
  core/db_models/EEM_Term.model.php
Labels: category:frontend-ui-&-ux, category:models-and-data-infrastructure, status:merge
