Repository eventespresso/event-espresso-core, pull requests merged in 2018-06, with the labels that each got.

#498 Fix CPT query filters being applied twice Fixes #496
  core/CPTs/CptQueryModifier.php
  core/CPTs/EE_CPT_Event_Strategy.core.php
  core/CPTs/EE_CPT_Strategy.core.php
  core/EE_Dependency_Map.core.php
  tests/testcases/core/EE_Dependency_Map_Test.php
Labels: category:core-plugin, priority:critical 🔥, status:merge, status:review, type:bug 🐞

#497 Bug/registry check addons exist before using them
  core/EE_Registry.core.php
  tests/testcases/core/EE_Registry_Test.php
Labels: category:core-plugin, status:needs-testing, type:bug 🐞

#503 Create state containers for datetimes and tickets
  assets/src/data/eventespresso/lists/resolvers.js
  assets/src/data/eventespresso/lists/selectors.js
Labels: category:gutenberg, status:review, type:feature-request 🙏

#502 Add transform class properties babel plugin
  .babelrc
  assets/src/components/selection/event-select/index.js
  assets/src/components/selection/event-select/test/__snapshots__/index.js.snap
  package-lock.json
  package.json
Labels: category:assets, category:gutenberg, type:build-process 🔨, type:enhancement 🎉

#470 Pull request of Gdpr/consent for ticket 330
  admin_pages/general_settings/General_Settings_Admin_Page.core.php
  core/EE_Config.core.php
  core/EE_Dependency_Map.core.php
  core/EE_Session.core.php
  core/domain/services/admin/privacy/forms/PrivacySettingsFormHandler.php
  core/helpers/EEH_HTML.helper.php
  core/libraries/form_sections/base/EE_Form_Section_Proper.form.php
  core/libraries/form_sections/form_handlers/FormHandler.php
  core/libraries/form_sections/strategies/validation/EE_Full_HTML_Validation_Strategy.strategy.php
  modules/single_page_checkout/css/single_page_checkout.css
  modules/single_page_checkout/reg_steps/attendee_information/EE_SPCO_Reg_Step_Attendee_Information.class.php
  modules/single_page_checkout/reg_steps/attendee_information/privacy_consent.template.php
Labels: category:GDPR, category:admin-page-ui-&-ux, category:admin-pages, category:frontend-ui-&-ux, status:merge, status:needs-testing, type:feature-request 🙏

#512 make sure `transform-class-properties` is included in jest tests
  .babelrc
Labels: category:assets, category:gutenberg, category:unit-tests, type:bug 🐞

#490 Bug/privacy policy fatal error in maintenance mode fixes #489
  core/EE_System.core.php
  core/admin/EE_Admin.core.php
  core/domain/services/contexts/RequestTypeContextCheckerInterface.php
  core/services/privacy/policy/PrivacyPolicyManager.php
Labels: category:admin-pages, category:models-and-data-infrastructure, status:needs-testing, type:bug 🐞

#506 add TicketSelect component
  assets/dist/build-manifest.json
  assets/dist/ee-components.269a5a9408e9d4ec4a94.dist.js
  assets/dist/ee-components.f0b0d74007761a1e0c6d.dist.js
  assets/src/components/index.js
  assets/src/components/selection/ticket-select/index.js
  assets/src/components/selection/ticket-select/options.js
  translation-map.json
Labels: category:gutenberg, status:review, type:feature-request 🙏

#513 add ContactAvatar component
  assets/src/components/entities/contact/avatar.js
  assets/src/components/entities/contact/index.js
  assets/src/components/entities/contact/test/index.js
  assets/src/components/index.js
  package-lock.json
Labels: category:gutenberg, status:review, type:feature-request 🙏

#514 add RegistrationStatusSelect component
  assets/src/components/index.js
  assets/src/components/selection/registration-status-select/index.js
  assets/src/components/selection/registration-status-select/options.js
  assets/src/data/eventespresso/lists/resolvers.js
  assets/src/data/eventespresso/lists/selectors.js
Labels: category:gutenberg, status:review, type:feature-request 🙏

#518 Gutenberg/rename contactavatar component
  assets/src/components/entities/contact/index.js
  assets/src/components/index.js
  assets/src/components/ui/image/avatar.js
  assets/src/components/ui/image/index.js
  assets/src/components/ui/image/test/index.js
  assets/src/components/ui/index.js
  translation-map.json
Labels: category:assets, category:gutenberg, type:enhancement 🎉

#511 Change condition for offsite payment methods. (fixes issue #510)
  core/domain/services/admin/privacy/policy/privacy_policy.template.php
Labels: category:GDPR, status:merge

#528 Fix duplicate asset registration when do_action('admin_enqueue_scripts') is called multiple times on the same admin page Fixes #501
  core/domain/DomainBase.php
  core/services/assets/Registry.php
  tests/testcases/core/services/assets/RegistryTest.php
Labels: category:assets, priority:high, status:merge, type:bug 🐞

#522 Documentation Updates for JS related work
  assets/src/components/form/select/model-select.js
  docs/AA--Javascript-in-EE/Blocks-and-Components/README.md
  docs/AA--Javascript-in-EE/README.md
  docs/AA--Javascript-in-EE/blocks/README.md
  docs/AA--Javascript-in-EE/components/README.md
  docs/AA--Javascript-in-EE/components/form/README.md
  docs/AA--Javascript-in-EE/components/form/select/README.md
  docs/AA--Javascript-in-EE/components/form/select/datetime-select.md
  docs/AA--Javascript-in-EE/components/form/select/event-select.md
  docs/AA--Javascript-in-EE/components/form/select/model-select.md
  docs/AA--Javascript-in-EE/components/query/README.md
  docs/AA--Javascript-in-EE/components/query/limit.md
  docs/AA--Javascript-in-EE/components/ui/README.md
  docs/AA--Javascript-in-EE/components/ui/image/README.md
  docs/AA--Javascript-in-EE/components/ui/image/avatar.md
Labels: category:assets, category:gutenberg, type:documentation 📖

#530 Update Your Organization Settings Page to new form system and UXIP option fixes and improvements
  admin_pages/general_settings/General_Settings_Admin_Page.core.php
  admin_pages/general_settings/OrganizationSettings.php
  admin_pages/general_settings/templates/your_organization_settings.template.php
  core/EE_Config.core.php
  core/domain/services/pue/Stats.php
Labels: category:admin-page-ui-&-ux, category:pue-uxip-and-licensing, type:bug 🐞, type:enhancement 🎉

#525 Filter the order_by array returned by _get_orderby_for_registrations_query()
  admin_pages/registrations/Registrations_Admin_Page.core.php
Labels: category:admin-page-ui-&-ux, type:enhancement 🎉

#535 Bug/paypal pro typo for #534
  payment_methods/Paypal_Express/help_tabs/payment_methods_overview_paypal_express.help_tab.php
Labels: category:admin-page-ui-&-ux, category:payment-methods, status:needs-testing, type:bug 🐞

#538 Fet/add hooks venue address metabox
  admin_pages/venues/templates/venue_address_metabox_content.template.php
Labels: category:admin-page-ui-&-ux, status:merge, type:enhancement 🎉

#540 Add warning package and various improvements/bug-fixes to model selects.
  .babelrc
  assets/src/components/form/select/model-select.js
  assets/src/components/form/select/model-selects/datetime.js
  assets/src/components/form/select/model-selects/status.js
  assets/src/components/form/select/model-selects/test/__snapshots__/status.js.snap
  assets/src/components/form/select/model-selects/test/datetime.js
  assets/src/components/form/select/model-selects/test/status.js
  assets/src/components/form/select/model-selects/test/ticket.js
  assets/src/components/form/select/model-selects/ticket.js
  assets/src/components/form/select/test/__snapshots__/model-select.js.snap
  core/domain/services/assets/CoreAssetManager.php
  package-lock.json
  package.json
Labels: category:assets, category:gutenberg, type:bug 🐞, type:enhancement 🎉

#541 Fix section heading closing tag in `content-espresso_events-header.php`
  public/Espresso_Arabica_2014/content-espresso_events-header.php
Labels: status:triage

#531 Ensure EE custom post type objects get added to WP_Post objects during AJAX requests Fixes #529
  core/EE_Front_Controller.core.php
  core/EE_System.core.php
  core/admin/EE_Admin.core.php
Labels: category:frontend-ui-&-ux, status:feedback-needed, type:bug 🐞

#539 Add project CHANGELOG.md
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  README.md
  docs/A--Best-Practices/README.md
  docs/A--Best-Practices/change-log.md
  docs/README.md
Labels: status:review, type:build-process 🔨

#517 Add filters required for #313
  core/libraries/form_sections/strategies/display/EE_Radio_Button_Display_Strategy.strategy.php
  tests/testcases/core/libraries/form_sections/strategies/display/EE_Radio_Button_Display_Strategy_Test.php
Labels: category:forms-systems, status:merge, type:enhancement 🎉

#537 Load shortcodes and template tags during AJAX requests Fixes #477
  CHANGELOG.md
  core/EE_System.core.php
Labels: category:templates-shortcodes-and-widgets, status:merge, type:bug 🐞

#549 Remove default ALL_OPTIONS_SELECTED logic from selectors and fix bug when value is not set.
  assets/src/components/form/select/build-options.js
  assets/src/components/form/select/model-select.js
  assets/src/components/form/select/test/__snapshots__/model-select.js.snap
  assets/src/components/form/select/test/build-options.js
Labels: category:assets, category:gutenberg, type:bug 🐞

#550 Gutenberg/registration model
  assets/src/data/model/registration/index.js
  assets/src/data/model/registration/test/index.js
Labels: category:gutenberg, status:review, type:feature-request 🙏

#552 Fix state and country question types shortcode output
  CHANGELOG.md
  core/libraries/shortcodes/EE_Primary_Registration_Details_Shortcodes.lib.php
  core/libraries/shortcodes/EE_Recipient_Details_Shortcodes.lib.php
Labels: category:messaging-&-messengers, status:merge, type:bug 🐞

#558 Fet/different default frontend name
  core/libraries/payment_methods/EE_PMT_Base.lib.php
  core/libraries/payment_methods/EE_Payment_Method_Manager.lib.php
Labels: category:payment-methods, status:review, type:feature-request 🙏

#556 Add higher order component for wrapping components with BaseControl
  assets/src/components/form/select/model-selects/datetime.js
  assets/src/components/form/select/model-selects/event.js
  assets/src/components/form/select/model-selects/index.js
  assets/src/components/form/select/model-selects/status.js
  assets/src/components/form/select/model-selects/test/__snapshots__/datetime.js.snap
  assets/src/components/form/select/model-selects/test/__snapshots__/event.js.snap
  assets/src/components/form/select/model-selects/test/__snapshots__/status.js.snap
  assets/src/components/form/select/model-selects/test/__snapshots__/ticket.js.snap
  assets/src/components/form/select/model-selects/test/datetime.js
  assets/src/components/form/select/model-selects/test/event.js
  assets/src/components/form/select/model-selects/test/status.js
  assets/src/components/form/select/model-selects/test/ticket.js
  assets/src/components/form/select/model-selects/ticket.js
  assets/src/higher-order-components/base-control.js
  assets/src/higher-order-components/index.js
  assets/src/higher-order-components/test/base-control.js
  core/domain/services/assets/CoreAssetManager.php
  docs/AA--Javascript-in-EE/README.md
  docs/AA--Javascript-in-EE/higher-order-components/README.md
  docs/AA--Javascript-in-EE/higher-order-components/base-control.md
  webpack.common.js
  webpack.prod.js
Labels: category:assets, category:gutenberg, type:enhancement 🎉

#542 Add bulletproofing to protect reg. form from worse-case scenarios
  modules/single_page_checkout/css/single_page_checkout.css
Labels: category:frontend-ui-&-ux, category:spco-&-registration, type:enhancement 🎉

#561 Bug/use correct pm name function
  CHANGELOG.md
  core/libraries/payment_methods/EE_Payment_Method_Manager.lib.php
Labels: category:payment-methods, status:merge, type:bug 🐞

#545 FET/544/fix log calls when using transactions object
  CHANGELOG.md
  admin_pages/payments/Payment_Log_Admin_List_Table.class.php
  admin_pages/payments/Payments_Admin_Page.core.php
  admin_pages/payments/templates/payment_log_details.template.php
  core/libraries/payment_methods/EE_Gateway.lib.php
Labels: category:payment-methods, status:review, type:bug 🐞
