Repository eventespresso/event-espresso-core, pull requests merged in 2018-08, with the labels that each got.

#611 modify index column size on old data migration scripts
  CHANGELOG.md
  core/data_migration_scripts/EE_DMS_Core_4_1_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_2_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_3_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_5_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_6_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_8_0.dms.php
Labels: category:activation-installation-and-migration, status:merge, type:bug 🐞

#606 unsetting a global just removes the local reference. Set it ot null t…
  tests/testcases/core/helpers/EEH_File_Test.php
Labels: category:unit-tests, status:review, type:bug 🐞

#607 fix filepath test when on windows
  tests/testcases/core/domain/values/FilePathTest.php
Labels: category:unit-tests, status:review, type:bug 🐞

#610 Fix caching loader identifier
  core/bootstrap_espresso.php
  core/services/loaders/CachingLoader.php
  tests/testcases/core/services/loaders/CachingLoaderTest.php
Labels: category:core-plugin, status:merge

#593 Add support for INR to PayPal Express and Pro - Fixes #585
  CHANGELOG.md
  caffeinated/payment_methods/Paypal_Pro/EEG_Paypal_Pro.gateway.php
  payment_methods/Paypal_Express/EEG_Paypal_Express.gateway.php
Labels: category:payment-methods, status:feedback-needed, type:feature-request 🙏

#591 pass currency code for AIM
  caffeinated/payment_methods/Aim/EEG_Aim.gateway.php
Labels: category:payment-methods, status:needs-testing, type:feature-request 🙏

#619 if we are formatting it and requested it be echoed, by all means do. …
  CHANGELOG.md
  public/template_tags.php
Labels: category:templates-shortcodes-and-widgets, status:merge, type:bug 🐞

#621 Fix DuplicateCollectionIdentifierException errors when converting old PersistentAdminNotice Fixes #505
  CHANGELOG.md
  core/EE_Dependency_Map.core.php
  core/domain/entities/notifications/PersistentAdminNotice.php
  core/services/notifications/PersistentAdminNoticeManager.php
Labels: category:admin-page-ui-&-ux, status:merge, type:bug 🐞

#623 oups forgot the changelog item for 591
  CHANGELOG.md
Labels: category:general, status:review, type:task ✅

#608 improper use of str_replace
  CHANGELOG.md
  core/EE_Config.core.php
Labels: category:general, status:needs-testing, status:triage, type:bug 🐞

#627 include button source on ALL paypal express API calls
  CHANGELOG.md
  payment_methods/Paypal_Express/EEG_Paypal_Express.gateway.php
Labels: category:payment-methods, status:merge, type:feature-request 🙏

#628 Fixed URL validation when URL was for a site denying access to our HTTP client
  CHANGELOG.md
  core/libraries/form_sections/inputs/EE_Admin_File_Uploader_Input.input.php
  core/libraries/form_sections/strategies/validation/EE_URL_Validation_Strategy.strategy.php
Labels: category:payment-methods, status:merge, type:bug 🐞

#634 Add checkin model to `@eventespresso/model` bundle
  assets/src/components/form/select/build-options.js
  assets/src/data/model/checkin/constants.js
  assets/src/data/model/checkin/index.js
  assets/src/data/model/checkin/query.js
  assets/src/data/model/checkin/test/query.js
  assets/src/data/model/models.js
  assets/src/data/model/status/helpers.js
  docs/AA--Javascript-in-EE/eejs-module.md
  tests/javascript-config/unit/jest.config.json
Labels: category:assets, category:gutenberg

#643 Create folder for Custom errors and add initial custom errors
  assets/src/eejs/exceptions/general.js
  assets/src/eejs/exceptions/index.js
  assets/src/eejs/exceptions/invalid-schema.js
Labels: category:assets, category:gutenberg, type:enhancement 🎉

#635 Fixed event slug sanitization for accents and unicode characters
  CHANGELOG.md
  caffeinated/admin/extend/events/Extend_Events_Admin_Page.core.php
Labels: category:general, status:merge, type:bug 🐞

#629 Fix very slow migration from EE3 when there are deleted events
  CHANGELOG.md
  core/data_migration_scripts/4_1_0_stages/EE_DMS_4_1_0_answers.dmsstage.php
  core/data_migration_scripts/4_1_0_stages/EE_DMS_4_1_0_attendees.dmsstage.php
  core/data_migration_scripts/4_1_0_stages/EE_DMS_4_1_0_checkins.dmsstage.php
  core/data_migration_scripts/4_1_0_stages/EE_DMS_4_1_0_event_question_group.dmsstage.php
  core/data_migration_scripts/4_1_0_stages/EE_DMS_4_1_0_event_venue.dmsstage.php
  core/data_migration_scripts/4_1_0_stages/EE_DMS_4_1_0_events.dmsstage.php
  core/data_migration_scripts/4_1_0_stages/EE_DMS_4_1_0_line_items.dmsstage.php
  core/data_migration_scripts/4_1_0_stages/EE_DMS_4_1_0_prices.dmsstage.php
Labels: category:activation-installation-and-migration, status:merge, type:bug 🐞

#622 dont try to send messages while in full maintenance mode
  CHANGELOG.md
  core/libraries/messages/EE_Messages_Queue.lib.php
Labels: category:messaging-&-messengers, status:needs-testing, type:bug 🐞

#641 Fixed translated event taxonomy slugs so they stay valid
  CHANGELOG.md
  caffeinated/admin/extend/events/Extend_Events_Admin_Page.core.php
  core/domain/entities/custom_post_types/CustomTaxonomyDefinitions.php
  core/helpers/EEH_URL.helper.php
Labels: category:general, status:review, type:bug 🐞

#639 Added foreign keys to REST API responses
  CHANGELOG.md
  core/libraries/rest_api/ModelVersionInfo.php
  docs/C--REST-API/rest-api-changelog.md
  tests/testcases/core/libraries/rest_api/controllers/Read_Test.php
Labels: category:models-and-data-infrastructure, status:needs-testing, type:feature-request 🙏

#633 Namespace site license key request key (fixes #605)
  CHANGELOG.md
  admin_pages/general_settings/OrganizationSettings.php
  core/domain/services/pue/Config.php
  core/libraries/plugin_api/EE_Register_Addon.lib.php
Labels: category:pue-uxip-and-licensing, status:merge, type:bug 🐞

#638 Fixed null datetimes in REST API
  core/db_models/fields/EE_Datetime_Field.php
  core/libraries/rest_api/ModelDataTranslator.php
  core/libraries/rest_api/controllers/model/Read.php
Labels: category:models-and-data-infrastructure, status:merge, type:bug 🐞

#642 Account for worse-case CSS word-break scenarios
  modules/ticket_selector/assets/ticket_selector.css
Labels: status:needs-testing

#644 Added ‘format: money’ to schema for EE_Money_Field fields
  CHANGELOG.md
  core/db_models/fields/EE_Money_Field.php
Labels: category:models-and-data-infrastructure, type:enhancement 🎉

#648 Added InvalidArgumentError Exception
  assets/src/eejs/exceptions/index.js
  assets/src/eejs/exceptions/invalid-argument.js
Labels: category:assets, category:gutenberg, type:enhancement 🎉

#649 Enqueue countdown.js only when needed, fixes #415
  core/third_party_libs/jquery.countdown.min.js
  modules/single_page_checkout/EED_Single_Page_Checkout.module.php
Labels: category:frontend-ui-&-ux

#651 Allow for null gateway log objects when creating payment logs
  core/libraries/payment_methods/EE_Gateway.lib.php
Labels: category:payment-methods, priority:high, status:merge, type:bug 🐞

#652 Fixed "You need to select a ticket quantity" error so it displays to logged-out users
  core/EE_Session.core.php
Labels: category:frontend-ui-&-ux, status:merge, type:bug 🐞

#669 Fix, update rest api doc examples
  docs/T--Tutorials/building-an-ee4-addon-that-uses-angular-js-and-the-ee4-json-rest-api.md
  docs/T--Tutorials/ee4-rest-api-code-examples.md
Labels: status:review, type:documentation 📖

#663 Fixed error in Authorize.net AIM when some non-ascii characters were used
  caffeinated/payment_methods/Aim/EE_PMT_Aim.pm.php
  caffeinated/payment_methods/Aim/help_tabs/payment_methods_overview_aim.help_tab.php
Labels: category:payment-methods, status:merge, type:bug 🐞

#671 Fixed HTML encoded character in Alan Islands name being saved to the DB
  core/data_migration_scripts/EE_DMS_Core_4_8_0.dms.php
Labels: category:admin-page-ui-&-ux, status:needs-testing, type:bug 🐞

#674 Fixed the organization settings form so that the license key section is not being displayed on subsites
  core/data_migration_scripts/EE_DMS_Core_4_8_0.dms.php
  espresso.php
Labels: category:admin-page-ui-&-ux, status:merge, type:bug 🐞

#667 Fixed EEM_Question filter name so it's not a duplicate of existing filter
  core/db_models/EEM_Question.model.php
Labels: category:models-and-data-infrastructure, type:bug 🐞

#673 Fixed warning during admin registration
  modules/messages/EED_Messages.module.php
Labels: category:admin-pages, category:messaging-&-messengers, status:merge, type:bug 🐞
