Repository eventespresso/event-espresso-core, pull requests merged in 2018-10, with the labels that each got.

#714 Add offers.availability to event structured data
  core/helpers/EEH_Schema.helper.php
  core/templates/json_linked_data_for_event.template.php
Labels: status:merge, type:enhancement 🎉

#716 Add UTF-8 BOM to CSV files generated via batch system
  core/libraries/batch/JobHandlerBaseClasses/JobHandlerFile.php
Labels: category:reports-exporting-importing, status:review, type:bug 🐞

#707 Improve UI for Country Currency Settings Fixes #704
  CHANGELOG.md
  admin_pages/general_settings/General_Settings_Admin_Page.core.php
  admin_pages/general_settings/OrganizationSettings.php
  admin_pages/general_settings/assets/gen_settings_countries.js
  admin_pages/general_settings/templates/countries_settings.template.php
  admin_pages/general_settings/templates/country_details_settings.template.php
  core/db_classes/EE_Question_Form_Input.class.php
Labels: category:admin-page-ui-&-ux, category:admin-pages, status:merge, status:review, type:enhancement 🎉

#675 Changed CSV reports so headers don't include square brackets with field name
  core/EE_Deprecated.core.php
  core/helpers/EEH_Export.helper.php
  core/libraries/batch/JobHandlers/RegistrationsReport.php
Labels: category:reports-exporting-importing, status:merge, status:needs-testing, type:enhancement 🎉

#685 Improve registration CSV reporting redirections
  admin_pages/registrations/EE_Registrations_List_Table.class.php
Labels: category:admin-pages, status:feedback-needed, type:bug 🐞

#728 if no data was processed set the csv_data var to an empty array
  core/libraries/batch/JobHandlers/RegistrationsReport.php
Labels: category:reports-exporting-importing, status:merge, type:bug 🐞

#712 Add Date and Time Filter Max Checked Admin Option and Use to Limit Checked Dates for Datetime Selector
  CHANGELOG.md
  caffeinated/modules/ticket_selector_caff/EED_Ticket_Selector_Caff.module.php
  core/EE_Config.core.php
  core/libraries/form_sections/strategies/display/EE_Checkbox_Dropdown_Selector_Display_Strategy.strategy.php
  core/templates/global_assets/css/checkbox_dropdown_selector.css
  modules/ticket_selector/assets/ticket_selector.js
Labels: category:admin-pages, category:frontend-ui-&-ux, status:merge, type:feature-request 🙏

#740 remove unused javascript assets (and its registration) (fixes #351)
  core/domain/services/assets/CoreAssetManager.php
  core/libraries/rest_api/assets/js/eejs-api.js
  core/libraries/rest_api/assets/js/eejs-api.min.js
  core/libraries/rest_api/assets/js/package.json
  docs/C--REST-API/README.md
  docs/C--REST-API/eejs-api/README.md
  docs/C--REST-API/eejs-api/eejs-api-authentication.md
  docs/C--REST-API/eejs-api/eejs-api-collections.md
  docs/C--REST-API/eejs-api/eejs-api-main.md
  docs/C--REST-API/eejs-api/eejs-api-models.md
  docs/C--REST-API/eejs-api/eejs-api-overview.md
  docs/C--REST-API/eejs-api/eejs-api-relations.md
  docs/C--REST-API/eejs-api/eejs-api-store.md
  docs/C--REST-API/eejs-api/eejs-api-watchers-and-computed-properties.md
  docs/C--REST-API/eejs-api/eejs-utils.md
  docs/C--REST-API/eejs-api/examples/README.md
  docs/C--REST-API/eejs-api/examples/initializing-model-component-with-an-entity.md
  docs/C--REST-API/eejs-api/examples/simple-event-form-and-preview.md
  docs/C--REST-API/eejs-api/examples/simple-event-list.md
Labels: type:enhancement 🎉

#741 update installed libraries to fix security notification for npm audit
  package-lock.json
Labels: category:assets, category:security, type:bug 🐞

#743 introduce default date coercing
  core/db_models/fields/EE_Datetime_Field.php
  core/domain/entities/DbSafeDateTime.php
  tests/testcases/core/domain/entities/DbSafeDateTimeTest.php
Labels: category:core-plugin, category:models-and-data-infrastructure, type:bug 🐞

#742 delete changelog.md file and update all references
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  README.md
  docs/A--Best-Practices/README.md
  docs/A--Best-Practices/change-log.md
  docs/README.md
  tests/mocks/addons/eea-new-addon/CHANGELOG.md
  tests/mocks/addons/new-messages-template-pack-variation/CHANGELOG.md
  tests/mocks/addons/new-messages-template-pack/CHANGELOG.md
  tests/mocks/addons/new-payment-method/CHANGELOG.md
Labels: category:core-plugin, status:review, type:task ✅

#746 Set light gray text to have minimum contrast ratio
  core/templates/global_assets/css/espresso_default.css
  modules/single_page_checkout/css/single_page_checkout.css
Labels: category:accessibility, category:spco-&-registration, status:review, type:enhancement 🎉

#747 Increase default time on normalizing invalid dates
  core/domain/entities/DbSafeDateTime.php
  tests/testcases/core/domain/entities/DbSafeDateTimeTest.php
Labels: category:core-plugin, type:bug 🐞

#738 Add detection for WP JSON API requests
  core/domain/entities/contexts/RequestTypeContext.php
  core/domain/services/contexts/RequestTypeContextChecker.php
  core/domain/services/contexts/RequestTypeContextCheckerInterface.php
  core/domain/services/contexts/RequestTypeContextDetector.php
  core/domain/services/contexts/RequestTypeContextFactory.php
  core/domain/services/contexts/RequestTypeContextFactoryInterface.php
  core/services/request/Request.php
  core/services/request/middleware/SetRequestTypeContextChecker.php
  tests/mocks/core/domain/services/contexts/RequestTypeContextFactoryMock.php
  tests/mocks/core/services/request/RequestMock.php
  tests/testcases/core/domain/services/contexts/RequestTypeContextDetectorTest.php
Labels: category:core-plugin, priority:high, status:review, type:bug 🐞, type:enhancement 🎉

#752 Turn off, but filter link to the "Failed Transactions" list table Fixes #737
  admin_pages/transactions/Transactions_Admin_Page.core.php
Labels: category:admin-page-ui-&-ux, status:merge, type:enhancement 🎉

#756 Fix block asset registration for frontend scripts/styles
  assets/src/blocks/index-frontend.js
  core/domain/entities/editor/CoreBlocksAssetManager.php
  core/services/assets/BlockAssetManager.php
  webpack.common.js
Labels: category:assets, category:gutenberg, status:feedback-needed, type:build-process 🔨

#753 Filter txn list table query params and allow for dynamic views
  admin_pages/transactions/EE_Admin_Transactions_List_Table.class.php
  admin_pages/transactions/Transactions_Admin_Page.core.php
Labels: category:admin-page-ui-&-ux, status:merge, type:enhancement 🎉

#764 Add incomplete view to txn screen, resolves #735
  admin_pages/transactions/Transactions_Admin_Page.core.php
Labels: category:admin-pages, type:enhancement 🎉

#763 Fix: Don't add version string to asset source when hash name assets used
  core/domain/values/assets/BrowserAsset.php
  tests/mocks/core/domain/DomainMock.php
  tests/testcases/core/domain/values/assets/JavascriptAssetTest.php
Labels: category:assets, category:core-plugin, type:build-process 🔨
