Repository eventespresso/event-espresso-core, pull requests merged in 2018-05, with the labels that each got.

#332 Create wp.data store for retrieving/tracking events
  .babelrc
  assets/src/components/selection/event-select/build-event-options.js
  assets/src/components/selection/event-select/index.js
  assets/src/components/selection/event-select/test/__snapshots__/index.js.snap
  assets/src/components/selection/event-select/test/index.js
  assets/src/data/ee-lists/actions.js
  assets/src/data/ee-lists/index.js
  assets/src/data/ee-lists/reducers.js
  assets/src/data/ee-lists/resolvers.js
  assets/src/data/ee-lists/selectors.js
  assets/src/data/ee-lists/test/__mocks__/@wordpress/api-request.js
  assets/src/data/ee-lists/test/reducers.js
  assets/src/data/ee-lists/test/resolvers.js
  assets/src/data/ee-lists/test/selectors.js
  assets/src/data/model/endpoints.js
  core/services/assets/Registry.php
  modules/core_rest_api/EED_Core_Rest_Api.module.php
  package-lock.json
  package.json
  tests/javascript-config/unit/jest.config.json
  tests/javascript-config/unit/mocks/i18n.js
  tests/javascript-config/unit/mocks/tinymce.js
  tests/javascript-config/unit/setup-globals.js
Labels: category:accessibility, category:assets, category:gutenberg, status:feedback-needed, status:review, type:enhancement

#376 add hookpoint for benchmarking
  core/services/Benchmark.php
  core/services/bootstrap/BootstrapCore.php
Labels: status:review, type:enhancement

#339 PR for #337
  core/EE_Dependency_Map.core.php
  core/EE_Registry.core.php
  core/domain/DomainFactory.php
  core/domain/values/FullyQualifiedName.php
  core/helpers/EEH_Debug_Tools.helper.php
  core/interfaces/ReservedInstanceInterface.php
  core/services/bootstrap/BootstrapCore.php
  core/services/bootstrap/BootstrapDependencyInjectionContainer.php
  core/services/container/Mirror.php
  core/services/loaders/CachingLoader.php
  core/services/loaders/ClassInterfaceCache.php
  core/services/loaders/CoreLoader.php
  core/services/loaders/Loader.php
  core/services/loaders/LoaderFactory.php
  core/services/loaders/LoaderInterface.php
  core/services/loaders/ObjectIdentifier.php
  core/services/request/Request.php
  core/services/request/Response.php
  tests/includes/CoreLoader.php
  tests/mocks/core/EE_Registry_Mock.core.php
  tests/mocks/core/services/loaders/ClassToLoad.php
  tests/mocks/core/services/loaders/NewClassToLoad.php
  tests/mocks/core/services/loaders/SharedClassToLoad.php
  tests/testcases/core/EE_Cart_Test.php
  tests/testcases/core/EE_Dependency_Map_Test.php
  tests/testcases/core/EE_Registry_Test.php
  tests/testcases/core/services/commands/CommandBusTest.php
  tests/testcases/core/services/loaders/CachingLoaderTest.php
  tests/testcases/core/services/loaders/LoaderTest.php
  tests/testcases/core/services/loaders/ObjectIdentifierTest.php
Labels: category:core-plugin, priority:high, status:needs-testing, triage, type:bug, type:enhancement

#393 Bug/fix error in console with jed initialization (fixes #372)
  assets/dist/build-manifest.json
  assets/dist/ee-eejs.11944d5561d9bf2a12e9.dist.js
  assets/dist/ee-eejs.46337f785c8714cdb33d.dist.js
  assets/dist/ee-manifest.f5984092809447a8fba8.dist.js
  assets/dist/ee-reactVendor.35171c34ad0ef06233a0.dist.js
  assets/dist/ee-reactVendor.7eaf96fc28e4d8e911cd.dist.js
  assets/dist/ee-wp-plugins-page.2260f8293749cc2eb3fc.dist.js
  assets/dist/ee-wp-plugins-page.b95fd8de563b99ef70791b8e24629567.dist.css
  assets/dist/ee-wp-plugins-page.c751f4c30cdab7646561.dist.js
  assets/src/eejs/index.js
  assets/src/exit-modal-survey/index.js
  core/services/assets/I18nRegistry.php
  docs/AA--Javascript-in-EE/javascript-i18n.md
  webpack.common.js
Labels: category:i18n, type:bug, type:build-process

#312 check object instance fixes #311
  caffeinated/modules/events_archive_caff/EED_Events_Archive_Caff.module.php
Labels: category:frontend-ui-&-ux, status:merge, type:bug

#406 Bug/missing ticket info
  modules/single_page_checkout/reg_steps/attendee_information/EE_SPCO_Reg_Step_Attendee_Information.class.php
Labels: category:spco-&-registration, status:merge, type:bug

#356 Bug/errant code example for migrations
  admin_pages/maintenance/templates/ee_confirm_migration_crash_report_sent.template.php
  admin_pages/maintenance/templates/ee_migration_was_borked_page.template.php
Labels: category:activation-installation-and-migration, category:models-and-data-infrastructure, status:triage, type:bug

#386 fix add-on Domain registration
  core/libraries/plugin_api/EE_Register_Addon.lib.php
Labels: category:core-plugin, status:merge, type:bug

#397 Gdpr/privacy policy content
  core/EE_Dependency_Map.core.php
  core/EE_System.core.php
  core/domain/services/admin/privacy/policy/PrivacyPolicy.php
  core/domain/services/admin/privacy/policy/privacy_policy.template.php
  core/libraries/plugin_api/EE_Register_Addon.lib.php
  core/libraries/plugin_api/EE_Register_Privacy_Policy.lib.php
  core/services/privacy/policy/PrivacyPolicyInterface.php
  core/services/privacy/policy/PrivacyPolicyManager.php
Labels: category:GDPR, status:merge, type:task

#371 Add Asset Value Objects plus Collection and Manager classes and update Registry to utilize them
  core/EE_Dependency_Map.core.php
  core/EE_Error.core.php
  core/EE_System.core.php
  core/domain/DomainBase.php
  core/domain/DomainInterface.php
  core/domain/services/assets/CoreAssetManager.php
  core/domain/values/assets/Asset.php
  core/domain/values/assets/BrowserAsset.php
  core/domain/values/assets/JavascriptAsset.php
  core/domain/values/assets/ManifestFile.php
  core/domain/values/assets/StylesheetAsset.php
  core/exceptions/InvalidIdentifierException.php
  core/services/assets/AssetCollection.php
  core/services/assets/AssetManager.php
  core/services/assets/AssetManagerInterface.php
  core/services/assets/AssetRegistrationException.php
  core/services/assets/Registry.php
  core/services/collections/Collection.php
  core/services/collections/DuplicateCollectionIdentifierException.php
  core/services/collections/InvalidCollectionIdentifierException.php
  tests/testcases/core/services/assets/RegistryTest.php
Labels: category:assets, priority:high, status:merge, type:enhancement

#424 Add one more check to make sure espresso-notices loads where expected
  core/EE_Front_Controller.core.php
Labels: status:merge

#433 Update npm requirement to 6+
  .travis.yml
  package-lock.json
  package.json
Labels: type:build-process 🔨

#436 Bug/update term taxonomy counts clears all term counts
  core/db_models/EEM_Term_Relationship.model.php
  tests/testcases/core/db_models/EEM_Term_Relationship_Test.php
Labels: category:models-and-data-infrastructure, status:review, type:bug 🐞

#451 Gdpr/anonymize ip
  core/domain/services/admin/privacy/policy/privacy_policy.template.php
  modules/single_page_checkout/reg_steps/finalize_registration/EE_SPCO_Reg_Step_Finalize_Registration.class.php
Labels: category:GDPR, category:spco-&-registration, status:review, type:feature-request 🙏

#435 update labels
  .github/label-sync.yml
Labels: type:task ✅

#411 Bug/chicken is a required question
  core/libraries/form_sections/strategies/display/EE_Checkbox_Display_Strategy.strategy.php
  core/libraries/form_sections/strategies/display/EE_Radio_Button_Display_Strategy.strategy.php
  modules/single_page_checkout/js/single_page_checkout.js
  tests/testcases/core/libraries/form_sections/strategies/display/EE_Checkbox_Display_Strategy_Test.php
  tests/testcases/core/libraries/form_sections/strategies/display/EE_Radio_Button_Display_Strategy_Test.php
Labels: category:forms-systems, category:frontend-ui-&-ux, category:spco-&-registration, status:needs-testing, status:review, type:bug 🐞

#408 Add initial structure for ee-core data store
  .eslintignore
  assets/src/data/eventespresso/core/actions.js
  assets/src/data/eventespresso/core/index.js
  assets/src/data/eventespresso/core/reducers.js
  assets/src/data/eventespresso/core/selectors.js
  assets/src/data/eventespresso/core/test/reducers.js
  assets/src/data/eventespresso/core/test/selectors.js
  assets/src/data/eventespresso/lists/actions.js
  assets/src/data/eventespresso/lists/index.js
  assets/src/data/eventespresso/lists/reducers.js
  assets/src/data/eventespresso/lists/resolvers.js
  assets/src/data/eventespresso/lists/selectors.js
  assets/src/data/eventespresso/lists/test/__mocks__/@wordpress/api-request.js
  assets/src/data/eventespresso/lists/test/reducers.js
  assets/src/data/eventespresso/lists/test/resolvers.js
  assets/src/data/eventespresso/lists/test/selectors.js
  assets/src/data/index.js
  assets/src/data/model/default-model-state.js
  assets/src/data/model/endpoints.js
  assets/src/data/model/index.js
  assets/src/data/model/primary-keys.js
  assets/src/data/model/test/__mocks__/@eventespresso/eejs.js
  assets/src/data/model/test/default-model-state.js
  assets/src/data/model/test/endpoints.js
  assets/src/data/model/test/primary-keys.js
  assets/src/data/model/validators.js
  assets/src/eejs/index.js
  assets/src/eejs/test/index.js
  assets/src/eejs/utils/merge-and-de-duplicate.js
  core/domain/services/assets/CoreAssetManager.php
  core/services/assets/Registry.php
  modules/core_rest_api/EED_Core_Rest_Api.module.php
  package-lock.json
  package.json
  tests/javascript-config/unit/mocks/i18n.js
Labels: Epic, category:gutenberg, category:models-and-data-infrastructure, type:feature-request 🙏

#419 Bug/invalid field count
  core/db_models/EEM_CPT_Base.model.php
  tests/testcases/core/db_classes/EE_CPT_Base_Test.php
Labels: category:models-and-data-infrastructure, status:feedback-needed, type:bug 🐞

#456 Gutenberg/testing gb fixes
  package.json
Labels: type:build-process 🔨

#457 Remove translation configuration related to eejs-core script
  bin/i18n-map-extractor.js
  core/domain/services/assets/CoreAssetManager.php
  webpack.prod.js
Labels: type:build-process 🔨

#420 its espresso_event_categories not espresso_event_category
  core/db_models/EEM_CPT_Base.model.php
  tests/testcases/core/db_classes/EE_CPT_Base_Test.php
Labels: category:models-and-data-infrastructure, type:bug 🐞

#459 update block asset registration
  core/domain/entities/editor/Block.php
  core/domain/entities/editor/BlockInterface.php
  core/domain/entities/editor/blocks/CoreBlocksAssetManager.php
  core/services/assets/BlockAssetManager.php
  core/services/editor/BlockRegistrationManager.php
Labels: category:gutenberg, status:review

#458 Fix i18n api loading strings twice per handle
  core/services/assets/I18nRegistry.php
  tests/mocks/core/services/assets/I18nRegistryMock.php
  tests/testcases/core/services/assets/I18nRegistryTest.php
Labels: category:i18n

#460 change 'localized' and 'localization' methods to 'inline data'
  core/domain/services/assets/CoreAssetManager.php
  core/domain/values/assets/JavascriptAsset.php
  core/services/assets/AssetCollection.php
  core/services/assets/Registry.php
Labels: category:assets, type:build-process 🔨, type:enhancement 🎉

#462 Update packages and do actual node & npm version check.
  package-lock.json
  package.json
Labels: type:build-process 🔨

#463 Add license checker
  .travis.yml
  js-green-licenses.json
  package-lock.json
  package.json
Labels: type:build-process 🔨

#464 Create new script for registering custom redux stores with wp-data
  assets/dist/build-manifest.json
  assets/dist/ee-data-stores.4dc970c521a926dac133.dist.js
  assets/dist/ee-eejs.557420181205eef54763.dist.js
  assets/dist/ee-eejs.640ad9b64ea0d1a3505d.dist.js
  core/domain/services/assets/CoreAssetManager.php
  core/services/assets/BlockAssetManager.php
  webpack.common.js
  webpack.prod.js
Labels: category:gutenberg, type:build-process 🔨

#465 Bug: Fix store and configuration
  .babelrc
  assets/src/data/eventespresso/lists/index.js
  assets/src/data/eventespresso/lists/resolvers.js
  webpack.common.js
Labels: category:gutenberg, type:build-process 🔨

#472 Update license validation config
  .travis.yml
  js-green-licenses.json
Labels: type:build-process 🔨

#437 Gdpr/deactivate payment logging
  admin_pages/payments/Payments_Admin_Page.core.php
  admin_pages/payments/templates/payment_settings.template.php
  core/EE_Config.core.php
  core/EE_Cron_Tasks.core.php
  core/EE_Dependency_Map.core.php
  core/libraries/payment_methods/EE_Gateway.lib.php
Labels: category:admin-pages, category:payment-methods, status:review, type:feature-request 🙏

#474 Bug/duplicate event categories for 432
  core/db_models/EEM_CPT_Base.model.php
  tests/testcases/core/db_classes/EE_CPT_Base_Test.php
Labels: category:models-and-data-infrastructure, status:review, type:bug 🐞

#469 Fix wrong method name.
  core/services/request/middleware/RecommendedVersions.php
Labels: type:bug 🐞

#481 Fix prop-types required property and jest config.
  assets/dist/build-manifest.json
  assets/dist/ee-components.a6d4a8a4f40a18d4c94e.dist.js
  assets/dist/ee-components.dd86b96e33706115bc94.dist.js
  assets/src/components/selection/event-select/index.js
  tests/javascript-config/unit/jest.config.json
Labels: category:assets, category:gutenberg, category:unit-tests

#484 QueryLimit: A React component for adding a WordPress Range Control input for setting a query's limit clause
  .eslintrc.js
  assets/src/components/index.js
  assets/src/components/query/limit/index.js
  assets/src/components/query/limit/test/index.js
  docs/AA--Javascript-in-EE/Blocks-and-Components/README.md
  docs/AA--Javascript-in-EE/Blocks-and-Components/components/query/limit.md
Labels: category:gutenberg, status:review, type:feature-request 🙏

#486 Switch webpack-assets-manifest plugin config to use the assets configuration vs merge
  webpack.dev.js
  webpack.prod.js
Labels: category:assets, type:build-process 🔨

#480 Bug/fix domain not found js error (fixes #478)
  .gitignore
  core/services/assets/I18nRegistry.php
  translation-map.json
Labels: category:assets, category:i18n, status:merge, type:build-process 🔨

#492 Remove unimplemented methods from AssetManager(&interface)
  core/services/assets/AssetManager.php
  core/services/assets/AssetManagerInterface.php
Labels: category:assets, status:review, type:enhancement 🎉

#461 Always use the 'pretty' value for the TXN paid column (fixes #452)
  admin_pages/transactions/EE_Admin_Transactions_List_Table.class.php
Labels: category:admin-page-ui-&-ux, status:review, type:bug 🐞
