Repository eventespresso/event-espresso-core, pull requests merged in 2019-07, with the labels that each got.

#1302 allow for EE_State_Inputs to use state abbreviations or names
  core/libraries/form_sections/inputs/EE_State_Select_Input.php
  core/libraries/form_sections/payment_methods/EE_Billing_Attendee_Info_Form.form.php
  docs/J--EE4-Forms-System/ee-forms-system-overview.md
  modules/add_new_state/EED_Add_New_State.module.php
  modules/add_new_state/assets/add_new_state.js
Labels: category:spco-&-registration, status:review, type:feature-request 🙏

#1376 Fix "events require pre-approval" message fixes #1304
  modules/single_page_checkout/reg_steps/payment_options/EE_SPCO_Reg_Step_Payment_Options.class.php
Labels: category:spco-&-registration, type:bug 🐞

#1377 Add venue model/entity fixtures
  tests/javascript-config/unit/fixtures/entities.js
  tests/javascript-config/unit/fixtures/factories.js
  tests/javascript-config/unit/fixtures/venue-response-authed.js
  tests/javascript-config/unit/fixtures/venue-schema.js
Labels: category:assets, category:unit-tests, type:enhancement 🎉

#1381 Fix Extensions & Services admin page's CSS issues
  admin_pages/other_services/assets/other-services.css
Labels: category:admin-pages, status:merge, type:bug 🐞

#1374 add styles for disabled buttons
  assets/src/components/ui/styles/root/buttons.css
Labels: category:assets, status:review

#1378 Fix issue where payment method settings inputs break out of their containers
  admin_pages/payments/assets/ee-payments.css
Labels: category:admin-pages, category:payment-methods, status:merge, type:bug 🐞

#1391 Add static function for creating a Money VO from a number or string.
  assets/src/vo/money.js
  assets/src/vo/test/money.js
  docs/AA--Javascript-in-EE/value-objects/money.md
Labels: category:assets, category:models-and-data-infrastructure, type:enhancement 🎉

#1397 EDTR: add useEditorDateTicketEntities custom react hook
  assets/src/editor/events/hooks/test/use-editor-date-ticket-entities.js
  assets/src/editor/events/hooks/use-editor-date-ticket-entities.js
Labels: category:assets, category:models-and-data-infrastructure, type:enhancement 🎉

#1396 add use-editor-date-entities hook and tests
  assets/src/editor/events/hooks/test/use-editor-date-entities.js
  assets/src/editor/events/hooks/use-editor-date-entities.js
Labels: category:assets, category:models-and-data-infrastructure, type:enhancement 🎉

#1390 Make Entity Edit Form Generation DRYer
  assets/dist/build-manifest.json
  assets/dist/ee-wp-plugins-page.0a1a11dc2fef149beb36.dist.css
  assets/dist/ee-wp-plugins-page.b2eade19779a4dabfee9.dist.deps.json
  assets/dist/ee-wp-plugins-page.b2eade19779a4dabfee9.dist.js
  assets/dist/eventespresso-components.7b1827320bbbbc286598.dist.css
  assets/dist/eventespresso-components.a7169247c11b5b98b0e1.dist.deps.json
  assets/dist/eventespresso-components.a7169247c11b5b98b0e1.dist.js
  assets/dist/eventespresso-core-css-default.273d53de7eae668818c9.dist.css
  assets/dist/eventespresso-core-css-default.3132a7572dbe730de7ca.dist.deps.json
  assets/dist/eventespresso-core-css-default.3132a7572dbe730de7ca.dist.js
  assets/dist/eventespresso-editor.bc3a5520d1c52c71a0c3.dist.deps.json
  assets/dist/eventespresso-editor.bc3a5520d1c52c71a0c3.dist.js
  assets/dist/eventespresso-editor.c5ebe33a990d2ff9a6b6.dist.css
  assets/dist/eventespresso-hocs.5d058ec5363ece3589c5.dist.deps.json
  assets/dist/eventespresso-hocs.5d058ec5363ece3589c5.dist.js
  assets/dist/eventespresso-hocs.ddcc2c093824ae306db6.dist.css
  assets/src/editor/events/dates-and-times/editor-date/edit-form/date-entity-form-inputs.js
  assets/src/editor/events/dates-and-times/editor-date/edit-form/date-entity-form-schema.js
  assets/src/editor/events/dates-and-times/editor-date/edit-form/date-entity-form.js
  assets/src/editor/events/dates-and-times/editor-date/edit-form/date-entity-input-config.js
  assets/src/editor/events/tickets/editor-ticket/edit-form/ticket-entity-form-inputs.js
  assets/src/editor/events/tickets/editor-ticket/edit-form/ticket-entity-form-schema.js
  assets/src/editor/events/tickets/editor-ticket/edit-form/ticket-entity-form.js
  assets/src/editor/events/tickets/editor-ticket/edit-form/ticket-entity-input-config.js
  assets/src/editor/helpers/forms/edit-entity-form-inputs.js
  assets/src/editor/helpers/forms/generate-form-input-from-config.js
Labels: category:assets, type:enhancement 🎉

#1405 Add filter hook to allow filtering output of [ANSWER] shortcode
  caffeinated/core/libraries/shortcodes/EE_Question_Shortcodes.lib.php
Labels: category:messaging-&-messengers, status:merge, type:enhancement 🎉

#912 Adding updated content to the what’s new section
  caffeinated/admin/extend/about/templates/whats_new.template.php
Labels: category:admin-pages

#1293 Don't double-URL-encode query parameters
  core/services/payment_methods/forms/PayPalSettingsForm.php
  payment_methods/Paypal_Express/EEG_Paypal_Express.gateway.php
Labels: category:payment-methods, status:merge, status:needs-testing, type:bug 🐞

#1417 Convert withEditor HOC to Functional Component
  assets/dist/build-manifest.json
  assets/dist/eventespresso-components.029129e9ffd992bfb3c6.dist.js
  assets/dist/eventespresso-editor-hocs.bda4e53448c60e15d352.dist.js
  assets/dist/eventespresso-editor-hocs.db0f919acce05ba34cfb.dist.deps.json
  assets/dist/eventespresso-editor-hocs.db0f919acce05ba34cfb.dist.js
  assets/src/editor/hocs/editor-modal/with-editor.js
Labels: category:assets, type:enhancement 🎉

#1424 Improve error message for preview/test-sends with no events available (fixes #1310)
  admin_pages/messages/Messages_Admin_Page.core.php
Labels: category:admin-page-ui-&-ux, category:messaging-&-messengers, type:enhancement 🎉

#1415 Don't trigger validation on datepicker inputs immediately
  modules/single_page_checkout/js/single_page_checkout.js
Labels: category:forms-systems, category:spco-&-registration, status:needs-testing, type:bug 🐞

#1427 BUG: Fix Fatal error on file edit screen when uxip notice present. (fixes #1298)
  core/domain/services/pue/Stats.php
Labels: category:admin-page-ui-&-ux, category:pue-uxip-and-licensing, type:bug 🐞

#1435 Show trashed events' start time on list table
  core/db_models/EEM_Datetime.model.php
Labels: category:admin-pages, type:bug 🐞

#1441 Update credits page, fixes #1440
  admin_pages/about/templates/credits.template.php
Labels: type:task 🧹
