Repository eventespresso/event-espresso-core, pull requests merged in 2019-04, with the labels that each got.

#1046 Add ability to filter start and end dates for default EE_Datetime entity (Fixes #950)
  core/db_models/EEM_Datetime.model.php
  tests/testcases/core/db_models/EEM_Datetime_Test.php
Labels: category:models-and-data-infrastructure, type:feature-request 🙏

#1031 Fix #447 SPCO displaying only one 'No payment required' ticket when multiple free tickets are in the cart with a paid ticket
  modules/single_page_checkout/reg_steps/payment_options/EE_SPCO_Reg_Step_Payment_Options.class.php
Labels: category:spco-&-registration, status:merge, type:bug 🐞

#1069 account for permalinks disabled when deciding when to enable REST API Basic Auth
  core/domain/services/contexts/RequestTypeContextDetector.php
Labels: category:models-and-data-infrastructure, type:bug 🐞

#1064 Fix REST API _links when querying across HABTM relation
  core/libraries/rest_api/controllers/model/Read.php
Labels: category:models-and-data-infrastructure, type:bug 🐞

#1085 update travis to allow for triggering js_only test builds.
  .travis.yml
  README.md
  docs/B--Automated-Testing/README.md
Labels: type:build-process 🔨

#1086 Account for dependabot commits to when deciding if js_only tests are to be run
  .travis.yml
Labels: type:build-process 🔨

#1049 Fix DMS weirdness because event table selections overwriting attendee table selections
  core/data_migration_scripts/4_1_0_stages/EE_DMS_4_1_0_attendees.dmsstage.php
  core/data_migration_scripts/EE_Data_Migration_Script_Stage_Table.core.php
Labels: category:activation-installation-and-migration, type:bug 🐞

#1010 Fet/attendee importer
  core/EE_Dependency_Map.core.php
  core/EE_Registry.core.php
  core/helpers/EEH_Autoloader.helper.php
  core/helpers/EEH_File.helper.php
  core/helpers/EEH_Line_Item.helper.php
  core/libraries/batch/BatchRequestProcessor.php
  core/libraries/form_sections/form_handlers/FormHandler.php
  core/libraries/form_sections/inputs/EE_File_Input.input.php
  core/libraries/form_sections/inputs/EE_Form_Input_Base.input.php
  core/libraries/form_sections/strategies/display/EE_File_Input_Display_Strategy.strategy.php
  core/libraries/form_sections/strategies/normalization/EE_File_Normalization.strategy.php
  core/libraries/form_sections/strategies/validation/EE_Text_Validation_Strategy.strategy.php
  core/services/json/JsonSerializableAndUnserializable.php
  core/services/loaders/ClassInterfaceCache.php
  core/services/locators/FqcnLocator.php
  core/services/options/JsonWpOptionManager.php
  core/services/options/JsonWpOptionSerializableInterface.php
  core/services/request/files/FileSubmission.php
  core/services/request/files/FileSubmissionInterface.php
  modules/batch/EED_Batch.module.php
Labels: category:forms-systems, type:enhancement 🎉

#1070 Add Event Category column to events overview list table (fixes #426)
  admin_pages/events/Events_Admin_List_Table.class.php
  admin_pages/events/Events_Admin_Page.core.php
  admin_pages/events/assets/events-admin-page.css
  core/admin/assets/ee-admin-page.css
Labels: category:admin-page-ui-&-ux, type:enhancement 🎉

#1061 html labels should use IDs not names
  core/libraries/form_sections/strategies/layout/EE_Form_Section_Layout_Base.strategy.php
Labels: category:accessibility, category:forms-systems, type:bug 🐞

#1058 Automatically check command types
  core/exceptions/InvalidEntityException.php
  core/services/commands/CommandBus.php
  core/services/commands/CommandHandler.php
  core/services/commands/CommandHandlerInterface.php
  core/services/commands/CommandHandlerManager.php
  core/services/commands/CommandHandlerManagerInterface.php
  core/services/commands/attendee/CreateAttendeeCommandHandler.php
  core/services/commands/registration/CancelRegistrationAndTicketLineItemCommandHandler.php
  core/services/commands/registration/CopyRegistrationDetailsCommandHandler.php
  core/services/commands/registration/CopyRegistrationPaymentsCommandHandler.php
  core/services/commands/registration/CreateRegistrationCommandHandler.php
  core/services/commands/registration/UpdateRegistrationAndTransactionAfterChangeCommandHandler.php
  core/services/commands/ticket/CancelTicketLineItemCommandHandler.php
  core/services/commands/ticket/CreateTicketLineItemCommandHandler.php
  core/services/commands/transaction/CreateTransactionCommandHandler.php
  docs/N--Core-Functionality/command-bus-hexagonal-architecture.md
  tests/mocks/core/services/commands/MockCommandHandler.php
  tests/mocks/core/services/commands/MockTwoCommand.php
  tests/testcases/core/services/commands/CommandBusTest.php
Labels: category:command-bus

#1100 make QST_required_text a text column instead of varchar. let the peop…
  core/data_migration_scripts/EE_DMS_Core_4_1_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_2_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_3_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_5_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_6_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_7_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_8_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_9_0.dms.php
Labels: category:activation-installation-and-migration, status:review, type:bug 🐞

#1109 Make sure EE_DEBUG is not defined before declaring it.
  core/espresso_definitions.php
Labels: category:activation-installation-and-migration, type:bug 🐞

#1071 Change default for showing Event Espresso link to false (fixes #932)
  admin_pages/general_settings/AdminOptionsSettings.php
  caffeinated/brewing_regular.php
  caffeinated/modules/event_single_caff/EED_Event_Single_Caff.module.php
  caffeinated/modules/events_archive_caff/EED_Events_Archive_Caff.module.php
  core/EE_Config.core.php
  core/EE_System.core.php
  tests/testcases/core/admin/EE_Admin_Tests.php
  tests/testcases/core/libraries/rest_api/controllers/Read_Test.php
Labels: category:admin-pages, type:enhancement 🎉

#1094 Bug/avoid unnecessary alter table queries
  core/data_migration_scripts/EE_DMS_Core_4_1_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_2_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_3_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_5_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_6_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_7_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_8_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_9_0.dms.php
Labels: category:models-and-data-infrastructure, type:enhancement 🎉

#1108 Bug/migration touchups
  core/EE_Data_Migration_Manager.core.php
  core/data_migration_scripts/4_1_0_stages/EE_DMS_4_1_0_gateways.dmsstage.php
  core/data_migration_scripts/4_5_0_stages/EE_DMS_4_5_0_invoice_settings.dmsstage.php
Labels: category:activation-installation-and-migration, status:needs-testing, type:bug 🐞

#1039 Fix i18n strings in pricing admin
  caffeinated/admin/new/pricing/Price_Types_List_Table.class.php
Labels: category:accessibility, category:admin-pages, category:i18n, status:needs-testing, type:bug 🐞

#1102 Migrate partial payments, txn_type to extra accounting, and avoid column name collisions during migrations
  core/data_migration_scripts/4_1_0_stages/EE_DMS_4_1_0_answers.dmsstage.php
  core/data_migration_scripts/4_1_0_stages/EE_DMS_4_1_0_attendees.dmsstage.php
  core/data_migration_scripts/4_1_0_stages/EE_DMS_4_1_0_checkins.dmsstage.php
  core/data_migration_scripts/4_1_0_stages/EE_DMS_4_1_0_line_items.dmsstage.php
  core/data_migration_scripts/4_1_0_stages/EE_DMS_4_1_0_prices.dmsstage.php
Labels: category:activation-installation-and-migration, type:bug 🐞

#1143 Improve skipped date related test and make non-skipped (fixed #940)
  tests/testcases/core/db_classes/EE_Datetime_Test.php
Labels: category:unit-tests, type:bug 🐞

#1145 Remove unnecessary WP_DEBUG conditional (fixes #1127)
  caffeinated/admin/new/pricing/templates/event_tickets_datetime_attached_tickets_row.template.php
Labels: category:admin-page-ui-&-ux, type:bug 🐞

#1153 Split up javascript builds and shorten build times
  .travis.yml
  package.json
Labels: type:build-process 🔨, type:enhancement 🎉

#1144 Fix missing capabilities in default roles (fixes #829)
  core/EE_Capabilities.core.php
Labels: category:admin-page-ui-&-ux, type:bug 🐞

#1152 Exclude the default where condition from EEM_Registration....
  admin_pages/registrations/Registrations_Admin_Page.core.php
Labels: category:admin-pages, type:bug 🐞

#1164 should be nvm install not npm install for npm installation!
  .travis.yml
Labels: status:triage

#1133 Use i18n datetime methods to build the date range for the ticket.
  core/db_classes/EE_Ticket.class.php
Labels: category:i18n, type:enhancement 🎉
