Repository eventespresso/event-espresso-core, pull requests merged in 2019-03, with the labels that each got.

#989 Bug/fix to persist not returning expected values
  assets/src/data/model/entity-factory/base-entity.js
  assets/src/data/model/entity-factory/create.js
  assets/src/data/model/entity-factory/extractors.js
  assets/src/data/model/entity-factory/test/base-entity.js
Labels: category:assets, type:bug 🐞

#997 PayPal Pro not working because of field name change
  caffeinated/payment_methods/Paypal_Pro/EEG_Paypal_Pro.gateway.php
  caffeinated/payment_methods/Paypal_Pro/EE_PMT_Paypal_Pro.pm.php
Labels: category:payment-methods, status:needs-testing, type:bug 🐞

#990 Improve dependency tree for value objects (fixes #956)
  assets/dist/build-manifest.json
  assets/dist/ee-components.242af0d6fa489fcb996c.dist.js
  assets/dist/ee-components.a695ce319583d44ee305.dist.js
  assets/dist/ee-data-stores.abbba76c609fdf3ba024.dist.js
  assets/dist/ee-model.2968981fc37f7c6f807a.dist.js
  assets/dist/ee-model.41c0ae94a0949b96ad54.dist.js
  assets/dist/ee-valueObjects.0da3d089c063c01f2d4c.dist.js
  assets/dist/ee-valueObjects.85086c9d7f47d85da410.dist.js
  assets/src/data/model/entity-factory/assertions.js
  assets/src/data/model/entity-factory/extractors.js
  assets/src/data/model/status/helpers.js
  assets/src/data/model/status/test/helpers.js
  core/domain/services/assets/CoreAssetManager.php
  webpack.common.js
Labels: category:assets, type:enhancement 🎉

#993 Fix format for displaying minutes (fixes #992)
  caffeinated/admin/extend/registrations/EE_Registration_CheckIn_List_Table.class.php
Labels: category:admin-pages, type:bug 🐞

#991 Payment Details Table, make it narrower (TXN Admin Details Page)
  admin_pages/transactions/assets/espresso_transactions_admin.css
  admin_pages/transactions/templates/txn_admin_details_main_meta_box_txn_details.template.php
Labels: category:admin-pages, type:enhancement 🎉

#974 dont enable basic auth on non-rest-routes
  core/EE_System.core.php
Labels: category:security, status:merge, type:bug 🐞

#995 Added `$_FILES` global to Request
  core/services/bootstrap/BootstrapRequestResponseObjects.php
  core/services/request/Request.php
  core/services/request/RequestInterface.php
  tests/mocks/core/services/request/RequestMock.php
  tests/testcases/core/domain/entities/route_match/RouteMatchSpecificationTestBase.php
  tests/testcases/core/request_stack/RequestTest.php
  tests/testcases/core/services/dependencies/DependencyResolverTest.php
  tests/testcases/core/services/route_match/RouteMatchSpecificationCollectionTest.php
Labels: category:core-plugin, type:enhancement 🎉

#1004 Fix target _blank links, remove some dead links, and add escaping
  admin_pages/about/templates/reviews.template.php
  admin_pages/general_settings/help_tabs/general_settings_admin_options.help_tab.php
  admin_pages/other_services/templates/other_services_content.template.php
  admin_pages/registration_form/help_tabs/registration_form_reg_form_settings.help_tab.php
  admin_pages/support/templates/developers_admin_details.template.php
  admin_pages/venues/templates/google_map.template.php
  caffeinated/admin/extend/registration_form/Extend_Registration_Form_Admin_Page.core.php
  caffeinated/admin/extend/support/templates/support_admin_details_additional_information.template.php
  caffeinated/core/libraries/messages/defaults/default/email_registration_event_list_attendee.template.php
  caffeinated/payment_methods/Aim/help_tabs/payment_methods_overview_aim.help_tab.php
  caffeinated/payment_methods/Mijireh/help_tabs/payment_methods_overview_mijireh.help_tab.php
  caffeinated/payment_methods/Paypal_Pro/help_tabs/payment_methods_overview_paypalpro.help_tab.php
  caffeinated/payment_methods/Paypal_Pro/templates/paypal_pro_debug_info.template.php
  core/helpers/EEH_Maps.helper.php
  core/libraries/form_sections/inputs/EE_CVV_Input.input.php
  core/libraries/messages/defaults/default/email_registration_event_list.template.php
  core/libraries/messages/defaults/default/email_registration_event_list_admin.template.php
  core/libraries/messages/defaults/default/email_registration_event_list_primary_attendee.template.php
  docs/T--Tutorials/ee4-rest-api-code-examples.md
  modules/single_page_checkout/EED_Single_Page_Checkout.module.php
  payment_methods/Paypal_Express/help_tabs/payment_methods_overview_paypal_express.help_tab.php
  tests/testcases/core/libraries/shortcodes/VenueShortcodesTest.php
Labels: category:security, type:task ✅

#994 correct the description of EEH_Line_Item::add_percentage_based_item()
  core/helpers/EEH_Line_Item.helper.php
Labels: status:review, type:bug 🐞, type:documentation 📖

#1001 Wrap the phone numbers shown in the reg and txn page in an a tag using 'tel:'
  admin_pages/registrations/templates/reg_admin_details_side_meta_box_registrant.template.php
  admin_pages/transactions/templates/txn_admin_details_side_meta_box_registrant.template.php
Labels: category:admin-pages, type:enhancement 🎉

#1014 Use esc_html__() to allow for translations
  admin_pages/events/Events_Admin_Page.core.php
  admin_pages/maintenance/Maintenance_Admin_Page.core.php
  core/libraries/rest_api/calculations/Registration.php
Labels: category:i18n, type:bug 🐞

#1015 Remove Google + option and shortcode in default templates Fixes #931
  admin_pages/general_settings/OrganizationSettings.php
  caffeinated/core/libraries/messages/defaults/default/email_newsletter_content.template.php
  core/libraries/messages/defaults/default/email_cancelled_registration_content.template.php
  core/libraries/messages/defaults/default/email_cancelled_registration_content_admin.template.php
  core/libraries/messages/defaults/default/email_declined_registration_content.template.php
  core/libraries/messages/defaults/default/email_declined_registration_content_admin.template.php
  core/libraries/messages/defaults/default/email_not_approved_registration_content.template.php
  core/libraries/messages/defaults/default/email_payment_cancelled_content.template.php
  core/libraries/messages/defaults/default/email_payment_content.template.php
  core/libraries/messages/defaults/default/email_payment_declined_content.template.php
  core/libraries/messages/defaults/default/email_payment_failed_content.template.php
  core/libraries/messages/defaults/default/email_payment_refund_content.template.php
  core/libraries/messages/defaults/default/email_payment_reminder_content.template.php
  core/libraries/messages/defaults/default/email_pending_approval_content.template.php
  core/libraries/messages/defaults/default/email_registration_content.template.php
  core/libraries/messages/defaults/default/email_registration_content_primary_attendee.template.php
  core/libraries/messages/defaults/default/email_registration_summary_content.template.php
  tests/mocks/addons/new-messages-template-pack/templates/email_newsletter_content.template.php
  tests/mocks/addons/new-messages-template-pack/templates/email_payment_content.template.php
  tests/mocks/addons/new-messages-template-pack/templates/email_payment_declined_content.template.php
  tests/mocks/addons/new-messages-template-pack/templates/email_payment_refund_content.template.php
  tests/mocks/addons/new-messages-template-pack/templates/email_payment_reminder_content.template.php
Labels: category:admin-pages, category:messaging-&-messengers, status:needs-testing, type:task ✅

#1006 Fix checkins migration fatal error (fixes #983)
  core/data_migration_scripts/4_1_0_stages/EE_DMS_4_1_0_checkins.dmsstage.php
Labels: category:activation-installation-and-migration, type:bug 🐞

#1013 Remove premature closing bracket
  core/admin/EE_Admin.core.php
Labels: status:merge, type:bug 🐞

#1018 Fixed FqcnLocator to filter out PHP files Fixes #467
  core/helpers/EEH_Autoloader.helper.php
  core/libraries/plugin_api/EE_Register_Model_Extensions.lib.php
  core/services/locators/FqcnLocator.php
  tests/mocks/core/services/locator/test_dir/TestClassA.php
  tests/mocks/core/services/locator/test_dir/TestClassB.php
  tests/mocks/core/services/locator/test_dir/not-a-class.txt
  tests/testcases/core/services/locators/FqcnLocatorTest.php
Labels: category:core-plugin, status:merge, type:bug 🐞

#874 More race-condition safe ticket/datetime reserved/sold updates
  caffeinated/admin/new/pricing/espresso_events_Pricing_Hooks.class.php
  core/db_classes/EE_Base_Class.class.php
  core/db_classes/EE_Datetime.class.php
  core/db_classes/EE_Registration.class.php
  core/db_classes/EE_Ticket.class.php
  modules/ticket_sales_monitor/EED_Ticket_Sales_Monitor.module.php
  tests/includes/EE_UnitTestCase.class.php
  tests/includes/scenarios/EE_Event_Scenario_J.scenario.php
  tests/testcases/core/data_migration_scripts/EE_DMS_Core_4_1_0_Tests.php
  tests/testcases/core/db_classes/EE_Base_Class_Test.php
  tests/testcases/core/db_classes/EE_Datetime_Test.php
  tests/testcases/core/db_classes/EE_Event_Test.php
  tests/testcases/core/db_classes/EE_Ticket_Test.php
  tests/testcases/modules/EED_Ticket_Sales_Monitor_Test.php
Labels: category:spco-&-registration, status:merge, type:enhancement 🎉

#1029 Make select2 inputs wider by default
  core/libraries/form_sections/inputs/EE_Select_Ajax_Model_Rest_Input.input.php
  core/libraries/form_sections/strategies/display/EE_Select2_Display_Strategy.strategy.php
  core/libraries/form_sections/strategies/display/EE_Select_Display_Strategy.strategy.php
  core/templates/global_assets/css/espresso-admin-toolbar.css
  tests/testcases/core/libraries/form_sections/strategies/display/EE_Select_Display_Strategy_Test.php
Labels: category:forms-systems, type:design 📐, type:enhancement 🎉

#999 Fet/files data handler
  core/EE_Dependency_Map.core.php
  core/services/request/files/FileSubmission.php
  core/services/request/files/FileSubmissionInterface.php
  core/services/request/files/FilesDataHandler.php
  tests/testcases/core/libraries/rest_api/ModelDataTranslatorTest.php
  tests/testcases/core/services/request/RequestStackBuilderTest.php
  tests/testcases/core/services/request/files/FileSubmissionTest.php
  tests/testcases/core/services/request/files/FilesDataHandlerTest.php
Labels: status:review, type:enhancement 🎉
