Repository eventespresso/event-espresso-core, pull requests merged in 2019-12, with the labels that each got.

#1930 Update npm scripts
  package.json
Labels: EDTR Prototype

#1927 EDTR: DateRangePicker.
  assets/prototype/domain/eventEditor/datesList/dateCard/DateCard.js
  assets/prototype/domain/eventEditor/datesList/dateCard/style.css
  assets/prototype/domain/shared/dateRangeInput/DateRangeInput.js
  assets/prototype/domain/shared/dateRangeInput/DateRangePicker.js
  assets/prototype/domain/shared/dateRangeInput/momentDate.js
  assets/prototype/domain/shared/dateRangeInput/style.css
Labels: EDTR Prototype, status:review

#1933 EDTR: Create Modal for Updating Existing Dates && Tickets. closes #1926
  assets/prototype/domain/eventEditor/containers/mutations/useUpdateDateMutation.js
  assets/prototype/domain/eventEditor/containers/queries/useTicketItem.js
  assets/prototype/domain/eventEditor/datesList/AddNewDateModal.js
  assets/prototype/domain/eventEditor/datesList/DateForm.js
  assets/prototype/domain/eventEditor/datesList/dateCard/DateCard.js
  assets/prototype/domain/eventEditor/datesList/dateCard/EditDate.js
  assets/prototype/domain/eventEditor/datesList/dateCard/EditDateButton.js
  assets/prototype/domain/eventEditor/datesList/dateCard/EditDateModal.js
  assets/prototype/domain/eventEditor/ticketsList/AddNewTicketModal.js
  assets/prototype/domain/eventEditor/ticketsList/TicketForm.js
  assets/prototype/domain/eventEditor/ticketsList/ticketCard/EditTicket.js
  assets/prototype/domain/eventEditor/ticketsList/ticketCard/EditTicketButton.js
  assets/prototype/domain/eventEditor/ticketsList/ticketCard/EditTicketModal.js
  assets/prototype/domain/eventEditor/ticketsList/ticketCard/TicketCard.js
  assets/prototype/infrastructure/services/contextProviders/DateTimeProvider.js
  assets/prototype/infrastructure/services/contextProviders/TicketProvider.js
  package-lock.json
Labels: EDTR Prototype

#1935 Initialize Prices and Price Types closes #1925
  assets/prototype/domain/eventEditor/EventEditor.js
  assets/prototype/domain/eventEditor/containers/mutations/prices.js
  assets/prototype/domain/eventEditor/containers/queries/priceTypes.js
  assets/prototype/domain/eventEditor/containers/queries/prices.js
  assets/prototype/domain/eventEditor/containers/queries/useFetchPriceTypes.js
  assets/prototype/domain/eventEditor/containers/queries/useFetchPrices.js
  assets/prototype/infrastructure/services/apollo/Apollo.js
Labels: EDTR Prototype, status:review

#1948 Price mutations and relations
  assets/prototype/domain/eventEditor/containers/mutations/tickets.js
  assets/prototype/domain/eventEditor/containers/mutations/useCreatePriceMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useCreateTicketMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useDeletePriceMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useUpdatePriceMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useUpdateTicketMutation.js
  assets/prototype/domain/eventEditor/containers/queries/tickets.js
Labels: status:review

#1949 Add default prices when creating a ticket
  core/domain/services/graphql/data/mutations/TicketMutation.php
  core/domain/services/graphql/mutators/TicketCreate.php
Labels: status:review

#1947 Refactor RelationsSelector and update Date and Ticket edit modal. Closes 1944.
  .vscode/extensions.json
  assets/prototype/domain/eventEditor/containers/mutations/useUpdateDateMutation.js
  assets/prototype/domain/eventEditor/datesList/AddNewDateModal.js
  assets/prototype/domain/eventEditor/datesList/DateForm.js
  assets/prototype/domain/eventEditor/datesList/DatesList.js
  assets/prototype/domain/eventEditor/datesList/dateCard/DateCard.js
  assets/prototype/domain/eventEditor/datesList/dateCard/EditDate.js
  assets/prototype/domain/eventEditor/datesList/dateCard/EditDateModal.js
  assets/prototype/domain/eventEditor/ticketsList/TicketForm.js
  assets/prototype/domain/eventEditor/ticketsList/TicketsList.js
  assets/prototype/domain/eventEditor/ticketsList/ticketCard/EditTicket.js
  assets/prototype/domain/eventEditor/ticketsList/ticketCard/EditTicketModal.js
  assets/prototype/domain/eventEditor/ticketsList/ticketCard/TicketCard.js
  assets/prototype/domain/shared/RelationsSelector.js
Labels: EDTR Prototype, status:review

#1954 Created useDatetimeIds hook.
  assets/prototype/domain/eventEditor/containers/mutations/useDeleteTicketMutation.js
  assets/prototype/domain/eventEditor/containers/queries/useDatetimeIds.js
  assets/prototype/domain/eventEditor/ticketsList/ticketCard/DeleteTicketButton.js
  assets/prototype/domain/eventEditor/ticketsList/ticketCard/TicketCard.js
  babel.config.js
  package-lock.json
  package.json
Labels: EDTR Prototype, status:review

#1956 Rename GQL IDs and create fragments
  assets/prototype/domain/eventEditor/containers/mutations/dates.js
  assets/prototype/domain/eventEditor/containers/mutations/useCreateDateMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useCreatePriceMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useCreateTicketMutation.js
  assets/prototype/domain/eventEditor/containers/queries/dates.js
  assets/prototype/domain/eventEditor/containers/queries/priceTypes.js
  assets/prototype/domain/eventEditor/containers/queries/prices.js
  assets/prototype/domain/eventEditor/containers/queries/tickets.js
  assets/prototype/domain/eventEditor/datesList/TicketId.js
  assets/prototype/domain/eventEditor/datesList/dateCard/DateCard.js
  assets/prototype/domain/eventEditor/ticketsList/DatetimeId.js
  assets/prototype/domain/eventEditor/ticketsList/ticketCard/TicketCard.js
  assets/prototype/domain/eventEditor/ticketsList/ticketPriceCalculator/TicketPriceCalculatorForm.js
  assets/prototype/domain/eventEditor/ticketsList/ticketPriceCalculator/TicketPriceCalculatorModal.js
  assets/prototype/domain/shared/RelationsSelector.js
  core/domain/services/graphql/types/Datetime.php
  core/domain/services/graphql/types/Event.php
  core/domain/services/graphql/types/Price.php
  core/domain/services/graphql/types/PriceType.php
  core/domain/services/graphql/types/State.php
  core/domain/services/graphql/types/Ticket.php
  core/domain/services/graphql/types/Venue.php
  docs/GraphQL-API/query/datetime.md
  docs/GraphQL-API/query/event.md
  docs/GraphQL-API/query/price.md
  docs/GraphQL-API/query/priceType.md
  docs/GraphQL-API/query/ticket.md
Labels: status:review

#1958 Added types for useDeleteDatetimeMutation.
  assets/prototype/domain/eventEditor/containers/mutations/useDeleteDateMutation.ts
  assets/prototype/domain/eventEditor/datesList/dateCard/DeleteDateButton.tsx
  package-lock.json
  package.json
  tsconfig.json
Labels: EDTR Prototype

#1964 Centralized mutations
  assets/prototype/domain/eventEditor/containers/mutations/dates.js
  assets/prototype/domain/eventEditor/containers/mutations/index.js
  assets/prototype/domain/eventEditor/containers/mutations/useCreateDateMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useDatetimeMutator.js
  assets/prototype/domain/eventEditor/containers/mutations/useEntityMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useEntityMutator.js
  assets/prototype/domain/eventEditor/containers/mutations/useMutators.js
  assets/prototype/domain/eventEditor/containers/mutations/useUpdateDateMutation.js
  assets/prototype/domain/eventEditor/containers/queries/index.js
  assets/prototype/domain/eventEditor/containers/queries/useEventId.js
  assets/prototype/domain/eventEditor/datesList/AddNewDateModal.js
  assets/prototype/domain/eventEditor/datesList/dateCard/DateCard.js
  assets/prototype/domain/eventEditor/datesList/dateCard/DeleteDateButton.tsx
  assets/prototype/domain/eventEditor/datesList/dateCard/EditDateModal.js
Labels: EDTR Prototype, status:review

#1973 Improve useDatetimeMutator
  assets/prototype/domain/eventEditor/containers/mutations/datetimes/updateTicketCache.js
  assets/prototype/domain/eventEditor/containers/mutations/datetimes/useDateimeQueryOptions.js
  assets/prototype/domain/eventEditor/containers/mutations/datetimes/useDatetimeMutator.js
  assets/prototype/domain/eventEditor/containers/mutations/datetimes/useOnCreateDatetime.js
  assets/prototype/domain/eventEditor/containers/mutations/datetimes/useOnDeleteDatetime.js
  assets/prototype/domain/eventEditor/containers/mutations/datetimes/useOnUpdateDatetime.js
  assets/prototype/domain/eventEditor/containers/mutations/datetimes/useUpdateDatetimeCache.js
  assets/prototype/domain/eventEditor/containers/mutations/useDatetimeMutator.js
  assets/prototype/domain/eventEditor/containers/mutations/useEntityMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useEntityMutator.js
  assets/prototype/domain/eventEditor/containers/mutations/useMutators.js
  assets/prototype/domain/eventEditor/datesList/dateCard/DateCard.js
Labels: EDTR Prototype, status:review

#1972 Closes #1928 and improves #1957
  assets/prototype/domain/eventEditor/containers/queries/useInitQueries.js
  assets/prototype/domain/shared/dateRangeInput/DateRangePicker.js
Labels: EDTR Prototype, status:review

#1975 Created ConfigProvider.
  assets/prototype/domain/eventEditor/containers/queries/currentUser.js
  assets/prototype/domain/eventEditor/containers/queries/generalSettings.js
  assets/prototype/infrastructure/services/contextProviders/ConfigProvider.js
  assets/prototype/infrastructure/services/contextProviders/ContextProviders.js
Labels: EDTR Prototype, status:review

#1982 Add required GQL fields to price object closes #1981
  core/domain/services/graphql/types/Price.php
  docs/GraphQL-API/query/price.md
Labels: EDTR Prototype

#1977 Add classes to identify dependent model objects. Merge to CASC/base
  core/services/orm/tree_traversal/BaseNode.php
  core/services/orm/tree_traversal/ModelObjNode.php
  core/services/orm/tree_traversal/RelationNode.php
  tests/testcases/core/services/orm/tree_traversal/ModelObjNodeTest.php
  tests/testcases/core/services/orm/tree_traversal/RelationNodeTest.php
Labels: category:models-and-data-infrastructure, status:review, type:feature-request 🙏

#1987 Get IDs of related model objects
  core/services/orm/tree_traversal/BaseNode.php
  core/services/orm/tree_traversal/ModelObjNode.php
  core/services/orm/tree_traversal/RelationNode.php
  tests/testcases/core/services/orm/tree_traversal/ModelObjNodeTest.php
Labels: category:models-and-data-infrastructure, status:review, type:feature-request 🙏

#1985 Created useConfigProvider hook. closes #1979
  assets/prototype/domain/eventEditor/containers/useConfigProvider.ts
  assets/prototype/domain/eventEditor/ticketsList/ticketCard/TicketCard.js
Labels: EDTR Prototype, status:review

#1986 More centralized mutations
  assets/prototype/domain/eventEditor/containers/mutations/datetimes/useDatetimeMutator.js
  assets/prototype/domain/eventEditor/containers/mutations/datetimes/useDatetimeQueryOptions.js
  assets/prototype/domain/eventEditor/containers/mutations/datetimes/useUpdateDatetimeCache.js
  assets/prototype/domain/eventEditor/containers/mutations/prices/useOnCreatePrice.js
  assets/prototype/domain/eventEditor/containers/mutations/prices/useOnDeletePrice.js
  assets/prototype/domain/eventEditor/containers/mutations/prices/useOnUpdatePrice.js
  assets/prototype/domain/eventEditor/containers/mutations/prices/usePriceMutator.js
  assets/prototype/domain/eventEditor/containers/mutations/prices/usePriceQueryOptions.js
  assets/prototype/domain/eventEditor/containers/mutations/prices/useUpdatePriceCache.js
  assets/prototype/domain/eventEditor/containers/mutations/tickets/updatePriceCache.js
  assets/prototype/domain/eventEditor/containers/mutations/tickets/useOnCreateTicket.js
  assets/prototype/domain/eventEditor/containers/mutations/tickets/useOnDeleteTicket.js
  assets/prototype/domain/eventEditor/containers/mutations/tickets/useOnUpdateTicket.js
  assets/prototype/domain/eventEditor/containers/mutations/tickets/useTicketMutator.js
  assets/prototype/domain/eventEditor/containers/mutations/tickets/useTicketQueryOptions.js
  assets/prototype/domain/eventEditor/containers/mutations/tickets/useUpdateTicketCache.js
  assets/prototype/domain/eventEditor/containers/mutations/useMutators.js
  assets/prototype/domain/eventEditor/containers/queries/useTicketIds.js
  assets/prototype/domain/eventEditor/ticketsList/AddNewTicketModal.js
  assets/prototype/domain/eventEditor/ticketsList/ticketCard/DeleteTicketButton.js
  assets/prototype/domain/eventEditor/ticketsList/ticketCard/EditTicketModal.js
  assets/prototype/domain/eventEditor/ticketsList/ticketCard/TicketCard.js
Labels: EDTR Prototype

#1968 EDTR: Ticket Price Calculator Logic
  assets/prototype/domain/eventEditor/containers/mutations/useEntityMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useEntityMutator.js
  assets/prototype/domain/eventEditor/containers/queries/priceTypes.js
  assets/prototype/domain/eventEditor/containers/queries/prices.js
  assets/prototype/domain/eventEditor/containers/queries/useDatetimeIds.js
  assets/prototype/domain/eventEditor/containers/queries/useDefaultPriceType.js
  assets/prototype/domain/eventEditor/containers/queries/usePriceTypeForPrice.js
  assets/prototype/domain/eventEditor/containers/queries/usePriceTypes.js
  assets/prototype/domain/eventEditor/containers/queries/usePrices.js
  assets/prototype/domain/eventEditor/containers/queries/useTicketIds.js
  assets/prototype/domain/eventEditor/containers/queries/useTicketItem.js
  assets/prototype/domain/eventEditor/containers/queries/useTicketPrices.js
  assets/prototype/domain/eventEditor/datesList/DatesList.js
  assets/prototype/domain/eventEditor/datesList/dateCard/DateCard.js
  assets/prototype/domain/eventEditor/ticketsList/TicketsList.js
  assets/prototype/domain/eventEditor/ticketsList/ticketCard/TicketCard.js
  assets/prototype/domain/eventEditor/ticketsList/ticketPriceCalculator/TicketPriceCalculatorForm.js
  assets/prototype/domain/eventEditor/ticketsList/ticketPriceCalculator/TicketPriceCalculatorModal.js
  assets/prototype/domain/eventEditor/ticketsList/ticketPriceCalculator/TicketPriceModifierRow.js
  assets/prototype/domain/eventEditor/ticketsList/ticketPriceCalculator/TicketPriceTotalRow.js
  assets/prototype/domain/eventEditor/ticketsList/ticketPriceCalculator/hooks/basePriceCalculator.js
  assets/prototype/domain/eventEditor/ticketsList/ticketPriceCalculator/hooks/calculateBasePrice.js
  assets/prototype/domain/eventEditor/ticketsList/ticketPriceCalculator/hooks/calculateTicketTotal.js
  assets/prototype/domain/eventEditor/ticketsList/ticketPriceCalculator/hooks/ticketTotalCalculator.js
  assets/prototype/domain/eventEditor/ticketsList/ticketPriceCalculator/hooks/useOnSubmitPrices.js
  assets/prototype/domain/eventEditor/ticketsList/ticketPriceCalculator/hooks/useTicketPriceCalculator.js
  assets/prototype/domain/eventEditor/ticketsList/ticketPriceCalculator/hooks/useTicketPriceCalculatorFormDecorator.js
  assets/prototype/domain/eventEditor/ticketsList/ticketPriceCalculator/hooks/useTicketPriceCalculatorFormMutators.js
  assets/prototype/domain/eventEditor/ticketsList/ticketPriceCalculator/inlineStyles.js
  assets/prototype/domain/shared/predicates/priceTypes/selectionPredicates.js
  assets/prototype/domain/shared/predicates/prices/selectionPredicates.js
  assets/prototype/domain/shared/predicates/prices/sortingPredicates.js
  assets/prototype/domain/shared/predicates/prices/updatePredicates.js
  assets/prototype/domain/shared/predicates/shared/selectionPredicates.js
  assets/prototype/domain/shared/predicates/tickets/selectionPredicates.js
  core/db_classes/EE_Price.class.php
  core/db_classes/EE_Price_Type.class.php
  core/domain/services/graphql/types/Price.php
  core/domain/services/graphql/types/PriceType.php
  package-lock.json
  package.json
Labels: EDTR Prototype, status:review

#1988 Casc/initial ui
  admin_pages/events/Events_Admin_List_Table.class.php
  admin_pages/events/Events_Admin_Page.core.php
  admin_pages/events/templates/event_preview_deletion.template.php
Labels: category:admin-page-ui-&-ux, status:merge, type:feature-request 🙏

#1995 Added Datetime format config support; closes #1942.
  assets/prototype/application/valueObjects/dateTime/defaults.ts
  assets/prototype/application/valueObjects/dateTime/getDateTimeFormat.ts
  assets/prototype/domain/eventEditor/containers/useConfig.js
  assets/prototype/domain/eventEditor/containers/useConfigProvider.ts
  assets/prototype/infrastructure/services/contextProviders/ConfigProvider.js
Labels: EDTR Prototype, status:review

#1992 Added TS support for Jest tests; closes #1842.
  assets/ZZZ/data/eventespresso/core/actions/test/delete-entity-generators.js
  assets/ZZZ/data/eventespresso/core/actions/test/delete-relations-generators.js
  assets/ZZZ/eejs/validators/test/is-generator.js
  assets/src/tests/unit/index.test.ts
  babel.config.js
  config/tests/unit/jest.config.js
  package-lock.json
  package.json
Labels: EDTR Prototype, type: tooling :hammer:

#2011 Add remaining GQL fields to queries
  assets/prototype/domain/eventEditor/containers/mutations/dates.js
  assets/prototype/domain/eventEditor/containers/queries/datetimes.js
  assets/prototype/domain/eventEditor/containers/queries/index.js
  assets/prototype/domain/eventEditor/containers/queries/priceTypes.js
  assets/prototype/domain/eventEditor/containers/queries/prices.js
  assets/prototype/domain/eventEditor/containers/queries/tickets.js
  assets/prototype/domain/eventEditor/containers/queries/useDateItem.js
  assets/prototype/domain/eventEditor/containers/queries/useDatetimeIds.js
  assets/prototype/domain/eventEditor/containers/queries/useFetchDatetimes.js
Labels: EDTR Prototype

#2007 Fix GraphQL Errors When Updating Entity Relations fixes #1993
  assets/prototype/domain/eventEditor/ticketsList/ticketPriceCalculator/hooks/useOnSubmitPrices.js
  assets/prototype/domain/eventEditor/ticketsList/ticketPriceCalculator/hooks/useTicketPriceCalculator.js
  assets/prototype/domain/eventEditor/ticketsList/ticketPriceCalculator/hooks/useTicketPriceCalculatorFormDecorator.js
  core/domain/services/graphql/mutators/DatetimeUpdate.php
  core/domain/services/graphql/mutators/PriceUpdate.php
  core/domain/services/graphql/mutators/TicketUpdate.php
Labels: EDTR Prototype, type:bug 🐞

#1974 Fet/extract init toaster logic closes #1951
  assets/prototype/domain/eventEditor/containers/mutations/useCreateDateMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useCreatePriceMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useCreateTicketMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useDeleteDateMutation.ts
  assets/prototype/domain/eventEditor/containers/mutations/useDeletePriceMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useDeleteTicketMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useUpdateDateMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useUpdatePriceMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useUpdateTicketMutation.js
  assets/prototype/domain/eventEditor/containers/queries/useFetchPriceTypes.js
  assets/prototype/domain/eventEditor/containers/queries/useFetchPrices.js
  assets/prototype/domain/eventEditor/containers/queries/useFetchRelations.js
  assets/prototype/infrastructure/services/toaster/useInitToaster.js
Labels: EDTR Prototype, status:merge

#2021 Restore the status flag setters
  assets/prototype/domain/eventEditor/containers/queries/useFetchPriceTypes.js
  assets/prototype/domain/eventEditor/containers/queries/useFetchPrices.js
Labels: EDTR Prototype, status:review

#2012 Delete Related Prices for a deleted ticket and other improvements
  assets/prototype/domain/eventEditor/containers/mutations/tickets.js
  assets/prototype/domain/eventEditor/containers/mutations/tickets/useOnCreateTicket.js
  assets/prototype/domain/eventEditor/containers/mutations/tickets/useTicketMutator.js
  assets/prototype/domain/eventEditor/containers/mutations/useEntityMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useEntityMutator.js
  assets/prototype/domain/eventEditor/containers/queries/datetimes.js
  assets/prototype/domain/eventEditor/containers/queries/priceTypes.js
  assets/prototype/domain/eventEditor/containers/queries/prices.js
  assets/prototype/domain/eventEditor/containers/queries/tickets.js
  assets/prototype/domain/eventEditor/containers/relations/useRelationsManager.js
  assets/prototype/domain/eventEditor/datetimes/dateCard/DeleteDateButton.tsx
  assets/prototype/domain/eventEditor/tickets/hooks/useDeleteTicketHandler.js
  assets/prototype/domain/eventEditor/tickets/ticketCard/DeleteTicketButton.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/hooks/useOnSubmitPrices.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/hooks/useTicketPriceCalculator.js
Labels: EDTR Prototype, status:review

#2002 if the current page is the alternative reg page, then show the ticket selector
  modules/ticket_selector/DisplayTicketSelector.php
Labels: category:templates-shortcodes-and-widgets, category:ticket-selector

#2034 Code clean up and cache fix
  assets/prototype/domain/eventEditor/EventEditor.js
  assets/prototype/domain/eventEditor/data/mutations/datetimes/index.js
  assets/prototype/domain/eventEditor/data/mutations/datetimes/useCreateDatetimesMutation.js
  assets/prototype/domain/eventEditor/data/mutations/datetimes/useDatetimeMutator.js
  assets/prototype/domain/eventEditor/data/mutations/datetimes/useDeleteDatetimeMutation.ts
  assets/prototype/domain/eventEditor/data/mutations/datetimes/useUpdateDatetimeCache.js
  assets/prototype/domain/eventEditor/data/mutations/datetimes/useUpdateDatetimeMutation.js
  assets/prototype/domain/eventEditor/data/mutations/index.js
  assets/prototype/domain/eventEditor/data/mutations/prices/index.js
  assets/prototype/domain/eventEditor/data/mutations/prices/useCreatePriceMutation.js
  assets/prototype/domain/eventEditor/data/mutations/prices/useDeletePriceMutation.js
  assets/prototype/domain/eventEditor/data/mutations/prices/usePriceMutator.js
  assets/prototype/domain/eventEditor/data/mutations/prices/useUpdatePriceCache.js
  assets/prototype/domain/eventEditor/data/mutations/prices/useUpdatePriceMutation.js
  assets/prototype/domain/eventEditor/data/mutations/tickets/index.js
  assets/prototype/domain/eventEditor/data/mutations/tickets/useCreateTicketMutation.js
  assets/prototype/domain/eventEditor/data/mutations/tickets/useDeleteTicketMutation.js
  assets/prototype/domain/eventEditor/data/mutations/tickets/useTicketMutator.js
  assets/prototype/domain/eventEditor/data/mutations/tickets/useUpdateTicketCache.js
  assets/prototype/domain/eventEditor/data/mutations/tickets/useUpdateTicketMutation.js
  assets/prototype/domain/eventEditor/data/queries/datetimes/index.js
  assets/prototype/domain/eventEditor/data/queries/datetimes/useDateItem.js
  assets/prototype/domain/eventEditor/data/queries/datetimes/useDatetimeQueryOptions.js
  assets/prototype/domain/eventEditor/data/queries/datetimes/useDatetimes.js
  assets/prototype/domain/eventEditor/data/queries/datetimes/useFetchDatetimes.js
  assets/prototype/domain/eventEditor/data/queries/index.js
  assets/prototype/domain/eventEditor/data/queries/priceTypes/index.js
  assets/prototype/domain/eventEditor/data/queries/priceTypes/useFetchPriceTypes.js
  assets/prototype/domain/eventEditor/data/queries/priceTypes/usePriceTypes.js
  assets/prototype/domain/eventEditor/data/queries/prices/index.js
  assets/prototype/domain/eventEditor/data/queries/prices/useFetchPrices.js
  assets/prototype/domain/eventEditor/data/queries/prices/usePriceQueryOptions.js
  assets/prototype/domain/eventEditor/data/queries/prices/usePrices.js
  assets/prototype/domain/eventEditor/data/queries/tickets/index.js
  assets/prototype/domain/eventEditor/data/queries/tickets/useFetchTickets.js
  assets/prototype/domain/eventEditor/data/queries/tickets/useTicketItem.js
  assets/prototype/domain/eventEditor/data/queries/tickets/useTicketQueryOptions.js
  assets/prototype/domain/eventEditor/data/queries/tickets/useTickets.js
  assets/prototype/domain/eventEditor/data/queries/useCacheRehydration.js
  assets/prototype/domain/eventEditor/data/queries/useInitQueries.js
  assets/prototype/domain/eventEditor/datetimes/dateCard/DateCard.js
  assets/prototype/domain/eventEditor/datetimes/dateCard/EditDate.js
  assets/prototype/domain/eventEditor/datetimes/dateCard/EditDateModal.js
  assets/prototype/domain/eventEditor/datetimes/dateList/AddNewDateButton.js
  assets/prototype/domain/eventEditor/datetimes/dateList/AddNewDateModal.js
  assets/prototype/domain/eventEditor/datetimes/dateList/DateList.js
  assets/prototype/domain/eventEditor/tickets/ticketCard/EditTicket.js
  assets/prototype/domain/eventEditor/tickets/ticketCard/EditTicketModal.js
  assets/prototype/domain/eventEditor/tickets/ticketCard/TicketCard.js
  assets/prototype/domain/eventEditor/tickets/ticketList/AddNewTicketButton.js
  assets/prototype/domain/eventEditor/tickets/ticketList/AddNewTicketModal.js
  assets/prototype/domain/eventEditor/tickets/ticketList/TicketList.js
Labels: EDTR Prototype, status:merge

#2014 Moves DatesListFilterBar; closes #1997, #1999.
  assets/prototype/application/ui/components/display/entityList/filterBar/Collapsible.js
  assets/prototype/application/ui/components/display/entityList/filterBar/EntityListFilterBar.js
  assets/prototype/application/ui/components/display/entityList/filterBar/style.css
  assets/prototype/application/ui/components/display/entityList/filterBar/useEntityListFilterState.js
  assets/prototype/domain/eventEditor/datetimes/dateList/DateList.js
  assets/prototype/domain/eventEditor/datetimes/dateList/filterBar/DatesListEntityFilters.js
  assets/prototype/domain/eventEditor/datetimes/dateList/filterBar/DatesListFilterBar.js
  assets/prototype/domain/eventEditor/datetimes/dateList/filterBar/controls/DatesSortedByControl.js
  assets/prototype/domain/eventEditor/datetimes/dateList/filterBar/controls/DisplayDatesControl.js
  assets/prototype/domain/eventEditor/datetimes/dateList/filterBar/controls/ShowDatesControl.js
  assets/prototype/domain/eventEditor/datetimes/dateList/filterBar/useDatesListFilterState.js
Labels: EDTR Prototype, status:review

#2032 Added TicketListFilterBar; closes #1996, #1998.
  assets/prototype/domain/eventEditor/tickets/ticketList/TicketList.js
  assets/prototype/domain/eventEditor/tickets/ticketList/filterBar/TicketListFilterBar.js
  assets/prototype/domain/eventEditor/tickets/ticketList/filterBar/TicketsListEntityFilters.js
  assets/prototype/domain/eventEditor/tickets/ticketList/filterBar/controls/DisplayTicketsControl.js
  assets/prototype/domain/eventEditor/tickets/ticketList/filterBar/controls/ShowTicketsControl.js
  assets/prototype/domain/eventEditor/tickets/ticketList/filterBar/controls/TicketsChainedButton.js
  assets/prototype/domain/eventEditor/tickets/ticketList/filterBar/controls/TicketsSortedByControl.js
  assets/prototype/domain/eventEditor/tickets/ticketList/filterBar/style.css
  assets/prototype/domain/eventEditor/tickets/ticketList/filterBar/useTicketListFilterState.js
Labels: EDTR Prototype

#2045 Controlled inline inputs
  assets/prototype/application/ui/components/input/CurrencyInput.js
  assets/prototype/application/ui/components/input/InlineEditInput.js
  assets/prototype/domain/eventEditor/datetimes/dateCard/DateCard.js
  assets/prototype/domain/eventEditor/tickets/ticketCard/TicketCard.js
Labels: EDTR Prototype

#1976 Create new EventProvider closes #1955
  assets/prototype/application/services/context/EventEditorEventIdProvider.js
  assets/prototype/domain/eventEditor/context/ContextProviders.js
  assets/prototype/domain/eventEditor/data/queries/events/useEventId.js
Labels: EDTR Prototype, status:merge

#2044 Created utility to Convert To & From UTC; closes #1943.
  assets/prototype/application/hooks/useTimeZoneTime.ts
  assets/prototype/application/services/config/useConfig.js
  assets/prototype/application/services/config/useConfig.ts
  assets/prototype/application/services/config/useConfigProvider.ts
  assets/prototype/application/services/context/ConfigProvider.js
  package-lock.json
  package.json
Labels: EDTR Prototype

#2019 Bug/restore ticket id attendee template
  modules/single_page_checkout/reg_steps/attendee_information/attendee_info_single.template.php
Labels: category:frontend-ui-&-ux

#2049 Rename NPM Scripts to Match Changes in EDTR
  package.json
Labels: category:assets, type:enhancement 🎉

#2061 Typefy relations manager
  assets/prototype/application/services/apollo/relations/types.ts
  assets/prototype/application/services/apollo/relations/useRelations.ts
  assets/prototype/application/services/apollo/relations/useRelationsManager.ts
Labels: EDTR Prototype, status:review

#2048 Add Date Comparison & Utility Predicates; closes #2041.
  assets/prototype/application/utilities/converters/number/index.js
  assets/prototype/application/utilities/converters/number/toInteger.js
  assets/prototype/application/utilities/date/addSub.ts
  assets/prototype/application/utilities/date/areEqual.ts
  assets/prototype/application/utilities/date/diff.ts
  assets/prototype/application/utilities/date/index.ts
  assets/prototype/application/utilities/date/sort.ts
  assets/prototype/domain/eventEditor/context/EventEditorEventIdProvider.js
  package-lock.json
  package.json
Labels: EDTR Prototype

#2058 Moved EntityTextFieldSearch; closes #2038.
  assets/prototype/application/services/entityTextFieldSearch/index.test.ts
  assets/prototype/application/services/entityTextFieldSearch/index.ts
  assets/src/tests/unit/index.test.ts
  config/paths.js
  config/tests/unit/jest.config.js
  package-lock.json
  package.json
Labels: EDTR Prototype

#2066 Typefy centralized mutator
  assets/prototype/application/hooks/useIfMounted.ts
  assets/prototype/application/services/apollo/mutations/index.ts
  assets/prototype/application/services/apollo/mutations/types.ts
  assets/prototype/application/services/apollo/mutations/useEntityMutation.ts
  assets/prototype/application/services/apollo/mutations/useEntityMutator.ts
  assets/prototype/application/services/apollo/mutations/useMutators.ts
  assets/prototype/domain/eventEditor/datetimes/dateCard/DateCard.js
  assets/prototype/domain/eventEditor/datetimes/dateCard/DeleteDateButton.tsx
  assets/prototype/domain/eventEditor/datetimes/dateCard/EditDateModal.js
  assets/prototype/domain/eventEditor/datetimes/dateList/AddNewDateModal.js
  assets/prototype/domain/eventEditor/tickets/hooks/useDeleteTicketHandler.js
  assets/prototype/domain/eventEditor/tickets/ticketCard/EditTicketModal.js
  assets/prototype/domain/eventEditor/tickets/ticketCard/TicketCard.js
  assets/prototype/domain/eventEditor/tickets/ticketList/AddNewTicketModal.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/hooks/useOnSubmitPrices.js
Labels: EDTR Prototype, status:review

#2065 Moved filterTicketEntities; closes #2042.
  assets/prototype/domain/shared/predicates/tickets/filters/archivedOnly.ts
  assets/prototype/domain/shared/predicates/tickets/filters/expiredOnly.ts
  assets/prototype/domain/shared/predicates/tickets/filters/index.ts
  assets/prototype/domain/shared/predicates/tickets/filters/nextOnSaleOrPendingOnly.ts
  assets/prototype/domain/shared/predicates/tickets/filters/onSaleAndPending.ts
  assets/prototype/domain/shared/predicates/tickets/filters/onSaleOnly.ts
  assets/prototype/domain/shared/predicates/tickets/filters/pendingOnly.ts
  assets/prototype/domain/shared/predicates/tickets/filters/percentSoldAtOrAbove.ts
  assets/prototype/domain/shared/predicates/tickets/filters/percentSoldBelow.ts
  assets/prototype/domain/shared/predicates/tickets/filters/soldOutOnly.ts
  assets/prototype/domain/shared/predicates/tickets/filters/sortTicketsList.ts
  assets/prototype/domain/shared/predicates/tickets/filters/validFiniteQuantity.ts
  assets/prototype/domain/shared/predicates/tickets/filters/validInfiniteQuantity.ts
  assets/prototype/domain/shared/predicates/tickets/index.ts
  assets/prototype/domain/shared/predicates/tickets/isArchived.ts
  assets/prototype/domain/shared/predicates/tickets/isExpired.ts
  assets/prototype/domain/shared/predicates/tickets/isOnSale.ts
  assets/prototype/domain/shared/predicates/tickets/isPending.ts
  assets/prototype/domain/shared/predicates/tickets/isValidEntityOrArchive.ts
  docs/AA--Javascript-in-EE/testing-javascript.md
  package-lock.json
  package.json
  tests/javascript-config/unit/jest.config.json
  tests/mocks/addons/eea-new-addon/package.json
  tests/mocks/addons/new-messages-template-pack-variation/package.json
  tests/mocks/addons/new-messages-template-pack/package.json
  tests/mocks/addons/new-payment-method/package.json
Labels: EDTR Prototype

#2086 Typefy entity mutators
  assets/prototype/application/services/apollo/mutations/types.ts
  assets/prototype/application/services/apollo/mutations/useEntityMutation.ts
  assets/prototype/application/services/apollo/relations/index.ts
  assets/prototype/domain/eventEditor/data/mutations/datetimes/index.ts
  assets/prototype/domain/eventEditor/data/mutations/datetimes/updateTicketCache.js
  assets/prototype/domain/eventEditor/data/mutations/datetimes/updateTicketCache.ts
  assets/prototype/domain/eventEditor/data/mutations/datetimes/useDatetimeMutator.js
  assets/prototype/domain/eventEditor/data/mutations/datetimes/useDatetimeMutator.ts
  assets/prototype/domain/eventEditor/data/mutations/datetimes/useOnCreateDatetime.ts
  assets/prototype/domain/eventEditor/data/mutations/datetimes/useOnDeleteDatetime.ts
  assets/prototype/domain/eventEditor/data/mutations/datetimes/useOnUpdateDatetime.ts
  assets/prototype/domain/eventEditor/data/mutations/datetimes/useUpdateDatetimeCache.js
  assets/prototype/domain/eventEditor/data/mutations/datetimes/useUpdateDatetimeCache.ts
  assets/prototype/domain/eventEditor/data/mutations/prices/index.ts
  assets/prototype/domain/eventEditor/data/mutations/prices/useOnCreatePrice.ts
  assets/prototype/domain/eventEditor/data/mutations/prices/useOnDeletePrice.ts
  assets/prototype/domain/eventEditor/data/mutations/prices/useOnUpdatePrice.ts
  assets/prototype/domain/eventEditor/data/mutations/prices/usePriceMutator.js
  assets/prototype/domain/eventEditor/data/mutations/prices/usePriceMutator.ts
  assets/prototype/domain/eventEditor/data/mutations/prices/useUpdatePriceCache.js
  assets/prototype/domain/eventEditor/data/mutations/prices/useUpdatePriceCache.ts
  assets/prototype/domain/eventEditor/data/mutations/tickets/index.ts
  assets/prototype/domain/eventEditor/data/mutations/tickets/updatePriceCache.js
  assets/prototype/domain/eventEditor/data/mutations/tickets/updatePriceCache.ts
  assets/prototype/domain/eventEditor/data/mutations/tickets/useOnCreateTicket.ts
  assets/prototype/domain/eventEditor/data/mutations/tickets/useOnDeleteTicket.ts
  assets/prototype/domain/eventEditor/data/mutations/tickets/useOnUpdateTicket.ts
  assets/prototype/domain/eventEditor/data/mutations/tickets/useTicketMutator.js
  assets/prototype/domain/eventEditor/data/mutations/tickets/useTicketMutator.ts
  assets/prototype/domain/eventEditor/data/mutations/tickets/useUpdateTicketCache.js
  assets/prototype/domain/eventEditor/data/mutations/tickets/useUpdateTicketCache.ts
  assets/prototype/domain/eventEditor/data/mutations/types.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/useDatetimeQueryOptions.ts
  assets/prototype/domain/eventEditor/data/queries/tickets/useTicketQueryOptions.ts
  assets/prototype/domain/eventEditor/data/queries/types.ts
  assets/prototype/domain/eventEditor/data/types.ts
Labels: EDTR Prototype, status:review

#2076 Refactor PossibleRelation type; closes #2064 and #1961.
  assets/prototype/application/services/apollo/relations/types.ts
  assets/prototype/domain/eventEditor/data/types.ts
  assets/prototype/domain/shared/types.d.ts
  codegen.yml
  package-lock.json
  package.json
Labels: EDTR Prototype

#2036 Ensure GraphQLManager is Loaded for EDTR closes #2025
  caffeinated/admin/extend/events/Extend_Events_Admin_Page.core.php
  core/EE_System.core.php
Labels: EDTR Prototype, status:review, type:enhancement 🎉

#2075 Fix the z-index for EDTR modals; closes #2022.
  assets/prototype/application/ui/components/forms/FormModal.js
  assets/prototype/application/ui/components/forms/styles.css
Labels: EDTR Prototype

#2093 Typefy global status flags
  assets/prototype/application/services/apollo/relations/useRelations.ts
  assets/prototype/application/services/apollo/relations/useRelationsManager.ts
  assets/prototype/application/services/apollo/status/index.ts
  assets/prototype/application/services/apollo/status/types.ts
  assets/prototype/application/services/apollo/status/useStatus.js
  assets/prototype/application/services/apollo/status/useStatus.ts
  assets/prototype/application/services/apollo/status/useStatusManager.ts
  assets/prototype/application/services/context/RelationsProvider.js
  assets/prototype/application/services/context/RelationsProvider.tsx
  assets/prototype/application/services/context/StatusProvider.js
  assets/prototype/application/services/context/StatusProvider.tsx
  assets/prototype/domain/eventEditor/data/queries/datetimes/useDatetimes.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/useFetchDatetimes.ts
  assets/prototype/domain/eventEditor/data/queries/priceTypes/useFetchPriceTypes.ts
  assets/prototype/domain/eventEditor/data/queries/priceTypes/usePriceTypes.ts
  assets/prototype/domain/eventEditor/data/queries/prices/useFetchPrices.ts
  assets/prototype/domain/eventEditor/data/queries/prices/usePrices.ts
  assets/prototype/domain/eventEditor/data/queries/tickets/useFetchTickets.ts
  assets/prototype/domain/eventEditor/data/queries/tickets/useTickets.ts
  assets/prototype/domain/eventEditor/data/queries/useCacheRehydration.ts
  assets/prototype/domain/eventEditor/datetimes/dateCard/DateCard.js
  assets/prototype/domain/eventEditor/datetimes/dateList/DateList.js
  assets/prototype/domain/eventEditor/tickets/ticketCard/TicketCard.js
  assets/prototype/domain/eventEditor/tickets/ticketList/TicketList.js
Labels: EDTR Prototype

#2087 Extract DatesList Filter Logic from EDTR v1; closes #2039.
  assets/prototype/domain/eventEditor/data/types.ts
  assets/prototype/domain/eventEditor/datetimes/dateList/filterBar/useDatesListFilterState.ts
  assets/prototype/domain/shared/predicates/datetimes/capacityAtOrAbove.ts
  assets/prototype/domain/shared/predicates/datetimes/capacityBelow.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/aboveCapacity.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/activeOnly.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/activeUpcoming.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/allDates.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/belowCapacity.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/expiredOnly.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/index.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/nextActiveUpcomingOnly.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/recentlyExpiredOnly.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/soldOutOnly.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/trashedOnly.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/upcomingOnly.ts
  assets/prototype/domain/shared/predicates/datetimes/isRecentlyExpired.ts
  assets/prototype/domain/shared/predicates/datetimes/validFiniteCapacityLimit.ts
  assets/prototype/domain/shared/predicates/datetimes/validInfiniteCapacityLimit.ts
  assets/prototype/domain/shared/predicates/datetimes/validSold.ts
  assets/prototype/domain/shared/predicates/datetimes/validStatus.ts
  assets/prototype/domain/shared/predicates/shared/constants.ts
Labels: EDTR Prototype

#2074 Moved and refactored open-editor-state; closes #1953.
  assets/prototype/application/ui/components/layout/editor-modal/useEditorModalState.ts
  assets/prototype/domain/eventEditor/context/DateTimeProvider.js
  assets/prototype/domain/eventEditor/context/TicketProvider.js
  assets/prototype/domain/eventEditor/datetimes/dateCard/EditDateButton.js
  assets/prototype/domain/eventEditor/tickets/ticketCard/EditTicketButton.js
  assets/prototype/domain/eventEditor/tickets/ticketCard/EditTicketModal.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceCalculatorButton.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceCalculatorModal.js
Labels: EDTR Prototype, status:in-progress

#2095 Improve TS CI build; closes #2094.
  config/webpack.common.js
  config/webpack.dev.js
  package-lock.json
  package.json
Labels: EDTR Prototype

#2099 Write tests for datetime queries
  assets/prototype/application/services/config/useConfigData.ts
  assets/prototype/application/services/context/ToastProvider.js
  assets/prototype/application/services/toaster/IconGraphQL.js
  assets/prototype/application/services/toaster/useDismissToast.js
  assets/prototype/application/services/toaster/useErrorToast.js
  assets/prototype/application/services/toaster/useInfoToast.js
  assets/prototype/application/services/toaster/useLoadingToast.js
  assets/prototype/application/services/toaster/useSuccessToast.js
  assets/prototype/application/services/toaster/useToaster.js
  assets/prototype/domain/eventEditor/context/ContextProviders.js
  assets/prototype/domain/eventEditor/context/TicketProvider.js
  assets/prototype/domain/eventEditor/data/queries/datetimes/test/contextWrapper.tsx
  assets/prototype/domain/eventEditor/data/queries/datetimes/test/data.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/test/useDatetimeIds.test.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/test/useDatetimeItem.test.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/test/useDatetimeQueryOptions.test.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/test/useDatetimes.test.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/test/useFetchDatetimes.test.ts
  assets/prototype/domain/eventEditor/index.js
  assets/prototype/domain/eventEditor/types.ts
  assets/prototype/infrastructure/services/apollo/Apollo.ts
  assets/prototype/infrastructure/services/apollo/Apollo.tsx
  config/tests/unit/jest.config.js
  package-lock.json
  package.json
Labels: EDTR Prototype, category:unit-tests, status:review

#2096 Add tests for hooks related to Dates filter logic reducers; closes #2091.
  assets/prototype/application/services/entityTextFieldSearch/index.test.ts
  assets/prototype/application/ui/components/layout/editor-modal/useEditorModalState.ts
  assets/prototype/domain/eventEditor/data/date/types.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/test/useDatetimeItem.test.ts
  assets/prototype/domain/eventEditor/datetimes/dateList/filterBar/controls/DatesSortedByControl.js
  assets/prototype/domain/eventEditor/datetimes/dateList/filterBar/useDatesListFilterState.test.ts
  assets/prototype/domain/eventEditor/datetimes/dateList/filterBar/useDatesListFilterState.ts
  assets/prototype/domain/eventEditor/tickets/ticketList/filterBar/controls/TicketsSortedByControl.js
  assets/prototype/domain/shared/predicates/datetimes/capacityAtOrAbove.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/aboveCapacity/index.test.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/aboveCapacity/index.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/activeOnly.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/index.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/upcomingOnly.ts
  assets/prototype/domain/shared/predicates/datetimes/sorters.ts
  assets/prototype/domain/shared/predicates/datetimes/validSold.ts
  assets/prototype/domain/shared/predicates/tickets/filters/sortTicketsList.ts
  package-lock.json
Labels: EDTR Prototype

#2104 Improve config provider
  assets/prototype/application/services/config/types.ts
  assets/prototype/application/services/config/useConfig.ts
  assets/prototype/application/services/config/useConfigData.ts
  assets/prototype/application/services/context/ConfigProvider.tsx
  assets/prototype/application/valueObjects/config/types.ts
  assets/prototype/domain/eventEditor/data/queries/currentUser/index.ts
  assets/prototype/domain/eventEditor/data/queries/currentUser/useCurrentUser.ts
  assets/prototype/domain/eventEditor/data/queries/currentUser/useFetchCurrentUser.ts
  assets/prototype/domain/eventEditor/data/queries/generalSettings/index.ts
  assets/prototype/domain/eventEditor/data/queries/generalSettings/useFetchGeneralSettings.ts
  assets/prototype/domain/eventEditor/data/queries/generalSettings/useGeneralSettings.ts
  assets/prototype/domain/eventEditor/data/queries/index.ts
  assets/prototype/domain/eventEditor/data/queries/useCacheRehydration.ts
  assets/prototype/domain/eventEditor/data/queries/useInitQueries.ts
  assets/prototype/domain/eventEditor/types.ts
  core/domain/services/admin/events/editor/AdvancedEditorEntityData.php
Labels: EDTR Prototype, status:review

#2108 Write tests for price queries
  assets/prototype/domain/eventEditor/data/queries/prices/test/data.ts
  assets/prototype/domain/eventEditor/data/queries/prices/test/useFetchPrices.test.ts
  assets/prototype/domain/eventEditor/data/queries/prices/test/useInitPriceStatus.ts
  assets/prototype/domain/eventEditor/data/queries/prices/test/useInitPriceTestCache.ts
  assets/prototype/domain/eventEditor/data/queries/prices/test/usePriceQueryOptions.test.ts
  assets/prototype/domain/eventEditor/data/queries/prices/test/usePrices.test.ts
Labels: EDTR Prototype, status:review

#2112 Centralize test context data
  assets/prototype/domain/eventEditor/context/ContextProviders.js
  assets/prototype/domain/eventEditor/context/index.ts
  assets/prototype/domain/eventEditor/context/test/TestContextProviders.js
  assets/prototype/domain/eventEditor/context/test/data.ts
  assets/prototype/domain/eventEditor/context/test/index.ts
  assets/prototype/domain/eventEditor/context/test/useDomTestData.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/test/data.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/test/useDatetimeIds.test.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/test/useDatetimeItem.test.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/test/useDatetimeQueryOptions.test.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/test/useDatetimes.test.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/test/useFetchDatetimes.test.ts
  assets/prototype/domain/eventEditor/data/queries/priceTypes/usePriceTypeQueryOptions.ts
  assets/prototype/domain/eventEditor/data/queries/priceTypes/usePriceTypes.ts
  assets/prototype/domain/eventEditor/data/queries/prices/test/data.ts
  assets/prototype/domain/eventEditor/data/queries/prices/test/useFetchPrices.test.ts
  assets/prototype/domain/eventEditor/data/queries/prices/test/usePriceQueryOptions.test.ts
  assets/prototype/domain/eventEditor/data/queries/prices/test/usePrices.test.ts
  assets/prototype/domain/eventEditor/data/queries/tickets/test/data.ts
  assets/prototype/domain/eventEditor/data/queries/tickets/test/useFetchTickets.test.ts
  assets/prototype/domain/eventEditor/data/queries/tickets/test/useTicketIds.test.ts
  assets/prototype/domain/eventEditor/data/queries/tickets/test/useTicketItem.test.ts
  assets/prototype/domain/eventEditor/data/queries/tickets/test/useTicketQueryOptions.test.ts
  assets/prototype/domain/eventEditor/data/queries/tickets/test/useTickets.test.ts
Labels: EDTR Prototype, category:unit-tests, status:review

#2114 Centralize test cache and status handling
  assets/prototype/domain/eventEditor/context/test/TestContextProviders.js
  assets/prototype/domain/eventEditor/context/test/useResetApolloCache.ts
  assets/prototype/domain/eventEditor/context/test/useSetGlobalStatusFlags.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/test/useDatetimeIds.test.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/test/useDatetimeItem.test.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/test/useDatetimes.test.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/test/useFetchDatetimes.test.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/test/useInitDatetimeStatus.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/test/useInitDatetimeTestCache.ts
  assets/prototype/domain/eventEditor/data/queries/prices/test/useFetchPrices.test.ts
  assets/prototype/domain/eventEditor/data/queries/prices/test/useInitPriceStatus.ts
  assets/prototype/domain/eventEditor/data/queries/prices/test/useInitPriceTestCache.ts
  assets/prototype/domain/eventEditor/data/queries/prices/test/usePrices.test.ts
  assets/prototype/domain/eventEditor/data/queries/tickets/test/useFetchTickets.test.ts
  assets/prototype/domain/eventEditor/data/queries/tickets/test/useInitTicketStatus.ts
  assets/prototype/domain/eventEditor/data/queries/tickets/test/useInitTicketTestCache.ts
  assets/prototype/domain/eventEditor/data/queries/tickets/test/useTicketIds.test.ts
  assets/prototype/domain/eventEditor/data/queries/tickets/test/useTicketItem.test.ts
  assets/prototype/domain/eventEditor/data/queries/tickets/test/useTickets.test.ts
Labels: EDTR Prototype, category:unit-tests, status:review
