Repository eventespresso/event-espresso-core, pull requests merged in 2019-05, with the labels that each got.

#1178 Jest Tests: Alias @wordpress/element to react
  tests/javascript-config/unit/jest.config.json
Labels: type:enhancement 🎉

#1182 Bug/missing columns in csv report
  core/data_migration_scripts/4_1_0_stages/EE_DMS_4_1_0_answers.dmsstage.php
  core/data_migration_scripts/4_1_0_stages/EE_DMS_4_1_0_questions.dmsstage.php
  core/libraries/batch/JobHandlers/RegistrationsReport.php
Labels: category:activation-installation-and-migration, category:reports-exporting-importing, type:bug 🐞

#1187 Add helper method for exposing filtered EE brand name and also expose to js (fixes #1183)
  core/domain/Domain.php
  core/domain/services/assets/CoreAssetManager.php
Labels: category:general, type:enhancement 🎉

#1190 Ensure eejs.i18n locale data for a handle is only set once per handle (fixes #969)
  core/services/assets/I18nRegistry.php
Labels: category:assets, category:i18n, type:bug 🐞

#1194 Ensure DMS casts sign_b4 property to boolean (fixes #1193)
  core/data_migration_scripts/4_1_0_stages/EE_DMS_4_1_0_org_options.dmsstage.php
Labels: category:activation-installation-and-migration, type:bug 🐞

#1186 Fix EE_Admin_Hooks not setting the correct value for _current_route (fixes #1185)
  core/admin/EE_Admin_Hooks.core.php
Labels: category:admin-pages, type:bug 🐞

#1189 Fix wonky conditionals in messengers (fixes #843)
  core/libraries/messages/messenger/EE_Email_messenger.class.php
  core/libraries/messages/messenger/EE_Html_messenger.class.php
Labels: category:messaging-&-messengers, type:bug 🐞

#1203 Improve BaseEntity.forClone method to allow for cloning primary key too.
  assets/src/data/model/entity-factory/base-entity.js
  assets/src/data/model/entity-factory/create.js
  assets/src/data/model/entity-factory/test/base-entity.js
Labels: category:assets, category:models-and-data-infrastructure, type:enhancement 🎉

#1196 Bug/fix markup validation issues
  admin_pages/events/help_tabs/event_editor_event_registration_options.help_tab.php
  admin_pages/events/help_tabs/event_editor_save_new_event.help_tab.php
  admin_pages/events/help_tabs/events_add_category.help_tab.php
  admin_pages/events/help_tabs/events_categories_table_column_headings.help_tab.php
  admin_pages/events/help_tabs/events_categories_views.help_tab.php
  admin_pages/events/help_tabs/events_edit_category.help_tab.php
  admin_pages/events/help_tabs/events_overview_filters.help_tab.php
  admin_pages/events/help_tabs/events_overview_table_column_headings.help_tab.php
  admin_pages/events/help_tabs/events_overview_views.help_tab.php
  admin_pages/messages/help_tabs/messages_overview_types.help_tab.php
  admin_pages/messages/templates/ee_msg_messages_templates_editor_help_tab.template.php
  admin_pages/registration_form/help_tabs/registration_form_add_question.help_tab.php
  admin_pages/registration_form/help_tabs/registration_form_add_question_group.help_tab.php
  admin_pages/registration_form/help_tabs/registration_form_edit_question.help_tab.php
  admin_pages/registration_form/help_tabs/registration_form_edit_question_group.help_tab.php
  admin_pages/registration_form/help_tabs/registration_form_question_groups_table_column_headings.help_tab.php
  admin_pages/registration_form/help_tabs/registration_form_question_groups_views_bulk_actions_search.help_tab.php
  admin_pages/registration_form/help_tabs/registration_form_questions_overview_table_column_headings.help_tab.php
  admin_pages/registration_form/help_tabs/registration_form_questions_overview_views_bulk_actions_search.help_tab.php
  admin_pages/registrations/help_tabs/registrations_contact_list_table_column_headings.help_tab.php
  admin_pages/registrations/help_tabs/registrations_contact_list_views.help_tab.php
  admin_pages/registrations/help_tabs/registrations_details_registrant_details.help_tab.php
  admin_pages/registrations/help_tabs/registrations_details_table.help_tab.php
  admin_pages/registrations/help_tabs/registrations_event_checkin_filters.help_tab.php
  admin_pages/registrations/help_tabs/registrations_event_checkin_table_column_headings.help_tab.php
  admin_pages/registrations/help_tabs/registrations_event_checkin_views.help_tab.php
  admin_pages/registrations/help_tabs/registrations_overview_filters.help_tab.php
  admin_pages/registrations/help_tabs/registrations_overview_table_column_headings.help_tab.php
  admin_pages/registrations/help_tabs/registrations_overview_views.help_tab.php
  admin_pages/transactions/help_tabs/transactions_overview_views_filters_search.help_tab.php
  admin_pages/transactions/help_tabs/transactions_view_transaction_attendees_registered.help_tab.php
  admin_pages/transactions/help_tabs/transactions_view_transaction_primary_registrant_billing_information.help_tab.php
  admin_pages/transactions/help_tabs/transactions_view_transaction_transaction_details_table.help_tab.php
  admin_pages/venues/help_tabs/venues_add_category.help_tab.php
  admin_pages/venues/help_tabs/venues_categories_table_column_headings.help_tab.php
  admin_pages/venues/help_tabs/venues_categories_views.help_tab.php
  admin_pages/venues/help_tabs/venues_edit_category.help_tab.php
  admin_pages/venues/help_tabs/venues_editor_save_new_venue.help_tab.php
  admin_pages/venues/help_tabs/venues_overview_table_column_headings.help_tab.php
  admin_pages/venues/help_tabs/venues_overview_views_bulk_actions_search.help_tab.php
  caffeinated/admin/new/pricing/help_tabs/pricing_add_new_default_price.help_tab.php
  caffeinated/admin/new/pricing/help_tabs/pricing_add_new_price_type.help_tab.php
  caffeinated/admin/new/pricing/help_tabs/pricing_default_pricing_table_column_headings.help_tab.php
  caffeinated/admin/new/pricing/help_tabs/pricing_default_pricing_views_bulk_actions_search.help_tab.php
  caffeinated/admin/new/pricing/help_tabs/pricing_edit_default_price.help_tab.php
  caffeinated/admin/new/pricing/help_tabs/pricing_edit_price_type.help_tab.php
  caffeinated/admin/new/pricing/help_tabs/pricing_price_types_table_column_headings.help_tab.php
  caffeinated/admin/new/pricing/help_tabs/pricing_price_types_views_bulk_actions_search.help_tab.php
Labels: category:admin-pages, category:i18n, type:bug 🐞, type:documentation 📖

#1191 Bug/fix display strategies extra trs and tds
  admin_pages/payments/Payments_Admin_Page.core.php
  admin_pages/registrations/Registrations_Admin_Page.core.php
  admin_pages/registrations/assets/espresso_registrations_admin.js
  admin_pages/registrations/form_sections/EE_Registration_Custom_Questions_Form.form.php
  caffeinated/modules/mijireh_slurper/templates/additional_content_on_gateway.template.php
  caffeinated/payment_methods/Mijireh/templates/mijireh_settings_after_form.template.php
  core/libraries/form_sections/strategies/layout/EE_Admin_Two_Column_Layout.strategy.php
  core/libraries/form_sections/strategies/layout/EE_Two_Column_Layout.strategy.php
  payment_methods/Invoice/templates/invoice_settings_header_display.template.php
  payment_methods/Invoice/templates/invoice_settings_header_gateway.template.php
  payment_methods/Paypal_Express/help_tabs/payment_methods_overview_paypal_express.help_tab.php
Labels: category:admin-page-ui-&-ux, status:needs-testing, type:bug 🐞

#1205 Fix and update About page's layout, fixes #1202
  admin_pages/about/templates/ee4-overview.template.php
  admin_pages/about/templates/reviews.template.php
  caffeinated/admin/extend/about/templates/ee4-overview.template.php
  core/admin/assets/admin-menu-styles.css
  core/admin/templates/about_admin_wrapper.template.php
Labels: category:admin-pages, status:merge, type:bug 🐞

#1209 Adds support for bin-2 mastercard card numbers
  core/libraries/form_sections/strategies/validation/EE_Credit_Card_Validation_Strategy.strategy.php
Labels: category:payment-methods, priority:high, type:bug 🐞

#1060 Fix batch job translated text on WPEngine etc
  core/libraries/batch/Assets/batch_runner.js
  modules/batch/EED_Batch.module.php
Labels: category:admin-pages, status:merge, type:bug 🐞

#1219 add a check to ensure that the registrations have been updated
  core/EE_Cron_Tasks.core.php
Labels: category:spco-&-registration, type:bug 🐞

#1233 Fixes #1231 Missing Thank You Page Transaction Details
  .travis.yml
  core/domain/services/admin/ajax/ThankYouPageIpnMonitor.php
  core/domain/services/admin/ajax/WordpressHeartbeat.php
Labels: category:spco-&-registration, priority:high, type:bug 🐞

#1212 Registrations admin Contact details box: Wrap with divs to allow for contained block elements
  admin_pages/registrations/assets/espresso_registrations_admin.css
  admin_pages/registrations/templates/reg_admin_details_side_meta_box_registrant.template.php
Labels: category:admin-pages, status:needs-testing, type:bug 🐞

#1201 Don't use ExceptionStackTraceDisplay() when catching an exception
  core/libraries/form_sections/form_handlers/SequentialStepFormManager.php
Labels: category:forms-systems, type:bug 🐞

#1260 move loading notices for entity lists
  assets/src/editor/events/dates-and-tickets-metabox/dates-and-tickets-metabox.js
  assets/src/editor/events/dates-and-times/editor-date/editor-dates-list.js
  assets/src/editor/events/tickets/editor-ticket/editor-tickets-list.js
Labels: category:assets, type:task ✅

#1261 update css to use new framework
  assets/src/components/form/base/form-data-debug-dump.css
  assets/src/components/form/base/form-placeholder.css
  assets/src/components/form/base/submitting-notice.css
  assets/src/components/form/inputs/base/input-error.css
  assets/src/components/form/inputs/inline-edit-input.css
  assets/src/components/form/layouts/two-column-admin/two-column-admin.css
  assets/src/components/ui/colors-default-theme-2019.css
  assets/src/components/ui/dates-and-times/biggie-calendar-date/style.css
  assets/src/components/ui/dates-and-times/calendar-date-range/style.css
  assets/src/components/ui/dates-and-times/calendar-page-date/style.css
  assets/src/components/ui/dates-and-times/medium-calendar-date/style.css
  assets/src/components/ui/entity-details-panel/style.css
  assets/src/components/ui/entity-list/style.css
  assets/src/components/ui/entity-paper-frame/style.css
  assets/src/components/ui/icon-menu-item/style.css
  assets/src/components/ui/index.js
  assets/src/components/ui/responsive-table/style.css
  assets/src/components/ui/styles/root/buttons.css
  assets/src/components/ui/styles/root/effects.css
  assets/src/components/ui/styles/root/font-styles.css
  assets/src/components/ui/styles/root/shadows.css
  assets/src/editor/editor.css
  assets/src/editor/events/dates-and-times/editor-date/actions-menu/style.css
  assets/src/editor/events/dates-and-times/editor-date/grid-view/editor-dates-grid-view.css
  assets/src/editor/events/dates-and-times/editor-date/list-view/editor-dates-list-view.css
  assets/src/editor/events/ticket-assignments-manager/ticket-assignments-manager.css
  assets/src/editor/events/tickets/editor-ticket/actions-menu/style.css
  assets/src/editor/events/tickets/editor-ticket/grid-view/editor-tickets-grid-view.css
  assets/src/editor/events/tickets/editor-ticket/list-view/editor-tickets-list-view.css
  assets/src/editor/events/tickets/editor-ticket/price-calculator/style.css
  assets/src/higher-order-components/filter-bar/style.css
  assets/src/higher-order-components/pagination/style.css
Labels: category:assets, type:task ✅

#1023 Improve help text for Default Registration Status option within event editor
  admin_pages/events/help_tabs/event_editor_event_registration_options.help_tab.php
  caffeinated/admin/extend/events/templates/event_registration_options.template.php
Labels: category:admin-pages, type:documentation 📖
