Repository eventespresso/event-espresso-core, pull requests merged in 2019-10, with the labels that each got.

#1649 Fix PayPal Pro gateway to send correct value for the State/Province field, fixes #453
  caffeinated/payment_methods/Paypal_Pro/EEG_Paypal_Pro.gateway.php
  caffeinated/payment_methods/Paypal_Pro/EE_PMT_Paypal_Pro.pm.php
Labels: category:payment-methods

#1613 Add ability to filter Reg admin list table by Attendee ID
  admin_pages/registrations/Registrations_Admin_Page.core.php
  core/EE_Dependency_Map.core.php
  core/admin/EE_Admin_Page_CPT.core.php
  core/db_classes/EE_Price.class.php
  core/domain/services/admin/registrations/list_table/QueryBuilder.php
  core/domain/services/admin/registrations/list_table/page_header/AttendeeFilterHeader.php
  core/domain/services/admin/registrations/list_table/page_header/DateFilterHeader.php
  core/domain/services/admin/registrations/list_table/page_header/EventFilterHeader.php
  core/domain/services/admin/registrations/list_table/page_header/TicketFilterHeader.php
  core/services/admin/AdminPageHeaderDecorator.php
  core/services/admin/AdminPageHeaderDecoratorInterface.php
  core/services/request/Request.php
  core/services/request/RequestInterface.php
  tests/mocks/admin/registrations/Registrations_Admin_Page_Mock.php
  tests/mocks/core/domain/services/admin/registrations/list_table/QueryBuilderMock.php
  tests/mocks/core/services/request/RequestMock.php
  tests/testcases/admin_pages/registrations/Registrations_Admin_Page_Test.php
  tests/testcases/core/db_models/EEM_Datetime_Test.php
  tests/testcases/core/domain/services/admin/registrations/list_table/QueryBuilderTest.php
  tests/testcases/core/domain/services/admin/registrations/list_table/page_header/AttendeeFilterHeaderTest.php
  tests/testcases/core/domain/services/admin/registrations/list_table/page_header/DateFilterHeaderTest.php
  tests/testcases/core/domain/services/admin/registrations/list_table/page_header/EventFilterHeaderTest.php
  tests/testcases/core/domain/services/admin/registrations/list_table/page_header/TicketFilterHeaderTest.php
Labels: category:admin-pages, status:needs-testing, type:enhancement 🎉

#1207 Add WP version to PUE stats data
  core/domain/services/pue/StatsGatherer.php
Labels: category:pue-uxip-and-licensing, status:needs-testing, type:enhancement 🎉

#1661 Show ticket details at admin
  admin_pages/registrations/assets/espresso_registrations_admin.css
  modules/single_page_checkout/reg_steps/attendee_information/EE_SPCO_Reg_Step_Attendee_Information.class.php
  modules/single_page_checkout/reg_steps/attendee_information/attendee_info_main.template.php
Labels: category:admin-page-ui-&-ux, category:spco-&-registration

#1662 Add Drag n Drop Reordering to ResponsiveTable Component
  assets/src/components/form/base/form-placeholder.css
  assets/src/components/form/layouts/two-column-admin/two-column-admin.css
  assets/src/components/ui/drop-down-menu/style.css
  assets/src/components/ui/entity-list/index.js
  assets/src/components/ui/entity-list/use-reorder-entities.js
  assets/src/components/ui/responsive-table/index.js
  assets/src/components/ui/responsive-table/responsive-table.js
  assets/src/components/ui/responsive-table/style.css
  assets/src/components/ui/responsive-table/table-body.js
  assets/src/components/ui/responsive-table/table-data-cell.js
  assets/src/components/ui/responsive-table/table-footer.js
  assets/src/components/ui/responsive-table/table-header-cell.js
  assets/src/components/ui/responsive-table/table-header.js
  assets/src/components/ui/responsive-table/table-row.js
  assets/src/components/ui/responsive-table/utils.js
  assets/src/editor/events/dates-and-times/editor-date/actions-menu/editor-date-entity-actions-menu.js
  assets/src/editor/events/dates-and-times/editor-date/editor-date-entities-list.js
  assets/src/editor/events/dates-and-times/editor-date/list-view/dates-list-table-header.js
  assets/src/editor/events/dates-and-times/editor-date/list-view/dates-list-table-row.js
  assets/src/editor/events/dates-and-times/editor-date/list-view/editor-date-entities-list-view.js
  assets/src/editor/events/dates-and-times/editor-date/list-view/use-reorder-dates.js
  assets/src/editor/events/ticket-assignments-manager/table/ticket-assignments-table.js
  assets/src/editor/events/ticket-assignments-manager/table/use-generate-date-header.js
  assets/src/editor/events/ticket-assignments-manager/table/use-generate-date-row.js
  assets/src/editor/events/ticket-assignments-manager/table/use-generate-ticket-cell.js
  assets/src/editor/events/ticket-assignments-manager/table/use-generate-year-row.js
  assets/src/editor/events/ticket-assignments-manager/table/use-ticket-headers.js
  assets/src/editor/events/ticket-assignments-manager/ticket-assignments-manager.css
  assets/src/editor/events/tickets/editor-ticket/actions-menu/editor-ticket-actions-menu.js
  assets/src/editor/events/tickets/editor-ticket/editor-ticket-entities-list.js
  assets/src/editor/events/tickets/editor-ticket/list-view/editor-ticket-entities-list-view.js
  assets/src/editor/events/tickets/editor-ticket/list-view/tickets-list-table-header.js
  assets/src/editor/events/tickets/editor-ticket/list-view/tickets-list-table-row.js
  assets/src/editor/events/tickets/editor-ticket/list-view/use-reorder-tickets.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/hooks/use-generate-price-modifier-row.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/hooks/use-ticket-price-calculator-form-decorator.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/hooks/use-ticket-price-calculator-form-header.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/hooks/use-ticket-price-calculator-form-schema.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/hooks/use-ticket-price-calculator-form-total-row.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/ticket-price-calculator-form-modal.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/ticket-price-calculator-form.js
  espresso.php
  js-green-licenses.json
  license.txt
  package-lock.json
  package.json
Labels: category:admin-page-ui-&-ux, category:assets, status:merge, type:enhancement 🎉

#1682 Extract Date Input Change Listener and Validation Logic into Hooks
  assets/src/editor/events/dates-and-times/editor-date/edit-form/date-entity-form.js
  assets/src/editor/events/dates-and-times/editor-date/edit-form/use-date-entity-input-config.js
  assets/src/editor/events/tickets/editor-ticket/edit-form/edit-ticket-form.js
  assets/src/editor/events/tickets/editor-ticket/edit-form/use-ticket-form-input-config.js
  assets/src/hooks/index.js
  assets/src/hooks/use-end-date-after-start-date-validator.js
  assets/src/hooks/use-end-date-change-listener.js
  assets/src/hooks/use-entity-date-change-listeners.js
  assets/src/hooks/use-entity-date-change-validators.js
  assets/src/hooks/use-start-date-change-listener.js
  assets/src/utils/get-server-date-time.js
  assets/src/utils/index.js
Labels: category:assets, status:review, type:enhancement 🎉

#1693 Validate Forms on Modal Close closes #1508
  assets/src/components/form/base/form-handler.js
  assets/src/components/form/base/form-info-base.js
  assets/src/components/form/layouts/two-column-admin/form-info.js
  assets/src/components/form/layouts/two-column-admin/form-section.js
  assets/src/components/ui/espresso-button/index.js
  assets/src/components/ui/image/espresso-icon.js
  assets/src/editor-hocs/editor-modal/editor-modal.js
  assets/src/editor/events/dates-and-times/editor-date/edit-form/date-entity-form-modal.js
  assets/src/editor/events/dates-and-times/editor-date/edit-form/date-entity-form.js
  assets/src/editor/events/tickets/editor-ticket/edit-form/edit-ticket-form.js
Labels: category:assets, status:review, type:enhancement 🎉

#1694 Add Utility for Parsing Placeholders in Strings closes #1498
  assets/src/components/form/base/form-info-base.js
  assets/src/components/ui/responsive-table/table.js
  assets/src/utils/index.js
  assets/src/utils/parse-html-placeholders.js
  assets/src/utils/test/parse-html-placeholders.js
Labels: category:assets, status:review, type:enhancement 🎉

#1698 Fix component props mutations
  assets/src/components/form/base/form-cancel-button.js
  assets/src/components/form/base/form-handler-form.js
  assets/src/components/form/base/form-info-base.js
  assets/src/components/form/base/form-submit-button.js
  assets/src/components/form/base/submitting-notice.js
  assets/src/components/form/inputs/base/input-label.js
  assets/src/components/form/inputs/base/option-checked-state.js
  assets/src/components/form/inputs/base/option-inputs.js
  assets/src/components/form/inputs/base/option-label-size.js
  assets/src/components/form/inputs/checkbox-input.js
  assets/src/components/form/inputs/icon-button-input.js
  assets/src/components/form/inputs/select-input.js
  assets/src/components/form/inputs/text-input.js
  assets/src/components/form/inputs/textarea.js
  assets/src/components/form/inputs/toggle-input.js
  assets/src/components/form/layouts/two-column-admin/form-buttons-row.js
  assets/src/components/form/layouts/two-column-admin/form-column.js
  assets/src/components/form/layouts/two-column-admin/form-info.js
  assets/src/components/form/layouts/two-column-admin/form-row.js
  assets/src/components/form/layouts/two-column-admin/form-section.js
  assets/src/components/form/layouts/two-column-admin/form-wrapper.js
  assets/src/components/form/model/base/build-options.js
  assets/src/components/ui/dates-and-times/biggie-calendar-date/index.js
  assets/src/components/ui/dates-and-times/calendar-date-range/index.js
  assets/src/components/ui/dates-and-times/medium-calendar-date/index.js
  assets/src/components/ui/drop-down-menu/index.js
  assets/src/components/ui/entity-details-panel/entity-detail.js
  assets/src/components/ui/entity-details-panel/entity-details-panel.js
  assets/src/components/ui/entity-list-filter-bar/entity-list-filter-bar.js
  assets/src/components/ui/entity-list/entity-list.js
  assets/src/components/ui/entity-pagination/entity-pagination.js
  assets/src/components/ui/espresso-button/index.js
  assets/src/components/ui/icon-menu-item/icon-menu-item.js
  assets/src/components/ui/loading-notice/index.js
  assets/src/components/ui/responsive-table/table-data-cell.js
  assets/src/components/ui/responsive-table/table-header-cell.js
  assets/src/components/ui/responsive-table/table.js
Labels: status:review, type:code-quality 👾

#1669 Enable copy attendee info at admin
  admin_pages/registrations/assets/spco_for_admin.js
  modules/single_page_checkout/reg_steps/attendee_information/EE_SPCO_Reg_Step_Attendee_Information.class.php
Labels: category:admin-page-ui-&-ux, category:admin-pages, category:spco-&-registration

#1617 Deprecate html_other_attributes
  caffeinated/admin/new/pricing/espresso_events_Pricing_Hooks.class.php
  core/libraries/form_sections/base/EE_Form_Section_Base.form.php
  core/libraries/form_sections/inputs/EE_Form_Input_Base.input.php
  core/libraries/form_sections/strategies/display/EE_Checkbox_Dropdown_Selector_Display_Strategy.strategy.php
  core/libraries/form_sections/strategies/layout/EE_Div_Per_Section_Layout.strategy.php
  modules/add_new_state/EED_Add_New_State.module.php
Labels: category:admin-pages, category:core-plugin, status:needs-testing, type:code-quality 👾

#1722 add a bunch of policies regarding translations
  docs/A--Best-Practices/php-standards.md
Labels: type:documentation 📖

#1738 Refactor class components to functional components js_only
  assets/src/components/form/base/with-form-container-and-placeholder.js
  assets/src/components/form/inputs/form-input.js
  assets/src/components/form/layouts/two-column-admin/auto-column-row.js
  assets/src/components/ui/dates-and-times/calendar-page-date/index.js
  assets/src/components/ui/image/avatar.js
  assets/src/higher-order-components/base-control.js
  assets/src/hooks/use-previous.js
Labels: category:assets, status:merge, type:code-quality 👾

#1740 Docs/statuses
  docs/G--Model-System/README.md
  docs/G--Model-System/statuses.md
Labels: category:models-and-data-infrastructure, status:review, type:documentation 📖

#1748 Ticket: price step updated.
  assets/src/editor/events/tickets/editor-ticket/edit-form/use-ticket-form-input-config.js
Labels: category:admin-page-ui-&-ux

#1746 Ticket: fix copy action button.
  assets/src/hooks/use-copy-ticket.js
Labels: category:admin-page-ui-&-ux

#1758 Ticket Price Calculator modal: replaced disabled base price with a label.
  assets/src/components/form/layouts/two-column-admin/two-column-admin.css
  assets/src/editor/events/tickets/editor-ticket/price-calculator/hooks/use-base-price.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/hooks/use-ticket-price-calculator-form-rows.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/price-modifier-row/delete-price-modifier-action-button.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/price-modifier-row/price-amount-input.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/price-modifier-row/price-type-input.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/utils/get-base-price.js
Labels: category:admin-page-ui-&-ux, status:review

#1741 Add territories eh
  core/data_migration_scripts/EE_DMS_Core_4_1_0.dms.php
Labels: category:i18n, type:task 🧹
