Repository eventespresso/event-espresso-core, pull requests merged in 2019-09, with the labels that each got.

#1566 Show the more specific error when trouble setting redirect URL in gateway
  modules/single_page_checkout/reg_steps/payment_options/EE_SPCO_Reg_Step_Payment_Options.class.php
Labels: category:payment-methods, category:spco-&-registration, status:needs-testing, type:enhancement 🎉, type:user-proofing 🛡

#1556 avoid incorrectly triggering DMS scripts when on a version 4.x.0.decaf
  core/data_migration_scripts/EE_DMS_Core_4_10_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_1_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_2_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_3_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_5_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_6_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_7_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_8_0.dms.php
  core/data_migration_scripts/EE_DMS_Core_4_9_0.dms.php
Labels: category:activation-installation-and-migration, status:feedback-needed, type:bug 🐞

#1555 Fet/add toggle display copy info option
  caffeinated/admin/extend/registration_form/Extend_Registration_Form_Admin_Page.core.php
  core/EE_Config.core.php
  modules/single_page_checkout/reg_steps/attendee_information/EE_SPCO_Reg_Step_Attendee_Information.class.php
Labels: category:admin-pages, category:frontend-ui-&-ux, category:spco-&-registration, type:enhancement 🎉

#1588 Doc/eejs dependency implied gutenberg dependency
  docs/AA--Javascript-in-EE/eejs-core-dependency.md
  docs/AA--Javascript-in-EE/eejs-data-api.md
Labels: category:assets, type:documentation 📖

#1605 Bug/dompdf hotfix
  core/third_party_libs/dompdf/lib/Cpdf.php
  core/third_party_libs/dompdf/src/Css/Stylesheet.php
  core/third_party_libs/dompdf/src/Dompdf.php
  core/third_party_libs/dompdf/src/Renderer/Text.php
Labels: category:messaging-&-messengers, category:third-party-libs, type:bug 🐞

#1608 Fix Issues with Price Calculator
  assets/dist/build-manifest.json
  assets/dist/eventespresso-components.53e0ff12e996cac42092.dist.js
  assets/dist/eventespresso-editor.0bc57dcecd6a5aa8bfde.dist.deps.json
  assets/dist/eventespresso-editor.0bc57dcecd6a5aa8bfde.dist.js
  assets/dist/eventespresso-editor.1629f2de87fee07c8412.dist.js
  assets/dist/eventespresso-editor.5a1765053cb348467527.dist.deps.json
  assets/dist/eventespresso-hooks.12c7f20801d1523a385e.dist.deps.json
  assets/dist/eventespresso-hooks.12c7f20801d1523a385e.dist.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/hooks/use-generate-price-modifier-row.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/hooks/use-ticket-price-calculator-form-schema.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/price-modifier-row/add-price-modifier-action-button.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/price-modifier-row/price-amount-input.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/price-modifier-row/price-type-input.js
  assets/src/editor/helpers/forms/use-price-type-options-for-select-input.js
Labels: category:assets, status:review, type:bug 🐞

#1607 Fix Stale Date - Ticket Relations
  assets/src/editor/events/ticket-assignments-manager/hooks/use-ticket-assignments.js
  assets/src/editor/events/ticket-assignments-manager/submit-ticket-assignments-button.js
  assets/src/hooks/use-create-relations-for-event-date-id-to-ticket-ids.js
  assets/src/hooks/use-remove-relations-for-event-date-id-to-ticket-ids.js
Labels: category:assets, status:feedback-needed, status:review, type:bug 🐞

#1609 Fix the date time input component
  assets/src/components/form/inputs/date-time-input.js
Labels: category:assets, status:review, type:bug 🐞

#1610 add check for help tours setting to load scripts only if needed
  core/admin/EE_Admin_Page.core.php
Labels: category:admin-pages, category:third-party-libs

#1611 Fix Ticket Registrations Link
  assets/dist/build-manifest.json
  assets/dist/eventespresso-components.53e0ff12e996cac42092.dist.js
  assets/dist/eventespresso-components.e47209821177925c3b96.dist.deps.json
  assets/dist/eventespresso-components.e47209821177925c3b96.dist.js
  assets/dist/eventespresso-editor.0cacba69b95779458bdd.dist.css
  assets/dist/eventespresso-editor.790437fdb98cf512f4d1.dist.css
  assets/dist/eventespresso-editor.e325586f8206046c4a20.dist.deps.json
  assets/dist/eventespresso-editor.e325586f8206046c4a20.dist.js
  assets/src/editor/editor.css
  assets/src/editor/events/tickets/editor-ticket/grid-view/ticket-details-panel.js
  assets/src/editor/events/tickets/editor-ticket/ticket-registrations-link.js
Labels: category:assets, status:feedback-needed, status:review, type:enhancement 🎉

#1598 Add propTypes and defaultProps to components
  assets/src/components/ui/entity-list/index.js
  assets/src/components/ui/image/espresso-icon.js
  assets/src/components/ui/price-type-sign/price-type-sign.js
  assets/src/components/ui/responsive-table/responsive-cell.js
  assets/src/components/ui/responsive-table/table-body.js
  assets/src/components/ui/responsive-table/table-data-cell.js
  assets/src/components/ui/responsive-table/table-footer.js
  assets/src/components/ui/responsive-table/table-header.js
  assets/src/components/ui/responsive-table/table-heading-cell.js
  assets/src/components/ui/responsive-table/table-row.js
  assets/src/components/ui/responsive-table/table.js
  assets/src/editor/events/dates-and-times/editor-date/actions-menu/editor-date-entity-actions-menu.js
  assets/src/editor/events/dates-and-times/editor-date/actions-menu/menu-items/assign-tickets-menu-item.js
  assets/src/editor/events/dates-and-times/editor-date/actions-menu/menu-items/date-entity-main-menu-item.js
  assets/src/editor/events/dates-and-times/editor-date/actions-menu/menu-items/edit-date-details-menu-item.js
  assets/src/editor/events/dates-and-times/editor-date/edit-form/date-entity-form-modal.js
  assets/src/editor/events/dates-and-times/editor-date/edit-form/date-entity-form.js
  assets/src/editor/events/dates-and-times/editor-date/event-date-registrations-link.js
  assets/src/editor/events/dates-and-times/editor-date/event-date-venue-edit-link.js
  assets/src/editor/events/dates-and-times/editor-date/grid-view/editor-date-entities-grid-view.js
  assets/src/editor/events/dates-and-times/editor-date/grid-view/editor-date-entity-details.js
  assets/src/editor/events/dates-and-times/editor-date/grid-view/editor-date-entity-grid-item.js
  assets/src/editor/events/dates-and-times/editor-date/grid-view/event-date-calendar-date.js
  assets/src/editor/events/dates-and-times/editor-date/grid-view/event-date-details-panel.js
  assets/src/editor/events/dates-and-times/editor-date/grid-view/inline-edit-event-date-description.js
  assets/src/editor/events/dates-and-times/editor-date/grid-view/inline-edit-event-date-name.js
  assets/src/editor/events/dates-and-times/editor-date/list-view/editor-date-entities-list-view.js
  assets/src/editor/events/ticket-assignments-manager/ticket-assignments-form-error-info.js
  assets/src/editor/events/tickets/editor-ticket/actions-menu/editor-ticket-actions-menu.js
  assets/src/editor/events/tickets/editor-ticket/actions-menu/menu-items/assign-dates-menu-item.js
  assets/src/editor/events/tickets/editor-ticket/actions-menu/menu-items/edit-ticket-details-menu-item.js
  assets/src/editor/events/tickets/editor-ticket/actions-menu/menu-items/ticket-entity-main-menu-item.js
  assets/src/editor/events/tickets/editor-ticket/edit-form/edit-ticket-form-modal.js
  assets/src/editor/events/tickets/editor-ticket/edit-form/edit-ticket-form.js
  assets/src/editor/events/tickets/editor-ticket/grid-view/editor-ticket-entities-grid-view.js
  assets/src/editor/events/tickets/editor-ticket/grid-view/editor-ticket-entity-details.js
  assets/src/editor/events/tickets/editor-ticket/grid-view/editor-ticket-entity-grid-item.js
  assets/src/editor/events/tickets/editor-ticket/grid-view/inline-edit-ticket-description.js
  assets/src/editor/events/tickets/editor-ticket/grid-view/inline-edit-ticket-name.js
  assets/src/editor/events/tickets/editor-ticket/grid-view/inline-edit-ticket-price.js
  assets/src/editor/events/tickets/editor-ticket/grid-view/ticket-details-panel.js
  assets/src/editor/events/tickets/editor-ticket/list-view/editor-ticket-entities-list-view.js
  assets/src/editor/events/tickets/editor-ticket/list-view/tickets-list-table-row.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/form-info-ticket-price-reverse-calculation.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/form-info-warning-no-ticket-prices.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/price-modifier-row/add-price-modifier-action-button.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/price-modifier-row/delete-price-modifier-action-button.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/price-modifier-row/price-amount-input.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/price-modifier-row/price-description-input.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/price-modifier-row/price-id-input.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/price-modifier-row/price-name-input.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/price-modifier-row/price-type-input.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/ticket-price-calculator-form-hidden-inputs.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/ticket-price-calculator-form-modal.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/ticket-price-calculator-form.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/ticket-price-calculator-menu-item.js
Labels: category:assets, status:review

#1614 Edtr/refactor vaidate date time
  assets/src/components/form/base/form-handler-form.js
  assets/src/components/form/inputs/date-time-input.js
  assets/src/components/form/inputs/date-time-picker.js
  assets/src/editor/events/dates-and-times/editor-date/edit-form/date-entity-form.js
  assets/src/editor/events/dates-and-times/editor-date/edit-form/use-date-entity-form-schema.js
  assets/src/editor/events/dates-and-times/editor-date/edit-form/use-date-entity-input-config.js
  assets/src/editor/helpers/forms/generate-form-input-from-config.js
  package-lock.json
  package.json
Labels: category:admin-page-ui-&-ux, category:assets, status:review, type:bug 🐞

#1597 Add filter that allows to override tours
  core/admin/EE_Admin_Page.core.php
Labels: category:admin-page-ui-&-ux, status:needs-testing

#1616 Refactor InlineEditInput to functional component
  assets/src/components/form/inputs/inline-edit-input.js
  assets/src/components/form/inputs/inline-edit-input/display.js
  assets/src/components/form/inputs/inline-edit-input/edit.js
  assets/src/components/form/inputs/inline-edit-input/index.js
  assets/src/components/form/inputs/inline-edit-input/spinner.js
  assets/src/components/form/inputs/inline-edit-input/style.css
  assets/src/hooks/index.js
  assets/src/hooks/use-previous.js
Labels: category:assets, status:merge, type:enhancement 🎉

#1592 Increase Reg Group Size instead count
  core/domain/services/registration/CreateRegistrationService.php
Labels: type:bug 🐞

#1537 Fet/Enable add registration at admin
  modules/ticket_selector/DisplayTicketSelector.php
  modules/ticket_selector/TicketSelectorRow.php
  modules/ticket_selector/TicketSelectorRowStandard.php
Labels: category:admin-pages, category:spco-&-registration, type:enhancement 🎉

#1619 Refactor Radio and Checkbox inputs
  assets/src/components/form/inputs/checkbox-input.js
  assets/src/components/form/inputs/radio-input.js
Labels: category:assets, status:merge, type:task 🧹

#1623 Remove memoization for getEntitiesForModel
  assets/src/data/eventespresso/core/selectors/entities.js
  assets/src/data/eventespresso/core/selectors/test/entities.js
Labels: category:assets, status:merge, type:bug 🐞

#1636 Fix coffee cup icon location on front end admin bar (WP 5.3)
  core/templates/global_assets/css/espresso_default.css
Labels: status:merge, type:bug 🐞

#1638 Fix Ticket Editor Form Modal
  assets/src/editor-hocs/editor-modal/editor-modal.js
  assets/src/editor-hocs/editor-modal/use-close-editor.js
  assets/src/editor/events/tickets/editor-ticket/actions-menu/editor-ticket-actions-menu.js
  assets/src/editor/events/tickets/editor-ticket/add-new-ticket-button.js
  assets/src/editor/events/tickets/editor-ticket/edit-form/edit-ticket-form-modal.js
  assets/src/editor/events/tickets/editor-ticket/edit-form/edit-ticket-form.js
  assets/src/editor/events/tickets/editor-ticket/edit-form/use-ticket-editor-id.js
Labels: category:admin-page-ui-&-ux, category:assets, status:merge, type:bug 🐞

#1639 Fix and Standardize Imports and Exports as well as PropTypes
  assets/src/components/form/base/auto-form-row.js
  assets/src/components/form/base/form-container.js
  assets/src/components/form/base/form-data-debug-dump.js
  assets/src/components/form/base/form-handler-form.js
  assets/src/components/form/index.js
  assets/src/components/form/inputs/base/default-input-layout.js
  assets/src/components/form/inputs/base/input-error.js
  assets/src/components/form/inputs/base/input-help-text.js
  assets/src/components/form/inputs/base/input-label.js
  assets/src/components/form/inputs/base/option-checked-state.js
  assets/src/components/form/inputs/base/option-inputs.js
  assets/src/components/form/inputs/base/option-label-size.js
  assets/src/components/form/inputs/checkbox-input.js
  assets/src/components/form/inputs/date-time-input.js
  assets/src/components/form/inputs/form-input.js
  assets/src/components/form/inputs/hidden-input.js
  assets/src/components/form/inputs/icon-button-input.js
  assets/src/components/form/inputs/inline-edit-input/index.js
  assets/src/components/form/inputs/radio-input.js
  assets/src/components/form/inputs/select-input.js
  assets/src/components/form/inputs/text-input.js
  assets/src/components/form/inputs/textarea.js
  assets/src/components/form/inputs/toggle-input.js
  assets/src/components/form/layouts/two-column-admin/form-buttons-row.js
  assets/src/components/form/layouts/two-column-admin/form-column.js
  assets/src/components/form/layouts/two-column-admin/form-row.js
  assets/src/components/form/layouts/two-column-admin/form-save-cancel-buttons.js
  assets/src/components/form/layouts/two-column-admin/index.js
  assets/src/components/ui/entity-details-panel/entity-detail.js
  assets/src/components/ui/responsive-table/responsive-cell.js
  assets/src/editor/events/dates-and-times/editor-date/edit-form/date-entity-form-modal.js
  assets/src/editor/events/dates-and-times/editor-date/edit-form/date-entity-form.js
  assets/src/editor/events/dates-and-times/editor-date/editor-date-entities-list.js
  assets/src/editor/events/ticket-assignments-manager/ticket-assignments-manager.js
  assets/src/editor/events/tickets/editor-ticket/editor-ticket-entities-list.js
Labels: category:assets, status:merge, type:bug 🐞, type:enhancement 🎉

#1640 Better Handling for Entity Dates and Potentially Infinite Values
  assets/src/editor/events/dates-and-times/editor-date/edit-form/use-date-entity-form-schema.js
  assets/src/editor/events/dates-and-times/editor-date/edit-form/use-date-entity-input-config.js
  assets/src/editor/events/tickets/editor-ticket/edit-form/use-ticket-form-input-config.js
  assets/src/editor/events/tickets/editor-ticket/edit-form/use-ticket-form-schema.js
  assets/src/hooks/use-create-date-entity.js
  assets/src/hooks/use-create-ticket-entity.js
  assets/src/utils/parse-infinity.js
Labels: category:assets, status:merge, type:enhancement 🎉

#1641 Edtr/refactor remove alias getters and setters
  assets/src/data/model/entity-factory/constants.js
  assets/src/data/model/entity-factory/create.js
  assets/src/data/model/entity-factory/test/base-entity.js
  assets/src/data/model/entity-factory/test/create.js
Labels: category:assets, status:merge, type:enhancement 🎉

#1637 Fix issue at mobile/firefox with WP 5.3 beta
  core/admin/assets/admin-menu-styles.css
Labels: category:core-plugin, status:review

#1606 Fix RECIPIENT_DATETIME_LIST shortcodes
  core/libraries/shortcodes/EE_Recipient_List_Shortcodes.lib.php
Labels: category:messaging-&-messengers, status:merge, type:bug 🐞

#1650 Display Entity CUIDs in Grid View and show Loading Notice when Creating Entities (plus some other fixes)
  assets/src/components/form/inputs/inline-edit-input/display.js
  assets/src/components/form/inputs/inline-edit-input/index.js
  assets/src/components/form/inputs/inline-edit-input/style.css
  assets/src/components/ui/entity-details-panel/index.js
  assets/src/components/ui/entity-list/entity-list.js
  assets/src/components/ui/entity-list/index.js
  assets/src/components/ui/entity-paper-frame/entity-cuid.js
  assets/src/components/ui/entity-paper-frame/entity-paper-frame.js
  assets/src/components/ui/entity-paper-frame/index.js
  assets/src/components/ui/entity-paper-frame/style.css
  assets/src/components/ui/index.js
  assets/src/components/ui/loading-notice/index.js
  assets/src/components/ui/loading-notice/style.css
  assets/src/editor/events/dates-and-times/editor-date/add-new-date-entity-button.js
  assets/src/editor/events/dates-and-times/editor-date/grid-view/editor-date-entities-grid-view.css
  assets/src/editor/events/dates-and-times/editor-date/grid-view/editor-date-entity-details.js
  assets/src/editor/events/dates-and-times/editor-date/grid-view/editor-date-entity-grid-item.js
  assets/src/editor/events/tickets/editor-ticket/add-new-ticket-button.js
  assets/src/editor/events/tickets/editor-ticket/edit-form/use-ticket-form-input-config.js
  assets/src/editor/events/tickets/editor-ticket/grid-view/editor-ticket-entity-details.js
  assets/src/editor/events/tickets/editor-ticket/grid-view/editor-ticket-entity-grid-item.js
  assets/src/editor/events/tickets/editor-ticket/grid-view/inline-edit-ticket-price.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/hooks/use-generate-price-modifier-row.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/hooks/use-ticket-base-price-calculator.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/hooks/use-ticket-total-calculator.js
  assets/src/editor/helpers/forms/use-price-type-options-for-select-input.js
  assets/src/hooks/use-base-price-type.js
  assets/src/hooks/use-create-ticket-entity.js
Labels: category:admin-page-ui-&-ux, category:assets, status:merge, type:bug 🐞, type:enhancement 🎉
