Repository eventespresso/event-espresso-core, pull requests merged in 2019-06, with the labels that each got.

#1266 Add closing div tag where needed, fixes #427
  admin_pages/registrations/Registrations_Admin_Page.core.php
Labels: category:admin-pages, category:ticket-selector, status:merge, type:bug 🐞

#1282 Fix broken master due to #1272
  assets/dist/ee-components.10aa00b0631273cd32e3.dist.css
  assets/dist/ee-components.2d1446ac1cb688eac9e7.dist.js
  assets/dist/ee-core-default-theme.010dd3f81560ed4bf186.dist.css
  assets/dist/ee-core-default-theme.8245037588123ce1715f.dist.js
  assets/dist/ee-editor-hocs.15a813aac7a51b5473cb.dist.js
  assets/dist/ee-eejs.03803b7b5a6666b954f0.dist.js
  assets/dist/ee-eventespresso-core-blocks-frontend.3e0494a23b30a299d1b4.dist.js
  assets/dist/ee-eventespresso-core-blocks-frontend.883f26b19aa88cfe9891.dist.css
  assets/dist/ee-eventespresso-core-blocks.1147b3fe8d3c953d485a.dist.js
  assets/dist/ee-eventespresso-core-blocks.883f26b19aa88cfe9891.dist.css
  assets/dist/ee-helpers.3b38e5a12cfc93e7e1a1.dist.js
  assets/dist/ee-hocs.807a6fd12b9dbfbdd080.dist.js
  assets/dist/ee-model.96f303a9ffca2d4002f2.dist.js
  assets/dist/ee-validators.299a9413a62fd9fadb1c.dist.js
  assets/dist/ee-valueObjects.0bab8c7e4fbdcca83a0d.dist.js
  assets/dist/ee-wp-plugins-page.bfbcb524b1649be837c8.dist.js
  assets/dist/ee-wp-plugins-page.bff04b6b9d88e9edd2bb.dist.css
  package-lock.json
  package.json
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Labels: category:assets, priority:critical 🔥, type:build-process 🔨

#1273 Implement semantic improvements for admin tabs
  caffeinated/admin/new/pricing/assets/espresso_pricing_admin.css
  core/helpers/EEH_Tabbed_Content.helper.php
Labels: category:accessibility, category:admin-pages, status:merge

#1277 Fix Contact record metabox's "Created on: " string
  admin_pages/registrations/Registrations_Admin_Page.core.php
Labels: category:i18n, status:merge, type:bug 🐞

#1280 Add ACF compatibility shim (fixes #348)
  core/bootstrap_espresso.php
  core/third-party-compatibility.php
Labels: type:enhancement 🎉

#1287 Remove dependency on Moment lib from DateTimeDropdown
  assets/src/components/form/inputs/date-time-input.css
  assets/src/components/form/inputs/date-time-input.js
  assets/src/editor/events/dates-and-times/editor-date/edit-form/edit-event-date-form-modal.js
  assets/src/editor/events/dates-and-times/editor-date/edit-form/event-date-entity-form-submit-handler.js
Labels: category:assets, type:enhancement 🎉

#1288 Remove isPrimary references from event dates
  assets/src/editor/events/dates-and-times/editor-date/edit-form/event-date-entity-form-inputs.js
  assets/src/editor/events/dates-and-times/editor-date/edit-form/event-date-entity-form-schema.js
Labels: category:assets, type:task ✅

#1274 fix path to server-date-time
  assets/dist/build-manifest.json
  assets/dist/eventespresso-value-objects.4588f4ead57312163373.dist.js
  assets/dist/eventespresso-value-objects.b0df75b94d49a76d9c44.dist.deps.json
  assets/dist/eventespresso-value-objects.b0df75b94d49a76d9c44.dist.js
  assets/src/data/model/entity-factory/test/base-entity.js
  assets/src/vo/date-time/datetime.js
  assets/src/vo/date-time/index.js
Labels: category:assets, type:bug 🐞

#1296 Remove duplicate of Ticket's description from list of prices fixes #672
  caffeinated/modules/ticket_selector_caff/templates/ticket_selector_price_details.template.php
Labels: category:templates-shortcodes-and-widgets, category:ticket-selector, type:bug 🐞

#1297 Add street address to ld json output
  core/helpers/EEH_Schema.helper.php
  core/templates/json_linked_data_for_event.template.php
Labels: category:templates-shortcodes-and-widgets, status:merge, type:bug 🐞, type:feature-request 🙏

#1264 Filter out line items not related to the registration for registration details (fixes #1210)
  admin_pages/registrations/Registrations_Admin_Page.core.php
Labels: category:admin-page-ui-&-ux, type:bug 🐞

#1303 remove single quotes from line items and descriptions sent to AIM
  caffeinated/payment_methods/Aim/EEG_Aim.gateway.php
Labels: category:payment-methods, status:needs-testing, type:bug 🐞

#1283 Set styles for admin progress-related ee-notices Fixes #1279
  core/templates/global_assets/css/espresso_default.css
Labels: category:admin-pages, status:merge, type:bug 🐞

#1309 Fix server date time date time instance swap on static fluent setters and creators (fixes #1301)
  assets/dist/build-manifest.json
  assets/dist/eventespresso-value-objects.440e97638e3ae6b08555.dist.deps.json
  assets/dist/eventespresso-value-objects.440e97638e3ae6b08555.dist.js
  assets/dist/eventespresso-value-objects.b0df75b94d49a76d9c44.dist.js
  assets/src/vo/date-time/datetime.js
  assets/src/vo/date-time/server-date-time.js
  assets/src/vo/test/server-datetime.js
Labels: category:assets, category:models-and-data-infrastructure, type:bug 🐞

#1308 Add parameter onto RequestInterface::requestUri to get uri relative to WP root
  core/domain/services/contexts/RequestTypeContextDetector.php
  core/services/request/Request.php
  core/services/request/RequestInterface.php
  tests/mocks/core/services/request/RequestMock.php
Labels: category:core-plugin, category:models-and-data-infrastructure, php, type:bug 🐞

#1341 Add preact-context to the whitelist for license checks
  js-green-licenses.json
Labels: category:assets, type:build-process 🔨

#1312 Event list shortcodes should allow 'Organization' shortcodes.
  core/libraries/shortcodes/EE_Event_List_Shortcodes.lib.php
  core/libraries/shortcodes/EE_Organization_Shortcodes.lib.php
Labels: category:messaging-&-messengers, type:bug 🐞

#1345 fix sort tickets chronologically
  assets/src/editor/events/tickets/editor-ticket/filter-bar/ticket-entities-list-filter-utils.js
Labels: category:assets, type:bug 🐞

#1344 export editor hocs
  assets/src/components/ui/entity-list/index.js
  assets/src/editor/events/hocs/with-editor-ticket-entities.js
  assets/src/editor/events/index.js
Labels: category:assets, type:bug 🐞

#1327 Include all tickets when performing a sold out check.
  core/db_classes/EE_Event.class.php
Labels: category:admin-pages, type:bug 🐞

#1347 add date input calendar button
  assets/src/components/form/inputs/date-time-input.css
  assets/src/components/form/inputs/date-time-input.js
  assets/src/components/form/layouts/two-column-admin/two-column-admin.css
  assets/src/components/ui/entity-details-panel/style.css
Labels: category:assets, type:enhancement 🎉

#1346 display ticket price in entity list
  assets/src/editor/events/dates-and-times/editor-date/list-view/editor-date-entities-list-view.css
  assets/src/editor/events/tickets/editor-ticket/list-view/editor-ticket-entities-list-view.css
  assets/src/editor/events/tickets/editor-ticket/list-view/editor-ticket-entities-list-view.js
  assets/src/editor/events/tickets/editor-ticket/list-view/editor-ticket-entity-list-item.js
Labels: category:assets, type:enhancement 🎉

#1314 update jsdocs for return values
  assets/src/vo/date-time/datetime.js
Labels: category:assets, type:enhancement 🎉

#1353 Add test fixtures for tickets
  tests/javascript-config/unit/fixtures/entities.js
  tests/javascript-config/unit/fixtures/factories.js
  tests/javascript-config/unit/fixtures/index.js
  tests/javascript-config/unit/fixtures/ticket-response-authed.js
  tests/javascript-config/unit/fixtures/ticket-schema.js
Labels: category:assets, category:unit-tests, type:enhancement 🎉

#1343 Batch system checks nonces, and remove unnecessary error message
  core/helpers/EEH_URL.helper.php
  modules/batch/EED_Batch.module.php
Labels: category:security, type:bug 🐞

#1359 add filter hook to allow for changing/adding to the heading displayed…
  modules/single_page_checkout/reg_steps/payment_options/EE_SPCO_Reg_Step_Payment_Options.class.php
Labels: category:spco-&-registration, status:needs-testing, type:enhancement 🎉

#1364 add edit route for the venues admin
  assets/src/eejs/routes.js
Labels: category:assets, type:enhancement 🎉

#1351 attempt to add unit test to demonstrate issue
  assets/src/data/eventespresso/core/selectors/test/relations.js
Labels: category:assets, type:bug 🐞

#1363 mark model objects as dirty when datetimes are set too
  core/db_classes/EE_Base_Class.class.php
Labels: category:models-and-data-infrastructure, status:needs-testing, type:bug 🐞

#1356 Fix `espresso_event_reg_button()` template tag
  public/template_tags.php
Labels: category:templates-shortcodes-and-widgets, status:merge, type:bug 🐞

#1367 Don't include a thousands separator in ld+json ticket prices
  core/helpers/EEH_Schema.helper.php
Labels: type:bug 🐞

#1369 use withInstanceId() to set tableId instead of RNG
  assets/src/components/ui/responsive-table/responsive-table.js
Labels: category:assets, type:enhancement 🎉
