Repository eventespresso/event-espresso-core, pull requests merged in 2019-02, with the labels that each got.

#935 Add Event Espresso critical page post state for critical pages (fixes #899)
  core/admin/EE_Admin.core.php
Labels: category:admin-page-ui-&-ux, type:enhancement 🎉, type:user-proofing 🛡

#930 Implement missing labels for post type registration (fixes #808)
  core/domain/services/custom_post_types/RegisterCustomPostTypes.php
  tests/testcases/core/domain/services/custom_post_types/RegisterCustomPostTypesTest.php
Labels: category:admin-page-ui-&-ux, type:enhancement 🎉

#850 Fix issue where espresso_event_status() always echos even if $echo = false
  core/helpers/EEH_Event_View.helper.php
  public/template_tags.php
Labels: category:templates-shortcodes-and-widgets, type:bug 🐞

#937 Include seconds in timestamp for check-in list table view (fixes #885)
  caffeinated/admin/extend/registrations/EE_Registration_CheckIn_List_Table.class.php
Labels: category:admin-page-ui-&-ux, type:enhancement 🎉

#933 More type proofing for pue client (fixes #803)
  core/third_party_libs/pue/pue-client.php
Labels: category:pue-uxip-and-licensing, type:bug 🐞

#942 Improve `Registry::pushData` (fixes #855)
  core/services/assets/Registry.php
  tests/testcases/core/services/assets/RegistryTest.php
Labels: category:assets, status:feedback-needed, type:enhancement 🎉

#936 Improve redirects on trash/restore/delete for registration list table (fixes #898)
  admin_pages/registrations/EE_Registrations_List_Table.class.php
  admin_pages/registrations/Registrations_Admin_Page.core.php
  core/admin/EE_Admin_Page.core.php
Labels: category:admin-page-ui-&-ux, type:bug 🐞

#939 Disable the file exists check for image URLs in the admin
  core/db_models/EEM_Payment_Method.model.php
  core/libraries/form_sections/inputs/EE_Admin_File_Uploader_Input.input.php
Labels: category:admin-pages, category:forms-systems

#901 Skip validation if less than 2 inputs in the embedded Ticket Selector
  modules/ticket_selector/assets/ticket_selector_iframe_embed.js
Labels: category:ticket-selector, status:merge, type:bug 🐞

#938 Add filter for swapping GRP_ID in on the fly for messages being generated (fixed #927)
  core/libraries/messages/EE_Messages_Generator.lib.php
Labels: category:messaging-&-messengers, type:enhancement 🎉

#947 Ensure QSG_identifier is unique when saving new question groups (fixes #720)
  caffeinated/admin/extend/registration_form/Extend_Registration_Form_Admin_Page.core.php
Labels: category:admin-page-ui-&-ux, type:bug 🐞

#958 Fix Registration form's multiple select input
  modules/single_page_checkout/js/single_page_checkout.js
Labels: category:spco-&-registration, type:bug 🐞

#963 Update "max_input_vars" exceeded message for clarity & make sure limit isn't stale
  core/EE_Config.core.php
Labels: category:admin-pages, type:bug 🐞

#960 dont change private events to sold out beceause then they are no longer private
  core/db_classes/EE_Event.class.php
Labels: type:bug 🐞

#964 Use wp default link text color for better a11y
  admin_pages/registrations/form_sections/EE_Registration_Custom_Questions_Form.form.php
Labels: category:accessibility, category:admin-page-ui-&-ux, type:enhancement 🎉

#967 Relocate "Action buttons" on Registration Details page to be consistent with location of buttons on Transaction Details page
  admin_pages/registrations/assets/espresso_registrations_admin.css
  admin_pages/registrations/templates/reg_admin_details_main_meta_box_reg_details.template.php
Labels: category:admin-page-ui-&-ux, type:enhancement 🎉

#973 Add links to docs on plugin page entry
  core/admin/EE_Admin.core.php
Labels: category:admin-pages, type:documentation 📖, type:enhancement 🎉

#977 Bug/boolean input interpreted as string in rest api
  core/libraries/rest_api/ModelDataTranslator.php
  tests/testcases/core/libraries/rest_api/ModelDataTranslatorTest.php
Labels: category:models-and-data-infrastructure, type:bug 🐞

#959 Don’t autoload these, some can have a lot of data Fixes #346
  core/data_migration_scripts/EE_Data_Migration_Script_Base.core.php
Labels: category:activation-installation-and-migration, type:bug 🐞

#984 add relation from datetimes to datetime tickets
  core/db_models/EEM_Datetime.model.php
Labels: category:models-and-data-infrastructure, type:bug 🐞

#987 Clean up a few things in the skeleton add-ons
  tests/mocks/addons/eea-new-addon/tests/testcases/espresso_addon_skeleton.php
  tests/mocks/addons/new-payment-method/payment_methods/New_Payment_Method_Onsite/EEG_New_Payment_Method_Onsite.gateway.php
  tests/mocks/addons/new-payment-method/tests/testcases/espresso_addon_skeleton.php
Labels: type:documentation 📖, type:task ✅

#919 Bug/add instance checks reg admin pages to avoid fatal errors due to orphaned data
  admin_pages/registrations/Registrations_Admin_Page.core.php
  caffeinated/admin/extend/registrations/Extend_Registrations_Admin_Page.core.php
Labels: category:admin-page-ui-&-ux, category:admin-pages, status:needs-testing, type:user-proofing 🛡

#864 Added button to Transaction admin page for recalculating line items. Closes #726
  admin_pages/transactions/Transactions_Admin_Page.core.php
  core/db_classes/EE_Line_Item.class.php
  core/db_classes/EE_Transaction.class.php
  core/db_models/EEM_Line_Item.model.php
  core/helpers/EEH_Line_Item.helper.php
Labels: category:admin-pages, status:needs-testing, type:feature-request 🙏

#966 Add view links for event category archives
  admin_pages/events/Event_Categories_Admin_List_Table.class.php
Labels: category:admin-page-ui-&-ux, status:needs-testing

#972 Fix fatal error in ticket list shortcode parser (fixes #971)
  core/libraries/messages/data_class/EE_Messages_incoming_data.core.php
Labels: category:messaging-&-messengers, priority:high, status:needs-testing, type:bug 🐞
