Repository eventespresso/event-espresso-core, pull requests merged in 2019-11, with the labels that each got.

#1781 Fix price_type hydration
  assets/src/editor/events/initialization/data-hydrator.js
Labels: category:assets, status:feedback-needed, status:review, type:bug 🐞

#1785 EDTR: Show archive option only for existing tickets.
  assets/src/editor/events/tickets/editor-ticket/edit-form/edit-ticket-form.js
Labels: category:admin-page-ui-&-ux, status:review, type:enhancement 🎉

#1787 Added updateSnapshot option for unit tests.
  package.json
Labels: type: tooling :hammer:, type:code-quality 👾

#1790 Fix the issue caused by passing InfinitySymbol as initial value.
  assets/src/utils/parse-infinity.js
Labels: status:review, type:bug 🐞

#1723 Fet/put ticket details together if one attendee
  admin_pages/registrations/assets/espresso_registrations_admin.css
  modules/single_page_checkout/reg_steps/attendee_information/EE_SPCO_Reg_Step_Attendee_Information.class.php
  modules/single_page_checkout/reg_steps/attendee_information/attendee_info_main.template.php
  modules/single_page_checkout/reg_steps/attendee_information/attendee_info_single.template.php
Labels: category:frontend-ui-&-ux, type:feature-request 🙏

#1792 Add tests for parseInfinity()
  assets/src/utils/test/parse-infinity.js
Labels: category:unit-tests

#1774 EDTR: Collapsible Filter bar.
  assets/src/components/ui/entity-list-filter-bar/collapsible.js
  assets/src/components/ui/entity-list-filter-bar/entity-list-filter-bar.js
  assets/src/components/ui/entity-list-filter-bar/style.css
  assets/src/hooks/index.js
  assets/src/hooks/useRect.js
  package.json
Labels: category:admin-page-ui-&-ux, status:review, type:enhancement 🎉

#1759 EDTR : Use Constants for JS model names.
  assets/src/components/form/model/select/datetime.js
  assets/src/components/form/model/select/event.js
  assets/src/components/form/model/select/status.js
  assets/src/components/form/model/select/test/status.js
  assets/src/components/form/model/select/ticket.js
  assets/src/data/model/attendee/constants.js
  assets/src/data/model/checkin/constants.js
  assets/src/data/model/constants.js
  assets/src/data/model/datetime/constants.js
  assets/src/data/model/datetime/status-helper.js
  assets/src/data/model/event/constants.js
  assets/src/data/model/price-type/constants.js
  assets/src/data/model/price/constants.js
  assets/src/data/model/price/index.js
  assets/src/data/model/registration/constants.js
  assets/src/data/model/status/constants.js
  assets/src/data/model/ticket/constants.js
  assets/src/data/model/ticket/status-helper.js
  assets/src/data/model/venue/constants.js
  assets/src/data/model/venue/index.js
  docs/AA--Javascript-in-EE/eejs/model/attendee/README.md
  docs/AA--Javascript-in-EE/eejs/model/check-in/README.md
  docs/AA--Javascript-in-EE/eejs/model/datetime/README.md
  docs/AA--Javascript-in-EE/eejs/model/event/README.md
  docs/AA--Javascript-in-EE/eejs/model/registration/README.md
  docs/AA--Javascript-in-EE/eejs/model/status/README.md
  docs/AA--Javascript-in-EE/eejs/model/ticket/README.md
Labels: category:assets, type:enhancement 🎉

#1814 Disable eslint rule for ResizeObserver.
  assets/src/hooks/useRect.js
Labels: type:code-quality 👾

#1796 EDTR : Add Default Entities for New Events
  .travis.yml
  assets/src/data/model/constants.js
  assets/src/editor/events/dates-and-times/editor-date/editor-date-entities-list.js
  assets/src/editor/events/dates-and-times/editor-date/filter-bar/use-dates-list-filter-state.js
  assets/src/editor/events/tickets/editor-ticket/add-new-ticket-button.js
  assets/src/editor/events/tickets/editor-ticket/edit-form/index.js
  assets/src/editor/events/tickets/editor-ticket/edit-form/new-ticket-form-modal.js
  assets/src/editor/events/tickets/editor-ticket/editor-ticket-entities-list.js
  assets/src/editor/events/tickets/editor-ticket/use-tickets-for-event-editor-ticket-list.js
  caffeinated/admin/extend/events/Extend_Events_Admin_Page.core.php
  core/EE_Dependency_Map.core.php
  core/db_models/EEM_Price.model.php
  core/domain/services/admin/events/editor/AdvancedEditorEntityData.php
  core/domain/services/converters/RestApiSpoofer.php
  tests/testcases/core/EE_Dependency_Map_Test.php
Labels: category:admin-pages, status:feedback-needed, type:enhancement 🎉

#1788 Auto update ticket quantity when the datetime capacity is changed
  assets/src/editor/events/dates-and-times/editor-date/edit-form/use-date-entity-input-config.js
  assets/src/editor/events/dates-and-times/editor-date/grid-view/event-date-details-panel.js
  assets/src/editor/events/mutations/ticket-mutations.js
  assets/src/hooks/index.js
  assets/src/hooks/use-event-date-update-related-tickets.js
  assets/src/hooks/use-trigger-ticket-ui-update.js
Labels: status:review, type:bug 🐞

#1820 Update related prices when the ticket price changes.
  assets/src/editor/events/tickets/editor-ticket/edit-form/use-ticket-form-input-config.js
  assets/src/editor/events/tickets/editor-ticket/grid-view/inline-edit-ticket-price.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/hooks/index.js
  assets/src/editor/events/tickets/editor-ticket/price-calculator/hooks/use-base-price.js
Labels: status:review, type:bug 🐞

#1819 Fix Editor Settings
  caffeinated/admin/extend/events/Extend_Events_Admin_Page.core.php
  core/admin/EE_Admin_Page.core.php
Labels: category:admin-pages, type:bug 🐞

#1815 Tweak Filter Bar Styles
  assets/src/components/ui/entity-list-filter-bar/collapsible.js
  assets/src/components/ui/entity-list-filter-bar/entity-list-filter-bar.js
  assets/src/components/ui/entity-list-filter-bar/style.css
Labels: category:admin-page-ui-&-ux, category:assets, type:bug 🐞

#1818 Added and configured husky and lint-staged.
  js-green-licenses.json
  package-lock.json
  package.json
Labels: status:review, type:code-quality 👾

#1806 Add registration count and remove "reserved" for tickets/datetimes
  assets/src/components/ui/entity-details-panel/style.css
  assets/src/editor/events/dates-and-times/editor-date/grid-view/event-date-details-panel.js
  assets/src/editor/events/dates-and-times/editor-date/list-view/dates-list-table-header.js
  assets/src/editor/events/dates-and-times/editor-date/list-view/dates-list-table-row.js
  assets/src/editor/events/initialization/data-hydrator.js
  assets/src/editor/events/tickets/editor-ticket/grid-view/editor-ticket-entities-grid-view.css
  assets/src/editor/events/tickets/editor-ticket/grid-view/editor-ticket-entities-grid-view.js
  assets/src/editor/events/tickets/editor-ticket/grid-view/editor-ticket-entity-details.js
  assets/src/editor/events/tickets/editor-ticket/grid-view/editor-ticket-entity-grid-item.js
  assets/src/editor/events/tickets/editor-ticket/grid-view/ticket-details-panel.js
  assets/src/editor/events/tickets/editor-ticket/list-view/editor-ticket-entities-list-view.js
  assets/src/editor/events/tickets/editor-ticket/list-view/tickets-list-table-header.js
  assets/src/editor/events/tickets/editor-ticket/list-view/tickets-list-table-row.js
  assets/src/editor/events/tickets/editor-ticket/use-tickets-registration-count.js
  core/domain/services/admin/events/editor/AdvancedEditorEntityData.php
Labels: category:assets, status:review, type:enhancement 🎉

#1828 Load EDTR assets conditionally
  core/admin/EE_Admin_Page_CPT.core.php
Labels: status:review, type:bug 🐞

#1824 Fix Modal Window Close Button closes #1713
  assets/src/editor-hocs/editor-modal/editor-modal.js
Labels: category:admin-page-ui-&-ux, status:review, type:bug 🐞

#1825 Recalculate ticket prices when number of price modifiers changes - closes #1821
  assets/src/editor/events/tickets/editor-ticket/price-calculator/ticket-price-calculator-form-modal.js
Labels: category:admin-page-ui-&-ux, status:review, type:bug 🐞

#1823 Fix Required Fields Notice Display - closes #1703
  assets/src/components/form/base/form-info-base.css
  assets/src/components/form/base/form-info-base.js
  assets/src/components/form/inputs/base/input-help-text.js
  assets/src/components/form/layouts/two-column-admin/form-info.js
  assets/src/components/form/layouts/two-column-admin/form-section.js
  assets/src/components/form/layouts/two-column-admin/two-column-admin.css
Labels: category:admin-page-ui-&-ux, category:assets, status:review, type:bug 🐞

#1840 Fix PHP unit tests
  core/domain/entities/custom_post_types/CustomPostTypeDefinitions.php
  core/domain/services/converters/json/DatetimeToJson.php
  core/domain/services/converters/spoofers/RestApiSpoofer.php
  core/domain/services/graphql/connection_resolvers/DatetimeConnectionResolver.php
  core/domain/services/graphql/connection_resolvers/TicketConnectionResolver.php
  core/domain/services/graphql/connection_resolvers/VenueConnectionResolver.php
  core/domain/services/graphql/connections/DatetimeTicketsConnection.php
  core/domain/services/graphql/connections/EventVenuesConnection.php
  core/domain/services/graphql/connections/TicketDatetimesConnection.php
  core/domain/services/graphql/data/mutations/DatetimeMutation.php
  core/domain/services/graphql/data/mutations/EventMutation.php
  core/domain/services/graphql/data/mutations/TicketMutation.php
  core/domain/services/graphql/data/mutations/VenueMutation.php
  core/domain/services/graphql/mutators/DatetimeCreate.php
  core/domain/services/graphql/mutators/DatetimeDelete.php
  core/domain/services/graphql/mutators/DatetimeUpdate.php
  core/domain/services/graphql/mutators/EventUpdate.php
  core/domain/services/graphql/mutators/TicketCreate.php
  core/domain/services/graphql/mutators/TicketDelete.php
  core/domain/services/graphql/mutators/TicketUpdate.php
  core/domain/services/graphql/mutators/VenueUpdate.php
  core/domain/services/graphql/resolvers/FieldResolver.php
  core/domain/services/graphql/types/Country.php
  core/domain/services/graphql/types/Datetime.php
  core/domain/services/graphql/types/Event.php
  core/domain/services/graphql/types/Ticket.php
  core/services/converters/json/ModelObjectToJsonConverterInterface.php
  core/services/graphql/ConnectionsManager.php
  core/services/graphql/GraphQLManager.php
  core/services/graphql/TypesManager.php
  core/services/graphql/connections/ConnectionCollection.php
  core/services/graphql/connections/ConnectionInterface.php
  core/services/graphql/fields/GraphQLField.php
  core/services/graphql/fields/GraphQLInputField.php
  core/services/graphql/fields/GraphQLOutputField.php
  core/services/graphql/resolvers/ResolverBase.php
  core/services/graphql/resolvers/ResolverCollection.php
  core/services/graphql/resolvers/ResolverInterface.php
  core/services/graphql/types/TypeBase.php
  core/services/graphql/types/TypeCollection.php
  core/services/graphql/types/TypeInterface.php
  tests/testcases/core/domain/services/custom_post_types/RegisterCustomPostTypesTest.php
Labels: category:unit-tests, type:bug 🐞

#1822 Added eslint-plugin-react and eslint-plugin-react-hooks.
  .eslintrc.js
  eslint/config.js
  package-lock.json
  package.json
Labels: status:review, type: tooling :hammer:

#1838 EDTR: TypeScript support.
  config/asset-dependency-maps.js
  config/paths.js
  config/webpack.common.js
  config/webpack.dev.js
  config/webpack.prod.js
  docs/AA--Javascript-in-EE/typescript.md
  package-lock.json
  package.json
  tsconfig.json
Labels: type: tooling :hammer:

#1866 EDTR: Added Apollo Client.
  assets/ZZZ/data/eventespresso/graphql-client.js
  assets/prototype/infrastructure/services/apollo/Apollo.js
  assets/prototype/infrastructure/services/contextProviders/ContextProviders.js
  package-lock.json
  package.json
Labels: EDTR Prototype, status:review

#1809 Fet/add action to transactions actions
  admin_pages/transactions/templates/txn_admin_details_main_meta_box_txn_details.template.php
Labels: category:admin-page-ui-&-ux, category:admin-pages

#1872 Complete the server side requirements for EDTR Prototype
  assets/ZZZ/data/eventespresso/graphql-client.js
  assets/prototype/infrastructure/services/apollo/Apollo.js
  assets/prototype/infrastructure/services/contextProviders/ContextProviders.js
  core/EE_Dependency_Map.core.php
  core/domain/services/graphql/abstracts/AbstractRootQueryConnection.php
  core/domain/services/graphql/connection_resolvers/AbstractConnectionResolver.php
  core/domain/services/graphql/connection_resolvers/DatetimeConnectionResolver.php
  core/domain/services/graphql/connection_resolvers/TicketConnectionResolver.php
  core/domain/services/graphql/connection_resolvers/VenueConnectionResolver.php
  core/domain/services/graphql/connections/DatetimeTicketsConnection.php
  core/domain/services/graphql/connections/EventDatetimesConnection.php
  core/domain/services/graphql/connections/RootQueryDatetimesConnection.php
  core/domain/services/graphql/connections/RootQueryTicketsConnection.php
  core/domain/services/graphql/connections/TicketDatetimesConnection.php
  core/domain/services/graphql/data/mutations/DatetimeMutation.php
  core/domain/services/graphql/data/mutations/TicketMutation.php
  core/domain/services/graphql/enums/DatetimesConnectionOrderbyEnum.php
  core/domain/services/graphql/enums/TicketsConnectionOrderbyEnum.php
  core/domain/services/graphql/inputs/DatetimesConnectionOrderbyInput.php
  core/domain/services/graphql/inputs/TicketsConnectionOrderbyInput.php
  core/domain/services/graphql/mutators/DatetimeCreate.php
  core/domain/services/graphql/mutators/DatetimeUpdate.php
  core/domain/services/graphql/mutators/TicketCreate.php
  core/domain/services/graphql/mutators/TicketUpdate.php
  core/domain/services/graphql/types/Datetime.php
  core/domain/services/graphql/types/Ticket.php
  core/services/graphql/EnumsManager.php
  core/services/graphql/GraphQLManager.php
  core/services/graphql/InputsManager.php
  core/services/graphql/enums/EnumBase.php
  core/services/graphql/enums/EnumCollection.php
  core/services/graphql/enums/EnumInterface.php
  core/services/graphql/inputs/InputBase.php
  core/services/graphql/inputs/InputCollection.php
  core/services/graphql/inputs/InputInterface.php
  package-lock.json
  package.json
Labels: status:review, type:enhancement 🎉

#1876 EDTR: DatesListData container. closes #1863
  assets/prototype/domain/eventEditor/DatesList.js
  assets/prototype/domain/eventEditor/EventEditor.js
  assets/prototype/domain/eventEditor/containers/useDatesListData.js
  assets/prototype/domain/eventEditor/index.js
  assets/prototype/infrastructure/services/apollo/Apollo.js
  config/webpack.common.js
  core/admin/EE_Admin_Page_CPT.core.php
  core/domain/services/admin/events/editor/AdvancedEditorEntityData.php
  core/domain/services/assets/EspressoEditorAssetManager.php
Labels: EDTR Prototype

#1877 DatesList and TicketsList UI Components
  assets/ZZZ/editor/index.js
  assets/prototype/domain/eventEditor/DatesList.js
  assets/prototype/domain/eventEditor/EventEditor.js
  assets/prototype/domain/eventEditor/containers/useDatesListData.js
  assets/prototype/domain/eventEditor/datesList/AddNewDateButton.js
  assets/prototype/domain/eventEditor/datesList/DateCard.js
  assets/prototype/domain/eventEditor/datesList/DatesList.js
  assets/prototype/domain/eventEditor/ticketsList/AddNewTicketButton.js
  assets/prototype/domain/eventEditor/ticketsList/TicketCard.js
  assets/prototype/domain/eventEditor/ticketsList/TicketsList.js
  package-lock.json
  package.json
Labels: EDTR Prototype

#1879 Create globally unique IDs for non CPT GQL types
  core/domain/services/graphql/connection_resolvers/AbstractConnectionResolver.php
  core/domain/services/graphql/connection_resolvers/DatetimeConnectionResolver.php
  core/domain/services/graphql/connection_resolvers/TicketConnectionResolver.php
  core/domain/services/graphql/connections/DatetimeTicketsConnection.php
  core/domain/services/graphql/connections/EventDatetimesConnection.php
  core/domain/services/graphql/data/mutations/DatetimeMutation.php
  core/domain/services/graphql/data/mutations/TicketMutation.php
  core/domain/services/graphql/mutators/DatetimeDelete.php
  core/domain/services/graphql/mutators/DatetimeUpdate.php
  core/domain/services/graphql/mutators/TicketDelete.php
  core/domain/services/graphql/mutators/TicketUpdate.php
  core/domain/services/graphql/resolvers/FieldResolver.php
  core/domain/services/graphql/types/Country.php
  core/domain/services/graphql/types/Datetime.php
  core/domain/services/graphql/types/State.php
  core/domain/services/graphql/types/Ticket.php
Labels: EDTR Prototype, status:review

#1874 Create GraphQL docs
  docs/GraphQL-API/README.md
  docs/GraphQL-API/mutations/datetime.md
  docs/GraphQL-API/mutations/ticket.md
  docs/GraphQL-API/query/datetime.md
  docs/GraphQL-API/query/event.md
  docs/GraphQL-API/query/ticket.md
Labels: type:documentation 📖

#1880 Prototype: AddNewDateButton.
  .eslintrc.js
  .prettierrc
  assets/ZZZ/editor/events/dates-and-times/editor-date/edit-form/date-entity-form.js
  assets/ZZZ/editor/events/tickets/editor-ticket/edit-form/edit-ticket-form.js
  assets/ZZZ/higher-order-components/test/money.js
  assets/ZZZ/higher-order-components/test/with-latest-checkin.js
  assets/prototype/domain/eventEditor/containers/mutations/useCreateDateMutation.js
  assets/prototype/domain/eventEditor/containers/useDateItem.js
  assets/prototype/domain/eventEditor/containers/useDatesListData.js
  assets/prototype/domain/eventEditor/datesList/AddNewDateButton.js
  assets/prototype/domain/eventEditor/datesList/AddNewDateModal.js
  assets/prototype/domain/eventEditor/datesList/DateCard.js
  assets/prototype/domain/eventEditor/datesList/DatesList.js
  assets/prototype/domain/eventEditor/ticketsList/TicketCard.js
  assets/prototype/infrastructure/services/apollo/Apollo.js
  package-lock.json
  package.json
Labels: EDTR Prototype

#1885 Remove is_int check for numeric IDs from global unique IDs
  core/domain/services/graphql/mutators/DatetimeDelete.php
  core/domain/services/graphql/mutators/DatetimeUpdate.php
  core/domain/services/graphql/mutators/TicketDelete.php
  core/domain/services/graphql/mutators/TicketUpdate.php
Labels: status:review, type:bug 🐞

#1886 EDTR PROTO: useUpdateDateMutation.
  assets/prototype/domain/eventEditor/EventEditor.js
  assets/prototype/domain/eventEditor/containers/mutations/dates.js
  assets/prototype/domain/eventEditor/containers/mutations/useDeleteDateMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useUpdateDateMutation.js
  assets/prototype/domain/eventEditor/datesList/dateCard/DateCard.js
  assets/prototype/domain/eventEditor/datesList/dateCard/DeleteDateButton.js
Labels: EDTR Prototype

#1887 EDTR PROTO: useInitQueries.
  assets/prototype/domain/eventEditor/EventEditor.js
  assets/prototype/domain/eventEditor/containers/mutations/useCreateDateMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useDeleteDateMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useUpdateDateMutation.js
  assets/prototype/domain/eventEditor/containers/queries/tickets.js
  assets/prototype/domain/eventEditor/containers/queries/useInitQueries.js
  assets/prototype/domain/eventEditor/datesList/AddNewDateModal.js
  assets/prototype/domain/eventEditor/datesList/DatesList.js
  assets/prototype/domain/eventEditor/datesList/dateCard/DateCard.js
  assets/prototype/domain/eventEditor/datesList/dateCard/DeleteDateButton.js
  assets/prototype/domain/eventEditor/ticketsList/TicketsList.js
  assets/prototype/domain/eventEditor/ticketsList/ticketCard/TicketCard.js
  assets/prototype/domain/shared/defaultDates.js
Labels: EDTR Prototype

#1884 EDTR PROTO: Update Cache Queries
  assets/ZZZ/editor/index.js
  assets/prototype/domain/eventEditor/EventEditor.js
  assets/prototype/domain/eventEditor/FormModal.js
  assets/prototype/domain/eventEditor/containers/mutations/dates.js
  assets/prototype/domain/eventEditor/containers/mutations/useCreateDateMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useDeleteDateMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useUpdateDateMutation.js
  assets/prototype/domain/eventEditor/containers/queries/dates.js
  assets/prototype/domain/eventEditor/containers/queries/tickets.js
  assets/prototype/domain/eventEditor/containers/queries/useDateItem.js
  assets/prototype/domain/eventEditor/containers/queries/useInitQueries.js
  assets/prototype/domain/eventEditor/containers/useDatesListData.js
  assets/prototype/domain/eventEditor/datesList/AddNewDateButton.js
  assets/prototype/domain/eventEditor/datesList/AddNewDateModal.js
  assets/prototype/domain/eventEditor/datesList/DatesList.js
  assets/prototype/domain/eventEditor/datesList/NewDateForm.js
  assets/prototype/domain/eventEditor/datesList/dateCard/DateCard.js
  assets/prototype/domain/eventEditor/datesList/dateCard/DeleteDateButton.js
  assets/prototype/domain/eventEditor/index.js
  assets/prototype/domain/eventEditor/ticketsList/AddNewTicketButton.js
  assets/prototype/domain/eventEditor/ticketsList/TicketsList.js
  assets/prototype/domain/eventEditor/ticketsList/ticketCard/TicketCard.js
  assets/prototype/domain/shared/defaultDates.js
  assets/prototype/domain/shared/index.js
  package-lock.json
Labels: EDTR Prototype, status:review

#1893 Date delete mutation + cache update. closes #1891
  assets/prototype/domain/eventEditor/containers/mutations/useCreateDateMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useDeleteDateMutation.js
  assets/prototype/domain/eventEditor/datesList/AddNewDateModal.js
  assets/prototype/domain/eventEditor/datesList/DatesList.js
  assets/prototype/domain/eventEditor/datesList/dateCard/DateCard.js
  assets/prototype/domain/eventEditor/datesList/dateCard/DeleteDateButton.js
Labels: EDTR Prototype, status:review

#1896 Fix Ticket List Loading Indicator
  assets/prototype/domain/eventEditor/EventEditor.js
  assets/prototype/domain/eventEditor/ticketsList/TicketsList.js
  package-lock.json
Labels: EDTR Prototype, status:review

#1897 Ticket delete mutation + cache update.
  assets/prototype/domain/eventEditor/containers/mutations/useDeleteDateMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useDeleteTicketMutation.js
  assets/prototype/domain/eventEditor/datesList/dateCard/DeleteDateButton.js
  assets/prototype/domain/eventEditor/ticketsList/TicketsList.js
  assets/prototype/domain/eventEditor/ticketsList/ticketCard/DeleteTicketButton.js
  assets/prototype/domain/eventEditor/ticketsList/ticketCard/TicketCard.js
Labels: EDTR Prototype

#1902 Fix event column sorting on registration check-in view
  caffeinated/admin/extend/registrations/EE_Event_Registrations_List_Table.class.php
Labels: status:review

#1895 Add support for relational data in GQL queries
  core/EE_Dependency_Map.core.php
  core/domain/services/graphql/resolvers/FieldResolver.php
  core/domain/services/graphql/types/Datetime.php
  core/domain/services/graphql/types/Price.php
  core/domain/services/graphql/types/PriceType.php
  core/domain/services/graphql/types/RootQuery.php
  core/domain/services/graphql/types/Ticket.php
  core/services/graphql/fields/GraphQLField.php
  core/services/graphql/types/TypeBase.php
  docs/GraphQL-API/query/eventRelations.md
Labels: status:review

#1899 Toasty Toaster Toast
  assets/prototype/domain/eventEditor/EventEditor.js
  assets/prototype/domain/eventEditor/containers/mutations/useCreateDateMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useCreateTicketMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useDeleteDateMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useDeleteTicketMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useUpdateDateMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useUpdateTicketMutation.js
  assets/prototype/domain/eventEditor/containers/queries/useInitQueries.js
  assets/prototype/infrastructure/services/contextProviders/ContextProviders.js
  assets/prototype/infrastructure/services/contextProviders/ToastProvider.js
  assets/prototype/infrastructure/services/toaster/IconGraphQL.js
  assets/prototype/infrastructure/services/toaster/useDismissToast.js
  assets/prototype/infrastructure/services/toaster/useErrorToast.js
  assets/prototype/infrastructure/services/toaster/useInfoToast.js
  assets/prototype/infrastructure/services/toaster/useLoadingToast.js
  assets/prototype/infrastructure/services/toaster/useSuccessToast.js
  assets/prototype/infrastructure/services/toaster/useToaster.js
Labels: EDTR Prototype, status:review

#1908 Relations Selector
  assets/prototype/domain/eventEditor/EventEditor.js
  assets/prototype/domain/eventEditor/FormModal.js
  assets/prototype/domain/eventEditor/containers/mutations/useCreateDateMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useCreateTicketMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useDeleteDateMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useDeleteTicketMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useUpdateDateMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useUpdateTicketMutation.js
  assets/prototype/domain/eventEditor/containers/queries/useDateItem.js
  assets/prototype/domain/eventEditor/containers/queries/useInitQueries.js
  assets/prototype/domain/eventEditor/containers/queries/useTicketItem.js
  assets/prototype/domain/eventEditor/containers/useDatesListData.js
  assets/prototype/domain/eventEditor/datesList/AddNewDateButton.js
  assets/prototype/domain/eventEditor/datesList/AddNewDateModal.js
  assets/prototype/domain/eventEditor/datesList/DatesList.js
  assets/prototype/domain/eventEditor/datesList/NewDateForm.js
  assets/prototype/domain/eventEditor/datesList/dateCard/DateCard.js
  assets/prototype/domain/eventEditor/datesList/dateCard/DeleteDateButton.js
  assets/prototype/domain/eventEditor/ticketsList/AddNewTicketButton.js
  assets/prototype/domain/eventEditor/ticketsList/AddNewTicketModal.js
  assets/prototype/domain/eventEditor/ticketsList/NewTicketForm.js
  assets/prototype/domain/eventEditor/ticketsList/TicketsList.js
  assets/prototype/domain/eventEditor/ticketsList/ticketCard/DeleteTicketButton.js
  assets/prototype/domain/eventEditor/ticketsList/ticketCard/TicketCard.js
  assets/prototype/domain/shared/FormModal.js
  assets/prototype/domain/shared/FormModalForm.js
  assets/prototype/domain/shared/RelationsSelector.js
  assets/prototype/domain/shared/defaultDates.js
  assets/prototype/infrastructure/services/apollo/Apollo.js
  assets/prototype/infrastructure/services/contextProviders/ToastProvider.js
  assets/prototype/infrastructure/services/toaster/IconGraphQL.js
  assets/prototype/infrastructure/services/toaster/useErrorToast.js
  assets/prototype/infrastructure/services/toaster/useInfoToast.js
  assets/prototype/infrastructure/services/toaster/useLoadingToast.js
  assets/prototype/infrastructure/services/toaster/useSuccessToast.js
  assets/prototype/infrastructure/services/toaster/useToaster.js
Labels: EDTR Prototype, status:review

#1910 EDTR: Ticket: added description field and fixed update mutation.
  assets/prototype/domain/eventEditor/containers/mutations/tickets.js
  assets/prototype/domain/eventEditor/containers/mutations/useCreateTicketMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useUpdateTicketMutation.js
  assets/prototype/domain/eventEditor/containers/queries/useTicketItem.js
  assets/prototype/domain/eventEditor/ticketsList/AddNewTicketModal.js
  assets/prototype/domain/eventEditor/ticketsList/ticketCard/TicketCard.js
Labels: EDTR Prototype, status:review

#1900 EDTR: DateRangeInput.
  assets/prototype/domain/eventEditor/containers/mutations/dates.js
  assets/prototype/domain/eventEditor/containers/mutations/useUpdateDateMutation.js
  assets/prototype/domain/eventEditor/containers/queries/dates.js
  assets/prototype/domain/eventEditor/datesList/dateCard/DateCard.js
  assets/prototype/domain/shared/dateRangeInput/DateRangeInput.js
  assets/prototype/domain/shared/dateRangeInput/formatSelect.js
  assets/prototype/domain/shared/dateRangeInput/momentDate.js
  assets/prototype/domain/shared/dateRangeInput/style.css
  core/admin/EE_Admin_Page_CPT.core.php
  core/domain/services/assets/EspressoEditorAssetManager.php
  package.json
Labels: EDTR Prototype, status:review

#1914 Fix GraphQL dates and times for queries and mutations
  core/domain/services/graphql/data/mutations/DatetimeMutation.php
  core/domain/services/graphql/data/mutations/TicketMutation.php
  core/domain/services/graphql/resolvers/FieldResolver.php
  core/domain/services/graphql/types/Datetime.php
  core/domain/services/graphql/types/Ticket.php
  core/services/graphql/fields/GraphQLField.php
  core/services/graphql/fields/GraphQLFieldInterface.php
  core/services/graphql/types/TypeBase.php
  docs/GraphQL-API/mutations/datetime.md
  docs/GraphQL-API/mutations/ticket.md
Labels: status:review, type:bug 🐞

#1919 EDTR: DatesList cleanup.
  assets/prototype/domain/eventEditor/containers/queries/useInitQueries.js
  assets/prototype/domain/eventEditor/datesList/DatesList.js
  assets/prototype/domain/shared/EmptyState.js
  assets/prototype/domain/shared/ErrorIndicator.js
  assets/prototype/domain/shared/LoadingIndicator.js
  package-lock.json
  package.json
Labels: EDTR Prototype

#1911 Fix error adding relation between people and events
  core/libraries/rest_api/controllers/model/Write.php
Labels: category:models-and-data-infrastructure, status:feedback-needed, status:merge, type:bug 🐞

#1921 Ticket Price Calculator UI closes 1920
  assets/prototype/domain/eventEditor/FormModal.js
  assets/prototype/domain/eventEditor/ticketsList/ticketCard/DeleteTicketButton.js
  assets/prototype/domain/eventEditor/ticketsList/ticketCard/TicketCard.js
  assets/prototype/domain/eventEditor/ticketsList/ticketPriceCalculator/TicketPriceCalculatorButton.js
  assets/prototype/domain/eventEditor/ticketsList/ticketPriceCalculator/TicketPriceCalculatorForm.js
  assets/prototype/domain/eventEditor/ticketsList/ticketPriceCalculator/TicketPriceCalculatorModal.js
  assets/prototype/domain/shared/CurrencyInput.js
  assets/prototype/domain/shared/FormModal.js
  package-lock.json
Labels: EDTR Prototype

#1917 Create and manage front end relations
  .eslintrc.js
  assets/prototype/domain/eventEditor/containers/mutations/useCreateDateMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useCreateTicketMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useDeleteDateMutation.js
  assets/prototype/domain/eventEditor/containers/mutations/useDeleteTicketMutation.js
  assets/prototype/domain/eventEditor/containers/queries/relations.js
  assets/prototype/domain/eventEditor/containers/queries/useDateItem.js
  assets/prototype/domain/eventEditor/containers/queries/useFetchRelations.js
  assets/prototype/domain/eventEditor/containers/queries/useTicketItem.js
  assets/prototype/domain/eventEditor/containers/relations/useRelationsManager.js
  assets/prototype/domain/eventEditor/datesList/TicketId.js
  assets/prototype/domain/eventEditor/datesList/dateCard/DateCard.js
  assets/prototype/domain/eventEditor/index.js
  assets/prototype/domain/eventEditor/ticketsList/DatetimeId.js
  assets/prototype/domain/eventEditor/ticketsList/ticketCard/TicketCard.js
  assets/prototype/infrastructure/services/contextProviders/ContextProviders.js
  assets/prototype/infrastructure/services/contextProviders/RelationsProvider.js
  assets/prototype/infrastructure/services/relations/useRelations.js
Labels: status:review

#1829 remove mijireh payment method, modules, and test files
  caffeinated/modules/mijireh_payment_checker/EED_Mijireh_Payment_Checker.module.php
  caffeinated/modules/mijireh_slurper/EED_Mijireh_Slurper.module.php
  caffeinated/modules/mijireh_slurper/templates/additional_content_on_gateway.template.php
  caffeinated/modules/mijireh_slurper/templates/mijireh_slurp_page_metabox.template.php
  caffeinated/modules/mijireh_slurper/templates/slurping_in_progress_notice.template.php
  caffeinated/payment_methods/Mijireh/EEG_Mijireh.gateway.php
  caffeinated/payment_methods/Mijireh/EE_PMT_Mijireh.pm.php
  caffeinated/payment_methods/Mijireh/help_tabs/payment_methods_overview_mijireh.help_tab.php
  caffeinated/payment_methods/Mijireh/index.php
  caffeinated/payment_methods/Mijireh/lib/mijireh-checkout-logo.png
  caffeinated/payment_methods/Mijireh/templates/mijireh_intro.template.php
  caffeinated/payment_methods/Mijireh/templates/mijireh_settings_after_form.template.php
  core/EE_Payment_Processor.core.php
  core/data_migration_scripts/EE_DMS_Core_4_10_0.dms.php
  espresso.php
  payment_methods/Paypal_Standard/EE_PMT_Paypal_Standard.pm.php
  tests/testcases/payment_methods/EE_PMT_Mijireh_Live_Test.php
  tests/testcases/payment_methods/EE_PMT_Mijireh_Test.php
Labels: category:payment-methods, type:task 🧹

#1931 Mention how to add extra properties on JOIN relations
  docs/C--REST-API/ee4-rest-api-editing-relations.md
Labels: category:models-and-data-infrastructure, status:review, type:documentation 📖
