Repository eventespresso/event-espresso-core, pull requests merged in 2020-10, with the labels that each got.

#3141 Add User Capabilities & Site Permissions Data Nodes closes #3137
  core/domain/entities/routing/data_nodes/core/Capabilities.php
  core/domain/entities/routing/data_nodes/core/Config.php
  core/domain/entities/routing/data_nodes/core/CurrentUser.php
  core/domain/entities/routing/data_nodes/core/SitePermissions.php
  core/domain/entities/routing/handlers/shared/RegularRequests.php
  core/services/json/JsonDataNode.php
  core/services/json/JsonDataNodeValidator.php
Labels: category:models-and-data-infrastructure, status:review, type:enhancement 🎉

#3142 Deployment to RC and barista sites
  .github/workflows/deploy-to-barista.yml
  .github/workflows/deploy-to-rc.yml
Labels: type:build-process 🔨, type:enhancement 🎉, type:task 🧹

#3143 Add search option to GQL schema
  .editorconfig
  core/domain/services/graphql/connection_resolvers/AbstractConnectionResolver.php
  core/domain/services/graphql/connection_resolvers/AttendeeConnectionResolver.php
  core/domain/services/graphql/connection_resolvers/DatetimeConnectionResolver.php
  core/domain/services/graphql/connection_resolvers/TicketConnectionResolver.php
  core/domain/services/graphql/connections/DatetimeTicketsConnection.php
  core/domain/services/graphql/connections/EventDatetimesConnection.php
  core/domain/services/graphql/connections/RootQueryAttendeesConnection.php
  docs/GraphQL-API/query/attendee.md
  docs/GraphQL-API/query/datetime.md
  docs/GraphQL-API/query/ticket.md
  tests/testcases/core/domain/services/graphql/connections/DatetimeConnectionQueriesTest.php
  tests/testcases/core/domain/services/graphql/connections/TicketConnectionQueriesTest.php
Labels: EDTR v2, category:models-and-data-infrastructure, type:enhancement 🎉

#3120 If the user can read private events then include the private status when pulling upcoming events
  core/db_models/EEM_Event.model.php
Labels: category:admin-pages, category:models-and-data-infrastructure, status:needs-testing

#3153 Fix Datetime Connections
  core/domain/services/graphql/Utilities.php
  core/domain/services/graphql/data/domains/EspressoEditor.php
  core/services/graphql/loaders/GQLDataDomainInterface.php
  tests/testcases/core/domain/services/graphql/connections/DatetimeConnectionQueriesTest.php
  tests/testcases/core/domain/services/graphql/connections/PriceConnectionQueriesTest.php
Labels: category:models-and-data-infrastructure, status:review, type:bug 🐞

#3158 Event venue mutations
  core/domain/services/graphql/data/mutations/EventMutation.php
  core/domain/services/graphql/data/mutations/VenueMutation.php
  core/domain/services/graphql/types/Event.php
Labels: EDTR v2, category:models-and-data-infrastructure, type:enhancement 🎉

#3163 Add Remaining Event Data to EDTR DOM Data Node WIP
  core/domain/entities/admin/GraphQLData/Event.php
  core/domain/entities/routing/data_nodes/domains/EventEditor.php
  core/domain/entities/routing/handlers/admin/EspressoEventEditor.php
  core/domain/services/admin/events/editor/EventEditorGraphQLData.php
Labels: category:models-and-data-infrastructure, priority:high, status:please-fix, status:review, type:enhancement 🎉

#3175 Update Event GQL fields
  core/domain/entities/admin/GraphQLData/Event.php
  core/domain/services/graphql/data/mutations/EventMutation.php
  core/domain/services/graphql/types/Event.php
Labels: EDTR v2, category:models-and-data-infrastructure

#3174 Add `$datetime` to Hook Args
  public/template_tags.php
Labels: category:frontend-ui-&-ux, status:review, type:enhancement 🎉

#3178 Don't Load Legacy "Event Registration Options" or "Author" Meta Boxes in EDTR
  .travis.yml
  admin_pages/events/Events_Admin_Page.core.php
  caffeinated/admin/extend/events/Extend_Events_Admin_Page.core.php
  core/admin/EE_Admin_Page.core.php
  phpunit.xml
Labels: category:admin-page-ui-&-ux, status:review, type:task 🧹

#3180 Ensure Default Price Order Is Set. closes #3080
  caffeinated/admin/new/pricing/Pricing_Admin_Page.core.php
Labels: category:admin-pages, status:review, type:bug 🐞

#3182 Rename wpUser field to manager on event object
  core/domain/entities/admin/GraphQLData/Event.php
  core/domain/services/graphql/data/mutations/EventMutation.php
  core/domain/services/graphql/resolvers/FieldResolver.php
  core/domain/services/graphql/types/Event.php
Labels: EDTR v2, category:models-and-data-infrastructure

#3184 Don't Update Legacy Registration Options Inputs
  admin_pages/events/Events_Admin_Page.core.php
  core/domain/entities/admin/GraphQLData/Event.php
  core/domain/services/graphql/types/Event.php
Labels: category:admin-pages, status:review, type:bug 🐞

#3183 add EventManagers DOM data class to EDTR
  core/domain/entities/routing/handlers/admin/EspressoEventEditor.php
  core/domain/services/admin/events/editor/EventEditorGraphQLData.php
  core/domain/services/admin/events/editor/EventManagers.php
Labels: category:models-and-data-infrastructure, status:review, type:feature-request 🙏
