Repository eventespresso/event-espresso-core, pull requests merged in 2020-12, with the labels that each got.

#3212 Fix Trashed Datetimes in Queries closes #3211
  core/db_models/EEM_Datetime.model.php
  core/helpers/EEH_File.helper.php
  tests/testcases/core/db_models/EEM_Datetime_Test.php
  tests/testcases/core/domain/services/contexts/RequestTypeContextDetectorTest.php
Labels: category:models-and-data-infrastructure, priority:normal, status:review, type:bug 🐞

#3220 Add GraphQL Mutator action hooks
  core/domain/services/graphql/mutators/DatetimeCreate.php
  core/domain/services/graphql/mutators/DatetimeDelete.php
  core/domain/services/graphql/mutators/DatetimeUpdate.php
  core/domain/services/graphql/mutators/EventUpdate.php
  core/domain/services/graphql/mutators/PriceCreate.php
  core/domain/services/graphql/mutators/PriceDelete.php
  core/domain/services/graphql/mutators/PriceUpdate.php
  core/domain/services/graphql/mutators/TicketCreate.php
  core/domain/services/graphql/mutators/TicketDelete.php
  core/domain/services/graphql/mutators/TicketUpdate.php
  core/domain/services/graphql/mutators/VenueUpdate.php
Labels: EDTR v2, category:models-and-data-infrastructure, priority:normal, type:enhancement 🎉, type:task 🧹

#3221 Tweaks for WP User EDTR Integration
  core/services/assets/BaristaFactory.php
  core/services/routing/Route.php
Labels: category:core-plugin, status:review, type:enhancement 🎉

#3223 More Prep for WP User Integration EDTR
  core/domain/entities/routing/data_nodes/domains/EventEditor.php
  core/domain/entities/routing/handlers/admin/ActivationRequests.php
  core/domain/entities/routing/handlers/admin/AdminRoute.php
  core/domain/entities/routing/handlers/admin/EspressoEventEditor.php
  core/domain/entities/routing/handlers/admin/EspressoEventsAdmin.php
  core/domain/entities/routing/handlers/admin/EspressoLegacyAdmin.php
  core/domain/entities/routing/handlers/admin/GutenbergEditor.php
  core/domain/entities/routing/handlers/admin/PersonalDataRequests.php
  core/domain/entities/routing/handlers/admin/PueRequests.php
  core/domain/entities/routing/handlers/admin/WordPressPluginsPage.php
  core/domain/entities/routing/handlers/frontend/FrontendRequests.php
  core/domain/entities/routing/handlers/frontend/ShortcodeRequests.php
  core/domain/entities/routing/handlers/shared/AssetRequests.php
  core/domain/entities/routing/handlers/shared/GQLRequests.php
  core/domain/entities/routing/handlers/shared/RegularRequests.php
  core/domain/entities/routing/handlers/shared/RestApiRequests.php
  core/domain/entities/routing/handlers/shared/SessionRequests.php
  core/domain/entities/routing/handlers/shared/WordPressHeartbeat.php
  core/services/json/JsonDataNodeHandler.php
  core/services/routing/PrimaryRoute.php
  core/services/routing/Route.php
  core/services/routing/RouteHandler.php
  core/services/routing/RouteInterface.php
  tests/mocks/core/domain/entities/routing/handlers/frontend/ShortcodeRequestsMock.php
  tests/mocks/core/domain/entities/routing/handlers/shared/GQLRequestsMock.php
  tests/mocks/core/domain/entities/routing/handlers/shared/RegularRequestsMock.php
  tests/mocks/core/domain/entities/routing/handlers/shared/RestApiRequestsMock.php
Labels: category:models-and-data-infrastructure, status:review, type:enhancement 🎉

#3225 Switch usage of .unload() to .on("unload", handler)
  admin_pages/registrations/assets/espresso_attendees_admin.js
  admin_pages/registrations/assets/espresso_registrations_admin.js
  admin_pages/registrations/assets/spco_for_admin.js
  caffeinated/admin/new/pricing/assets/espresso_pricing_admin.js
  core/admin/assets/ee-admin-page.js
  modules/single_page_checkout/js/single_page_checkout.js
Labels: priority:critical 🔥

#3226 Tweak Status Change Notices closes #3018 closes #3199
  caffeinated/admin/new/pricing/espresso_events_Pricing_Hooks.class.php
  core/admin/EE_Admin_Page.core.php
  core/admin/StatusChangeNotice.php
  core/admin/templates/admin_details_legend.template.php
  core/admin/templates/status_change_notice.template.php
  core/services/database/WordPressOption.php
Labels: category:admin-page-ui-&-ux, status:review, type:enhancement 🎉

#3230 Fix Ticket Selector Table Display When # Tickets > Too Many! fixes #3228
  modules/ticket_selector/assets/ticket_selector.js
Labels: category:frontend-ui-&-ux, status:review, type:bug 🐞

#3231 Hide Ticket Selector Ticket Rows Immediately
  modules/ticket_selector/TicketSelectorRowStandard.php
  modules/ticket_selector/assets/ticket_selector.css
  modules/ticket_selector/templates/ticket_details.template.php
Labels: category:frontend-ui-&-ux, category:ticket-selector, status:review, type:enhancement 🎉

#3232 fix how the EDTR authordiv is removed
  admin_pages/events/Events_Admin_Page.core.php
Labels: category:admin-page-ui-&-ux, status:review, type:bug 🐞

#3233 Add Default Reg Status to Event GQL Data Type and Mutator
  core/domain/entities/admin/GraphQLData/Event.php
  core/domain/services/graphql/data/loaders/AbstractLoader.php
  core/domain/services/graphql/data/loaders/AttendeeLoader.php
  core/domain/services/graphql/data/loaders/DatetimeLoader.php
  core/domain/services/graphql/data/loaders/PriceLoader.php
  core/domain/services/graphql/data/loaders/PriceTypeLoader.php
  core/domain/services/graphql/data/loaders/TicketLoader.php
  core/domain/services/graphql/data/loaders/VenueLoader.php
  core/domain/services/graphql/data/mutations/DatetimeMutation.php
  core/domain/services/graphql/data/mutations/EventMutation.php
  core/domain/services/graphql/data/mutations/PriceMutation.php
  core/domain/services/graphql/data/mutations/TicketMutation.php
  core/domain/services/graphql/data/mutations/VenueMutation.php
  core/domain/services/graphql/enums/AttendeesConnectionOrderbyEnum.php
  core/domain/services/graphql/enums/DatetimeStatusEnum.php
  core/domain/services/graphql/enums/DatetimesConnectionOrderbyEnum.php
  core/domain/services/graphql/enums/ModelNameEnum.php
  core/domain/services/graphql/enums/PriceBaseTypeEnum.php
  core/domain/services/graphql/enums/RegistrationStatusEnum.php
  core/domain/services/graphql/enums/TicketStatusEnum.php
  core/domain/services/graphql/enums/TicketsConnectionOrderbyEnum.php
  core/domain/services/graphql/mutators/BulkEntityMutator.php
  core/domain/services/graphql/mutators/DatetimeUpdate.php
  core/domain/services/graphql/mutators/EntityMutator.php
  core/domain/services/graphql/types/Datetime.php
  core/domain/services/graphql/types/Event.php
  core/services/graphql/enums/EnumBase.php
Labels: category:models-and-data-infrastructure, status:review, type:enhancement 🎉
