Repository eventespresso/event-espresso-core, pull requests merged in 2020-01, with the labels that each got.

#2138 Price type queries tests
  assets/prototype/domain/eventEditor/context/test/TestContextProviders.js
  assets/prototype/domain/eventEditor/context/test/data.ts
  assets/prototype/domain/eventEditor/context/test/useDomTestData.ts
  assets/prototype/domain/eventEditor/context/test/useSetRelationalData.ts
  assets/prototype/domain/eventEditor/data/queries/priceTypes/test/data.ts
  assets/prototype/domain/eventEditor/data/queries/priceTypes/test/useDefaultPriceType.test.ts
  assets/prototype/domain/eventEditor/data/queries/priceTypes/test/useFetchPriceTypes.test.ts
  assets/prototype/domain/eventEditor/data/queries/priceTypes/test/useInitPriceTypeTestCache.ts
  assets/prototype/domain/eventEditor/data/queries/priceTypes/test/usePriceTypeForPrice.test.ts
  assets/prototype/domain/eventEditor/data/queries/priceTypes/test/usePriceTypes.test.ts
  assets/prototype/domain/eventEditor/data/queries/priceTypes/useDefaultPriceType.ts
  assets/prototype/domain/eventEditor/data/queries/priceTypes/usePriceTypeForPrice.ts
  assets/prototype/domain/eventEditor/data/types.ts
  assets/prototype/domain/shared/predicates/priceTypes/selectionPredicates.js
Labels: EDTR Prototype, category:unit-tests, status:review

#2155 Write tests for useTicketPrices
  assets/prototype/domain/eventEditor/data/queries/tickets/test/useTicketPrices.test.ts
  assets/prototype/domain/eventEditor/data/queries/tickets/useTicketPrices.ts
Labels: EDTR Prototype, category:unit-tests, status:review

#2153 Add EE JS Test Data
  assets/prototype/application/services/config/test/data.ts
  assets/prototype/application/services/config/types.ts
  assets/prototype/domain/eventEditor/context/test/useDomTestData.ts
Labels: EDTR Prototype, category:unit-tests, status:review

#2156 Relations manager tests
  assets/prototype/application/services/apollo/relations/test/useRelationsManager/addRelation.test.ts
  assets/prototype/application/services/apollo/relations/test/useRelationsManager/dropRelations.test.ts
  assets/prototype/application/services/apollo/relations/test/useRelationsManager/getData.test.ts
  assets/prototype/application/services/apollo/relations/test/useRelationsManager/getRelations.test.ts
  assets/prototype/application/services/apollo/relations/test/useRelationsManager/removeRelation.test.ts
  assets/prototype/application/services/apollo/relations/test/useRelationsManager/setData.test.ts
  assets/prototype/application/services/apollo/relations/test/useRelationsManager/updateRelations.test.ts
  assets/prototype/application/services/apollo/relations/types.ts
  assets/prototype/application/services/apollo/relations/useRelationsManager.ts
Labels: EDTR Prototype, category:unit-tests

#2158 Cleanup Console Logging
  assets/prototype/application/services/apollo/relations/useRelationsManager.ts
  assets/prototype/application/services/apollo/status/useStatusManager.ts
  assets/prototype/application/services/context/ConfigProvider.tsx
  assets/prototype/application/ui/components/display/entityList/filterBar/useEntityListFilterState.js
  assets/prototype/application/ui/components/layout/editor-modal/useEditorModalState.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/useFetchDatetimes.ts
  assets/prototype/domain/eventEditor/data/queries/priceTypes/useFetchPriceTypes.ts
  assets/prototype/domain/eventEditor/data/queries/prices/useFetchPrices.ts
  assets/prototype/domain/eventEditor/data/queries/tickets/useFetchTickets.ts
  assets/prototype/domain/eventEditor/datetimes/dateCard/DateCard.js
  assets/prototype/domain/eventEditor/datetimes/dateList/DateList.js
  assets/prototype/domain/eventEditor/datetimes/dateList/filterBar/useDatesListFilterState.ts
  assets/prototype/domain/eventEditor/tickets/ticketCard/TicketCard.js
  assets/prototype/domain/eventEditor/tickets/ticketList/filterBar/useTicketListFilterState.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceModifierRow.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/hooks/useOnSubmitPrices.js
Labels: EDTR Prototype, type:task 🧹

#2159 Write Tests for useStatusManager
  assets/prototype/application/services/apollo/status/test/useStatusManager/error.test.ts
  assets/prototype/application/services/apollo/status/test/useStatusManager/loaded.test.ts
  assets/prototype/application/services/apollo/status/test/useStatusManager/loading.test.ts
Labels: EDTR Prototype, category:unit-tests, status:review

#2157 Move entityTextFieldSearch; closes #2145.
  assets/prototype/application/services/entityTextFieldSearch/index.ts
  assets/prototype/application/utilities/text/entityFieldSearch/index.test.ts
  assets/prototype/application/utilities/text/entityFieldSearch/index.ts
Labels: EDTR Prototype

#2162 Extract Shared Logic from Ticket Price Calculator Modal and Button
  assets/prototype/domain/eventEditor/tickets/ticketCard/TicketCard.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceCalculatorButton.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceCalculatorButtonData.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceCalculatorModal.js
  assets/prototype/domain/shared/entities/prices/defaultNewPriceModifier.js
  assets/prototype/domain/shared/predicates/prices/priceFields.js
  assets/prototype/domain/shared/predicates/prices/selectionPredicates.js
  assets/prototype/domain/shared/predicates/prices/updatePredicates.js
  assets/prototype/domain/shared/predicates/tickets/selectionPredicates.js
  assets/prototype/domain/shared/predicates/tickets/ticketFields.js
  assets/prototype/domain/shared/predicates/tickets/updatePredicates.js
Labels: EDTR Prototype, category:assets, type:task 🧹

#2161 Extract data handling from UI components; closes #2152.
  assets/prototype/application/ui/components/display/EmptyState.js
  assets/prototype/application/ui/components/display/EmptyState.tsx
  assets/prototype/application/ui/components/display/ErrorIndicator.js
  assets/prototype/application/ui/components/display/ErrorIndicator.tsx
  assets/prototype/application/ui/components/display/LoadingIndicator.js
  assets/prototype/domain/eventEditor/EventEditor.js
  assets/prototype/domain/eventEditor/EventEditor.tsx
  assets/prototype/domain/eventEditor/datetimes/DatesList/AddNewDateButton.js
  assets/prototype/domain/eventEditor/datetimes/DatesList/AddNewDateModal.js
  assets/prototype/domain/eventEditor/datetimes/DatesList/List.tsx
  assets/prototype/domain/eventEditor/datetimes/DatesList/filterBar/DatesListEntityFilters.js
  assets/prototype/domain/eventEditor/datetimes/DatesList/filterBar/DatesListFilterBar.js
  assets/prototype/domain/eventEditor/datetimes/DatesList/filterBar/controls/DatesSortedByControl.js
  assets/prototype/domain/eventEditor/datetimes/DatesList/filterBar/controls/DisplayDatesControl.js
  assets/prototype/domain/eventEditor/datetimes/DatesList/filterBar/controls/ShowDatesControl.js
  assets/prototype/domain/eventEditor/datetimes/DatesList/filterBar/useDatesListFilterState.test.ts
  assets/prototype/domain/eventEditor/datetimes/DatesList/filterBar/useDatesListFilterState.ts
  assets/prototype/domain/eventEditor/datetimes/DatesList/index.tsx
  assets/prototype/domain/eventEditor/datetimes/dateCard/DateCard.js
  assets/prototype/domain/eventEditor/datetimes/dateCard/EditDateModal.js
  assets/prototype/domain/eventEditor/datetimes/dateList/DateList.js
  assets/prototype/domain/eventEditor/tickets/TicketsList/AddNewTicketButton.js
  assets/prototype/domain/eventEditor/tickets/TicketsList/AddNewTicketModal.js
  assets/prototype/domain/eventEditor/tickets/TicketsList/List.tsx
  assets/prototype/domain/eventEditor/tickets/TicketsList/filterBar/TicketListFilterBar.js
  assets/prototype/domain/eventEditor/tickets/TicketsList/filterBar/TicketsListEntityFilters.js
  assets/prototype/domain/eventEditor/tickets/TicketsList/filterBar/controls/DisplayTicketsControl.js
  assets/prototype/domain/eventEditor/tickets/TicketsList/filterBar/controls/ShowTicketsControl.js
  assets/prototype/domain/eventEditor/tickets/TicketsList/filterBar/controls/TicketsChainedButton.js
  assets/prototype/domain/eventEditor/tickets/TicketsList/filterBar/controls/TicketsSortedByControl.js
  assets/prototype/domain/eventEditor/tickets/TicketsList/filterBar/style.css
  assets/prototype/domain/eventEditor/tickets/TicketsList/filterBar/useTicketListFilterState.js
  assets/prototype/domain/eventEditor/tickets/TicketsList/index.tsx
  assets/prototype/domain/eventEditor/tickets/ticketList/TicketList.js
Labels: EDTR Prototype

#2165 Combine DOM dump data
  assets/prototype/domain/eventEditor/context/EventEditorEventIdProvider.tsx
  assets/prototype/domain/eventEditor/context/test/data.ts
  assets/prototype/domain/eventEditor/context/test/useDomTestData.ts
  assets/prototype/domain/eventEditor/context/test/useSetRelationalData.ts
  assets/prototype/domain/eventEditor/data/queries/useCacheRehydrationData.ts
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceCalculatorModal.js
  assets/prototype/domain/eventEditor/types.ts
  assets/prototype/infrastructure/services/apollo/Apollo.ts
  caffeinated/admin/extend/events/Extend_Events_Admin_Page.core.php
  core/EE_Dependency_Map.core.php
  core/domain/services/admin/events/editor/AdvancedEditorData.php
  core/domain/services/graphql/types/RootQuery.php
Labels: EDTR Prototype, category:assets, status:review, type:enhancement 🎉

#2166 Time Constants movement; closes #2120.
  assets/prototype/application/constants/time.ts
  assets/prototype/domain/shared/predicates/datetimes/isRecentlyExpired.ts
  assets/prototype/domain/shared/predicates/shared/constants.ts
Labels: EDTR Prototype, category:unit-tests, type:enhancement 🎉

#2167 Add `changeCase` Text Utility; closes #2131.
  assets/prototype/application/utilities/text/changeCase/index.test.ts
  assets/prototype/application/utilities/text/changeCase/index.ts
  assets/prototype/application/utilities/text/index.ts
  assets/prototype/application/utils/index.ts
Labels: EDTR Prototype

#2109 Casc/store to db easy
  tests/testcases/core/services/orm/tree_traversal/ModelObjNodeTest.php
Labels: category:models-and-data-infrastructure, status:review, type:task 🧹

#2110 Perform cascading deletion in batches
  admin_pages/events/Events_Admin_Page.core.php
  admin_pages/events/templates/event_preview_deletion.template.php
  core/libraries/batch/JobHandlers/ExecuteBatchDeletion.php
  core/libraries/batch/JobHandlers/PreviewEventDeletion.php
  core/services/orm/tree_traversal/BaseNode.php
  core/services/orm/tree_traversal/ModelObjNode.php
  core/services/orm/tree_traversal/RelationNode.php
  tests/testcases/admin_pages/events/Events_Admin_Page_Test.php
  tests/testcases/core/services/orm/tree_traversal/ModelObjNodeTest.php
  tests/testcases/core/services/orm/tree_traversal/RelationNodeTest.php
Labels: category:admin-pages, category:models-and-data-infrastructure, status:review

#2170 Fix add new entity crash
  assets/prototype/domain/eventEditor/data/mutations/datetimes/updateTicketCache.ts
  assets/prototype/domain/eventEditor/data/queries/useCacheRehydration.ts
  assets/prototype/domain/eventEditor/datetimes/DatetimeId.js
  assets/prototype/domain/eventEditor/datetimes/dateForm/DateForm.js
  assets/prototype/domain/eventEditor/tickets/TicketId.js
  assets/prototype/domain/eventEditor/tickets/ticketForm/TicketForm.js
  core/EE_Dependency_Map.core.php
  core/domain/services/admin/events/editor/AdvancedEditorData.php
Labels: EDTR Prototype, status:review, type:bug 🐞

#2168 Check-ins page: Add error proofing and display error message if no valid REG ID is passed
  caffeinated/admin/extend/registrations/Extend_Registrations_Admin_Page.core.php
Labels: category:admin-pages

#1587 delays enqueueing reg steps JS until wp_enqueue_scripts and adm…
  modules/single_page_checkout/EED_Single_Page_Checkout.module.php
Labels: category:assets, category:payment-methods, category:spco-&-registration, status:merge, type:enhancement 🎉

#2171 Converted TicketProvider to TS and added tests; closes #2127.
  assets/prototype/application/ui/components/layout/editor-modal/useEditorModalState/index.test.ts
  assets/prototype/application/ui/components/layout/editor-modal/useEditorModalState/index.ts
  assets/prototype/domain/eventEditor/context/TicketProvider.js
  assets/prototype/domain/eventEditor/context/TicketProvider/index.tsx
  assets/prototype/domain/eventEditor/context/TicketProvider/useTicketEditorId.ts
Labels: EDTR Prototype

#2173 dont delete custom message templates. They might be used by oth…
  core/libraries/batch/JobHandlers/ExecuteBatchDeletion.php
  core/libraries/batch/JobHandlers/PreviewEventDeletion.php
  tests/testcases/admin_pages/events/Events_Admin_Page_Test.php
  tests/testcases/core/services/orm/tree_traversal/ModelObjNodeTest.php
Labels: status:review, type:bug 🐞

#2172 Datetime mutation tests
  assets/prototype/domain/eventEditor/data/mutations/datetimes/test/createDatetime.test.ts
  assets/prototype/domain/eventEditor/data/mutations/datetimes/test/data.ts
  assets/prototype/domain/eventEditor/data/mutations/datetimes/test/deleteDatetime.test.ts
  assets/prototype/domain/eventEditor/data/mutations/datetimes/test/updateDatetime.test.ts
  assets/prototype/domain/eventEditor/data/mutations/datetimes/useDatetimeMutator.ts
  assets/prototype/domain/eventEditor/data/queries/index.ts
  assets/prototype/domain/eventEditor/data/queries/types.ts
  assets/prototype/domain/eventEditor/data/queries/useCacheRehydration.ts
Labels: EDTR Prototype, category:unit-tests, status:review

#2183 Fix React Hook warning
  assets/prototype/domain/eventEditor/data/queries/priceTypes/usePriceTypeForPrice.ts
Labels: EDTR Prototype, type:bug 🐞

#2177 extract money utilities
  assets/prototype/application/utilities/money/amountsMatch.ts
  assets/prototype/application/utilities/money/formatAmount.ts
  assets/prototype/application/utilities/money/index.js
  assets/prototype/application/utilities/money/parsedAmount.ts
  assets/prototype/application/utilities/money/useMoneyDisplay.ts
Labels: EDTR Prototype, type:enhancement 🎉

#2190 Improve ESLint TS support
  .eslintrc.json
  package-lock.json
  package.json
Labels: EDTR Prototype, status:review, type: tooling :hammer:

#2176 Extract Ticket Price Calculator Form Decorators
  assets/prototype/application/utilities/money/amountsMatch.js
  assets/prototype/domain/eventEditor/data/queries/priceTypes/test/data.ts
  assets/prototype/domain/eventEditor/data/queries/priceTypes/test/useDefaultPriceType.test.ts
  assets/prototype/domain/eventEditor/data/queries/priceTypes/test/usePriceTypeForPrice.test.ts
  assets/prototype/domain/eventEditor/data/queries/priceTypes/useDefaultPriceType.ts
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceCalculatorForm.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/formDecorators/usePriceAmountDecorator.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/formDecorators/usePriceTypeDecorator.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/formDecorators/useReverseCalculateDecorator.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/formDecorators/useTicketTotalDecorator.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/formDecorators/utilities.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/hooks/basePriceCalculator.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/hooks/calculateTicketTotal.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/hooks/ticketTotalCalculator.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/hooks/useTicketPriceCalculator.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/hooks/useTicketPriceCalculatorFormDecorator.js
  assets/prototype/domain/shared/entities/prices/defaultNewPriceModifier.js
  assets/prototype/domain/shared/predicates/priceTypes/selectionPredicates.js
  assets/prototype/domain/shared/predicates/prices/selectionPredicates.js
  assets/prototype/domain/shared/predicates/prices/updatePredicates.js
Labels: EDTR Prototype, type:enhancement 🎉

#2187 Preview Data before deletion and ask for confirmation
  admin_pages/events/Events_Admin_Page.core.php
  admin_pages/events/form_sections/ConfirmEventDeletionForm.php
  admin_pages/events/templates/event_preview_deletion.template.php
  caffeinated/admin/extend/registrations/Extend_Registrations_Admin_Page.core.php
  core/EE_Dependency_Map.core.php
  core/db_classes/EE_Registration.class.php
  core/domain/services/admin/events/data/ConfirmDeletion.php
  core/domain/services/admin/events/data/PreviewDeletion.php
  core/libraries/batch/JobHandlers/ExecuteBatchDeletion.php
  core/libraries/batch/JobHandlers/PreviewEventDeletion.php
  core/libraries/form_sections/base/EE_Form_Section_Proper.form.php
  core/services/orm/tree_traversal/NodeGroupDao.php
Labels: category:admin-page-ui-&-ux, status:review, type:feature-request 🙏

#2191 Typefy Apollo query functions / Add more types
  assets/prototype/application/services/apollo/mutations/useEntityMutation.ts
  assets/prototype/application/services/apollo/mutations/useEntityMutator.ts
  assets/prototype/application/valueObjects/config/types.ts
  assets/prototype/domain/eventEditor/context/test/TestContextProviders.tsx
  assets/prototype/domain/eventEditor/context/test/data.ts
  assets/prototype/domain/eventEditor/context/test/types.ts
  assets/prototype/domain/eventEditor/data/mutations/datetimes/test/createDatetime.test.ts
  assets/prototype/domain/eventEditor/data/mutations/datetimes/test/data.ts
  assets/prototype/domain/eventEditor/data/mutations/datetimes/test/updateDatetime.test.ts
  assets/prototype/domain/eventEditor/data/mutations/datetimes/updateTicketCache.ts
  assets/prototype/domain/eventEditor/data/mutations/datetimes/useDatetimeMutator.ts
  assets/prototype/domain/eventEditor/data/mutations/datetimes/useUpdateDatetimeCache.ts
  assets/prototype/domain/eventEditor/data/mutations/prices/test/createPrice.test.ts
  assets/prototype/domain/eventEditor/data/mutations/prices/test/data.ts
  assets/prototype/domain/eventEditor/data/mutations/prices/usePriceMutator.ts
  assets/prototype/domain/eventEditor/data/mutations/prices/useUpdatePriceCache.ts
  assets/prototype/domain/eventEditor/data/mutations/tickets/test/data.ts
  assets/prototype/domain/eventEditor/data/mutations/tickets/test/updateTicket.test.ts
  assets/prototype/domain/eventEditor/data/mutations/tickets/updatePriceCache.ts
  assets/prototype/domain/eventEditor/data/mutations/tickets/useTicketMutator.ts
  assets/prototype/domain/eventEditor/data/mutations/tickets/useUpdateTicketCache.ts
  assets/prototype/domain/eventEditor/data/mutations/types.ts
  assets/prototype/domain/eventEditor/data/queries/currentUser/useCurrentUser.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/useDatetimeItem.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/useDatetimes.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/useFetchDatetimes.ts
  assets/prototype/domain/eventEditor/data/queries/generalSettings/useGeneralSettings.ts
  assets/prototype/domain/eventEditor/data/queries/index.ts
  assets/prototype/domain/eventEditor/data/queries/priceTypes/useFetchPriceTypes.ts
  assets/prototype/domain/eventEditor/data/queries/priceTypes/usePriceTypes.ts
  assets/prototype/domain/eventEditor/data/queries/prices/useFetchPrices.ts
  assets/prototype/domain/eventEditor/data/queries/prices/usePrices.ts
  assets/prototype/domain/eventEditor/data/queries/tickets/useFetchTickets.ts
  assets/prototype/domain/eventEditor/data/queries/tickets/useTicketItem.ts
  assets/prototype/domain/eventEditor/data/queries/tickets/useTickets.ts
  assets/prototype/domain/eventEditor/data/queries/types.ts
  assets/prototype/domain/eventEditor/data/queries/useCacheRehydration.ts
  assets/prototype/domain/eventEditor/data/types.ts
Labels: EDTR Prototype, status:review

#2202 Add Espresso Button and Icon Components
  assets/prototype/application/ui/components/display/espressoIcon/EspressoIcon.tsx
  assets/prototype/application/ui/components/display/espressoIcon/index.ts
  assets/prototype/application/ui/components/display/espressoIcon/isEspressoIcon.ts
  assets/prototype/application/ui/components/display/espressoIcon/svgPaths.ts
  assets/prototype/application/ui/components/display/espressoIcon/types.ts
  assets/prototype/application/ui/components/display/index.js
  assets/prototype/application/ui/components/forms/FormModal.js
  assets/prototype/application/ui/components/input/espressoButton/EspressoButton.tsx
  assets/prototype/application/ui/components/input/espressoButton/index.ts
  assets/prototype/application/ui/components/input/espressoButton/types.ts
  assets/prototype/application/ui/components/input/index.js
  assets/prototype/domain/eventEditor/context/TicketProvider/index.tsx
  assets/prototype/domain/eventEditor/datetimes/DatesList/AddNewDateButton.tsx
  assets/prototype/domain/eventEditor/tickets/TicketsList/AddNewTicketButton.tsx
Labels: EDTR Prototype, status:review, type:enhancement 🎉

#2201 Write tests for domain initialization
  assets/prototype/domain/eventEditor/context/test/data.ts
  assets/prototype/domain/eventEditor/context/test/useDomTestData.ts
  assets/prototype/domain/eventEditor/data/entities/test/useUpdateDatetimeList.test.ts
  assets/prototype/domain/eventEditor/data/entities/test/useUpdatePriceTypeList.test.ts
  assets/prototype/domain/eventEditor/data/entities/test/useUpdatePricetList.test.ts
  assets/prototype/domain/eventEditor/data/entities/test/useUpdateTicketList.test.ts
  assets/prototype/domain/eventEditor/data/initialization/test/useCacheRehydration.test.ts
  assets/prototype/domain/eventEditor/data/initialization/test/useCacheRehydrationData.test.ts
  assets/prototype/domain/eventEditor/data/initialization/useCacheRehydration.ts
  assets/prototype/domain/eventEditor/data/initialization/useCacheRehydrationData.ts
  assets/prototype/domain/shared/data/queries/currentUser/test/data.ts
  assets/prototype/domain/shared/data/queries/currentUser/test/useCurrentUser.test.ts
  assets/prototype/domain/shared/data/queries/currentUser/test/useFetchCurrentUser.test.ts
  assets/prototype/domain/shared/data/queries/currentUser/test/useUpdateCurrentUserCache.test.ts
  assets/prototype/domain/shared/data/queries/generalSettings/test/data.ts
  assets/prototype/domain/shared/data/queries/generalSettings/test/useFetchGeneralSettings.test.ts
  assets/prototype/domain/shared/data/queries/generalSettings/test/useGeneralSettings.test.ts
  assets/prototype/domain/shared/data/queries/generalSettings/test/useUpdateGeneralSettingsCache.test.ts
Labels: EDTR Prototype, category:unit-tests, status:review

#2211 Write tests for Application Status Provider
  assets/prototype/application/services/apollo/status/useStatusManager.ts
  assets/prototype/application/services/context/ConfigProvider.tsx
  assets/prototype/application/services/context/RelationsProvider.tsx
  assets/prototype/application/services/context/StatusProvider.tsx
  assets/prototype/application/services/context/ToastProvider.tsx
  assets/prototype/application/services/context/test/StatusProvider.test.tsx
  assets/prototype/application/services/context/types.ts
  package-lock.json
  package.json
Labels: EDTR Prototype, category:unit-tests

#2181 Extract Ticket Price Calculator Components closes #2003
  assets/prototype/domain/eventEditor/context/TicketProvider/index.tsx
  assets/prototype/domain/eventEditor/data/types.ts
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/AddPriceModifierButton.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/DeletePriceModifierButton.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/PriceAmountInput.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/PriceDescriptionInput.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/PriceIdInput.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/PriceModifierActions.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/PriceNameInput.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/PriceTypeInput.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceCalculatorForm.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceCalculatorForm.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceCalculatorModal.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceModifierRow.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceModifierRowIterator.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceTotalRow.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/formDecorators/usePriceTypeDecorator.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/inlineStyles.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/inlineStyles.ts
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/types.ts
Labels: EDTR Prototype, type:enhancement 🎉

#2193 Close the div at the correct location (after the reg form not before it)
  modules/single_page_checkout/reg_steps/attendee_information/attendee_info_single.template.php
Labels: category:spco-&-registration, category:templates-shortcodes-and-widgets, status:merge, type:bug 🐞

#2213 Write tests for application config provider
  assets/prototype/application/services/context/ConfigProvider.tsx
  assets/prototype/application/services/context/test/ConfigProvider.test.tsx
  assets/prototype/domain/eventEditor/context/ContextProviders.js
Labels: EDTR Prototype, category:unit-tests, status:review

#2215 Write tests for Application Relations provider
  assets/prototype/application/services/context/RelationsProvider.tsx
  assets/prototype/application/services/context/test/RelationsProvider.test.tsx
Labels: EDTR Prototype, category:unit-tests, status:review

#2214 Convert Ticket Price Calculator to TypeScript closes #2204
  assets/prototype/application/utilities/converters/number/toInteger.ts
  assets/prototype/application/utilities/converters/toBoolean.ts
  assets/prototype/domain/eventEditor/data/types.ts
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/AddPriceModifierButton.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/AddPriceModifierButtonData.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/DeletePriceModifierButton.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/PriceAmountInput.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/PriceDescriptionInput.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/PriceIdInput.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/PriceModifierActions.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/PriceNameInput.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/PriceTypeInput.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceCalculatorButton.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceCalculatorButton.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceCalculatorButtonData.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceCalculatorButtonData.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceCalculatorForm.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceCalculatorModal.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceModifierRow.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceModifierRowIterator.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceTotalRow.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/formDecorators/usePriceAmountDecorator.ts
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/formDecorators/usePriceTypeDecorator.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/formDecorators/usePriceTypeDecorator.ts
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/formDecorators/useReverseCalculateDecorator.ts
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/formDecorators/useTicketTotalDecorator.ts
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/formDecorators/utilities.js
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/formDecorators/utilities.ts
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/hooks/basePriceCalculator.ts
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/hooks/calculateBasePrice.ts
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/hooks/calculateTicketTotal.ts
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/hooks/ticketTotalCalculator.ts
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/hooks/useOnSubmitPrices.ts
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/hooks/useTicketPriceCalculator.ts
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/hooks/useTicketPriceCalculatorFormDecorator.ts
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/hooks/useTicketPriceCalculatorFormMutators.ts
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/types.ts
  assets/prototype/domain/shared/predicates/prices/priceFields.js
  assets/prototype/domain/shared/predicates/prices/selectionPredicates.js
  assets/prototype/domain/shared/predicates/prices/updatePredicates.js
  assets/prototype/domain/shared/predicates/prices/updatePredicates.ts
Labels: EDTR Prototype, category:assets, type:enhancement 🎉

#2196 Add Tests for Price Type Predicates; closes #2118.
  assets/prototype/domain/eventEditor/data/queries/priceTypes/useDefaultPriceType.ts
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/formDecorators/usePriceTypeDecorator.ts
  assets/prototype/domain/shared/predicates/priceTypes/index.ts
  assets/prototype/domain/shared/predicates/priceTypes/selectionPredicates/index.test.ts
  assets/prototype/domain/shared/predicates/priceTypes/selectionPredicates/index.ts
Labels: EDTR Prototype

#2246 Complete event GQL mutations
  core/domain/services/graphql/data/mutations/EventMutation.php
  core/domain/services/graphql/types/Datetime.php
  core/domain/services/graphql/types/Event.php
Labels: EDTR Prototype, status:review, type:enhancement 🎉

#2249 TS: No optional props for entities closes #2233
  assets/prototype/application/utilities/text/entityFieldSearch/index.test.ts
  assets/prototype/domain/eventEditor/context/DateTimeProvider/useDateEditorId.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/index.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/test/data.ts
  assets/prototype/domain/eventEditor/data/queries/index.ts
  assets/prototype/domain/eventEditor/data/queries/tickets/index.ts
  assets/prototype/domain/eventEditor/data/queries/tickets/test/data.ts
  assets/prototype/domain/eventEditor/data/types.ts
  assets/prototype/domain/eventEditor/datetimes/DatesList/filterBar/useDatesListFilterState/index.test.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/activeOnly/index.test.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/allDates/index.test.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/belowCapacity/index.test.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/expiredOnly/index.test.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/nextActiveUpcomingOnly/index.test.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/recentlyExpiredOnly/index.test.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/soldOutOnly/index.test.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/tests/data.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/trashedOnly/index.test.ts
  assets/prototype/domain/shared/predicates/datetimes/filters/upcomingOnly/index.test.ts
  assets/prototype/domain/shared/predicates/tickets/filters/percentSoldAtOrAbove/index.test.ts
  assets/prototype/domain/shared/predicates/tickets/filters/percentSoldBelow/index.test.ts
  assets/prototype/domain/shared/predicates/tickets/test/data.ts
  core/domain/services/admin/events/editor/AdvancedEditorData.php
  core/domain/services/graphql/connection_resolvers/DatetimeConnectionResolver.php
  core/domain/services/graphql/connection_resolvers/TicketConnectionResolver.php
  core/domain/services/graphql/enums/DatetimeStatusEnum.php
  core/domain/services/graphql/enums/TicketStatusEnum.php
  core/domain/services/graphql/types/Datetime.php
  core/domain/services/graphql/types/Ticket.php
Labels: EDTR Prototype, status:review, type:code-quality 👾

#2251 Add Tests for Shared Predicates; closes #2117.
  assets/prototype/domain/eventEditor/data/queries/datetimes/test/data.ts
  assets/prototype/domain/eventEditor/data/queries/priceTypes/usePriceTypes.ts
  assets/prototype/domain/eventEditor/data/queries/prices/usePrices.ts
  assets/prototype/domain/eventEditor/data/types.ts
  assets/prototype/domain/shared/predicates/shared/index.ts
  assets/prototype/domain/shared/predicates/shared/selectionPredicates.js
  assets/prototype/domain/shared/predicates/shared/selectionPredicates/index.test.ts
  assets/prototype/domain/shared/predicates/shared/selectionPredicates/index.ts
Labels: EDTR Prototype

#2252 Registration report - convert filename spaces to '-' and add a filter
  core/libraries/batch/JobHandlers/RegistrationsReport.php
Labels: category:reports-exporting-importing

#2253 Typefy Editor Datetimes Components closes #2236
  assets/dist/prototype/domain/eventEditor/datetimes/dateCard/DeleteDateButton.d.ts
  assets/prototype/application/services/apollo/mutations/index.ts
  assets/prototype/application/services/apollo/mutations/useEntityMutator.ts
  assets/prototype/domain/eventEditor/context/DateTimeProvider/index.tsx
  assets/prototype/domain/eventEditor/datetimes/DatesList/AddNewDateButton.tsx
  assets/prototype/domain/eventEditor/datetimes/DatesList/AddNewDateModal.tsx
  assets/prototype/domain/eventEditor/datetimes/DatesList/List.tsx
  assets/prototype/domain/eventEditor/datetimes/DatesList/filterBar/DatesListEntityFilters.tsx
  assets/prototype/domain/eventEditor/datetimes/DatesList/filterBar/DatesListFilterBar.tsx
  assets/prototype/domain/eventEditor/datetimes/DatesList/filterBar/controls/DatesSortedByControl.tsx
  assets/prototype/domain/eventEditor/datetimes/DatesList/filterBar/controls/DisplayDatesControl.tsx
  assets/prototype/domain/eventEditor/datetimes/DatesList/filterBar/controls/ShowDatesControl.tsx
  assets/prototype/domain/eventEditor/datetimes/DatesList/filterBar/useDatesListFilterState/index.ts
  assets/prototype/domain/eventEditor/datetimes/DatesList/index.tsx
  assets/prototype/domain/eventEditor/datetimes/DatetimeId.tsx
  assets/prototype/domain/eventEditor/datetimes/dateCard/DateCard.tsx
  assets/prototype/domain/eventEditor/datetimes/dateCard/DeleteDateButton.tsx
  assets/prototype/domain/eventEditor/datetimes/dateCard/EditDate.js
  assets/prototype/domain/eventEditor/datetimes/dateCard/EditDate.tsx
  assets/prototype/domain/eventEditor/datetimes/dateCard/EditDateButton.tsx
  assets/prototype/domain/eventEditor/datetimes/dateCard/EditDateModal.tsx
  assets/prototype/domain/eventEditor/datetimes/dateCard/styles.ts
  assets/prototype/domain/eventEditor/datetimes/dateForm/DateForm.tsx
  assets/prototype/domain/eventEditor/datetimes/types.ts
  assets/prototype/domain/eventEditor/tickets/TicketsList/AddNewTicketButton.tsx
  assets/prototype/domain/eventEditor/types.ts
  assets/prototype/domain/shared/RelationsSelector.tsx
  assets/prototype/domain/shared/dateRangeInput/DateRangePicker.tsx
  assets/prototype/domain/shared/dateRangeInput/formatSelect.js
  assets/prototype/domain/shared/dateRangeInput/formatSelect.tsx
  assets/prototype/domain/shared/dateRangeInput/momentDate.tsx
Labels: EDTR Prototype, status:review, type:code-quality 👾

#2254 Typefy ContextProviders | Closes #2235
  assets/prototype/domain/eventEditor/context/ContextProviders.tsx
  assets/prototype/domain/eventEditor/context/test/TestContextProviders.tsx
  assets/prototype/domain/eventEditor/context/types.ts
  assets/prototype/domain/eventEditor/index.tsx
  assets/prototype/infrastructure/services/apollo/Apollo.ts
  config/webpack.common.js
Labels: EDTR Prototype, status:review, type:code-quality 👾

#2257 React.FunctionComponent to React.FC | Closes #2256
  assets/prototype/application/services/context/ConfigProvider.tsx
  assets/prototype/application/services/context/RelationsProvider.tsx
  assets/prototype/application/services/context/StatusProvider.tsx
  assets/prototype/application/services/context/ToastProvider.tsx
  assets/prototype/application/ui/components/display/espressoIcon/EspressoIcon.tsx
  assets/prototype/application/ui/components/input/espressoButton/EspressoButton.tsx
  assets/prototype/domain/eventEditor/context/DateTimeProvider/index.tsx
  assets/prototype/domain/eventEditor/context/TicketProvider/index.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/AddPriceModifierButton.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/DeletePriceModifierButton.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/PriceAmountInput.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/PriceDescriptionInput.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/PriceIdInput.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/PriceModifierActions.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/PriceNameInput.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/PriceTypeInput.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceCalculatorButton.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceCalculatorButtonData.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceCalculatorForm.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceCalculatorModal.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceModifierRow.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceModifierRowIterator.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceTotalRow.tsx
Labels: EDTR Prototype, status:review, type:code-quality 👾

#2209 Run EVENT_META_* values through do_shortcode
  core/libraries/shortcodes/EE_Event_Shortcodes.lib.php
Labels: category:messaging-&-messengers, type:enhancement 🎉

#2260 Move useMutators to eventEditor domain | Closes #2227
  assets/prototype/application/services/apollo/mutations/useEntityMutation.ts
  assets/prototype/application/services/apollo/mutations/useMutators.ts
  assets/prototype/domain/eventEditor/data/mutations/index.ts
  assets/prototype/domain/eventEditor/data/mutations/useMutators.ts
Labels: EDTR Prototype, status:review, type:code-quality 👾

#2259 Typefy Event Editor Tickets Components | Closes #2237
  assets/prototype/application/ui/components/input/CurrencyInput.tsx
  assets/prototype/domain/eventEditor/constants/index.js
  assets/prototype/domain/eventEditor/context/TicketProvider/index.tsx
  assets/prototype/domain/eventEditor/data/ticket/types.ts
  assets/prototype/domain/eventEditor/datetimes/DatesList/filterBar/controls/DatesSortedByControl.tsx
  assets/prototype/domain/eventEditor/datetimes/dateCard/EditDate.tsx
  assets/prototype/domain/eventEditor/datetimes/dateCard/EditDateModal.tsx
  assets/prototype/domain/eventEditor/datetimes/dateForm/DateForm.tsx
  assets/prototype/domain/eventEditor/datetimes/dateForm/style.ts
  assets/prototype/domain/eventEditor/datetimes/types.ts
  assets/prototype/domain/eventEditor/tickets/TicketId.tsx
  assets/prototype/domain/eventEditor/tickets/TicketsList/AddNewTicketModal.tsx
  assets/prototype/domain/eventEditor/tickets/TicketsList/List.tsx
  assets/prototype/domain/eventEditor/tickets/TicketsList/filterBar/TicketListFilterBar.tsx
  assets/prototype/domain/eventEditor/tickets/TicketsList/filterBar/TicketsListEntityFilters.tsx
  assets/prototype/domain/eventEditor/tickets/TicketsList/filterBar/controls/DisplayTicketsControl.tsx
  assets/prototype/domain/eventEditor/tickets/TicketsList/filterBar/controls/ShowTicketsControl.tsx
  assets/prototype/domain/eventEditor/tickets/TicketsList/filterBar/controls/TicketsChainedButton.js
  assets/prototype/domain/eventEditor/tickets/TicketsList/filterBar/controls/TicketsChainedButton.tsx
  assets/prototype/domain/eventEditor/tickets/TicketsList/filterBar/controls/TicketsSortedByControl.tsx
  assets/prototype/domain/eventEditor/tickets/TicketsList/filterBar/useTicketListFilterState/index.test.ts
  assets/prototype/domain/eventEditor/tickets/TicketsList/filterBar/useTicketListFilterState/index.ts
  assets/prototype/domain/eventEditor/tickets/TicketsList/index.tsx
  assets/prototype/domain/eventEditor/tickets/hooks/useDeleteTicketHandler.ts
  assets/prototype/domain/eventEditor/tickets/ticketCard/DeleteTicketButton.tsx
  assets/prototype/domain/eventEditor/tickets/ticketCard/EditTicket.tsx
  assets/prototype/domain/eventEditor/tickets/ticketCard/EditTicketButton.tsx
  assets/prototype/domain/eventEditor/tickets/ticketCard/EditTicketModal.tsx
  assets/prototype/domain/eventEditor/tickets/ticketCard/TicketCard.tsx
  assets/prototype/domain/eventEditor/tickets/ticketCard/styles.ts
  assets/prototype/domain/eventEditor/tickets/ticketForm/TicketForm.tsx
  assets/prototype/domain/eventEditor/tickets/ticketForm/style.ts
  assets/prototype/domain/eventEditor/tickets/types.ts
  assets/prototype/domain/shared/RelationsSelector.tsx
  assets/prototype/domain/shared/defaultDates.ts
  assets/prototype/domain/shared/entities/prices/defaultNewPriceModifier.ts
  assets/prototype/domain/shared/index.ts
  assets/prototype/domain/shared/predicates/prices/priceFields.ts
  assets/prototype/domain/shared/predicates/tickets/filters/sortTicketsList.ts
Labels: EDTR Prototype, status:review, type:code-quality 👾

#2262 Migrate `useRect()` hook from EDTR v1 to Prototype; closes #2261.
  assets/prototype/application/hooks/useRect.js
  assets/prototype/application/ui/components/display/entityList/filterBar/Collapsible.js
  config/webpack.common.js
Labels: EDTR Prototype

#2264 Revert webpack cleanup issues; related #2261.
  config/webpack.common.js
Labels: status:triage

#2263 date-fns for dateRangeInput | Closes #2255
  assets/prototype/domain/eventEditor/datetimes/dateCard/DateCard.tsx
  assets/prototype/domain/shared/dateRangeInput/DateRangePicker.tsx
  assets/prototype/domain/shared/dateRangeInput/dateDisplay.tsx
  assets/prototype/domain/shared/dateRangeInput/formatSelect.tsx
  assets/prototype/domain/shared/dateRangeInput/momentDate.tsx
  config/webpack.common.js
Labels: EDTR Prototype, status:review, type:task 🧹

#2265 Create Entity specific hooks | Closes #2228
  assets/prototype/domain/eventEditor/context/DateTimeProvider/index.tsx
  assets/prototype/domain/eventEditor/datetimes/dateCard/EditDateButton.tsx
  assets/prototype/domain/eventEditor/datetimes/dateCard/EditDateModal.tsx
  assets/prototype/domain/eventEditor/datetimes/dateForm/DateForm.tsx
  assets/prototype/domain/eventEditor/hooks/index.ts
  assets/prototype/domain/eventEditor/hooks/test/useDatetimeContext.test.tsx
  assets/prototype/domain/eventEditor/hooks/test/useTicketContext.test.tsx
  assets/prototype/domain/eventEditor/hooks/useDatetimeContext.ts
  assets/prototype/domain/eventEditor/hooks/useTicketContext.ts
  assets/prototype/domain/eventEditor/tickets/ticketCard/EditTicketButton.tsx
  assets/prototype/domain/eventEditor/tickets/ticketCard/EditTicketModal.tsx
  assets/prototype/domain/eventEditor/tickets/ticketForm/TicketForm.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceCalculatorButtonData.tsx
  package-lock.json
  package.json
Labels: EDTR Prototype, category:unit-tests, status:review, type:code-quality 👾

#2266 Rename Components and Folders; closes #2230.
  assets/prototype/application/ui/components/layout/editorModal/useEditorModalState/index.test.ts
  assets/prototype/application/ui/components/layout/editorModal/useEditorModalState/index.ts
  assets/prototype/application/ui/components/layout/editorModal/useEditorModalState/types.ts
  assets/prototype/application/utilities/money/amountsMatch.js
  assets/prototype/domain/eventEditor/EventEditor.tsx
  assets/prototype/domain/eventEditor/context/DateTimeProvider/index.tsx
  assets/prototype/domain/eventEditor/context/DateTimeProvider/useDateEditorId.ts
  assets/prototype/domain/eventEditor/context/TicketProvider/index.tsx
  assets/prototype/domain/eventEditor/context/TicketProvider/useTicketEditorId.ts
  assets/prototype/domain/eventEditor/datetimes/DatetimeIdTag.tsx
  assets/prototype/domain/eventEditor/datetimes/dateCard/DateCard.tsx
  assets/prototype/domain/eventEditor/datetimes/datesList/AddNewDateButton.tsx
  assets/prototype/domain/eventEditor/datetimes/datesList/AddNewDateModal.tsx
  assets/prototype/domain/eventEditor/datetimes/datesList/List.tsx
  assets/prototype/domain/eventEditor/datetimes/datesList/filterBar/DatesListEntityFilters.tsx
  assets/prototype/domain/eventEditor/datetimes/datesList/filterBar/DatesListFilterBar.tsx
  assets/prototype/domain/eventEditor/datetimes/datesList/filterBar/controls/DatesSortedByControl.tsx
  assets/prototype/domain/eventEditor/datetimes/datesList/filterBar/controls/DisplayDatesControl.tsx
  assets/prototype/domain/eventEditor/datetimes/datesList/filterBar/controls/ShowDatesControl.tsx
  assets/prototype/domain/eventEditor/datetimes/datesList/filterBar/useDatesListFilterState/index.test.ts
  assets/prototype/domain/eventEditor/datetimes/datesList/filterBar/useDatesListFilterState/index.ts
  assets/prototype/domain/eventEditor/datetimes/datesList/index.tsx
  assets/prototype/domain/eventEditor/tickets/TicketIdTag.tsx
  assets/prototype/domain/eventEditor/tickets/ticketCard/TicketCard.tsx
  assets/prototype/domain/eventEditor/tickets/ticketsList/AddNewTicketButton.tsx
  assets/prototype/domain/eventEditor/tickets/ticketsList/AddNewTicketModal.tsx
  assets/prototype/domain/eventEditor/tickets/ticketsList/List.tsx
  assets/prototype/domain/eventEditor/tickets/ticketsList/filterBar/TicketListFilterBar.tsx
  assets/prototype/domain/eventEditor/tickets/ticketsList/filterBar/TicketsListEntityFilters.tsx
  assets/prototype/domain/eventEditor/tickets/ticketsList/filterBar/controls/DisplayTicketsControl.tsx
  assets/prototype/domain/eventEditor/tickets/ticketsList/filterBar/controls/ShowTicketsControl.tsx
  assets/prototype/domain/eventEditor/tickets/ticketsList/filterBar/controls/TicketsChainedButton.tsx
  assets/prototype/domain/eventEditor/tickets/ticketsList/filterBar/controls/TicketsSortedByControl.tsx
  assets/prototype/domain/eventEditor/tickets/ticketsList/filterBar/style.css
  assets/prototype/domain/eventEditor/tickets/ticketsList/filterBar/useTicketListFilterState/index.test.ts
  assets/prototype/domain/eventEditor/tickets/ticketsList/filterBar/useTicketListFilterState/index.ts
  assets/prototype/domain/eventEditor/tickets/ticketsList/index.tsx
Labels: EDTR Prototype

#2267 Write Tests for Application Utilities | Closes #2242
  assets/prototype/application/utilities/money/index.ts
  assets/prototype/application/utilities/money/test/amountsMatch.test.ts
  assets/prototype/application/utilities/money/test/formatAmount.test.ts
  assets/prototype/application/utilities/money/test/parsedAmount.test.ts
  assets/prototype/application/utilities/money/test/useMoneyDisplay.test.ts
Labels: EDTR Prototype, category:unit-tests

#2271 Bug/fix reg page closing div tag mismatch
  modules/single_page_checkout/reg_steps/attendee_information/attendee_info_single.template.php
Labels: category:spco-&-registration, status:needs-testing, type:bug 🐞

#2276 Create New Subfolders and Relocate Files; closes #2231.
  assets/prototype/application/ui/components/forms/formModal/FormModal.js
  assets/prototype/application/ui/components/forms/formModal/FormModalForm.js
  assets/prototype/application/ui/components/forms/formModal/styles.css
  assets/prototype/application/ui/components/forms/index.js
  assets/prototype/application/ui/components/input/InlineEditInput.js
  assets/prototype/application/ui/components/input/currencyInput/CurrencyInput.tsx
  assets/prototype/application/ui/components/input/inlineEditInput/InlineEditInput.tsx
  assets/prototype/domain/eventEditor/datetimes/dateCard/DateCard.tsx
  assets/prototype/domain/eventEditor/datetimes/dateCard/EditDateModal.tsx
  assets/prototype/domain/eventEditor/datetimes/dateForm/DateForm.tsx
  assets/prototype/domain/eventEditor/datetimes/datesList/AddNewDateModal.tsx
  assets/prototype/domain/eventEditor/tickets/ticketCard/EditTicketModal.tsx
  assets/prototype/domain/eventEditor/tickets/ticketCard/TicketCard.tsx
  assets/prototype/domain/eventEditor/tickets/ticketForm/TicketForm.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceCalculatorModal.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceModifierRow.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/buttons/AddPriceModifierButton.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/buttons/AddPriceModifierButtonData.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/buttons/DeletePriceModifierButton.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/buttons/PriceModifierActions.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/buttons/TicketPriceCalculatorButton.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/buttons/TicketPriceCalculatorButtonData.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/inputs/PriceAmountInput.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/inputs/PriceDescriptionInput.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/inputs/PriceIdInput.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/inputs/PriceNameInput.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/inputs/PriceTypeInput.tsx
  assets/prototype/domain/eventEditor/tickets/ticketsList/AddNewTicketModal.tsx
  assets/prototype/domain/shared/ui/RelationsSelector.tsx
Labels: EDTR Prototype

#2245 Reduce PUE load
  core/EE_Addon.core.php
  core/libraries/plugin_api/EE_Register_Addon.lib.php
  core/third_party_libs/pue/pue-client.php
Labels: category:pue-uxip-and-licensing, status:merge

#2059 Migrations: Don't check for EE shortcodes in attachments or menu items too
  core/data_migration_scripts/4_1_0_stages/EE_DMS_4_1_0_shortcodes.dmsstage.php
Labels: category:activation-installation-and-migration, category:optimize-database, status:needs-testing

#2273 Convert Toaster to TypeScript closes #2134
  assets/prototype/application/services/toaster/IconGraphQL.tsx
  assets/prototype/application/services/toaster/LoadingToast.tsx
  assets/prototype/application/services/toaster/types.ts
  assets/prototype/application/services/toaster/useDismissToast.js
  assets/prototype/application/services/toaster/useDismissToast.tsx
  assets/prototype/application/services/toaster/useErrorToast.tsx
  assets/prototype/application/services/toaster/useInfoToast.tsx
  assets/prototype/application/services/toaster/useInitToaster.tsx
  assets/prototype/application/services/toaster/useLoadingToast.js
  assets/prototype/application/services/toaster/useLoadingToast.tsx
  assets/prototype/application/services/toaster/useSuccessToast.tsx
  assets/prototype/application/services/toaster/useToaster.tsx
Labels: EDTR Prototype, status:review, type:enhancement 🎉

#2275 Create unified modal for EDTR | Closes #2229
  assets/prototype/application/services/context/EditorModalProvider.tsx
  assets/prototype/application/ui/components/forms/formModal/FormModal.js
  assets/prototype/application/ui/components/input/espressoButton/EspressoButton.tsx
  assets/prototype/application/ui/components/input/espressoButton/index.ts
  assets/prototype/application/ui/components/input/espressoButton/types.ts
  assets/prototype/application/ui/components/layout/editorModal/index.ts
  assets/prototype/application/ui/components/layout/editorModal/test/useEditorModalManager.test.ts
  assets/prototype/application/ui/components/layout/editorModal/types.ts
  assets/prototype/application/ui/components/layout/editorModal/useEditorModal.ts
  assets/prototype/application/ui/components/layout/editorModal/useEditorModalManager.ts
  assets/prototype/application/ui/components/layout/editorModal/useEditorModalState/index.test.ts
  assets/prototype/application/ui/components/layout/editorModal/useEditorModalState/index.ts
  assets/prototype/application/ui/components/layout/editorModal/useEditorModalState/types.ts
  assets/prototype/domain/eventEditor/EventEditor.tsx
  assets/prototype/domain/eventEditor/context/ContextProviders.tsx
  assets/prototype/domain/eventEditor/context/DateTimeProvider/index.tsx
  assets/prototype/domain/eventEditor/context/DateTimeProvider/useDateEditorId.ts
  assets/prototype/domain/eventEditor/context/TicketProvider/index.tsx
  assets/prototype/domain/eventEditor/context/types.ts
  assets/prototype/domain/eventEditor/datetimes/dateCard/DateCard.tsx
  assets/prototype/domain/eventEditor/datetimes/dateCard/EditDate.tsx
  assets/prototype/domain/eventEditor/datetimes/dateCard/EditDateButton.tsx
  assets/prototype/domain/eventEditor/datetimes/dateCard/EditDateModal.tsx
  assets/prototype/domain/eventEditor/datetimes/dateForm/DateForm.tsx
  assets/prototype/domain/eventEditor/datetimes/datesList/AddNewDateButton.tsx
  assets/prototype/domain/eventEditor/datetimes/datesList/AddNewDateModal.tsx
  assets/prototype/domain/eventEditor/datetimes/types.ts
  assets/prototype/domain/eventEditor/datetimes/useAddDatetimeModal.tsx
  assets/prototype/domain/eventEditor/datetimes/useEditDatetimeModal.tsx
  assets/prototype/domain/eventEditor/hooks/useDatetimeContext.ts
  assets/prototype/domain/eventEditor/hooks/useTicketContext.ts
  assets/prototype/domain/eventEditor/tickets/ticketCard/EditTicket.tsx
  assets/prototype/domain/eventEditor/tickets/ticketCard/EditTicketButton.tsx
  assets/prototype/domain/eventEditor/tickets/ticketCard/EditTicketModal.tsx
  assets/prototype/domain/eventEditor/tickets/ticketCard/TicketCard.tsx
  assets/prototype/domain/eventEditor/tickets/ticketForm/TicketForm.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/TicketPriceCalculatorModal.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/buttons/TicketPriceCalculatorButton.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/buttons/TicketPriceCalculatorButtonData.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/hooks/useOnSubmitPrices.ts
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/hooks/useTicketPriceCalculatorModal.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/types.ts
  assets/prototype/domain/eventEditor/tickets/ticketsList/AddNewTicketButton.tsx
  assets/prototype/domain/eventEditor/tickets/ticketsList/AddNewTicketModal.tsx
  assets/prototype/domain/eventEditor/tickets/types.ts
  assets/prototype/domain/eventEditor/tickets/useAddTicketModal.tsx
  assets/prototype/domain/eventEditor/tickets/useEditTicketModal.tsx
  assets/prototype/domain/shared/editorModal/EditorModal.tsx
  assets/prototype/domain/shared/editorModal/index.ts
  assets/prototype/domain/shared/editorModal/types.ts
  assets/prototype/domain/shared/editorModal/useEditors.ts
  assets/prototype/domain/shared/entities/tickets/predicates/ticketFields.js
Labels: EDTR Prototype, status:review, type:code-quality 👾

#2278 Fix entity relations | Closes #2272
  assets/prototype/domain/eventEditor/data/queries/tickets/useTicketPrices.ts
  assets/prototype/domain/eventEditor/datetimes/dateForm/DateForm.tsx
  assets/prototype/domain/eventEditor/tickets/ticketPriceCalculator/hooks/useTicketPriceCalculatorModal.tsx
  assets/prototype/domain/eventEditor/tickets/types.ts
  core/domain/services/admin/events/editor/AdvancedEditorData.php
Labels: EDTR Prototype, status:review, type:bug 🐞

#2277 Add Unit Tests for Datetime Predicates; closes #2243.
  assets/prototype/domain/eventEditor/data/queries/datetimes/test/data.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/capacityAtOrAbove/index.test.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/capacityAtOrAbove/index.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/filters/belowCapacity/filter.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/filters/expiredOnly/index.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/filters/recentlyExpiredOnly/index.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/isRecentlyExpired/index.test.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/isRecentlyExpired/index.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/isTrashed/index.test.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/isTrashed/index.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/sorters/index.test.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/sorters/index.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/validFiniteCapacityLimit/index.test.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/validFiniteCapacityLimit/index.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/validSold/index.test.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/validSold/index.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/validStatus/index.test.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/validStatus/index.ts
  package-lock.json
Labels: EDTR Prototype

#2060 Don't release ticket reservations for transactions that are in…
  modules/ticket_sales_monitor/EED_Ticket_Sales_Monitor.module.php
  tests/includes/EE_UnitTestCase.class.php
  tests/mocks/modules/EED_Ticket_Sales_Monitor_Mock.php
  tests/testcases/modules/EED_Ticket_Sales_Monitor_Test.php
Labels: category:core-plugin, category:optimize-database, category:spco-&-registration, status:merge, type:bug 🐞

#2283 Fix relations selector | Closes #2279
  assets/prototype/application/ui/components/forms/formModal/FormModal.js
  assets/prototype/application/ui/components/forms/formModal/styles.css
  assets/prototype/domain/shared/ui/RelationsSelector/index.tsx
Labels: EDTR Prototype, status:review, type:bug 🐞

#2285 Typefy and test app converters | Closes #2133
  assets/prototype/application/utilities/converters/index.ts
  assets/prototype/application/utilities/converters/number/index.ts
  assets/prototype/application/utilities/converters/number/toInteger.test.ts
  assets/prototype/application/utilities/converters/toBoolean.test.ts
Labels: EDTR Prototype, category:unit-tests

#2286 Add Tests for Price Predicates; closes #2119.
  assets/prototype/domain/shared/entities/prices/predicates/selectionPredicates.js
  assets/prototype/domain/shared/entities/prices/predicates/selectionPredicates/index.test.ts
  assets/prototype/domain/shared/entities/prices/predicates/selectionPredicates/index.ts
  assets/prototype/domain/shared/predicates/shared/selectionPredicates/index.ts
Labels: EDTR Prototype

#2292 Fix travis ci config
  .travis.yml
  js-green-licenses.json
  package-lock.json
Labels: category:unit-tests, type:bug 🐞

#2293 Add tests for application hooks | Closes #2142
  assets/prototype/application/hooks/test/useIfMounted.test.tsx
  assets/prototype/application/hooks/test/useTimeZoneTime.test.tsx
  assets/prototype/application/hooks/useIfMounted.ts
  assets/prototype/application/hooks/useTimeZoneTime.ts
  assets/prototype/application/services/config/test/data.ts
  assets/prototype/application/utilities/date/index.ts
  assets/prototype/application/utilities/date/localToUtc.ts
  assets/prototype/application/utilities/date/types.ts
  assets/prototype/application/utilities/date/utcToLocal.ts
Labels: EDTR Prototype, category:unit-tests, status:review

#2295 Document new tree traversal classes
  core/libraries/batch/JobHandlers/PreviewEventDeletion.php
  docs/G--Model-System/tree-traversal.md
Labels: category:models-and-data-infrastructure, status:review, type:documentation 📖

#2303 Use isTrashed | Closes #2298, #2297
  assets/prototype/application/utilities/text/entityFieldSearch/index.test.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/index.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/test/data.ts
  assets/prototype/domain/eventEditor/data/queries/priceTypes/index.ts
  assets/prototype/domain/eventEditor/data/queries/priceTypes/test/data.ts
  assets/prototype/domain/eventEditor/data/queries/prices/index.ts
  assets/prototype/domain/eventEditor/data/queries/prices/test/data.ts
  assets/prototype/domain/eventEditor/data/queries/tickets/index.ts
  assets/prototype/domain/eventEditor/data/queries/tickets/test/data.ts
  assets/prototype/domain/eventEditor/data/types.ts
  assets/prototype/domain/eventEditor/datetimes/datesList/filterBar/useDatesListFilterState/index.test.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/filters/aboveCapacity/index.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/filters/allDates/index.test.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/filters/allDates/index.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/filters/belowCapacity/index.test.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/filters/expiredOnly/index.test.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/filters/recentlyExpiredOnly/index.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/filters/soldOutOnly/index.test.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/filters/tests/data.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/filters/trashedOnly/index.test.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/isTrashed/index.test.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/isTrashed/index.ts
  assets/prototype/domain/shared/entities/prices/defaultNewPriceModifier.ts
  assets/prototype/domain/shared/entities/prices/predicates/priceFields.ts
  assets/prototype/domain/shared/entities/tickets/predicates/filters/archivedOnly/index.ts
  assets/prototype/domain/shared/entities/tickets/predicates/isArchived.ts
  assets/prototype/domain/shared/entities/tickets/predicates/isTrashed.ts
  assets/prototype/domain/shared/entities/tickets/predicates/isValidEntityOrArchive.ts
  assets/prototype/domain/shared/entities/tickets/predicates/test/data.ts
  core/domain/services/admin/events/editor/AdvancedEditorData.php
  core/domain/services/graphql/data/mutations/DatetimeMutation.php
  core/domain/services/graphql/data/mutations/PriceMutation.php
  core/domain/services/graphql/data/mutations/TicketMutation.php
  core/domain/services/graphql/types/Datetime.php
  core/domain/services/graphql/types/Price.php
  core/domain/services/graphql/types/PriceType.php
  core/domain/services/graphql/types/Ticket.php
  docs/GraphQL-API/mutations/datetime.md
  docs/GraphQL-API/mutations/price.md
  docs/GraphQL-API/mutations/ticket.md
Labels: EDTR Prototype, category:models-and-data-infrastructure

#2287 remove server server option (so users could switch to or from akamai …
  caffeinated/payment_methods/Aim/EEG_Aim.gateway.php
  caffeinated/payment_methods/Aim/EE_PMT_Aim.pm.php
  caffeinated/payment_methods/Aim/help_tabs/payment_methods_overview_aim.help_tab.php
Labels: category:payment-methods, type:task 🧹

#2310 Webpack watch mode.
  config/webpack.config.js
  package-lock.json
  package.json
  scripts/watch.js
Labels: EDTR Prototype

#2248 Delete transactions too (assess while generating preview)
  admin_pages/events/form_sections/ConfirmEventDeletionForm.php
  admin_pages/events/templates/event_preview_deletion.template.php
  admin_pages/transactions/Transactions_Admin_Page.core.php
  core/libraries/batch/JobHandlers/PreviewEventDeletion.php
  core/services/orm/tree_traversal/ModelObjNode.php
  core/services/orm/tree_traversal/RelationNode.php
  docs/G--Model-System/tree-traversal.md
  tests/testcases/core/services/orm/tree_traversal/ModelObjNodeTest.php
  tests/testcases/core/services/orm/tree_traversal/RelationNodeTest.php
Labels: category:admin-pages, status:needs-testing

#2315 Add typed i18n to EDTR | Closes #2212
  assets/prototype/application/utilities/text/entityFieldSearch/index.test.ts
  assets/prototype/domain/eventEditor/EventEditor.tsx
  assets/prototype/domain/eventEditor/data/initialization/useI18nData.ts
  assets/prototype/domain/eventEditor/data/mutations/datetimes/test/createDatetime.test.ts
  assets/prototype/domain/eventEditor/data/mutations/datetimes/test/deleteDatetime.test.ts
  assets/prototype/domain/eventEditor/data/mutations/datetimes/test/updateDatetime.test.ts
  assets/prototype/domain/eventEditor/data/mutations/prices/test/createPrice.test.ts
  assets/prototype/domain/eventEditor/data/mutations/prices/test/deletePrice.test.ts
  assets/prototype/domain/eventEditor/data/mutations/prices/test/updatePrice.test.ts
  assets/prototype/domain/eventEditor/data/mutations/tickets/test/createTicket.test.ts
  assets/prototype/domain/eventEditor/data/mutations/tickets/test/deleteTicket.test.ts
  assets/prototype/domain/eventEditor/data/mutations/tickets/test/updateTicket.test.ts
  assets/prototype/domain/eventEditor/data/queries/datetimes/test/useFetchDatetimes.test.ts
  assets/prototype/domain/eventEditor/data/queries/priceTypes/test/useFetchPriceTypes.test.ts
  assets/prototype/domain/eventEditor/data/queries/prices/test/useFetchPrices.test.ts
  assets/prototype/domain/eventEditor/data/queries/tickets/test/useFetchTickets.test.ts
  assets/prototype/domain/eventEditor/datetimes/dateForm/DateForm.tsx
  assets/prototype/domain/eventEditor/datetimes/datesList/List.tsx
  assets/prototype/domain/eventEditor/hooks/useEditorInitialization.ts
  assets/prototype/domain/eventEditor/tickets/ticketForm/TicketForm.tsx
  assets/prototype/domain/eventEditor/tickets/ticketsList/List.tsx
  assets/prototype/domain/eventEditor/types.ts
  assets/prototype/domain/shared/data/queries/currentUser/test/useFetchCurrentUser.test.ts
  assets/prototype/domain/shared/data/queries/generalSettings/test/useFetchGeneralSettings.test.ts
  core/domain/services/admin/events/editor/AdvancedEditorData.php
  package-lock.json
  package.json
Labels: EDTR Prototype, category:i18n, status:review

#2305 Add toaster feedback for mutations | Closes #2304
  assets/prototype/application/services/apollo/mutations/types.ts
  assets/prototype/application/services/apollo/mutations/useEntityMutation.ts
  assets/prototype/application/services/apollo/mutations/useEntityMutator.ts
  assets/prototype/domain/shared/entities/datetimes/predicates/filters/allDates/index.test.ts
Labels: EDTR Prototype, category:admin-page-ui-&-ux, status:review, type:enhancement 🎉
