Repository eventespresso/event-espresso-core, pull requests merged in 2020-04, with the labels that each got.

#2641 Fix confirm_email being automatically added to address info.
  core/helpers/EEH_Activation.helper.php
Labels: status:review

#2624 Ticket Price Calculator UI Updates; partially closes #2586.
  assets/src/application/ui/display/withTooltip/withTooltip.tsx
  assets/src/application/ui/layout/confirmDelete/ConfirmDelete.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/AddPriceModifierButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/DeletePriceModifierButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/PriceModifierActions.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/TicketPriceCalculatorButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/useResetButtonProps.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/useSubmitButtonProps.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/TicketPriceCalculator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/TicketPriceCalculatorModal.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/TicketPriceTotalRow.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/styles.scss
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/inlineStyles.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/inputs/PriceAmountInput.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/inputs/styles.scss
Labels: EDTR v2, category:admin-page-ui-&-ux, type:task 🧹

#2647 EDTR optimizations | Closes #2622
  assets/src/application/services/apollo/relations/useRelationsManager.ts
  assets/src/application/services/apollo/status/useStatusManager.ts
  assets/src/application/services/utilities/memo/getPropsAreEqual.ts
  assets/src/application/ui/display/ItemCount/index.tsx
  assets/src/application/ui/layout/EntityPaperFrame/index.tsx
  assets/src/application/ui/layout/entityList/filterBar/filterState/types.ts
  assets/src/application/ui/layout/entityList/filterBar/filterState/useEntityListFilterStateManager.ts
  assets/src/application/ui/layout/formModal/useFormModalManager.ts
  assets/src/domain/eventEditor/services/apollo/queries/datetimes/useRelatedDatetimes.ts
  assets/src/domain/eventEditor/services/apollo/queries/prices/useRelatedPrices.ts
  assets/src/domain/eventEditor/services/apollo/queries/tickets/test/useTicketPrices.test.ts
  assets/src/domain/eventEditor/services/apollo/queries/tickets/useRelatedTickets.ts
  assets/src/domain/eventEditor/services/filterState/datetimes/useDatesListFilterStateManager.ts
  assets/src/domain/eventEditor/services/filterState/tickets/useTicketsListFilterStateManager.ts
  assets/src/domain/eventEditor/ui/datetimes/DateRegistrationsLink.tsx
  assets/src/domain/eventEditor/ui/datetimes/DatetimeIdTag.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/AssignTicketsButton.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/cardView/DateCapacity.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/cardView/DateCard.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/cardView/DateDetailsPanel.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/cardView/Details.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/editable/EditableDesc.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/editable/EditableName.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/editable/index.ts
  assets/src/domain/eventEditor/ui/datetimes/datesList/filterBar/controls/DisplayStartOrEndDateControl.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/filterBar/controls/SalesControl.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/filterBar/controls/SortByControl.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/filterBar/controls/StatusControl.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/tableView/bodyRowGenerator.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/types.ts
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/filters/filterState/useFilterStateManager.ts
  assets/src/domain/eventEditor/ui/tickets/TicketIdTag.tsx
  assets/src/domain/eventEditor/ui/tickets/TicketRegistrationsLink.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/data/useDataStateManager.ts
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/AssignDatesButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/cardView/Details.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/cardView/TicketCard.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/cardView/TicketDetailsPanel.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/cardView/TicketQuantity.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/editable/EditableDesc.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/editable/EditableName.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/editable/EditablePrice.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/editable/index.ts
  assets/src/domain/eventEditor/ui/tickets/ticketsList/filterBar/controls/DisplayStartOrEndDateControl.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/filterBar/controls/SalesControl.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/filterBar/controls/SortByControl.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/filterBar/controls/StatusControl.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/filterBar/controls/TicketsChainedButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/tableView/bodyRowGenerator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/types.ts
Labels: EDTR v2, status:in-progress, status:review, type:code-quality 👾

#2650 more random bunch o css fixes
  assets/src/application/ui/display/loadingNotice/LoadingNotice.tsx
  assets/src/application/ui/display/loadingNotice/style.scss
  assets/src/application/ui/input/InlineEditInput/InlineEditText.tsx
  assets/src/application/ui/layout/EntityCard/index.tsx
  assets/src/application/ui/layout/entityList/EntityList.tsx
  assets/src/application/ui/layout/entityList/style.scss
  assets/src/application/ui/layout/espressoTable/style.scss
  assets/src/application/ui/styles/root/effects.css
  assets/src/application/ui/styles/root/entity-status.css
  assets/src/domain/eventEditor/ui/datetimes/datesList/editable/EditableName.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/tableView/TableView.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/tableView/bodyRowGenerator.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/tableView/headerRowGenerator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/editable/EditableName.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/tableView/TableView.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/tableView/bodyRowGenerator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/tableView/headerRowGenerator.tsx
Labels: EDTR v2, category:admin-page-ui-&-ux, type:enhancement 🎉

#2611 Wire up isChained filter | Closes #2648
  assets/src/application/services/context/ConfigProvider.tsx
  assets/src/application/services/context/FormModalProvider.tsx
  assets/src/application/services/context/ModalProvider.tsx
  assets/src/application/services/context/RelationsProvider.tsx
  assets/src/application/services/context/StatusProvider.tsx
  assets/src/application/services/context/ToastProvider.tsx
  assets/src/application/services/context/types.ts
  assets/src/application/ui/input/InlineEditInput/InlineEditInfinity.tsx
  assets/src/application/ui/layout/entityList/filterBar/filterState/useFilteredEntities.ts
  assets/src/domain/eventEditor/hooks/edtrState/index.ts
  assets/src/domain/eventEditor/hooks/edtrState/reducer.ts
  assets/src/domain/eventEditor/hooks/edtrState/types.ts
  assets/src/domain/eventEditor/hooks/edtrState/useEdtrState.ts
  assets/src/domain/eventEditor/hooks/edtrState/useEdtrStateManager.ts
  assets/src/domain/eventEditor/services/apollo/queries/events/useEventId.ts
  assets/src/domain/eventEditor/services/apollo/queries/types.ts
  assets/src/domain/eventEditor/services/context/DatetimeContext/index.tsx
  assets/src/domain/eventEditor/services/context/EdtrStateContext/index.tsx
  assets/src/domain/eventEditor/services/context/EntityListContext/DatetimesListContext.tsx
  assets/src/domain/eventEditor/services/context/EntityListContext/TicketsListContext.tsx
  assets/src/domain/eventEditor/services/context/EventContext/index.tsx
  assets/src/domain/eventEditor/services/context/EventEditorContext/ContextProviders.tsx
  assets/src/domain/eventEditor/services/context/TestContext/TestContextProviders.tsx
  assets/src/domain/eventEditor/services/context/TicketContext/index.tsx
  assets/src/domain/eventEditor/services/context/types.ts
  assets/src/domain/eventEditor/services/filterState/datetimes/useDatesListFilterStateManager.ts
  assets/src/domain/eventEditor/services/filterState/tickets/test/useTicketsListFilterStateManager.test.ts
  assets/src/domain/eventEditor/services/filterState/tickets/types.ts
  assets/src/domain/eventEditor/services/filterState/tickets/useIsChainedFilter.ts
  assets/src/domain/eventEditor/services/filterState/tickets/useTicketsFilterBarService.ts
  assets/src/domain/eventEditor/services/filterState/tickets/useTicketsListFilterStateManager.ts
  assets/src/domain/eventEditor/ui/datetimes/datesList/filterBar/controls/DisplayStartOrEndDateControl.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/filterBar/controls/SalesControl.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/filterBar/controls/SortByControl.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/filterBar/controls/StatusControl.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/context/types.ts
  assets/src/domain/eventEditor/ui/tickets/hooks/useTicketsListFilterBar.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/context/types.ts
  assets/src/domain/eventEditor/ui/tickets/ticketsList/filterBar/controls/DisplayStartOrEndDateControl.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/filterBar/controls/IsChainedButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/filterBar/controls/SalesControl.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/filterBar/controls/SortByControl.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/filterBar/controls/StatusControl.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/filterBar/controls/index.ts
  assets/src/domain/shared/entities/tickets/predicates/filters/index.ts
Labels: EDTR v2, category:assets, status:review, type:enhancement 🎉

#2651 Refactored TPC to use ResponsiveTable; closes #2586.
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/useSubmitButtonProps.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/TicketPriceCalculator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/TicketPriceCalculatorModal.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/TicketPriceModifierRow.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/TicketPriceModifierRowIterator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/TicketPriceTotalRow.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/table/Table.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/table/bodyRowGenerator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/table/footerRowsGenerator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/table/headerRowGenerator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/table/styles.scss
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/data/types.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/data/useInitialState.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/fields/TicketPriceField.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/inlineStyles.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/inputs/PriceAmountInput.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/inputs/PriceDescriptionInput.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/inputs/PriceNameInput.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/inputs/PriceTypeInput.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/utils/index.ts
Labels: EDTR v2, category:admin-page-ui-&-ux, type:task 🧹

#2654 Fix filter bar buttons tooltip | Closes #2652
  assets/src/application/ui/layout/entityList/filterBar/buttons/CardViewFilterButton.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/TableViewFilterButton.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/ToggleFiltersButton.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/ToggleLegendButton.tsx
Labels: EDTR v2, category:admin-page-ui-&-ux, status:review, type:bug 🐞

#2655 Improve ResponsiveTable usage | Closes #2642
  assets/src/application/ui/layout/entityList/EntityTable.tsx
  assets/src/application/ui/layout/espressoTable/types.ts
  assets/src/domain/eventEditor/ui/datetimes/datesList/tableView/TableView.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/tableView/bodyRowGenerator.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/tableView/headerRowGenerator.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/tableView/useHeaderRowGenerator.tsx
  assets/src/domain/eventEditor/ui/tickets/hooks/useTicketRegistrationCount.ts
  assets/src/domain/eventEditor/ui/tickets/hooks/useTicketsRegistrationCount.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/table/Table.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/table/bodyRowGenerator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/table/footerRowsGenerator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/table/headerRowGenerator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/table/useBodyRowGenerator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/table/useFooterRowGenerator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/table/useHeaderRowGenerator.ts
  assets/src/domain/eventEditor/ui/tickets/ticketsList/tableView/TableView.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/tableView/bodyRowGenerator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/tableView/headerRowGenerator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/tableView/useHeaderRowGenerator.tsx
Labels: EDTR v2, category:assets, status:review, type:enhancement 🎉

#2657 Wire up Ticket registration count | Closes #2656
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/useOptimisticResponse.ts
  assets/src/domain/eventEditor/services/apollo/queries/tickets/queries.ts
  assets/src/domain/eventEditor/services/apollo/queries/tickets/test/data.ts
  assets/src/domain/eventEditor/services/apollo/types.ts
  assets/src/domain/eventEditor/ui/tickets/hooks/useTicketsRegistrationCount.ts
  assets/src/domain/eventEditor/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
  assets/src/domain/shared/entities/tickets/predicates/test/data.ts
  assets/src/domain/shared/entities/tickets/predicates/ticketFields.ts
  core/domain/services/admin/events/editor/AdvancedEditorData.php
  core/domain/services/graphql/types/Ticket.php
Labels: EDTR v2, category:assets, status:review, type:enhancement 🎉

#2663 Add registrationCount to TicketRegistrationsLink | Closes #2658
  assets/src/application/ui/display/ItemCount/index.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/AssignTicketsButton.tsx
  assets/src/domain/eventEditor/ui/tickets/TicketRegistrationsLink.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/AssignDatesButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
Labels: EDTR v2, category:admin-page-ui-&-ux, status:review, type:enhancement 🎉

#2665 Apollo Query batching | Closes #2664
  assets/src/infrastructure/services/apollo/Apollo.ts
  babel.config.js
  package.json
  yarn.lock
Labels: EDTR v2, category:assets, status:review, type:enhancement 🎉

#2662 Add Status Labels to Date and Ticket Sidebars; closes #2625.
  assets/src/application/ui/calendars/dateDisplay/CalendarDateSwitcher/index.tsx
  assets/src/application/ui/calendars/dateDisplay/CalendarDateSwitcher/types.ts
  assets/src/domain/eventEditor/ui/datetimes/datesList/cardView/DateCard.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/cardView/TicketCard.tsx
  assets/src/domain/shared/entities/datetimes/helpers/index.ts
  assets/src/domain/shared/entities/tickets/helpers/index.ts
Labels: EDTR v2, category:admin-page-ui-&-ux, type:task 🧹

#2679 Install/setup Chakra UI
  assets/src/application/services/theme/ThemeProvider.tsx
  assets/src/application/services/theme/index.ts
  assets/src/application/services/theme/theme.ts
  assets/src/domain/eventEditor/services/context/EventEditorContext/ContextProviders.tsx
  package-lock.json
  yarn.lock
Labels: EDTR v2, category:assets, status:review, type:enhancement 🎉

#2660 Ticket Assignments Manager UI Updates; partially closes #2590.
  assets/src/application/constants/dateFnsFormats.ts
  assets/src/application/ui/layout/entityList/types.ts
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/AssignTicketsButton.tsx
  assets/src/domain/eventEditor/ui/datetimes/hooks/useDatesActionMenuHandler.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/table/DateCell.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/table/HeaderCell.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/table/getBodyRows.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/table/getHeaderRows.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/table/styles.scss
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/types.ts
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/useTicketAssignmentsManager/index.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/useTicketAssignmentsManager/styles.scss
  assets/src/domain/eventEditor/ui/tickets/hooks/useTicketsActionMenuHandler.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/AssignDatesButton.tsx
Labels: EDTR v2, category:admin-page-ui-&-ux, type:enhancement 🎉

#2661 JSON+LD output: Allow multiple event statuses to be passed in via filter
  core/helpers/EEH_Schema.helper.php
  core/templates/json_linked_data_for_event.template.php
Labels: category:templates-shortcodes-and-widgets, type:enhancement 🎉

#2681 Dropdown menu to Chakra UI
  assets/src/application/ui/layout/dropdownMenu/DropdownMenu.tsx
  assets/src/application/ui/layout/dropdownMenu/DropdownMenuItem.tsx
  assets/src/application/ui/layout/dropdownMenu/DropdownMenuList.tsx
  assets/src/application/ui/layout/dropdownMenu/DropdownToggle.tsx
  assets/src/application/ui/layout/dropdownMenu/index.ts
  assets/src/application/ui/layout/dropdownMenu/types.ts
  assets/src/application/ui/layout/entityActionsMenu/entityMenuItems/Copy.tsx
  assets/src/application/ui/layout/entityActionsMenu/entityMenuItems/Edit.tsx
  assets/src/application/ui/layout/entityActionsMenu/entityMenuItems/Trash.tsx
  assets/src/application/ui/layout/espressoDropdownMenu/Content.tsx
  assets/src/application/ui/layout/espressoDropdownMenu/LICENSE.md
  assets/src/application/ui/layout/espressoDropdownMenu/Menu.tsx
  assets/src/application/ui/layout/espressoDropdownMenu/MenuItem.tsx
  assets/src/application/ui/layout/espressoDropdownMenu/Toggle.tsx
  assets/src/application/ui/layout/espressoDropdownMenu/index.ts
  assets/src/application/ui/layout/espressoDropdownMenu/style.scss
  assets/src/application/ui/layout/espressoDropdownMenu/types.ts
  assets/src/application/ui/layout/espressoDropdownMenu/utils.ts
  assets/src/application/ui/layout/index.ts
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/dropdown/DateMainMenuItem.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/dropdown/TicketMainMenuItem.tsx
  assets/src/infrastructure/ui/inputs/Button.tsx
  assets/src/infrastructure/ui/layout/menu/Menu.tsx
  assets/src/infrastructure/ui/layout/menu/MenuDivider.tsx
  assets/src/infrastructure/ui/layout/menu/MenuGroup.tsx
  assets/src/infrastructure/ui/layout/menu/MenuItem.tsx
  assets/src/infrastructure/ui/layout/menu/MenuItemOption.tsx
  assets/src/infrastructure/ui/layout/menu/MenuList.tsx
  assets/src/infrastructure/ui/layout/menu/MenuOptionGroup.tsx
  assets/src/infrastructure/ui/layout/menu/MenuToggle.tsx
  assets/src/infrastructure/ui/layout/menu/index.ts
  assets/src/infrastructure/ui/layout/menu/types.ts
Labels: EDTR v2, category:assets, status:in-progress, type:task 🧹

#2683 Replace AntD Modal with Chakra UI Modal | Closes #2669
  assets/src/application/ui/forms/modalForm/RenderModalForm.tsx
  assets/src/application/ui/forms/modalForm/styles.scss
  assets/src/application/ui/layout/dropdownMenu/DropdownToggle.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/useResetButtonProps.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/useSubmitButtonProps.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/TicketPriceCalculatorModal.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/styles.scss
  assets/src/infrastructure/ui/layout/modal/Modal.tsx
  assets/src/infrastructure/ui/layout/modal/index.ts
  assets/src/infrastructure/ui/layout/modal/types.ts
Labels: EDTR v2, category:assets, type:task 🧹

#616 Sideload all language files (POT, PO and MO) rather than just the MO file
  core/EE_Load_Textdomain.core.php
  core/helpers/EEH_Sideloader.helper.php
Labels: category:i18n, status:needs-testing, type:enhancement 🎉

#2688 Replace AntD Tooltip with Chakra UI Tooltip; closes #2672.
  assets/src/application/ui/calendars/dateDisplay/CalendarPageDate/index.tsx
  assets/src/application/ui/calendars/dateDisplay/TimezoneTimeInfo/index.tsx
  assets/src/application/ui/display/ItemCount/index.tsx
  assets/src/application/ui/display/withTooltip/withTooltip.tsx
  assets/src/application/ui/forms/espressoForm/renderers/FieldRenderer.tsx
  assets/src/application/ui/layout/dropdownMenu/DropdownToggle.tsx
  assets/src/domain/eventEditor/ui/datetimes/DateRegistrationsLink.tsx
  assets/src/domain/eventEditor/ui/tickets/TicketRegistrationsLink.tsx
  assets/src/infrastructure/ui/display/Tooltip/index.tsx
  assets/src/infrastructure/ui/display/Tooltip/style.scss
  assets/src/infrastructure/ui/display/index.ts
  assets/src/infrastructure/ui/display/types.ts
Labels: EDTR v2, category:assets, type:task 🧹

#2686 Refator TAM modal | Closes #2684
  assets/src/application/ui/layout/entityList/types.ts
  assets/src/domain/eventEditor/ui/datetimes/datesList/AddNewDateButton.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/AssignTicketsButton.tsx
  assets/src/domain/eventEditor/ui/datetimes/hooks/useDatesActionMenuHandler.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/buttons/useCancelButtonProps.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/buttons/useSubmitButtonProps.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/ModalContainer.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/TicketAssignmentsManager.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/index.ts
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/style.scss
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/styles.scss
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/context/ContextProvider.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/context/types.ts
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/context/withContext.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/data/useAssignmentManager.ts
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/data/useDatesAndTickets.ts
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/filters/FilterBar.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/types.ts
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/useTicketAssignmentsManager.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/useTicketAssignmentsManager/index.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/useTicketAssignmentsManager/styles.scss
  assets/src/domain/eventEditor/ui/tickets/hooks/useTicketsActionMenuHandler.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/TicketPriceCalculatorButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/useResetButtonProps.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/useSubmitButtonProps.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/ModalContainer.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/TicketPriceCalculatorModal.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/styles.scss
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/context/types.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/hooks/index.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/hooks/useTicketPriceCalculator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/hooks/useTicketPriceCalculatorModal.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/types.ts
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/AssignDatesButton.tsx
  assets/src/infrastructure/ui/layout/modal/Modal.tsx
  assets/src/infrastructure/ui/layout/modal/types.ts
Labels: EDTR v2, category:admin-page-ui-&-ux, status:review, type:task 🧹

#2682 Replace Other AntD UI Display Components with Chakra UI Equivalents #2673
  assets/src/application/services/toaster/useToastManager.tsx
  assets/src/application/ui/calendars/dateDisplay/BiggieCalendarDate/index.tsx
  assets/src/application/ui/calendars/dateDisplay/MediumCalendarDate/index.tsx
  assets/src/application/ui/display/Avatar.tsx
  assets/src/application/ui/display/DebugInfo.tsx
  assets/src/application/ui/display/EmptyState.tsx
  assets/src/application/ui/display/ErrorIndicator.tsx
  assets/src/application/ui/display/LoadingIndicator.tsx
  assets/src/application/ui/display/TimezoneTimeInfo/index.tsx
  assets/src/application/ui/display/TimezoneTimeInfo/style.scss
  assets/src/application/ui/display/confirm/ConfirmDelete.tsx
  assets/src/application/ui/display/confirm/index.ts
  assets/src/application/ui/display/confirm/types.ts
  assets/src/application/ui/display/confirm/useConfirm.tsx
  assets/src/application/ui/display/espressoIcon/svgPaths.ts
  assets/src/application/ui/display/espressoIcon/types.ts
  assets/src/application/ui/display/index.ts
  assets/src/application/ui/display/loadingNotice/LoadingNotice.tsx
  assets/src/application/ui/display/loadingNotice/types.ts
  assets/src/application/ui/forms/espressoForm/renderers/FormRenderer.tsx
  assets/src/application/ui/forms/modalForm/FormRenderer.tsx
  assets/src/application/ui/layout/confirmDelete/ConfirmDelete.tsx
  assets/src/application/ui/layout/entityList/filterBar/Collapsible.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/cardView/RenderCardView.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/tableView/RenderTableView.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/ErrorMessage.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/DeletePriceModifierButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/TicketPriceCalculator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/cardView/RenderCardView.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/tableView/RenderTableView.tsx
  assets/src/domain/shared/entities/tickets/predicates/filters/nextOnSaleOrPendingOnly/index.test.ts
  assets/src/infrastructure/ui/display/Alert.tsx
  assets/src/infrastructure/ui/display/AlertDialog.tsx
  assets/src/infrastructure/ui/display/Avatar.tsx
  assets/src/infrastructure/ui/display/Collapse.tsx
  assets/src/infrastructure/ui/display/Popover.tsx
  assets/src/infrastructure/ui/display/Spinner.tsx
  assets/src/infrastructure/ui/display/index.ts
  assets/src/infrastructure/ui/display/types.ts
Labels: EDTR v2, category:assets, type:task 🧹

#2690 Date and Time pickers | Closes #2671
  assets/src/application/ui/forms/espressoForm/adapters/DatePicker.tsx
  assets/src/application/ui/forms/espressoForm/adapters/DateTimePicker/CustomDate.ts
  assets/src/application/ui/forms/espressoForm/adapters/DateTimePicker/DatePicker.tsx
  assets/src/application/ui/forms/espressoForm/adapters/DateTimePicker/DatePickerBase.tsx
  assets/src/application/ui/forms/espressoForm/adapters/DateTimePicker/TimePicker.tsx
  assets/src/application/ui/forms/espressoForm/adapters/DateTimePicker/TimePickerBase.tsx
  assets/src/application/ui/forms/espressoForm/adapters/DateTimePicker/index.ts
  assets/src/application/ui/forms/espressoForm/adapters/MappedField.tsx
  assets/src/application/ui/forms/espressoForm/adapters/TimePicker.tsx
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/types.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/types.ts
  assets/src/domain/eventEditor/ui/datetimes/dateForm/useDateFormConfig.ts
  assets/src/domain/eventEditor/ui/tickets/ticketForm/useTicketFormConfig.tsx
  assets/src/domain/shared/services/utils/dateAndTime.ts
  assets/src/infrastructure/ui/inputs/dateTime/BaseUIProvider.tsx
  assets/src/infrastructure/ui/inputs/dateTime/Datepicker.tsx
  assets/src/infrastructure/ui/inputs/dateTime/Timepicker.tsx
  assets/src/infrastructure/ui/inputs/dateTime/index.tsx
  assets/src/infrastructure/ui/inputs/dateTime/types.ts
  assets/src/infrastructure/ui/inputs/dateTime/withBaseProvider.tsx
  assets/src/infrastructure/ui/inputs/types.ts
  package.json
  yarn.lock
Labels: EDTR v2, category:assets, type:task 🧹

#2692 EDTR Pagination | Closes #2676
  assets/src/application/ui/layout/entityList/pagination/EntityPagination.tsx
  assets/src/infrastructure/ui/inputs/Select.tsx
  assets/src/infrastructure/ui/navigation/index.ts
  assets/src/infrastructure/ui/navigation/pagination/ItemRender.tsx
  assets/src/infrastructure/ui/navigation/pagination/Pagination.tsx
  assets/src/infrastructure/ui/navigation/pagination/PerPage.tsx
  assets/src/infrastructure/ui/navigation/pagination/index.ts
  assets/src/infrastructure/ui/navigation/pagination/types.ts
  package.json
  yarn.lock
Labels: EDTR v2, category:assets, status:review, type:task 🧹

#2691 Badge refactor; patially closes #2673.
  assets/src/application/ui/calendars/dateDisplay/CalendarDateRange/style.scss
  assets/src/application/ui/calendars/dateDisplay/MediumCalendarDate/style.scss
  assets/src/application/ui/display/ItemCount/index.tsx
  assets/src/application/ui/display/ItemCount/style.scss
  assets/src/application/ui/display/TimezoneTimeInfo/Trigger.tsx
  assets/src/application/ui/display/TimezoneTimeInfo/index.tsx
  assets/src/application/ui/display/TimezoneTimeInfo/style.scss
  assets/src/infrastructure/ui/display/Badge.tsx
  assets/src/infrastructure/ui/display/Popover.tsx
  assets/src/infrastructure/ui/display/index.ts
  assets/src/infrastructure/ui/display/types.ts
  assets/src/infrastructure/ui/inputs/IconButton.tsx
  assets/src/infrastructure/ui/inputs/index.ts
  assets/src/infrastructure/ui/inputs/types.ts
Labels: EDTR v2, category:assets, type:task 🧹

#2330 Avoid PHPUnit warnings because tests make no assertions
  tests/testcases/core/db_models/EEM_Base_Test.php
  tests/testcases/core/helpers/EEH_Parse_Shortcodes_Test.php
  tests/testcases/core/helpers/EEH_TemplateTest.php
  tests/testcases/core/libraries/form_sections/strategies/validation/EE_Model_Matching_Query_Validation_Strategy_Test.php
  tests/testcases/core/libraries/form_sections/strategies/validation/EE_Plaintext_Validation_Strategy_Test.php
  tests/testcases/modules/EE_CheckoutTest.php
Labels: category:unit-tests, status:review, type:task 🧹

#2694 Fix logic for loading custom espresso_default.css from /uploads/
  core/domain/services/assets/CoreAssetManager.php
  core/templates/global_assets/css/espresso_default.css
Labels: type:bug 🐞

#2698 Confirmation Modals; partially closes #2613
  assets/src/application/ui/display/confirm/ConfirmClose.tsx
  assets/src/application/ui/display/confirm/index.ts
  assets/src/application/ui/display/confirm/types.ts
  assets/src/application/ui/display/confirm/useConfirm.tsx
  assets/src/application/ui/display/icons/Icon.tsx
  assets/src/application/ui/display/icons/collection/Close.tsx
  assets/src/application/ui/display/icons/collection/index.ts
  assets/src/application/ui/display/icons/svgPaths.ts
  assets/src/application/ui/display/icons/types.ts
  assets/src/application/ui/forms/modalForm/RenderModalForm.tsx
  assets/src/application/ui/forms/modalForm/styles.scss
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/buttons/useCancelButtonProps.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/index.ts
  assets/src/infrastructure/ui/layout/modal/Modal.tsx
  assets/src/infrastructure/ui/layout/modal/types.ts
Labels: EDTR v2, type:user-proofing 🛡

#2697 Inline edit inputs | Closes #2696
  assets/src/application/services/utilities/index.ts
  assets/src/application/services/utilities/usePrevious.ts
  assets/src/application/ui/input/CurrencyInput/index.tsx
  assets/src/application/ui/input/InlineEditInput/Editable.tsx
  assets/src/application/ui/input/InlineEditInput/InlineEditHeading.tsx
  assets/src/application/ui/input/InlineEditInput/InlineEditInfinity.tsx
  assets/src/application/ui/input/InlineEditInput/InlineEditText.tsx
  assets/src/application/ui/input/InlineEditInput/InlineEditTextArea.tsx
  assets/src/application/ui/input/InlineEditInput/index.tsx
  assets/src/application/ui/input/InlineEditInput/style.scss
  assets/src/application/ui/input/InlineEditInput/types.ts
  assets/src/domain/eventEditor/ui/datetimes/datesList/cardView/DateCapacity.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/editable/EditableDesc.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/editable/EditableName.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/cardView/TicketQuantity.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/editable/EditableDesc.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/editable/EditableName.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/editable/EditablePrice.tsx
  assets/src/infrastructure/ui/inputs/index.ts
  assets/src/infrastructure/ui/inputs/inlineEdit/InlineEdit.tsx
  assets/src/infrastructure/ui/inputs/inlineEdit/InlineEditInput.tsx
  assets/src/infrastructure/ui/inputs/inlineEdit/InlineEditPreview.tsx
  assets/src/infrastructure/ui/inputs/inlineEdit/index.ts
  assets/src/infrastructure/ui/inputs/inlineEdit/types.ts
Labels: EDTR v2, category:assets, status:review, type:task 🧹

#2706 Refactored withTooltip + more antd cleanup; closes #2672.
  assets/src/application/services/context/ModalProvider.tsx
  assets/src/application/ui/display/withTooltip/types.ts
  assets/src/application/ui/display/withTooltip/withTooltip.tsx
  assets/src/application/ui/forms/espressoForm/renderers/RepeatableRenderer.tsx
  assets/src/application/ui/input/types.ts
  assets/src/application/ui/layout/entityList/EntityList.tsx
  assets/src/application/ui/layout/entityList/style.scss
  assets/src/application/ui/layout/modal/useModal.ts
  assets/src/domain/eventEditor/services/context/EventEditorContext/ContextProviders.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/AssignTicketsButton.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/ModalContainer.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/TicketPriceCalculatorButton.tsx
  assets/src/infrastructure/ui/display/Divider.tsx
  assets/src/infrastructure/ui/display/Heading.tsx
  assets/src/infrastructure/ui/display/Tooltip/index.tsx
  assets/src/infrastructure/ui/display/index.ts
  assets/src/infrastructure/ui/display/types.ts
Labels: EDTR v2, type:task 🧹

#2704 Show alert upon closing modal via escape keypress; partially close #2613.
  assets/src/application/services/utilities/dom/canUseDOM.ts
  assets/src/application/services/utilities/dom/index.ts
  assets/src/application/ui/display/confirm/useConfirm.tsx
  assets/src/application/ui/forms/modalForm/RenderModalForm.tsx
  assets/src/application/ui/forms/modalForm/styles.scss
  assets/src/application/ui/layout/index.ts
  assets/src/application/ui/layout/modal/ModalWithAlert.tsx
  assets/src/application/ui/layout/modal/index.ts
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal/buttons/CloseModal.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal/buttons/useCancelButtonProps.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal/buttons/useSubmitButtonProps.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal/index.tsx
  assets/src/infrastructure/ui/layout/modal/index.ts
  assets/src/infrastructure/ui/layout/modal/modalCloseButtonProps/index.tsx
  assets/src/infrastructure/ui/layout/modal/modalCloseButtonProps/styles.scss
  package.json
Labels: EDTR v2, type:user-proofing 🛡

#2707 Unit Tests for GQL Backend | Closes #2589
  assets/src/domain/eventEditor/services/apollo/queries/events/queries.ts
  core/domain/services/graphql/data/loaders/PriceTypeLoader.php
  tests/testcases/core/domain/services/graphql/GraphQLUnitTestCase.php
  tests/testcases/core/domain/services/graphql/connections/BaseQueriesTest.php
  tests/testcases/core/domain/services/graphql/connections/DatetimeConnectionQueriesTest.php
  tests/testcases/core/domain/services/graphql/connections/EventConnectionQueriesTest.php
  tests/testcases/core/domain/services/graphql/connections/PriceConnectionQueriesTest.php
  tests/testcases/core/domain/services/graphql/connections/PriceTypeConnectionQueriesTest.php
  tests/testcases/core/domain/services/graphql/connections/TicketConnectionQueriesTest.php
  tests/testcases/core/domain/services/graphql/mutators/BaseMutationTest.php
  tests/testcases/core/domain/services/graphql/mutators/DatetimeCreateTest.php
  tests/testcases/core/domain/services/graphql/mutators/DatetimeDeleteTest.php
  tests/testcases/core/domain/services/graphql/mutators/DatetimeUpdateTest.php
  tests/testcases/core/domain/services/graphql/mutators/PriceCreateTest.php
  tests/testcases/core/domain/services/graphql/mutators/PriceDeleteTest.php
  tests/testcases/core/domain/services/graphql/mutators/PriceUpdateTest.php
  tests/testcases/core/domain/services/graphql/mutators/TicketCreateTest.php
  tests/testcases/core/domain/services/graphql/mutators/TicketDeleteTest.php
  tests/testcases/core/domain/services/graphql/mutators/TicketUpdateTest.php
Labels: EDTR v2, category:unit-tests, status:review, type:task 🧹

#2714 Fix bug for TAM dates list for new event | Closes #2712
  assets/src/application/ui/forms/espressoForm/utils.ts
  assets/src/application/ui/input/SelectInput/index.ts
  assets/src/application/ui/input/SelectInput/types.ts
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/filters/controls/DatesByMonthControl.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/utils.ts
Labels: EDTR v2, category:admin-page-ui-&-ux, status:review, type:bug 🐞

#2715 Default value for Date/Ticket date pickers | Closes #2713
  assets/src/domain/eventEditor/ui/datetimes/dateForm/useDateFormConfig.ts
  assets/src/domain/eventEditor/ui/tickets/ticketForm/useTicketFormConfig.tsx
Labels: EDTR v2, category:admin-page-ui-&-ux, status:review, type:bug 🐞

#2709 EDTR v1 Asset Purge
  .npmrc
  assets/src/application/services/utilities/date/test/diff/diff.days.test.ts
  assets/src/application/ui/styles/themes/default/index.scss
  assets/src/application/ui/styles/themes/default/index.ts
  assets/src/domain/eventEditor/index.tsx
  assets/src/domain/eventEditor/services/apollo/queries/prices/test/useFetchPrices.test.ts
  assets/src/domain/eventEditor/services/apollo/queries/tickets/test/useFetchTickets.test.ts
  config/asset-dependency-maps.js
  config/paths.js
  config/webpack.common.js
  config/webpack.config.js
  core/admin/EE_Admin_Page_CPT.core.php
  core/domain/services/admin/events/editor/AdvancedEditorData.php
  core/domain/services/assets/EspressoEditorAssetManager.php
  package.json
  yarn.lock
Labels: EDTR v2, category:assets

#2717 Fix Unmet Peer Dependencies #2710
  config/webpack.config.js
  package.json
  yarn.lock
Labels: EDTR v2, category:assets, type:build-process 🔨

#2609 EDTR v1 Asset Purge
  assets/src/application/services/config/useConfigData.ts
  assets/src/application/valueObjects/config/Currency.ts
  assets/src/application/valueObjects/config/CurrentUser.ts
  assets/src/application/valueObjects/config/DateTimeFormats.ts
  phpstorm-webpack.config.js
Labels: EDTR v2, category:assets, type:enhancement 🎉

#2721 Ensure Locale Option Is Set
  core/EE_Load_Textdomain.core.php
Labels: category:i18n, type:bug 🐞

#2719 Add DragHandle support for Responsive Table
  assets/src/application/ui/layout/espressoTable/ResponsiveTable.tsx
  assets/src/application/ui/layout/espressoTable/TableBody.tsx
  assets/src/application/ui/layout/espressoTable/TableHeader.tsx
  assets/src/application/ui/layout/espressoTable/TableRow.tsx
  assets/src/application/ui/layout/espressoTable/types.ts
Labels: EDTR v2, category:assets, status:review, type:enhancement 🎉

#2723 Entity reorder mutation | Closes #2720
  core/domain/services/graphql/enums/ModelNameEnum.php
  core/domain/services/graphql/mutators/EntityReorder.php
  core/domain/services/graphql/types/Datetime.php
  docs/GraphQL-API/README.md
  docs/GraphQL-API/mutations/common.md
Labels: EDTR v2, category:assets, type:enhancement 🎉

#2722 Fix zIndex for dropdown menu; closes #2687.
  assets/src/application/ui/display/ItemCount/style.scss
  assets/src/application/ui/display/entityDetailsPanel/style.scss
  assets/src/application/ui/input/Button/Button.tsx
  assets/src/application/ui/input/Button/IconButton/index.tsx
  assets/src/application/ui/input/Button/IconButton/style.scss
  assets/src/application/ui/input/Button/style.scss
  assets/src/application/ui/layout/dropdownMenu/DropdownMenu.tsx
  assets/src/application/ui/layout/dropdownMenu/DropdownMenuItem.tsx
  assets/src/application/ui/layout/dropdownMenu/DropdownMenuList.tsx
  assets/src/application/ui/layout/dropdownMenu/DropdownToggle/index.tsx
  assets/src/application/ui/layout/dropdownMenu/DropdownToggle/style.scss
  assets/src/application/ui/layout/entityList/filterBar/style.scss
  assets/src/application/ui/styles/root/buttons.css
  assets/src/application/ui/styles/themes/default/index.scss
  assets/src/domain/eventEditor/index.tsx
  assets/src/domain/eventEditor/ui/EventEditor/index.tsx
  assets/src/domain/eventEditor/ui/EventEditor/styles.scss
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/dropdown/DateMainMenuItem.tsx
  assets/src/domain/eventEditor/ui/styles.css
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/styles.scss
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/dropdown/TicketMainMenuItem.tsx
  assets/src/infrastructure/ui/inputs/IconButton.tsx
  assets/src/infrastructure/ui/inputs/dateTime/Timepicker.tsx
  assets/src/infrastructure/ui/inputs/dateTime/style.scss
Labels: EDTR v2, category:admin-page-ui-&-ux

#2724 Drag and drop for sorting entities | Closes #2653
  assets/src/application/ui/display/icons/Icon.tsx
  assets/src/application/ui/display/icons/collection/Sort.tsx
  assets/src/application/ui/display/icons/collection/index.ts
  assets/src/application/ui/display/icons/svgPaths.ts
  assets/src/application/ui/display/icons/types.ts
  assets/src/application/ui/layout/entityList/EntityList.tsx
  assets/src/application/ui/layout/entityList/EntityTable.tsx
  assets/src/application/ui/layout/entityList/filterBar/EntityListFilterBar.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/CardViewFilterButton.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/TableViewFilterButton.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/ToggleFiltersButton.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/ToggleLegendButton.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/ToggleSortingButton.tsx
  assets/src/application/ui/layout/entityList/filterBar/filterState/reducer.ts
  assets/src/application/ui/layout/entityList/filterBar/filterState/types.ts
  assets/src/application/ui/layout/entityList/filterBar/filterState/useEntityListFilterStateManager.ts
  assets/src/application/ui/layout/entityList/filterBar/filterState/useFilteredEntities.ts
  assets/src/application/ui/layout/entityList/filterBar/types.ts
  assets/src/application/ui/layout/entityList/style.scss
  assets/src/application/ui/layout/entityList/types.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/index.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/useReorderDatetimes.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/index.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/useReorderTickets.ts
  assets/src/domain/eventEditor/services/apollo/mutations/useReorderEntities.ts
  assets/src/domain/eventEditor/services/context/EntityListContext/DatetimesListContext.tsx
  assets/src/domain/eventEditor/services/context/EntityListContext/TicketsListContext.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/tableView/TableView.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/tableView/TableView.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
  package.json
  yarn.lock
Labels: EDTR v2, category:assets, status:review, type:task 🧹

#2727 EntityTable alignment; closes #2716
  assets/src/application/ui/display/ItemCount/style.scss
  assets/src/application/ui/display/entityDetailsPanel/style.scss
  assets/src/application/ui/layout/entityList/RegistrationsLink/index.tsx
  assets/src/application/ui/layout/entityList/RegistrationsLink/style.scss
  assets/src/application/ui/layout/entityList/index.ts
  assets/src/application/ui/layout/espressoTable/style.scss
  assets/src/domain/eventEditor/ui/datetimes/DateRegistrationsLink.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/AssignTicketsButton.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/DateActionsMenu.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/dropdown/CopyDate.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/dropdown/DateMainMenu.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/dropdown/EditDate.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/dropdown/TrashDate.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/dropdown/index.ts
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/dropdown/types.ts
  assets/src/domain/eventEditor/ui/datetimes/datesList/tableView/styles.scss
  assets/src/domain/eventEditor/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  assets/src/domain/eventEditor/ui/datetimes/hooks/useDatesActionMenuHandler.tsx
  assets/src/domain/eventEditor/ui/tickets/TicketRegistrationsLink.tsx
  assets/src/domain/eventEditor/ui/tickets/hooks/useTicketsActionMenuHandler.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/TicketActionsMenu.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/dropdown/CopyTicket.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/dropdown/EditTicket.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/dropdown/TicketMainMenu.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/dropdown/TrashTicket.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/dropdown/index.ts
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/dropdown/types.ts
  assets/src/domain/eventEditor/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
Labels: EDTR v2, category:admin-page-ui-&-ux, type:bug 🐞

#2729 Replace AntD Icons; closes #2677.
  assets/src/application/ui/display/TimezoneTimeInfo/Trigger.tsx
  assets/src/application/ui/display/icons/svgs/appstoreFilled.svg
  assets/src/application/ui/display/icons/svgs/calendarOutlined.svg
  assets/src/application/ui/display/icons/svgs/closeOutlined.svg
  assets/src/application/ui/display/icons/svgs/compassFilled.svg
  assets/src/application/ui/display/icons/svgs/controlOutlined.svg
  assets/src/application/ui/display/icons/svgs/custom.d.ts
  assets/src/application/ui/display/icons/svgs/downCircleFilled.svg
  assets/src/application/ui/display/icons/svgs/globalOutlined.svg
  assets/src/application/ui/display/icons/svgs/index.ts
  assets/src/application/ui/display/icons/svgs/infoCircleOutlined.svg
  assets/src/application/ui/display/icons/svgs/minusOutlined.svg
  assets/src/application/ui/display/icons/svgs/plusCircleFilled.svg
  assets/src/application/ui/display/icons/svgs/profileOutlined.svg
  assets/src/application/ui/display/icons/svgs/saveOutlined.svg
  assets/src/application/ui/display/icons/svgs/style.scss
  assets/src/application/ui/display/icons/svgs/upCircleFilled.svg
  assets/src/application/ui/display/loadingNotice/style.scss
  assets/src/application/ui/forms/espressoForm/renderers/FieldRenderer.tsx
  assets/src/application/ui/forms/espressoForm/renderers/RepeatableRenderer.tsx
  assets/src/application/ui/forms/modalForm/RenderModalForm.tsx
  assets/src/application/ui/input/Button/IconButton/index.tsx
  assets/src/application/ui/input/Button/IconButton/style.scss
  assets/src/application/ui/input/Button/style.scss
  assets/src/application/ui/layout/entityList/filterBar/buttons/CardViewFilterButton.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/ToggleLegendButton.tsx
  assets/src/domain/eventEditor/ui/datetimes/dateForm/useDateFormConfig.ts
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal/buttons/useSubmitButtonProps.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/table/BodyCell.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/table/useCellIcon.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketForm/useTicketFormConfig.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/AddPriceModifierButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/table/styles.scss
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/table/useBodyRowGenerator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/table/useFooterRowGenerator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/table/useHeaderRowGenerator.ts
  package.json
  tsconfig.json
  yarn.lock
Labels: EDTR v2, type:task 🧹

#2728 Make sure the site isn't Multisite enabled when sideloading the POT file
  core/EE_Load_Textdomain.core.php
Labels: category:i18n, status:needs-testing, type:bug 🐞, type:impacts-eventsmart 🎫

#2733 Trash and permanent deletion for entities | Closes #2731
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/index.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/test/data.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/test/deleteDatetime.test.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/types.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/updateTicketCache.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/useDatetimeMutationHandler.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/useOnDeleteDatetime.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/useOptimisticResponse.ts
  assets/src/domain/eventEditor/services/apollo/mutations/prices/test/deletePrice.test.ts
  assets/src/domain/eventEditor/services/apollo/mutations/prices/types.ts
  assets/src/domain/eventEditor/services/apollo/mutations/prices/useOnDeletePrice.ts
  assets/src/domain/eventEditor/services/apollo/mutations/prices/usePriceMutationHandler.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/index.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/test/data.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/test/deleteTicket.test.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/types.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/updatePriceCache.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/useOnCreateTicket.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/useOnDeleteTicket.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/useOptimisticResponse.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/useTicketMutationHandler.ts
  assets/src/domain/eventEditor/services/apollo/mutations/types.ts
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/dropdown/TrashDate.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/hooks/useOnSubmitPrices.ts
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/dropdown/TrashTicket.tsx
  assets/src/domain/shared/entities/datetimes/predicates/filters/salesFilter.ts
  assets/src/domain/shared/entities/datetimes/predicates/filters/statusFilter.ts
  assets/src/domain/shared/entities/datetimes/predicates/sorters/index.ts
  assets/src/domain/shared/entities/tickets/predicates/filters/salesFilter.ts
  assets/src/domain/shared/entities/tickets/predicates/filters/statusFilter.ts
  core/domain/services/admin/events/editor/AdvancedEditorData.php
  yarn.lock
Labels: EDTR v2, category:assets, type:enhancement 🎉

#2732 Load Bundled WP GQL on EE Activation | Closes #2711
  espresso.php
Labels: EDTR v2, category:assets, status:review, type:task 🧹

#2737 Fix priority for filters and sorters | Closes #2736
  assets/src/application/ui/layout/entityList/filterBar/filterState/useEntityFilterService.ts
  assets/src/application/ui/layout/entityList/filterBar/subscription/types.ts
  assets/src/application/ui/layout/entityList/filterBar/subscription/useFilterBarService.ts
  assets/src/domain/eventEditor/services/filterState/datetimes/useDatesFilterBarService.ts
  assets/src/domain/eventEditor/services/filterState/tickets/useTicketsFilterBarService.ts
Labels: EDTR v2, category:assets, status:review, type:enhancement 🎉

#2739 Fix stale entities for menu items | Closes #2738
  assets/src/domain/eventEditor/services/apollo/queries/tickets/useTickets.ts
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/dropdown/DateMainMenu.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/dropdown/TicketMainMenu.tsx
Labels: EDTR v2, category:assets, type:bug 🐞

#2741 Refactor generic inputs and inline edit inputs; partially closes #2725.
  assets/src/application/ui/display/entityDetailsPanel/EntityDetailsPanel.tsx
  assets/src/application/ui/display/entityDetailsPanel/style.scss
  assets/src/application/ui/input/InlineEditInput/InlineEditInfinity.tsx
  assets/src/application/ui/input/InlineEditInput/InlineEditText.tsx
  assets/src/application/ui/layout/EntityCard/styles.scss
  assets/src/domain/eventEditor/ui/datetimes/hooks/useAddDatetimeModal.ts
  assets/src/infrastructure/ui/inputs/Button/Button.tsx
  assets/src/infrastructure/ui/inputs/Button/IconButton.tsx
  assets/src/infrastructure/ui/inputs/Button/index.ts
  assets/src/infrastructure/ui/inputs/NumberInput.tsx
  assets/src/infrastructure/ui/inputs/Select.tsx
  assets/src/infrastructure/ui/inputs/TextArea.tsx
  assets/src/infrastructure/ui/inputs/TextInput.tsx
  assets/src/infrastructure/ui/inputs/dateTime/Datepicker.tsx
  assets/src/infrastructure/ui/inputs/dateTime/Timepicker.tsx
  assets/src/infrastructure/ui/inputs/dateTime/types.ts
  assets/src/infrastructure/ui/inputs/index.ts
  assets/src/infrastructure/ui/inputs/inlineEdit/InlineEditInput.tsx
  assets/src/infrastructure/ui/inputs/inlineEdit/types.ts
  assets/src/infrastructure/ui/inputs/style.scss
Labels: EDTR v2, category:admin-page-ui-&-ux

#2745 Fix Drag-n-Drop when not sorting | Closes #2743
  assets/src/application/ui/layout/entityList/EntityTable.tsx
Labels: EDTR v2, category:assets, status:review, type:bug 🐞

#2735 Refactor Server-Side GQL Mutation Error Handling
  core/domain/services/graphql/data/mutations/TicketMutation.php
  core/domain/services/graphql/mutators/DatetimeCreate.php
  core/domain/services/graphql/mutators/DatetimeDelete.php
  core/domain/services/graphql/mutators/DatetimeUpdate.php
  core/domain/services/graphql/mutators/EntityMutator.php
  core/domain/services/graphql/mutators/EventUpdate.php
  core/domain/services/graphql/mutators/PriceCreate.php
  core/domain/services/graphql/mutators/PriceDelete.php
  core/domain/services/graphql/mutators/PriceUpdate.php
  core/domain/services/graphql/mutators/TicketCreate.php
  core/domain/services/graphql/mutators/TicketDelete.php
  core/domain/services/graphql/mutators/TicketUpdate.php
  core/domain/services/graphql/mutators/VenueUpdate.php
  core/domain/services/graphql/types/Datetime.php
  tests/testcases/core/domain/services/graphql/mutators/DatetimeDeleteTest.php
Labels: EDTR v2, category:models-and-data-infrastructure, type:enhancement 🎉

#2746 Button styles refactor; partially closes #2734.
  assets/src/application/ui/input/Button/Button.tsx
  assets/src/application/ui/input/Button/style.scss
  assets/src/application/ui/input/Button/types.ts
  assets/src/application/ui/layout/EntityCard/styles.scss
  assets/src/application/ui/layout/entityActionsMenu/EntityActionsMenu.tsx
  assets/src/application/ui/layout/entityActionsMenu/style.scss
  assets/src/application/ui/layout/modal/ModalWithAlert.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/AddNewDateButton.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/DateActionsMenu.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/TicketActionsMenu.tsx
  assets/src/infrastructure/ui/inputs/Button.tsx
  assets/src/infrastructure/ui/inputs/Button/Button.tsx
  assets/src/infrastructure/ui/inputs/Button/ButtonGroup.tsx
  assets/src/infrastructure/ui/inputs/Button/IconButton.tsx
  assets/src/infrastructure/ui/inputs/Button/index.ts
  assets/src/infrastructure/ui/inputs/Button/types.ts
  assets/src/infrastructure/ui/inputs/IconButton.tsx
  assets/src/infrastructure/ui/inputs/index.ts
  assets/src/infrastructure/ui/inputs/inlineEdit/InlineEditInput.tsx
  assets/src/infrastructure/ui/inputs/types.ts
  assets/src/infrastructure/ui/layout/modal/Modal.tsx
  yarn.lock
Labels: EDTR v2, category:admin-page-ui-&-ux

#2740 do a GET request when View Details button is clicked
  modules/ticket_selector/DisplayTicketSelector.php
Labels: category:ticket-selector, status:needs-testing, type:bug 🐞

#2752 Fix entity list update after mutation | Closes #2750
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/useDatetimeMutationHandler.ts
  assets/src/domain/eventEditor/services/apollo/mutations/prices/usePriceMutationHandler.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/useTicketMutationHandler.ts
  assets/src/domain/eventEditor/services/apollo/mutations/types.ts
  assets/src/domain/eventEditor/services/apollo/mutations/useMutationHandler.ts
  assets/src/domain/eventEditor/services/apollo/mutations/useMutationOptions.ts
Labels: EDTR v2, category:assets, type:bug 🐞

#2747 Remove relations on permanent delete | Closes #2742
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/data/useInitialState.ts
  core/domain/services/admin/events/editor/AdvancedEditorData.php
  core/domain/services/graphql/connection_resolvers/DatetimeConnectionResolver.php
  core/domain/services/graphql/connection_resolvers/PriceConnectionResolver.php
  core/domain/services/graphql/connection_resolvers/TicketConnectionResolver.php
  core/domain/services/graphql/mutators/DatetimeDelete.php
  core/domain/services/graphql/mutators/PriceDelete.php
  core/domain/services/graphql/mutators/TicketDelete.php
  yarn.lock
Labels: EDTR v2, category:admin-page-ui-&-ux, category:models-and-data-infrastructure, type:bug 🐞, type:user-proofing 🛡

#2751 Icon button styles refactor; partially closes #2725.
  assets/src/application/ui/display/confirm/useConfirm.tsx
  assets/src/application/ui/display/withTooltip/withTooltip.tsx
  assets/src/application/ui/forms/modalForm/RenderModalForm.tsx
  assets/src/application/ui/input/Button/IconButton/style.scss
  assets/src/application/ui/input/Button/Link.tsx
  assets/src/application/ui/input/Button/index.ts
  assets/src/application/ui/input/Button/style.scss
  assets/src/application/ui/layout/dropdownMenu/DropdownToggle/index.tsx
  assets/src/application/ui/layout/dropdownMenu/DropdownToggle/style.scss
  assets/src/application/ui/layout/entityList/RegistrationsLink/index.tsx
  assets/src/application/ui/layout/entityList/RegistrationsLink/style.scss
  assets/src/application/ui/layout/entityList/filterBar/buttons/TableViewFilterButton.tsx
  assets/src/application/ui/layout/entityList/filterBar/style.scss
  assets/src/domain/eventEditor/ui/tickets/ticketsList/AddNewTicketButton.tsx
  assets/src/infrastructure/ui/inputs/Button/Button.tsx
  assets/src/infrastructure/ui/layout/modal/modalCloseButtonProps/index.tsx
Labels: EDTR v2, category:admin-page-ui-&-ux
