Repository eventespresso/event-espresso-core, pull requests merged in 2020-05, with the labels that each got.

#2761 Dropdown and icon buttons refactor; partially closes #2725.
  assets/src/application/ui/display/TimezoneTimeInfo/Trigger.tsx
  assets/src/application/ui/display/icons/collection/Sort.tsx
  assets/src/application/ui/display/icons/collection/TableView.tsx
  assets/src/application/ui/display/icons/collection/index.ts
  assets/src/application/ui/display/icons/svgPaths.ts
  assets/src/application/ui/display/icons/svgs/appstoreFilled.svg
  assets/src/application/ui/display/icons/svgs/index.ts
  assets/src/application/ui/display/icons/svgs/sort.svg
  assets/src/application/ui/display/icons/svgs/tableView.svg
  assets/src/application/ui/display/icons/types.ts
  assets/src/application/ui/input/Button/IconButton/index.tsx
  assets/src/application/ui/input/Button/IconButton/style.scss
  assets/src/application/ui/input/Button/IconButton/types.ts
  assets/src/application/ui/input/Button/index.ts
  assets/src/application/ui/input/Button/types.ts
  assets/src/application/ui/layout/dropdownMenu/DropdownMenu.tsx
  assets/src/application/ui/layout/dropdownMenu/index.ts
  assets/src/application/ui/layout/dropdownMenu/styles.scss
  assets/src/application/ui/layout/entityList/filterBar/buttons/TableViewFilterButton.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/ToggleLegendButton.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/ToggleSortingButton.tsx
  assets/src/infrastructure/ui/inputs/Button/types.ts
Labels: EDTR v2, category:admin-page-ui-&-ux

#2768 Refactor Datepicker and Timepicker; partially closes #2725.
  assets/src/infrastructure/ui/inputs/dateTime/Datepicker/index.tsx
  assets/src/infrastructure/ui/inputs/dateTime/Datepicker/style.scss
  assets/src/infrastructure/ui/inputs/dateTime/Timepicker/index.tsx
  assets/src/infrastructure/ui/inputs/dateTime/Timepicker/style.scss
  assets/src/infrastructure/ui/inputs/dateTime/index.tsx
  assets/src/infrastructure/ui/inputs/style.scss
Labels: EDTR v2, category:admin-page-ui-&-ux

#2769 Load React && ReactDOM from CDN closes #2762
  assets/vendor/react-dom.js
  assets/vendor/react-dom.min.js
  assets/vendor/react.js
  assets/vendor/react.min.js
  core/EE_Dependency_Map.core.php
  core/admin/EE_Admin_Page.core.php
  core/admin/EE_Admin_Page_CPT.core.php
  core/domain/services/admin/events/default_settings/AdvancedEditorAdminFormSection.php
  core/domain/services/assets/CoreAssetManager.php
  core/domain/services/assets/EspressoEditorAssetManager.php
  core/domain/services/assets/LegacyEditorAssetManager.php
  core/domain/services/assets/ReactAssetManager.php
  core/domain/values/assets/BrowserAsset.php
  core/domain/values/assets/JavascriptAsset.php
  core/domain/values/assets/StylesheetAsset.php
  core/services/assets/AssetManager.php
  core/services/assets/I18nRegistry.php
  core/services/assets/Registry.php
  tests/testcases/core/services/assets/I18nRegistryTest.php
  tests/testcases/core/services/assets/RegistryTest.php
Labels: EDTR v2, category:assets, type:enhancement 🎉

#2767 Set up blocks | Closes #2765
  .eslintrc.json
  assets/src/data/services/apollo/client.ts
  assets/src/data/services/apollo/withApollo.tsx
  assets/src/domain/blocks/components/AvatarImage.tsx
  assets/src/domain/blocks/components/OrderByControl.tsx
  assets/src/domain/blocks/components/RegStatusControl.tsx
  assets/src/domain/blocks/components/SortOrderControl.tsx
  assets/src/domain/blocks/components/types.ts
  assets/src/domain/blocks/constants.ts
  assets/src/domain/blocks/event-attendees/AttendeeListItem.tsx
  assets/src/domain/blocks/event-attendees/AttendeesDisplay.tsx
  assets/src/domain/blocks/event-attendees/AttendeesList.tsx
  assets/src/domain/blocks/event-attendees/attributes.ts
  assets/src/domain/blocks/event-attendees/controls/ArchiveSettings.tsx
  assets/src/domain/blocks/event-attendees/controls/AttendeeLimit.tsx
  assets/src/domain/blocks/event-attendees/controls/GravatarSettings.tsx
  assets/src/domain/blocks/event-attendees/controls/SelectDatetime.tsx
  assets/src/domain/blocks/event-attendees/controls/SelectEvent.tsx
  assets/src/domain/blocks/event-attendees/controls/SelectOrder.tsx
  assets/src/domain/blocks/event-attendees/controls/SelectOrderBy.tsx
  assets/src/domain/blocks/event-attendees/controls/SelectStatus.tsx
  assets/src/domain/blocks/event-attendees/controls/SelectTicket.tsx
  assets/src/domain/blocks/event-attendees/controls/index.tsx
  assets/src/domain/blocks/event-attendees/edit.tsx
  assets/src/domain/blocks/event-attendees/hooks/useAttendees.ts
  assets/src/domain/blocks/event-attendees/hooks/useDatetimes.ts
  assets/src/domain/blocks/event-attendees/hooks/useEvents.ts
  assets/src/domain/blocks/event-attendees/hooks/useTickets.ts
  assets/src/domain/blocks/event-attendees/index.tsx
  assets/src/domain/blocks/event-attendees/types.ts
  assets/src/domain/blocks/index.ts
  assets/src/domain/shared/entities/registration/statusOptions.ts
  assets/src/domain/shared/services/utils/entityList.ts
  config/paths.js
  config/webpack.config.js
  package.json
  tsconfig.json
  yarn.lock
Labels: EDTR v2, category:assets, status:review, type:task 🧹

#2730 ConfirmDelete; closes #2613
  assets/src/application/ui/display/confirm/ConfirmClose.tsx
  assets/src/application/ui/display/confirm/ConfirmDelete.tsx
  assets/src/application/ui/display/confirm/index.ts
  assets/src/application/ui/display/confirm/types.ts
  assets/src/application/ui/display/confirm/useConfirm.tsx
  assets/src/application/ui/display/confirm/useConfirmWithButton.tsx
  assets/src/application/ui/display/confirm/useConfirmationDialog.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/dropdown/CopyDate.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/dropdown/DateMainMenu.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/dropdown/EditDate.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/dropdown/TrashDate.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/dropdown/types.ts
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/dropdown/useActions.ts
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/dropdown/CopyTicket.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/dropdown/EditTicket.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/dropdown/TicketMainMenu.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/dropdown/TrashTicket.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/dropdown/useActions.ts
Labels: EDTR v2

#2760 Fix Default Editor Data (and Refactor for Better SRP) closes #2718
  caffeinated/admin/extend/events/Extend_Events_Admin_Page.core.php
  core/EE_Dependency_Map.core.php
  core/domain/entities/admin/GraphQLData/CurrentUser.php
  core/domain/entities/admin/GraphQLData/Datetimes.php
  core/domain/entities/admin/GraphQLData/GeneralSettings.php
  core/domain/entities/admin/GraphQLData/GraphQLData.php
  core/domain/entities/admin/GraphQLData/GraphQLDataInterface.php
  core/domain/entities/admin/GraphQLData/PriceTypes.php
  core/domain/entities/admin/GraphQLData/Prices.php
  core/domain/entities/admin/GraphQLData/Tickets.php
  core/domain/services/admin/events/editor/AdvancedEditorData.php
  core/domain/services/admin/events/editor/EventEditor.php
  core/domain/services/admin/events/editor/EventEditorData.php
  core/domain/services/admin/events/editor/EventEditorDataInterface.php
  core/domain/services/admin/events/editor/EventEditorGraphQLData.php
  core/domain/services/admin/events/editor/EventEntityRelations.php
  core/domain/services/admin/events/editor/NewEventDefaultEntities.php
  core/domain/services/graphql/types/RootQuery.php
  core/services/assets/I18nRegistry.php
  core/services/assets/JedLocaleData.php
  tests/testcases/core/services/assets/I18nRegistryTest.php
  tests/testcases/core/services/assets/RegistryTest.php
Labels: EDTR v2, category:admin-pages, category:models-and-data-infrastructure, type:bug 🐞, type:enhancement 🎉

#2776 Wire up attendees list orderby param
  assets/src/domain/blocks/components/SortOrderControl.tsx
  assets/src/domain/blocks/event-attendees/controls/SelectOrderBy.tsx
  assets/src/domain/blocks/event-attendees/hooks/useAttendees.ts
  yarn.lock
Labels: EDTR v2, category:assets, status:review, type:enhancement 🎉

#2777 Confirmation Modals improvements; closes #2613.
  assets/src/application/ui/layout/modal/ModalWithAlert.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal/buttons/CloseModal.tsx
Labels: EDTR v2, type:task 🧹

#2787 Change "desc" prop to "description"
  assets/src/application/ui/forms/espressoForm/config.tsx
  assets/src/application/ui/forms/espressoForm/renderers/FieldRenderer.tsx
  assets/src/application/ui/forms/espressoForm/types.ts
  assets/src/domain/eventEditor/services/apollo/mutations/prices/test/createPrice.test.ts
  assets/src/domain/eventEditor/services/apollo/mutations/prices/test/updatePrice.test.ts
  assets/src/domain/eventEditor/services/apollo/mutations/prices/types.ts
  assets/src/domain/eventEditor/services/apollo/queries/events/queries.ts
  assets/src/domain/eventEditor/services/apollo/queries/prices/queries.ts
  assets/src/domain/eventEditor/services/apollo/queries/prices/test/data.ts
  assets/src/domain/eventEditor/services/apollo/types.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/table/useBodyRowGenerator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/table/useFooterRowGenerator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/data/test/data.updatePrice.test.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/defaultPriceModifier.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/inputs/PriceDescriptionInput.tsx
  assets/src/domain/shared/entities/prices/predicates/priceFields.ts
  core/domain/entities/admin/GraphQLData/Prices.php
  core/domain/services/graphql/data/mutations/EventMutation.php
  core/domain/services/graphql/data/mutations/PriceMutation.php
  core/domain/services/graphql/types/Event.php
  core/domain/services/graphql/types/Price.php
  core/domain/services/graphql/types/Venue.php
  tests/testcases/core/domain/services/graphql/connections/EventConnectionQueriesTest.php
  tests/testcases/core/domain/services/graphql/connections/PriceConnectionQueriesTest.php
  tests/testcases/core/domain/services/graphql/mutators/PriceCreateTest.php
  tests/testcases/core/domain/services/graphql/mutators/PriceUpdateTest.php
Labels: EDTR v2, category:assets, status:review, type:code-quality 👾

#2785 EDTR Exit modal | Closes #2781
  .eslintignore
  assets/src/domain/blocks/event-attendees/index.tsx
  assets/src/domain/blocks/event-attendees/style.scss
  assets/src/domain/wpPluginsPage/ExitSurvey.tsx
  assets/src/domain/wpPluginsPage/ExitSurveyContent.tsx
  assets/src/domain/wpPluginsPage/ExitSurveyModal.tsx
  assets/src/domain/wpPluginsPage/Popup.tsx
  assets/src/domain/wpPluginsPage/index.tsx
  assets/src/domain/wpPluginsPage/styles.scss
  assets/src/domain/wpPluginsPage/types.ts
  config/paths.js
  config/webpack.config.js
  package.json
  yarn.lock
Labels: EDTR v2, category:admin-pages, type:enhancement 🎉

#2784 Ticket Assignments Manager UI Issues; #2780.
  assets/src/application/ui/layout/espressoTable/style.scss
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/table/HeaderCell.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/table/styles.scss
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/table/useCellIcon.tsx
Labels: EDTR v2, category:admin-page-ui-&-ux, type:enhancement 🎉

#2791 Imrpove filterbar subscription service and its usage | Closes #2749
  assets/src/application/services/subscription/useSubscriptionService.ts
  assets/src/application/ui/layout/entityList/filterBar/filterState/useEntityFilterService.ts
  assets/src/application/ui/layout/entityList/filterBar/filterState/useFilteredEntities.ts
  assets/src/application/ui/layout/entityList/filterBar/subscription/useFilterBarService.ts
Labels: EDTR v2, category:assets, status:review, type:bug 🐞

#2793 Multi step form for add new entities | Closes #2792
  assets/src/application/services/hooks/index.ts
  assets/src/application/services/hooks/usePrevNext.ts
  assets/src/application/ui/forms/espressoForm/EspressoForm.tsx
  assets/src/application/ui/forms/espressoForm/renderers/FormRenderer.tsx
  assets/src/application/ui/forms/espressoForm/utils.ts
  assets/src/domain/eventEditor/services/apollo/queries/events/useEvent.ts
  assets/src/domain/eventEditor/services/apollo/types.ts
  assets/src/domain/eventEditor/ui/datetimes/datesList/AddNewDateButton.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/addNew/ContentWrapper.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/addNew/Modal.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/addNew/ModalBody.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/addNew/ModalContent.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/addNew/Steps.tsx
  assets/src/domain/eventEditor/ui/datetimes/hooks/useAddDatetimeModal.ts
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/table/DateCell.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/table/HeaderCell.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/context/withContext.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/data/useAssignmentManager.ts
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/data/useDatesAndTickets.ts
  assets/src/domain/eventEditor/ui/tickets/hooks/useAddTicketModal.ts
  assets/src/domain/eventEditor/ui/tickets/ticketsList/AddNewTicketButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/addNew/ContentWrapper.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/addNew/Modal.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/addNew/ModalBody.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/addNew/ModalContent.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/addNew/Steps.tsx
  assets/src/domain/shared/ui/NewEntityModal.tsx
  assets/src/infrastructure/ui/display/steps/Step.tsx
  assets/src/infrastructure/ui/display/steps/Steps.tsx
  assets/src/infrastructure/ui/display/steps/index.ts
  assets/src/infrastructure/ui/display/steps/style.scss
  assets/src/infrastructure/ui/display/steps/types.ts
Labels: EDTR v2, category:assets, status:review, type:enhancement 🎉

#2702 Replace AntD Toaster
  assets/src/application/services/apollo/mutations/useMutationHandler.ts
  assets/src/application/services/apollo/status/useStatusManager.ts
  assets/src/application/services/context/ToastProvider.tsx
  assets/src/application/services/toaster/Toaster.tsx
  assets/src/application/services/toaster/index.ts
  assets/src/application/services/toaster/initToaster.ts
  assets/src/application/services/toaster/style.scss
  assets/src/application/services/toaster/types.ts
  assets/src/application/services/toaster/useLoadingToast.ts
  assets/src/application/services/toaster/useSystemNotifications.tsx
  assets/src/application/services/toaster/useToastManager.tsx
  assets/src/application/services/toaster/useToaster.tsx
  assets/src/application/services/utilities/dom/index.ts
  assets/src/application/services/utilities/dom/renderDomElement.ts
  assets/src/application/services/utilities/useTimeout.ts
  assets/src/application/ui/display/icons/svgs/appstoreFilled.svg
  assets/src/application/ui/display/icons/svgs/calendarOutlined.svg
  assets/src/application/ui/display/icons/svgs/check.svg
  assets/src/application/ui/display/icons/svgs/closeCircleOutlined.svg
  assets/src/application/ui/display/icons/svgs/closeOutlined.svg
  assets/src/application/ui/display/icons/svgs/compassFilled.svg
  assets/src/application/ui/display/icons/svgs/controlOutlined.svg
  assets/src/application/ui/display/icons/svgs/downCircleFilled.svg
  assets/src/application/ui/display/icons/svgs/globalOutlined.svg
  assets/src/application/ui/display/icons/svgs/index.ts
  assets/src/application/ui/display/icons/svgs/infoCircleOutlined.svg
  assets/src/application/ui/display/icons/svgs/minusOutlined.svg
  assets/src/application/ui/display/icons/svgs/plusCircleFilled.svg
  assets/src/application/ui/display/icons/svgs/profileOutlined.svg
  assets/src/application/ui/display/icons/svgs/saveOutlined.svg
  assets/src/application/ui/display/icons/svgs/spinner.svg
  assets/src/application/ui/display/icons/svgs/upCircleFilled.svg
  assets/src/application/ui/display/icons/svgs/warning.svg
  assets/src/application/ui/display/icons/svgs/warningTriangle.svg
  assets/src/domain/eventEditor/index.tsx
  assets/src/domain/eventEditor/services/apollo/queries/datetimes/useFetchDatetimes.ts
  assets/src/domain/eventEditor/services/apollo/queries/priceTypes/useFetchPriceTypes.ts
  assets/src/domain/eventEditor/services/apollo/queries/prices/useFetchPrices.ts
  assets/src/domain/eventEditor/services/apollo/queries/tickets/useFetchTickets.ts
  assets/src/domain/eventEditor/services/context/EventContext/index.tsx
  assets/src/domain/eventEditor/services/context/EventEditorContext/ContextProviders.tsx
  assets/src/domain/eventEditor/ui/EventEditor.tsx
  assets/src/domain/eventEditor/ui/styles.scss
  assets/src/infrastructure/services/Portal/index.tsx
  assets/src/infrastructure/ui/display/Box.tsx
  assets/src/infrastructure/ui/display/Icon.tsx
  assets/src/infrastructure/ui/display/index.ts
  assets/src/infrastructure/ui/inputs/Button/IconButton.tsx
  assets/src/infrastructure/ui/inputs/style.scss
  package.json
  yarn.lock
Labels: EDTR v2, category:admin-page-ui-&-ux, type:enhancement 🎉

#2796 TAM and WP plugins page fixes | Closes #2794
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/table/Table.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/table/useGetBodyRows.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/table/useGetHeaderRows.tsx
  assets/src/domain/wpPluginsPage/index.tsx
Labels: EDTR v2, category:assets, status:review, type:code-quality 👾

#2801 Misc improvements | Partially completes #2797
  assets/src/application/services/config/types.ts
  assets/src/application/services/config/useConfigData.ts
  assets/src/data/services/apollo/client.ts
  assets/src/domain/eventEditor/services/apollo/initialization/useCacheRehydration.ts
  assets/src/domain/eventEditor/services/apollo/initialization/useCacheRehydrationData.ts
  assets/src/domain/eventEditor/services/apollo/initialization/useI18nData.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/useDatetimeMutationHandler.ts
  assets/src/domain/eventEditor/services/apollo/mutations/prices/usePriceMutationHandler.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/updatePriceCache.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/useOnCreateTicket.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/useTicketMutationHandler.ts
  assets/src/domain/eventEditor/services/apollo/queries/events/test/data.ts
  assets/src/domain/eventEditor/services/apollo/queries/events/test/useEvent.test.ts
  assets/src/domain/eventEditor/services/apollo/queries/events/useEvent.ts
  assets/src/domain/eventEditor/services/apollo/queries/events/useEventQueryOptions.ts
  assets/src/domain/eventEditor/services/context/EventContext/index.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/addNew/ModalContent.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/data/useOnSubmitAssignments.ts
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/data/useValidation.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/stateListeners/usePriceTypeChangeListener.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/utils/calculateBasePrice.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/utils/calculateTicketTotal.ts
  assets/src/domain/eventEditor/ui/tickets/ticketsList/addNew/ModalContent.tsx
  assets/src/domain/wpPluginsPage/ExitSurveyContent.tsx
  assets/src/domain/wpPluginsPage/index.tsx
  assets/src/domain/wpPluginsPage/types.ts
Labels: EDTR v2, category:assets, status:review, type:code-quality 👾

#2809 Recalculate base price when ticket price changes | Closes #2807
  assets/src/domain/eventEditor/ui/tickets/hooks/useEditTicketModal.ts
  assets/src/domain/eventEditor/ui/tickets/hooks/useRecalculateBasePrice.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/data/index.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/data/test/useInitialState.test.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/data/useInitialState.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/hooks/useOnSubmitPrices.ts
  assets/src/domain/eventEditor/ui/tickets/ticketsList/editable/EditablePrice.tsx
Labels: EDTR v2, category:assets, type:bug 🐞

#2810 Fix ticket quantity change after editing date in modal | Closes #2803
  assets/src/domain/eventEditor/ui/datetimes/hooks/useEditDatetimeModal.ts
  assets/src/domain/eventEditor/ui/tickets/hooks/useEditTicketModal.ts
Labels: EDTR v2, category:assets, status:review, type:bug 🐞

#2814 Fix TPC price order | Closes #2802
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/data/test/data.addPrice.test.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/data/useDataReducer.ts
Labels: EDTR v2, category:assets, type:bug 🐞

#2815 Fix TPC decimal palces | Closes #2806
  assets/src/domain/eventEditor/ui/tickets/hooks/useRecalculateBasePrice.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/data/test/data.calculations.test.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/stateListeners/useInitStateListeners.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/utils/calculateBasePrice.ts
Labels: EDTR v2, category:assets, status:review, type:bug 🐞

#2816 Toast update; followup #2702.
  assets/src/application/services/apollo/mutations/useMutationHandler.ts
  assets/src/application/services/toaster/Toaster.tsx
  assets/src/application/services/toaster/style.scss
  assets/src/application/services/toaster/toasterIcons.tsx
  assets/src/application/services/toaster/types.ts
  assets/src/application/services/toaster/useSystemNotifications.tsx
Labels: EDTR v2, category:admin-page-ui-&-ux

#2811 Default Entity Generators | Closes #2811
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/updateTicketCache.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/updatePriceCache.ts
  core/EE_Dependency_Map.core.php
  core/db_classes/EE_Taxes.class.php
  core/domain/services/admin/entities/DefaultDatetimes.php
  core/domain/services/admin/entities/DefaultEntityGeneratorInterface.php
  core/domain/services/admin/entities/DefaultPrices.php
  core/domain/services/admin/entities/DefaultTickets.php
  core/domain/services/admin/events/editor/EventEditorData.php
  core/domain/services/admin/events/editor/NewEventDefaultEntities.php
  core/domain/services/graphql/data/mutations/TicketMutation.php
Labels: EDTR v2, category:models-and-data-infrastructure, type:enhancement 🎉

#2817 Fix date formats and validations | Closes #2753
  assets/src/application/constants/dateFnsFormats.ts
  assets/src/application/services/utilities/date/index.ts
  assets/src/application/services/utilities/date/misc.ts
  assets/src/application/ui/forms/espressoForm/renderers/FieldRenderer.tsx
  assets/src/domain/eventEditor/ui/datetimes/dateForm/useDateFormConfig.ts
  assets/src/domain/eventEditor/ui/tickets/ticketForm/useTicketFormConfig.tsx
  assets/src/domain/shared/services/utils/dateAndTime.ts
Labels: EDTR v2, category:assets, type:bug 🐞

#2818 wp plugins page fix
  assets/src/application/services/config/types.ts
  assets/src/domain/wpPluginsPage/ExitSurveyContent.tsx
  assets/src/domain/wpPluginsPage/index.tsx
  assets/src/domain/wpPluginsPage/types.ts
  core/domain/services/assets/WordpressPluginsPageAssetManager.php
Labels: EDTR v2, category:assets, type:bug 🐞

#2800 Entity List UI Issues; closes #2783.
  assets/src/application/ui/calendars/dateDisplay/BiggieCalendarDate/index.tsx
  assets/src/application/ui/calendars/dateDisplay/MediumCalendarDate/index.tsx
  assets/src/application/ui/display/ItemCount/style.scss
  assets/src/application/ui/display/TimezoneTimeInfo/style.scss
  assets/src/application/ui/input/CurrencyInput/index.tsx
  assets/src/application/ui/input/InlineEditInput/InlineEditText.tsx
  assets/src/application/ui/input/InlineEditInput/InlineEditTextArea.tsx
  assets/src/application/ui/input/InlineEditInput/types.ts
  assets/src/application/ui/layout/EntityCard/styles.scss
  assets/src/application/ui/layout/entityList/pagination/style.scss
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/AssignTicketsButton.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/cardView/Details.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/editable/EditableName.tsx
  assets/src/domain/eventEditor/ui/tickets/TicketRegistrationsLink.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/AssignDatesButton.tsx
  assets/src/domain/shared/entities/tickets/predicates/selectionPredicates/index.ts
  assets/src/infrastructure/ui/display/pagination/ItemRender.tsx
  assets/src/infrastructure/ui/display/pagination/Pagination.tsx
  assets/src/infrastructure/ui/display/pagination/PerPage.tsx
  assets/src/infrastructure/ui/display/pagination/style.scss
  assets/src/infrastructure/ui/inputs/Select.tsx
  assets/src/infrastructure/ui/inputs/inlineEdit/types.ts
  package.json
  yarn.lock
Labels: EDTR v2, category:admin-page-ui-&-ux, type:task 🧹

#2826 Edit form improvements | Partially closes #2819
  assets/src/application/ui/display/DebugInfo.tsx
  assets/src/application/ui/forms/espressoForm/styles.scss
  assets/src/domain/eventEditor/ui/datetimes/dateForm/useDateFormConfig.ts
  assets/src/domain/eventEditor/ui/tickets/ticketForm/useTicketFormConfig.tsx
Labels: EDTR v2, category:assets, type:task 🧹

#2813 Make Form Steps Look All Purdy
  assets/src/application/ui/forms/espressoForm/styles.scss
  assets/src/application/ui/input/Button/style.scss
  assets/src/domain/eventEditor/ui/datetimes/datesList/addNew/AddNewDateSteps.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/addNew/ModalBody.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/addNew/Steps.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/AddNewTicketButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/addNew/AddNewTicketSteps.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/addNew/ModalBody.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/addNew/Steps.tsx
  assets/src/domain/shared/entities/datetimes/predicates/capacityAtOrAbove/index.ts
  assets/src/domain/shared/entities/datetimes/predicates/isSoldOut.ts
  assets/src/domain/shared/entities/tickets/predicates/isSoldOut/index.test.ts
  assets/src/domain/shared/entities/tickets/predicates/isSoldOut/index.ts
  assets/src/infrastructure/ui/display/steps/Step.tsx
  assets/src/infrastructure/ui/display/steps/Steps.tsx
  assets/src/infrastructure/ui/display/steps/style.scss
  assets/src/infrastructure/ui/display/steps/types.ts
Labels: EDTR v2, category:admin-page-ui-&-ux, type:enhancement 🎉

#2828 TPC and TAM enhancements | Partially closes #2819
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/data/useFilteredDatetimes.ts
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/filters/controls/DatesByMonthControl.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/data/useDataReducer.ts
  core/domain/services/admin/entities/DefaultPrices.php
Labels: EDTR v2, category:assets, status:review, type:enhancement 🎉

#2827 Update packages.
  config/jest/__mocks__/fileMock.js
  jest.config.js
  package.json
  yarn.lock
Labels: EDTR v2, type: tooling :hammer:

#2829 IsChainedButton fix and ant styles removal; closes #2678 and #2725.
  assets/src/application/ui/display/withLabel/style.scss
  assets/src/application/ui/layout/entityList/filterBar/style.scss
  assets/src/application/ui/layout/entityList/pagination/style.scss
  assets/src/domain/shared/entities/datetimes/predicates/isRecentlyExpired/index.ts
Labels: EDTR v2, category:admin-page-ui-&-ux

#2830 Plugin upsells | Closes #2823
  assets/src/domain/wpPluginsPage/exitSurvey/ExitSurvey.tsx
  assets/src/domain/wpPluginsPage/exitSurvey/ExitSurveyContent.tsx
  assets/src/domain/wpPluginsPage/exitSurvey/ExitSurveyModal.tsx
  assets/src/domain/wpPluginsPage/exitSurvey/Popup.tsx
  assets/src/domain/wpPluginsPage/exitSurvey/index.tsx
  assets/src/domain/wpPluginsPage/exitSurvey/styles.scss
  assets/src/domain/wpPluginsPage/exitSurvey/types.ts
  assets/src/domain/wpPluginsPage/index.ts
  assets/src/domain/wpPluginsPage/style.css
Labels: EDTR v2, category:assets, status:review, type:enhancement 🎉

#2838 fix tooltips
  assets/src/application/ui/calendars/dateDisplay/CalendarPageDate/index.tsx
  assets/src/application/ui/display/ItemCount/index.tsx
  assets/src/application/ui/display/ItemCount/style.scss
  assets/src/application/ui/display/TimezoneTimeInfo/Trigger.tsx
  assets/src/application/ui/display/TimezoneTimeInfo/index.tsx
  assets/src/application/ui/display/withLabel/withLabel.tsx
  assets/src/application/ui/display/withTooltip/withTooltip.tsx
  assets/src/application/ui/forms/espressoForm/renderers/FieldRenderer.tsx
  assets/src/application/ui/input/Button/Button.tsx
  assets/src/application/ui/input/Button/IconButton/index.tsx
  assets/src/application/ui/input/Button/Link.tsx
  assets/src/application/ui/input/Button/types.ts
  assets/src/application/ui/layout/dropdownMenu/DropdownMenu.tsx
  assets/src/application/ui/layout/dropdownMenu/DropdownToggle/index.tsx
  assets/src/application/ui/layout/entityList/RegistrationsLink/index.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/CardViewFilterButton.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/TableViewFilterButton.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/ToggleFiltersButton.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/ToggleLegendButton.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/ToggleSortingButton.tsx
  assets/src/domain/eventEditor/ui/datetimes/DateRegistrationsLink.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/AssignTicketsButton.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/dropdown/DateMainMenu.tsx
  assets/src/domain/eventEditor/ui/tickets/TicketRegistrationsLink.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/AssignDatesButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/dropdown/TicketMainMenu.tsx
  assets/src/infrastructure/ui/display/Tooltip/index.tsx
  assets/src/infrastructure/ui/display/types.ts
Labels: EDTR v2, category:admin-page-ui-&-ux, type:enhancement 🎉

#2832 Table View UI Issues; closes #2833.
  assets/src/application/ui/layout/entityActionsMenu/EntityActionsMenu.tsx
  assets/src/application/ui/layout/entityActionsMenu/style.scss
  assets/src/application/ui/layout/entityActionsMenu/types.ts
  assets/src/application/ui/layout/espressoTable/style.scss
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/DateActionsMenu.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/cardView/DateCard.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/editable/EditableName.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/tableView/useHeaderRowGenerator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/cardView/TicketCard.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/editable/EditableName.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/tableView/useHeaderRowGenerator.tsx
Labels: EDTR v2, category:admin-page-ui-&-ux, status:feedback-needed, status:on-hold

#2841 Fix price decimal places
  assets/src/domain/eventEditor/ui/tickets/hooks/useRecalculateBasePrice.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/data/test/data.calculations.test.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/fields/PriceField.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/inputs/PriceAmountInput.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/stateListeners/useInitStateListeners.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/utils/calculateBasePrice.ts
Labels: EDTR v2, category:assets, type:bug 🐞

#2840 Solve multi-step edit form mystery | Almost Closes #2819
  assets/src/application/services/utilities/types.ts
  assets/src/application/ui/display/DebugInfo.tsx
  assets/src/application/ui/forms/espressoForm/styles.scss
  assets/src/application/ui/forms/espressoForm/types.ts
  assets/src/domain/eventEditor/ui/datetimes/dateForm/multiStep/Container.tsx
  assets/src/domain/eventEditor/ui/datetimes/dateForm/multiStep/Content.tsx
  assets/src/domain/eventEditor/ui/datetimes/dateForm/multiStep/ContentBody.tsx
  assets/src/domain/eventEditor/ui/datetimes/dateForm/multiStep/ContentWrapper.tsx
  assets/src/domain/eventEditor/ui/datetimes/dateForm/multiStep/DateFormSteps.tsx
  assets/src/domain/eventEditor/ui/datetimes/dateForm/multiStep/index.ts
  assets/src/domain/eventEditor/ui/datetimes/dateForm/multiStep/types.ts
  assets/src/domain/eventEditor/ui/datetimes/dateForm/multiStep/useDataListener.ts
  assets/src/domain/eventEditor/ui/datetimes/dateForm/useDateFormConfig.ts
  assets/src/domain/eventEditor/ui/datetimes/datesList/AddNewDateButton.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/dropdown/DateMainMenu.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/dropdown/useActions.ts
  assets/src/domain/eventEditor/ui/datetimes/datesList/addNew/AddNewDateSteps.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/addNew/Modal.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/addNew/ModalBody.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/addNew/ModalContent.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketForm/multiStep/Container.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketForm/multiStep/Content.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketForm/multiStep/ContentBody.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketForm/multiStep/ContentWrapper.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketForm/multiStep/TicketFormSteps.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketForm/multiStep/index.ts
  assets/src/domain/eventEditor/ui/tickets/ticketForm/multiStep/types.ts
  assets/src/domain/eventEditor/ui/tickets/ticketForm/multiStep/useDataListener.ts
  assets/src/domain/eventEditor/ui/tickets/ticketForm/useTicketFormConfig.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/context/withContext.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/data/useInitialState.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/hooks/index.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/hooks/useMutatePrices.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/hooks/useOnSubmitPrices.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/utils/constants.ts
  assets/src/domain/eventEditor/ui/tickets/ticketsList/AddNewTicketButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/dropdown/TicketMainMenu.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/dropdown/useActions.ts
  assets/src/domain/eventEditor/ui/tickets/ticketsList/addNew/AddNewTicketSteps.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/addNew/ContentWrapper.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/addNew/Modal.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/addNew/ModalBody.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/addNew/ModalContent.tsx
  assets/src/domain/shared/ui/NewEntityModal.tsx
  assets/src/domain/shared/ui/entityEditModal/Container.tsx
  assets/src/domain/shared/ui/entityEditModal/EntityEditModal.tsx
  assets/src/domain/shared/ui/entityEditModal/index.ts
  assets/src/domain/shared/ui/entityEditModal/styles.scss
  assets/src/domain/shared/ui/entityEditModal/types.ts
  assets/src/infrastructure/ui/layout/modal/Modal.tsx
  assets/src/infrastructure/ui/layout/modal/types.ts
Labels: EDTR v2, category:assets, status:review, type:enhancement 🎉

#2843 Error handling and shared data services
  assets/src/application/services/context/ConfigProvider.tsx
  assets/src/application/ui/layout/entityList/filterBar/subscription/useFilterBarUIElements.tsx
  assets/src/data/services/apollo/queries/currentUser/index.ts
  assets/src/data/services/apollo/queries/currentUser/queries.ts
  assets/src/data/services/apollo/queries/currentUser/test/data.ts
  assets/src/data/services/apollo/queries/currentUser/test/useCurrentUser.test.ts
  assets/src/data/services/apollo/queries/currentUser/test/useFetchCurrentUser.test.ts
  assets/src/data/services/apollo/queries/currentUser/test/useUpdateCurrentUserCache.test.ts
  assets/src/data/services/apollo/queries/currentUser/useCurrentUser.ts
  assets/src/data/services/apollo/queries/currentUser/useCurrentUserQueryOptions.ts
  assets/src/data/services/apollo/queries/currentUser/useFetchCurrentUser.ts
  assets/src/data/services/apollo/queries/currentUser/useUpdateCurrentUserCache.ts
  assets/src/data/services/apollo/queries/generalSettings/index.ts
  assets/src/data/services/apollo/queries/generalSettings/queries.ts
  assets/src/data/services/apollo/queries/generalSettings/test/data.ts
  assets/src/data/services/apollo/queries/generalSettings/test/useFetchGeneralSettings.test.ts
  assets/src/data/services/apollo/queries/generalSettings/test/useGeneralSettings.test.ts
  assets/src/data/services/apollo/queries/generalSettings/test/useUpdateGeneralSettingsCache.test.ts
  assets/src/data/services/apollo/queries/generalSettings/useFetchGeneralSettings.ts
  assets/src/data/services/apollo/queries/generalSettings/useGeneralSettings.ts
  assets/src/data/services/apollo/queries/generalSettings/useGeneralSettingsQueryOptions.ts
  assets/src/data/services/apollo/queries/generalSettings/useUpdateGeneralSettingsCache.ts
  assets/src/data/services/apollo/queries/index.ts
  assets/src/data/services/apollo/queries/types.ts
  assets/src/data/services/apollo/queries/useUpdateCache.ts
  assets/src/domain/eventEditor/hooks/entityListCacheUpdates/useUpdateDatetimeList.ts
  assets/src/domain/eventEditor/hooks/entityListCacheUpdates/useUpdateEntityList.ts
  assets/src/domain/eventEditor/hooks/entityListCacheUpdates/useUpdatePriceList.ts
  assets/src/domain/eventEditor/hooks/entityListCacheUpdates/useUpdatePriceTypeList.ts
  assets/src/domain/eventEditor/hooks/entityListCacheUpdates/useUpdateTicketList.ts
  assets/src/domain/eventEditor/services/apollo/initialization/useCacheRehydration.ts
  assets/src/domain/eventEditor/services/apollo/initialization/useInitQueries.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/updateTicketCache.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/useUpdateDatetimeCache.ts
  assets/src/domain/eventEditor/services/apollo/mutations/prices/useUpdatePriceCache.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/updatePriceCache.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/useUpdateTicketCache.ts
  assets/src/domain/eventEditor/services/apollo/queries/datetimes/test/useInitDatetimeTestCache.ts
  assets/src/domain/eventEditor/services/apollo/queries/datetimes/useFetchDatetimes.ts
  assets/src/domain/eventEditor/services/apollo/queries/events/useEvent.ts
  assets/src/domain/eventEditor/services/apollo/queries/priceTypes/test/useInitPriceTypeTestCache.ts
  assets/src/domain/eventEditor/services/apollo/queries/priceTypes/useFetchPriceTypes.ts
  assets/src/domain/eventEditor/services/apollo/queries/prices/test/useInitPriceTestCache.ts
  assets/src/domain/eventEditor/services/apollo/queries/prices/useFetchPrices.ts
  assets/src/domain/eventEditor/services/apollo/queries/tickets/test/useInitTicketTestCache.ts
  assets/src/domain/eventEditor/services/apollo/queries/tickets/useFetchTickets.ts
  assets/src/domain/eventEditor/services/apollo/queries/types.ts
  assets/src/domain/eventEditor/services/context/TestContext/data.ts
  assets/src/domain/shared/entities/datetimes/predicates/filters/activeUpcoming/index.test.ts
  assets/src/domain/shared/services/apollo/queries/currentUser/useFetchCurrentUser.ts
  assets/src/domain/shared/services/apollo/queries/generalSettings/useFetchGeneralSettings.ts
  assets/src/domain/shared/services/apollo/queries/index.ts
  assets/src/domain/shared/services/apollo/queries/types.ts
  assets/src/domain/shared/services/predicates/isTrashed/index.test.ts
Labels: EDTR v2, category:admin-page-ui-&-ux, type:task 🧹

#2844 Fix isTaxable
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/data/useDataReducer.ts
Labels: EDTR v2, type:bug 🐞

#2845 TAM/TPC minor perf improvements
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/data/useAssignmentManager.ts
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/data/useDataStateManager.ts
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/data/useValidation.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/hooks/usePriceModifier.ts
Labels: EDTR v2, type:code-quality 👾

#2849 Entity Action Main Menu Dropdown Issues.
  assets/src/application/ui/display/TimezoneTimeInfo/Trigger.tsx
  assets/src/application/ui/input/Button/IconButton/index.tsx
  assets/src/application/ui/input/Button/style.scss
  assets/src/application/ui/layout/dropdownMenu/DropdownToggle/index.tsx
  assets/src/infrastructure/ui/inputs/Button/IconButton.tsx
Labels: EDTR v2, category:admin-page-ui-&-ux, type:bug 🐞

#2839 Responsive Table View is Borked; closes #2831.
  assets/src/application/services/theme/theme.ts
  assets/src/application/ui/input/InlineEditInput/InlineEditText.tsx
  assets/src/application/ui/layout/dropdownMenu/DropdownMenu.tsx
  assets/src/application/ui/layout/dropdownMenu/styles.scss
  assets/src/application/ui/layout/entityList/EntityTable.tsx
  assets/src/application/ui/layout/entityList/style.scss
  assets/src/application/ui/layout/espressoTable/ResponsiveTable.tsx
  assets/src/application/ui/layout/espressoTable/Table.tsx
  assets/src/application/ui/layout/espressoTable/style.scss
  assets/src/application/ui/layout/espressoTable/tablet-style.scss
  assets/src/application/ui/layout/espressoTable/utils.ts
  assets/src/domain/eventEditor/ui/datetimes/datesList/tableView/useBodyRowGenerator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/tableView/useBodyRowGenerator.tsx
  assets/src/domain/shared/services/filterState/utils.ts
  assets/src/infrastructure/ui/layout/textfit/LICENSE.md
  assets/src/infrastructure/ui/layout/textfit/TextFit.js
  assets/src/infrastructure/ui/layout/textfit/index.ts
  assets/src/infrastructure/ui/layout/textfit/utils/innerSize.js
  assets/src/infrastructure/ui/layout/textfit/utils/series.js
  assets/src/infrastructure/ui/layout/textfit/utils/shallowEqual.js
  assets/src/infrastructure/ui/layout/textfit/utils/throttle.js
  assets/src/infrastructure/ui/layout/textfit/utils/uniqueId.js
  assets/src/infrastructure/ui/layout/textfit/utils/whilst.js
Labels: EDTR v2, category:admin-page-ui-&-ux

#2846 Fix attendee block query
  assets/src/data/services/apollo/queries/attendees/types.ts
  assets/src/domain/blocks/event-attendees/AttendeesDisplay.tsx
  assets/src/domain/blocks/event-attendees/attributes.ts
  assets/src/domain/blocks/services/apollo/queries/useAttendees.ts
  core/domain/services/graphql/connection_resolvers/AttendeeConnectionResolver.php
  core/domain/services/graphql/connections/RootQueryAttendeesConnection.php
Labels: EDTR v2, category:assets, type:bug 🐞

#2850 Dynamic entry points
  assets/src/domain/blocks/entryPoint.ts
  assets/src/domain/eventEditor/entryPoint.ts
  assets/src/domain/eventEditor/interfaces/types.ts
  assets/src/domain/eventEditor/services/publicPath.ts
  assets/src/domain/eventEditor/ui/index.tsx
  assets/src/domain/index.ts
  assets/src/domain/shared/services/publicPath.ts
  assets/src/domain/wpPluginsPage/entryPoint.ts
  config/paths.js
  config/webpack.config.js
  core/domain/services/admin/events/editor/EventEditor.php
  core/domain/services/assets/EspressoEditorAssetManager.php
  core/domain/services/assets/WordpressPluginsPageAssetManager.php
Labels: EDTR v2, category:assets, category:core-plugin, type:build-process 🔨

#2842 ton-o-ui-fixes
  assets/src/application/services/utilities/text/changeCase/index.ts
  assets/src/application/services/utilities/text/index.ts
  assets/src/application/ui/calendars/dateDisplay/BiggieCalendarDate/index.tsx
  assets/src/application/ui/calendars/dateDisplay/CalendarDateRange/index.tsx
  assets/src/application/ui/calendars/dateDisplay/MediumCalendarDate/index.tsx
  assets/src/application/ui/calendars/dateDisplay/MediumCalendarDate/style.scss
  assets/src/application/ui/display/TimezoneTimeInfo/Trigger.tsx
  assets/src/application/ui/display/TimezoneTimeInfo/style.scss
  assets/src/application/ui/display/icons/collection/GlobalOutlined.tsx
  assets/src/application/ui/display/icons/collection/index.ts
  assets/src/application/ui/display/icons/svgPaths.ts
  assets/src/application/ui/display/icons/svgs/index.ts
  assets/src/application/ui/display/icons/svgs/style.scss
  assets/src/application/ui/display/icons/svgs/types.ts
  assets/src/application/ui/display/icons/svgs/withEnhance.tsx
  assets/src/application/ui/display/icons/types.ts
  assets/src/application/ui/display/withLabel/withLabel.tsx
  assets/src/application/ui/display/withTooltip/style.scss
  assets/src/application/ui/forms/espressoForm/renderers/FieldRenderer.tsx
  assets/src/application/ui/forms/espressoForm/styles.scss
  assets/src/application/ui/input/Button/IconButton/index.tsx
  assets/src/application/ui/input/Button/IconButton/style.scss
  assets/src/application/ui/input/Button/Link.tsx
  assets/src/application/ui/input/Button/style.scss
  assets/src/application/ui/input/SearchInput/SearchInput.tsx
  assets/src/application/ui/layout/EntityCard/styles.scss
  assets/src/application/ui/layout/dropdownMenu/DropdownToggle/index.tsx
  assets/src/application/ui/layout/dropdownMenu/styles.scss
  assets/src/application/ui/layout/dropdownMenu/types.ts
  assets/src/application/ui/layout/entityList/filterBar/EntityListFilterBar.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/CardViewFilterButton.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/ToggleFiltersButton.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/ToggleLegendButton.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/ToggleSortingButton.tsx
  assets/src/application/ui/layout/entityList/filterBar/style.scss
  assets/src/application/ui/styles/themes/default/color-variables.css
  assets/src/domain/eventEditor/ui/datetimes/dateForm/useDateFormConfig.ts
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/AssignTicketsButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketForm/useTicketFormConfig.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/AddPriceModifierButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/DeletePriceModifierButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/TicketPriceCalculatorButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/table/useFooterRowGenerator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/AssignDatesButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/filterBar/controls/IsChainedButton.tsx
  assets/src/infrastructure/ui/display/Alert.tsx
  assets/src/infrastructure/ui/display/Tooltip/index.tsx
  assets/src/infrastructure/ui/display/Tooltip/style.scss
  assets/src/infrastructure/ui/display/pagination/style.scss
  assets/src/infrastructure/ui/inputs/dateTime/Datepicker/style.scss
  assets/src/infrastructure/ui/inputs/dateTime/Timepicker/index.tsx
  assets/src/infrastructure/ui/inputs/dateTime/Timepicker/style.scss
  assets/src/infrastructure/ui/inputs/style.scss
  assets/src/infrastructure/ui/layout/menu/MenuToggle.tsx
  assets/src/infrastructure/ui/layout/menu/types.ts
Labels: EDTR v2, category:admin-page-ui-&-ux, type:enhancement 🎉

#2852 TAM close btn fix.
  assets/src/application/ui/input/Button/style.scss
  assets/src/infrastructure/ui/layout/modal/modalCloseButtonProps/styles.scss
Labels: EDTR v2, category:admin-page-ui-&-ux, type:bug 🐞

#2853 DropdownMenu positioning fix.
  assets/src/application/ui/layout/dropdownMenu/DropdownMenu.tsx
  assets/src/application/ui/layout/dropdownMenu/DropdownToggle/index.tsx
  assets/src/application/ui/layout/dropdownMenu/styles.scss
Labels: EDTR v2, category:admin-page-ui-&-ux, type:bug 🐞

#2855 DeletePriceModifierButton and sort icons fixes.
  assets/src/application/ui/display/EntityListLegend/index.tsx
  assets/src/application/ui/display/EntityListLegend/types.ts
  assets/src/application/ui/display/confirm/useConfirmWithButton.tsx
  assets/src/application/ui/display/icons/collection/Trash.tsx
  assets/src/application/ui/display/icons/collection/index.ts
  assets/src/application/ui/display/icons/svgPaths.ts
  assets/src/application/ui/display/icons/svgs/index.ts
  assets/src/application/ui/display/icons/svgs/sort.svg
  assets/src/application/ui/display/icons/svgs/trash.svg
  assets/src/application/ui/display/icons/types.ts
  assets/src/application/ui/input/Button/IconButton/index.tsx
  assets/src/application/ui/layout/descriptionList/styles.scss
  assets/src/application/ui/layout/entityActionsMenu/entityMenuItems/Trash.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/ToggleSortingButton.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/config.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/DeletePriceModifierButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/PriceModifierActions.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/config.ts
Labels: EDTR v2, category:admin-page-ui-&-ux, type:bug 🐞

#2854 fix loading for block assets
  assets/src/application/services/utilities/dom/domReady.ts
  assets/src/application/services/utilities/dom/index.ts
  assets/src/domain/blocks/event-attendees/index.tsx
  assets/src/domain/index.ts
  config/webpack.config.js
  core/domain/entities/editor/Block.php
  core/domain/entities/editor/CoreBlocksAssetManager.php
  core/domain/entities/editor/blocks/EventAttendees.php
  core/domain/services/assets/CoreAssetManager.php
  core/domain/services/assets/EspressoAdminAssetManager.php
  core/domain/services/assets/EspressoEditorAssetManager.php
  core/domain/services/assets/WordpressPluginsPageAssetManager.php
  core/domain/services/blocks/EventAttendeesBlockRenderer.php
  core/services/assets/BlockAssetManager.php
  core/services/blocks/BlockRenderer.php
Labels: category:assets, category:gutenberg, type:task 🧹

#2857 TPC inputs styles fixes.
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/fields/BaseField.tsx
  assets/src/infrastructure/ui/inputs/style.scss
Labels: EDTR v2, category:admin-page-ui-&-ux, type:bug 🐞

#2856 Update webpack for blocks and other domains
  assets/src/domain/blocks/index.ts
  assets/src/domain/index.ts
  config/env.js
  config/getHttpsConfig.js
  config/paths.js
  config/webpack.config.js
  config/webpackDevServer.config.js
  core/domain/entities/editor/CoreBlocksAssetManager.php
  package.json
  public/index.html
  scripts/build.js
  scripts/start.js
  scripts/test.js
  yarn.lock
Labels: EDTR v2, category:assets, status:review, type:build-process 🔨

#2859 TAM responsiveness fixes.
  assets/src/application/ui/display/icons/svgs/withEnhance.tsx
  assets/src/domain/eventEditor/ui/datetimes/dateForm/multiStep/DateFormSteps.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/styles.scss
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/table/styles.scss
  assets/src/domain/eventEditor/ui/tickets/ticketForm/multiStep/TicketFormSteps.tsx
  assets/src/infrastructure/ui/display/steps/Step.tsx
  assets/src/infrastructure/ui/display/steps/Steps.tsx
  assets/src/infrastructure/ui/display/steps/style.scss
  assets/src/infrastructure/ui/display/steps/types.ts
Labels: EDTR v2, category:admin-page-ui-&-ux, type:bug 🐞

#2861 Performance improvements
  assets/src/application/services/hooks/index.ts
  assets/src/application/services/hooks/useLogIfChanged.ts
  assets/src/application/services/utilities/memo/index.ts
  assets/src/application/services/utilities/memo/reactFinalForm.ts
  assets/src/application/ui/forms/espressoForm/EspressoForm.tsx
  assets/src/application/ui/forms/espressoForm/fields/Field.tsx
  assets/src/application/ui/forms/espressoForm/fields/Group.tsx
  assets/src/application/ui/forms/espressoForm/renderers/FieldRenderer.tsx
  assets/src/application/ui/forms/espressoForm/renderers/FormRenderer.tsx
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/useOnCreateDatetime.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/useOnDeleteDatetime.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/useOnUpdateDatetime.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/useUpdateDatetimeCache.ts
  assets/src/domain/eventEditor/services/apollo/mutations/prices/useOnCreatePrice.ts
  assets/src/domain/eventEditor/services/apollo/mutations/prices/useOnDeletePrice.ts
  assets/src/domain/eventEditor/services/apollo/mutations/prices/useOnUpdatePrice.ts
  assets/src/domain/eventEditor/services/apollo/mutations/prices/useUpdatePriceCache.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/useOnCreateTicket.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/useOnDeleteTicket.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/useOnUpdateTicket.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/useUpdateTicketCache.ts
  assets/src/domain/eventEditor/services/apollo/queries/datetimes/useDatetimeQueryOptions.ts
  assets/src/domain/eventEditor/services/apollo/queries/prices/test/useFetchPrices.test.ts
  assets/src/domain/eventEditor/services/apollo/queries/prices/test/usePriceQueryOptions.test.ts
  assets/src/domain/eventEditor/services/apollo/queries/prices/usePriceQueryOptions.ts
  assets/src/domain/eventEditor/services/apollo/queries/tickets/test/useFetchTickets.test.ts
  assets/src/domain/eventEditor/services/apollo/queries/tickets/test/useTicketQueryOptions.test.ts
  assets/src/domain/eventEditor/services/apollo/queries/tickets/useTicketQueryOptions.ts
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/ModalContainer.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal/buttons/useCancelButtonProps.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal/buttons/useSubmitButtonProps.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/TicketAssignmentsManagerModal/index.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/data/useDataState.ts
Labels: EDTR v2, category:assets, status:review, type:code-quality 👾

#2866 Alert & banner components update.
  assets/src/application/ui/display/EmptyState.tsx
  assets/src/application/ui/display/ErrorIndicator.tsx
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/components/ErrorMessage.tsx
  assets/src/infrastructure/ui/display/Alert.tsx
  assets/src/infrastructure/ui/display/Banner.tsx
  assets/src/infrastructure/ui/display/index.ts
Labels: EDTR v2, category:admin-page-ui-&-ux

#2868 Ticket Price Calculator Enhancements
  assets/src/application/services/hooks/usePrevNext.ts
  assets/src/application/ui/display/confirm/useConfirmWithButton.tsx
  assets/src/application/ui/forms/espressoForm/renderers/FormRenderer.tsx
  assets/src/domain/eventEditor/ui/datetimes/dateForm/multiStep/ContentBody.tsx
  assets/src/domain/eventEditor/ui/datetimes/dateForm/multiStep/useDataListener.ts
  assets/src/domain/eventEditor/ui/ticketAssignmentsManager/data/useDataState.ts
  assets/src/domain/eventEditor/ui/tickets/ticketForm/formValidation.ts
  assets/src/domain/eventEditor/ui/tickets/ticketForm/multiStep/Content.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketForm/multiStep/ContentBody.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketForm/multiStep/useDataListener.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/AddDefaultPricesButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/AddDefaultTaxesButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/DeleteAllPricesButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/DeletePriceModifierButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/DefaultPricesInfo.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/NoPricesBanner.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/TicketPriceCalculator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/table/useFooterRowGenerator.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/data/types.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/data/useDataReducer.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/data/useDataStateManager.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/data/useInitialState.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/fields/PriceField.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/fields/TicketPriceField.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/hooks/index.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/hooks/useAddDefaultPrices.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/hooks/useAddDefaultTaxes.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/hooks/useMutatePrices.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/hooks/usePriceToTpcModifier.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/inputs/PriceAmountInput.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/inputs/PriceDescriptionInput.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/inputs/PriceIdInput.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/inputs/PriceNameInput.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/inputs/PriceTypeInput.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/stateListeners/useInitStateListeners.ts
  assets/src/domain/shared/entities/prices/predicates/selectionPredicates/index.ts
  assets/src/infrastructure/ui/inputs/Button/Button.tsx
  core/domain/services/admin/events/editor/EventEditorGraphQLData.php
  core/domain/services/admin/events/editor/EventEntityRelations.php
  core/domain/services/graphql/connection_resolvers/PriceConnectionResolver.php
  core/domain/services/graphql/connections/TicketPricesConnection.php
  core/domain/services/graphql/data/mutations/TicketMutation.php
  core/domain/services/graphql/mutators/TicketCreate.php
Labels: EDTR v2, category:admin-page-ui-&-ux, status:review, type:enhancement 🎉

#2862 Added more useCallbacks and updated exhaustive-deps.
  .eslintrc.json
  assets/src/application/services/apollo/mutations/useMutationHandler.ts
  assets/src/application/services/apollo/mutations/useMutator.ts
  assets/src/application/services/apollo/relations/useRelationsManager.ts
  assets/src/application/services/apollo/status/useStatusManager.ts
  assets/src/application/services/hooks/index.ts
  assets/src/application/services/hooks/useMemoStringify.ts
  assets/src/application/services/hooks/useRect.ts
  assets/src/application/services/subscription/useSubscriptionService.ts
  assets/src/application/services/toaster/useSystemNotifications.tsx
  assets/src/application/ui/display/confirm/useConfirmationDialog.tsx
  assets/src/application/ui/layout/dropdownMenu/DropdownMenu.tsx
  assets/src/data/services/apollo/queries/useUpdateCache.ts
  assets/src/domain/eventEditor/hooks/edtrState/useEdtrStateManager.ts
  assets/src/domain/eventEditor/hooks/entityActionsMenu/useEntityActionsMenuSubscription.ts
  assets/src/domain/eventEditor/hooks/filterBar/useFilterBarUISubscription.ts
  assets/src/domain/eventEditor/services/apollo/initialization/useCacheRehydration.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/useMutationVariables.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/useOptimisticResponse.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/useUpdateRelatedTickets.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/useOptimisticResponse.ts
  assets/src/domain/eventEditor/services/apollo/mutations/useReorderEntities.ts
  assets/src/domain/eventEditor/services/apollo/queries/datetimes/useDatetimeItem.ts
  assets/src/domain/eventEditor/services/apollo/queries/datetimes/useDatetimeQueryOptions.ts
  assets/src/domain/eventEditor/services/apollo/queries/datetimes/useDatetimes.ts
  assets/src/domain/eventEditor/services/apollo/queries/datetimes/useFetchDatetimes.ts
  assets/src/domain/eventEditor/services/apollo/queries/datetimes/useRelatedDatetimes.ts
  assets/src/domain/eventEditor/services/apollo/queries/priceTypes/useFetchPriceTypes.ts
  assets/src/domain/eventEditor/services/apollo/queries/priceTypes/usePriceTypes.ts
  assets/src/domain/eventEditor/services/apollo/queries/prices/useFetchPrices.ts
  assets/src/domain/eventEditor/services/apollo/queries/prices/usePriceQueryOptions.ts
  assets/src/domain/eventEditor/services/apollo/queries/prices/usePrices.ts
  assets/src/domain/eventEditor/services/apollo/queries/prices/useRelatedPrices.ts
  assets/src/domain/eventEditor/services/apollo/queries/tickets/useFetchTickets.ts
  assets/src/domain/eventEditor/services/apollo/queries/tickets/useRelatedTickets.ts
  assets/src/domain/eventEditor/services/apollo/queries/tickets/useTicketItem.ts
  assets/src/domain/eventEditor/services/apollo/queries/tickets/useTicketQueryOptions.ts
  assets/src/domain/eventEditor/services/apollo/queries/tickets/useTickets.ts
  assets/src/domain/eventEditor/services/context/EntityListContext/DatetimesListContext.tsx
  assets/src/domain/eventEditor/services/context/EntityListContext/TicketsListContext.tsx
  assets/src/domain/eventEditor/services/context/TestContext/useResetApolloCache.ts
  assets/src/domain/eventEditor/services/context/TestContext/useSetGlobalStatusFlags.ts
  assets/src/domain/eventEditor/services/context/TestContext/useSetRelationalData.ts
  assets/src/domain/eventEditor/services/filterState/datetimes/useDatesFilterBarService.ts
  assets/src/domain/eventEditor/services/filterState/datetimes/useDatesListFilterStateManager.ts
  assets/src/domain/eventEditor/services/filterState/tickets/useIsChainedFilter.ts
  assets/src/domain/eventEditor/services/filterState/tickets/useTicketsFilterBarService.ts
  assets/src/domain/eventEditor/services/filterState/tickets/useTicketsListFilterStateManager.ts
  assets/src/domain/eventEditor/ui/datetimes/dateForm/multiStep/Container.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/dropdown/DateMainMenu.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/dropdown/useActions.ts
  assets/src/domain/eventEditor/ui/datetimes/datesList/cardView/DateCapacity.tsx
  assets/src/domain/wpPluginsPage/exitSurvey/ExitSurveyContent.tsx
  assets/src/domain/wpPluginsPage/exitSurvey/Popup.tsx
Labels: EDTR v2, category:admin-page-ui-&-ux, type:enhancement 🎉

#2872 Perf improvements
  assets/src/application/services/apollo/mutations/index.ts
  assets/src/application/services/apollo/mutations/types.ts
  assets/src/application/services/apollo/mutations/useMutationHandler.ts
  assets/src/application/services/apollo/mutations/useMutator.ts
  assets/src/application/services/hooks/useLogIfChanged.ts
  assets/src/application/services/hooks/useMemoStringify.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/test/createDatetime.test.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/test/deleteDatetime.test.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/test/updateDatetime.test.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/types.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/useDatetimeMutationHandler.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/useDatetimeMutator.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/useMutationHandler.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/useOptimisticResponse.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/useReorderDatetimes.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/useUpdateDatetimeCache.ts
  assets/src/domain/eventEditor/services/apollo/mutations/index.ts
  assets/src/domain/eventEditor/services/apollo/mutations/prices/test/createPrice.test.ts
  assets/src/domain/eventEditor/services/apollo/mutations/prices/test/deletePrice.test.ts
  assets/src/domain/eventEditor/services/apollo/mutations/prices/test/updatePrice.test.ts
  assets/src/domain/eventEditor/services/apollo/mutations/prices/types.ts
  assets/src/domain/eventEditor/services/apollo/mutations/prices/useMutationHandler.ts
  assets/src/domain/eventEditor/services/apollo/mutations/prices/useOnCreatePrice.ts
  assets/src/domain/eventEditor/services/apollo/mutations/prices/usePriceMutationHandler.ts
  assets/src/domain/eventEditor/services/apollo/mutations/prices/usePriceMutator.ts
  assets/src/domain/eventEditor/services/apollo/mutations/prices/useUpdatePriceCache.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/test/createTicket.test.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/test/deleteTicket.test.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/test/updateTicket.test.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/types.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/useMutationHandler.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/useOptimisticResponse.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/useReorderTickets.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/useTicketMutationHandler.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/useTicketMutator.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/useUpdateTicketCache.ts
  assets/src/domain/eventEditor/services/apollo/mutations/types.ts
  assets/src/domain/eventEditor/services/apollo/mutations/useMutationHandler.ts
  assets/src/domain/eventEditor/services/apollo/mutations/useMutationOptions.ts
  assets/src/domain/eventEditor/services/apollo/mutations/useMutator.ts
  assets/src/domain/eventEditor/services/apollo/mutations/useReorderEntities.ts
  assets/src/domain/eventEditor/services/apollo/mutations/useUpdateCallback.ts
  assets/src/domain/eventEditor/services/apollo/queries/datetimes/test/data.ts
  assets/src/domain/eventEditor/services/apollo/queries/datetimes/useDatetimeQueryOptions.ts
  assets/src/domain/eventEditor/services/apollo/queries/prices/usePriceQueryOptions.ts
  assets/src/domain/eventEditor/services/apollo/queries/tickets/useTicketQueryOptions.ts
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/dropdown/useActions.ts
  assets/src/domain/eventEditor/ui/tickets/hooks/useDeleteTicketHandler.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/data/useInitialState.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/hooks/useMutatePrices.ts
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/dropdown/useActions.ts
  assets/src/domain/eventEditor/ui/tickets/ticketsList/editable/EditablePrice.tsx
  yarn.lock
Labels: EDTR v2, type:code-quality 👾

#2876 Route && RouteInterface
  core/domain/entities/routing/handlers/Route.php
  core/domain/entities/routing/handlers/RouteInterface.php
Labels: category:core-plugin, type:enhancement 🎉

#2881 Frontend Routes
  core/domain/entities/routing/handlers/frontend/FrontendRequests.php
  core/domain/entities/routing/handlers/frontend/ShortcodeRequests.php
Labels: category:core-plugin, type:enhancement 🎉

#2883 Wire up mutation toaster
  assets/src/application/services/apollo/mutations/index.ts
  assets/src/application/services/apollo/mutations/useMutationWithFeedback.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/types.ts
  assets/src/domain/eventEditor/services/apollo/mutations/datetimes/useDatetimeMutator.ts
  assets/src/domain/eventEditor/services/apollo/mutations/prices/types.ts
  assets/src/domain/eventEditor/services/apollo/mutations/prices/usePriceMutator.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/types.ts
  assets/src/domain/eventEditor/services/apollo/mutations/tickets/useTicketMutator.ts
Labels: EDTR v2, category:admin-page-ui-&-ux, type:enhancement 🎉

#2869 Filter button and other buttons update.
  .env
  assets/src/application/ui/input/Button/Button.tsx
  assets/src/application/ui/input/Button/ButtonGroup/index.tsx
  assets/src/application/ui/input/Button/ButtonGroup/style.scss
  assets/src/application/ui/input/Button/ButtonGroup/types.ts
  assets/src/application/ui/input/Button/ButtonGroup/utils.ts
  assets/src/application/ui/input/Button/ButtonRow/index.tsx
  assets/src/application/ui/input/Button/ButtonRow/style.scss
  assets/src/application/ui/input/Button/index.ts
  assets/src/application/ui/input/Button/style.scss
  assets/src/application/ui/input/Button/types.ts
  assets/src/application/ui/input/priceTypeSign/CurrencySign.tsx
  assets/src/application/ui/input/priceTypeSign/PercentSign.tsx
  assets/src/application/ui/input/priceTypeSign/PriceTypeSign.tsx
  assets/src/application/ui/input/priceTypeSign/index.ts
  assets/src/application/ui/input/priceTypeSign/utils.ts
  assets/src/application/ui/layout/entityList/filterBar/EntityListFilterBar.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/CardViewFilterButton.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/EntityListViewButtonGroup.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/TableViewFilterButton.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/ToggleFiltersButton.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/ToggleLegendButton.tsx
  assets/src/application/ui/layout/entityList/filterBar/buttons/ToggleSortingButton.tsx
  assets/src/application/ui/layout/entityList/filterBar/style.scss
  assets/src/application/ui/layout/entityList/filterBar/types.ts
  assets/src/domain/eventEditor/services/context/EntityListContext/DatetimesListContext.tsx
  assets/src/domain/eventEditor/services/context/EntityListContext/TicketsListContext.tsx
  assets/src/domain/eventEditor/services/filterState/datetimes/index.ts
  assets/src/domain/eventEditor/services/filterState/datetimes/test/useDatesListFilterStateManager.test.ts
  assets/src/domain/eventEditor/services/filterState/datetimes/useDatesListFilterStateManager.ts
  assets/src/domain/eventEditor/services/filterState/tickets/index.ts
  assets/src/domain/eventEditor/services/filterState/tickets/test/useTicketsListFilterStateManager.test.ts
  assets/src/domain/eventEditor/services/filterState/tickets/useTicketsListFilterStateManager.ts
  assets/src/domain/eventEditor/ui/datetimes/datesList/AddNewDateButton.tsx
  assets/src/domain/eventEditor/ui/styles.scss
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/table/styles.scss
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/fields/MoneyField/index.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/fields/MoneyField/style.scss
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/fields/MoneyField/types.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/fields/TicketPriceField.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/fields/index.ts
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/inputs/PriceAmountInput.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/AddNewTicketButton.tsx
  assets/src/infrastructure/ui/inputs/Button/Button.tsx
  assets/src/infrastructure/ui/inputs/Button/ButtonGroup.tsx
Labels: EDTR v2, category:admin-page-ui-&-ux, type:enhancement 🎉

#2886 Update packages and fix lints
  .eslintrc.json
  assets/src/application/services/config/test/data.ts
  assets/src/application/services/theme/theme.ts
  assets/src/application/services/utilities/boolean/isBooleanTrue.ts
  assets/src/application/services/utilities/converters/toBoolean.ts
  assets/src/application/services/utilities/function/isFunc.ts
  assets/src/application/services/utilities/memo/getPropsAreEqual.ts
  assets/src/application/services/utilities/number/isInfinite.ts
  assets/src/data/services/apollo/queries/events/types.ts
  assets/src/data/services/apollo/withApollo.tsx
  assets/src/domain/shared/entities/priceTypes/predicates/selectionPredicates/index.ts
  assets/src/domain/shared/entities/prices/predicates/selectionPredicates/index.ts
  assets/src/domain/shared/entities/prices/predicates/updatePredicates.ts
  assets/src/domain/shared/entities/tickets/predicates/selectionPredicates/index.ts
  assets/src/domain/shared/services/predicates/selectionById/index.ts
  assets/src/domain/shared/services/publicPath.ts
  assets/src/domain/shared/services/utils/dateAndTime.ts
  package.json
  yarn.lock
Labels: EDTR v2, category:assets, status:review, type:task 🧹

#2882 Shared Routes
  core/domain/entities/routing/handlers/shared/AssetRequests.php
  core/domain/entities/routing/handlers/shared/GQLRequests.php
  core/domain/entities/routing/handlers/shared/RestApiRequests.php
  core/domain/entities/routing/handlers/shared/SessionRequests.php
  core/domain/entities/routing/handlers/shared/WordPressHeartbeat.php
Labels: category:core-plugin, type:enhancement 🎉

#2877 Admin Routes
  core/domain/entities/routing/handlers/admin/EspressoEventEditor.php
  core/domain/entities/routing/handlers/admin/EspressoLegacyAdmin.php
  core/domain/entities/routing/handlers/admin/PersonalDataRequests.php
  core/domain/entities/routing/handlers/admin/PueRequests.php
  core/domain/entities/routing/handlers/admin/WordPressPluginsPage.php
  core/domain/entities/routing/specifications/admin/EspressoAttendeePostTypeEditor.php
  core/domain/entities/routing/specifications/admin/EspressoEventEditorAddNew.php
  core/domain/entities/routing/specifications/admin/EspressoEventEditorEdit.php
  core/domain/entities/routing/specifications/admin/EspressoEventsListTable.php
  core/domain/entities/routing/specifications/admin/EspressoStandardPostTypeEditor.php
  core/domain/entities/routing/specifications/admin/EspressoVenueEditorAddNew.php
  core/domain/entities/routing/specifications/admin/EspressoVenueEditorEdit.php
  core/domain/entities/routing/specifications/admin/WordPressPageEditor.php
  core/domain/entities/routing/specifications/admin/WordPressPageEditorAddNew.php
  core/domain/entities/routing/specifications/admin/WordPressPageEditorEdit.php
  core/domain/entities/routing/specifications/admin/WordPressPluginsPage.php
  core/domain/entities/routing/specifications/admin/WordPressPostTypeEditor.php
  core/domain/entities/routing/specifications/admin/WordPressPostsEditor.php
  core/domain/entities/routing/specifications/admin/WordPressPostsEditorAddNew.php
  core/domain/entities/routing/specifications/admin/WordPressPostsEditorEdit.php
  core/domain/entities/routing/specifications/admin/WordPressPostsListTable.php
  core/services/routing/RouteMatchSpecificationManager.php
  tests/testcases/core/domain/entities/routing/specifications/RouteMatchSpecificationTestBase.php
  tests/testcases/core/domain/entities/routing/specifications/admin/WordPressPostsEditorAddNewTest.php
  tests/testcases/core/domain/entities/routing/specifications/admin/WordPressPostsEditorEditTest.php
  tests/testcases/core/domain/entities/routing/specifications/admin/WordPressPostsEditorTest.php
  tests/testcases/core/domain/entities/routing/specifications/admin/WordPressPostsListTableTest.php
Labels: category:core-plugin, type:enhancement 🎉

#2890 Fix TPC price issue and debug info
  assets/src/application/ui/display/DebugInfo.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/table/Table.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/components/table/useBodyRowGenerator.tsx
Labels: EDTR v2, category:admin-page-ui-&-ux, type:bug 🐞

#2891 No object literals in props
  assets/src/application/ui/display/EmptyState.tsx
  assets/src/application/ui/display/ErrorIndicator.tsx
  assets/src/application/ui/display/TimezoneTimeInfo/Trigger.tsx
  assets/src/application/ui/forms/espressoForm/EspressoForm.tsx
  assets/src/application/ui/forms/espressoForm/RenderSection.tsx
  assets/src/application/ui/forms/espressoForm/fields/Group.tsx
  assets/src/application/ui/layout/entityList/EntityTable.tsx
  assets/src/domain/eventEditor/ui/datetimes/DateRegistrationsLink.tsx
  assets/src/domain/eventEditor/ui/datetimes/dateForm/multiStep/ContentWrapper.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/actionsMenu/AssignTicketsButton.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/cardView/DateCard.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/filterBar/controls/DisplayStartOrEndDateControl.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/filterBar/controls/SalesControl.tsx
  assets/src/domain/eventEditor/ui/datetimes/datesList/filterBar/controls/StatusControl.tsx
  assets/src/domain/eventEditor/ui/tickets/TicketRegistrationsLink.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketForm/multiStep/ContentWrapper.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketForm/useTicketFormConfig.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/DeleteAllPricesButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/DeletePriceModifierButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketPriceCalculator/buttons/TicketPriceCalculatorButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/actionsMenu/AssignDatesButton.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/cardView/TicketCard.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/filterBar/controls/DisplayStartOrEndDateControl.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/filterBar/controls/SalesControl.tsx
  assets/src/domain/eventEditor/ui/tickets/ticketsList/filterBar/controls/StatusControl.tsx
  assets/src/infrastructure/ui/display/steps/Steps.tsx
  assets/src/infrastructure/ui/inputs/dateTime/Datepicker/index.tsx
Labels: EDTR v2, status:review, type:code-quality 👾

#2897 Fix Table View crash
  assets/src/application/ui/layout/entityList/EntityTable.tsx
  assets/src/application/ui/layout/modal/ModalWithAlert.tsx
Labels: EDTR v2, category:admin-page-ui-&-ux, type:bug 🐞

#2898 Fix ticket deletion error
  assets/src/domain/eventEditor/ui/tickets/hooks/useDeleteTicketHandler.ts
Labels: EDTR v2, category:admin-page-ui-&-ux, status:review, type:bug 🐞

#2899 Delete prices when ticket is deleted permanently
  assets/src/domain/eventEditor/ui/tickets/hooks/useDeleteTicketHandler.ts
Labels: EDTR v2, category:models-and-data-infrastructure, status:review, type:bug 🐞

#2901 Remove unused code
  assets/src/application/services/context/FormModalProvider.tsx
  assets/src/application/ui/forms/modalForm/FormRenderer.tsx
  assets/src/application/ui/forms/modalForm/ModalForm.tsx
  assets/src/application/ui/forms/modalForm/RenderModalForm.tsx
  assets/src/application/ui/forms/modalForm/index.ts
  assets/src/application/ui/forms/modalForm/styles.scss
  assets/src/application/ui/forms/modalForm/types.ts
  assets/src/application/ui/layout/formModal/index.ts
  assets/src/application/ui/layout/formModal/test/useFormModalManager.test.ts
  assets/src/application/ui/layout/formModal/types.ts
  assets/src/application/ui/layout/formModal/useFormModal.ts
  assets/src/application/ui/layout/formModal/useFormModalManager.ts
  assets/src/application/ui/layout/index.ts
  assets/src/domain/eventEditor/services/context/EventEditorContext/ContextProviders.tsx
  assets/src/domain/eventEditor/ui/EventEditor.tsx
  assets/src/domain/eventEditor/ui/datetimes/hooks/useAddDatetimeModal.ts
  assets/src/domain/eventEditor/ui/datetimes/hooks/useEditDatetimeModal.ts
  assets/src/domain/eventEditor/ui/tickets/hooks/useAddTicketModal.ts
  assets/src/domain/eventEditor/ui/tickets/hooks/useEditTicketModal.ts
  assets/src/domain/shared/ui/formModal/FormModal.tsx
  assets/src/domain/shared/ui/formModal/index.ts
  assets/src/domain/shared/ui/formModal/types.ts
  assets/src/domain/shared/ui/formModal/useEditors.ts
Labels: EDTR v2, status:review, type:task 🧹

#2902 Fix price deletion
  assets/src/domain/eventEditor/ui/tickets/hooks/useDeleteTicketHandler.ts
  assets/src/domain/shared/services/predicates/selectionById/index.ts
Labels: EDTR v2, category:models-and-data-infrastructure, status:review, type:bug 🐞
