Repository eventespresso/event-espresso-core, pull requests merged in 2021-06, with the labels that each got.

#3388 Filter getTickets() Return Value
  modules/ticket_selector/DisplayTicketSelector.php
Labels: category:ticket-selector, status:review, type:enhancement 🎉

#3420 Reinstate qTip Loading
  core/domain/services/assets/CoreAssetManager.php
Labels: category:assets, priority:normal, status:review, type:bug 🐞

#3423 Add ramda globally
  .gitignore
  assets/vendor/ramda.js
  assets/vendor/ramda.min.js
  core/domain/services/assets/CoreAssetManager.php
Labels: category:assets, category:third-party-libs

#3425 Update WP GraphQL to the latest version
  core/third_party_libs/wp-graphql/access-functions.php
  core/third_party_libs/wp-graphql/src/Admin/Settings/Settings.php
  core/third_party_libs/wp-graphql/src/AppContext.php
  core/third_party_libs/wp-graphql/src/Data/NodeResolver.php
  core/third_party_libs/wp-graphql/src/Model/Post.php
  core/third_party_libs/wp-graphql/src/Model/User.php
  core/third_party_libs/wp-graphql/src/Mutation/MediaItemCreate.php
  core/third_party_libs/wp-graphql/src/Registry/TypeRegistry.php
  core/third_party_libs/wp-graphql/src/Request.php
  core/third_party_libs/wp-graphql/src/Router.php
  core/third_party_libs/wp-graphql/src/Server/ValidationRules/DisableIntrospection.php
  core/third_party_libs/wp-graphql/src/Server/ValidationRules/QueryDepth.php
  core/third_party_libs/wp-graphql/src/Server/ValidationRules/RequireAuthentication.php
  core/third_party_libs/wp-graphql/src/Telemetry/Tracker.php
  core/third_party_libs/wp-graphql/src/Type/InterfaceType/ContentTemplate.php
  core/third_party_libs/wp-graphql/src/Type/InterfaceType/DatabaseIdentifier.php
  core/third_party_libs/wp-graphql/src/Type/InterfaceType/Node.php
  core/third_party_libs/wp-graphql/src/Type/InterfaceType/UniformResourceIdentifiable.php
  core/third_party_libs/wp-graphql/src/Type/ObjectType/RootQuery.php
  core/third_party_libs/wp-graphql/src/Type/ObjectType/SettingGroup.php
  core/third_party_libs/wp-graphql/src/Type/ObjectType/Settings.php
  core/third_party_libs/wp-graphql/src/Type/Union/PostObjectUnion.php
  core/third_party_libs/wp-graphql/src/Type/WPInputObjectType.php
  core/third_party_libs/wp-graphql/src/Type/WPInterfaceType.php
  core/third_party_libs/wp-graphql/src/Type/WPUnionType.php
  core/third_party_libs/wp-graphql/src/Utils/InstrumentSchema.php
  core/third_party_libs/wp-graphql/src/Utils/Preview.php
  core/third_party_libs/wp-graphql/src/WPGraphQL.php
  core/third_party_libs/wp-graphql/src/WPSchema.php
  core/third_party_libs/wp-graphql/vendor/autoload.php
  core/third_party_libs/wp-graphql/vendor/composer/ClassLoader.php
  core/third_party_libs/wp-graphql/vendor/composer/InstalledVersions.php
  core/third_party_libs/wp-graphql/vendor/composer/autoload_classmap.php
  core/third_party_libs/wp-graphql/vendor/composer/autoload_real.php
  core/third_party_libs/wp-graphql/vendor/composer/autoload_static.php
  core/third_party_libs/wp-graphql/vendor/composer/installed.php
  core/third_party_libs/wp-graphql/wp-graphql.php
Labels: category:third-party-libs, type:task 🧹

#3428 Update Dependencies
  package-lock.json
  package.json
Labels: category:assets, type: tooling :hammer:

#3431 Fix PUE Stats Nonce closes #3429
  core/domain/services/pue/Stats.php
Labels: category:security, priority:critical 🔥, status:review, type:bug 🐞

#3434 Form Builder | Add GraphQL schema for Form Section queries
  core/db_classes/EE_Form_Section.class.php
  core/db_models/EEM_Form_Section.model.php
  core/domain/entities/routing/handlers/shared/GQLRequests.php
  core/domain/services/graphql/connection_resolvers/FormSectionConnectionResolver.php
  core/domain/services/graphql/connections/RootQueryFormSectionsConnection.php
  core/domain/services/graphql/data/domains/EspressoEditor.php
  core/domain/services/graphql/data/loaders/FormSectionLoader.php
  core/domain/services/graphql/enums/FormSectionAppliesToEnum.php
  core/domain/services/graphql/enums/FormSectionStatusEnum.php
  core/domain/services/graphql/resolvers/FieldResolver.php
  core/domain/services/graphql/types/FormSection.php
  core/services/form/meta/Element.php
Labels: EDTR v2, category:models-and-data-infrastructure, type:feature-request 🙏

#3437 Fet/reg form builder/form section mutations
  core/domain/services/graphql/data/mutations/FormSectionMutation.php
  core/domain/services/graphql/mutators/EntityMutator.php
  core/domain/services/graphql/mutators/FormSectionCreate.php
  core/domain/services/graphql/mutators/FormSectionDelete.php
  core/domain/services/graphql/mutators/FormSectionUpdate.php
  core/domain/services/graphql/resolvers/FieldResolver.php
  core/domain/services/graphql/types/FormSection.php
  core/services/graphql/types/TypeBase.php
  core/services/graphql/types/TypeInterface.php
Labels: EDTR v2, category:models-and-data-infrastructure

#3440 Form Builder | Add form section query args to GQL
  core/domain/services/graphql/connection_resolvers/AbstractConnectionResolver.php
  core/domain/services/graphql/connection_resolvers/FormSectionConnectionResolver.php
  core/domain/services/graphql/connections/RootQueryFormSectionsConnection.php
  docs/GraphQL-API/README.md
  docs/GraphQL-API/query/formSections.md
Labels: EDTR v2, category:models-and-data-infrastructure

#3445 Fix Delete Queries for Tables with String IDs
  core/db_models/EEM_Base.model.php
Labels: category:models-and-data-infrastructure, priority:normal, status:review, type:bug 🐞

#3449 Form builder | Minor improvements
  core/EE_Dependency_Map.core.php
  core/domain/services/graphql/mutators/FormSectionDelete.php
  core/services/form/meta/InputTypes.php
  core/services/form/meta/inputs/Block.php
  core/services/form/meta/inputs/Input.php
Labels: EDTR v2, category:models-and-data-infrastructure
