Repository eventespresso/event-espresso-core, pull requests merged in 2021-03, with the labels that each got.

#3318 Remove espresso-ui-theme as a script dependency and enqueue as a style.
  admin_pages/payments/Payments_Admin_Page.core.php
  admin_pages/payments/assets/espresso_payments_admin.js
Labels: category:admin-pages, status:needs-testing, type:bug 🐞

#3339 Use array_shift() to set the reg_obj to the first reg_obj in the array (the Primary Reg obj).
  core/libraries/messages/data_class/EE_Messages_Preview_incoming_data.class.php
Labels: category:messaging-&-messengers, status:merge

#3351 Disable Help Tours
  .github/workflows/ci-master.yml
  admin_pages/events/Events_Admin_Page.core.php
  admin_pages/general_settings/AdminOptionsSettings.php
  admin_pages/general_settings/General_Settings_Admin_Page.core.php
  admin_pages/general_settings/help_tabs/general_settings_admin_options.help_tab.php
  admin_pages/messages/Messages_Admin_Page.core.php
  admin_pages/payments/Payments_Admin_Page.core.php
  admin_pages/registration_form/Registration_Form_Admin_Page.core.php
  admin_pages/registrations/Registrations_Admin_Page.core.php
  admin_pages/transactions/Transactions_Admin_Page.core.php
  admin_pages/venues/Venues_Admin_Page.core.php
  caffeinated/admin/extend/events/Extend_Events_Admin_Page.core.php
  caffeinated/admin/extend/registration_form/Extend_Registration_Form_Admin_Page.core.php
  caffeinated/admin/extend/registrations/Extend_Registrations_Admin_Page.core.php
  caffeinated/admin/new/pricing/Pricing_Admin_Page.core.php
  core/EE_Config.core.php
  core/admin/EE_Admin.core.php
  core/admin/EE_Admin_Page.core.php
  core/admin/EE_Help_Tour.core.php
Labels: category:admin-page-ui-&-ux, category:assets, priority:normal, status:merge, type:bug 🐞
