Repository eventespresso/event-espresso-core, pull requests merged in 2021-12, with the labels that each got.

#3622 Fix Event CPT Status Dropdown
  core/admin/templates/status_dropdown.template.php
Labels: type:bug 🐞, category:admin-page-ui-&-ux, status:review

#3621 Remove Ticket Selector Typing
  core/services/request/sanitizers/RequestSanitizer.php
  modules/ticket_selector/ProcessTicketSelector.php
  modules/ticket_selector/ProcessTicketSelectorPostData.php
Labels: status:review, type:code-quality 👾, category:ticket-selector

#3623 Don't Discard Empty Array Arguments
  core/EE_Registry.core.php
Labels: type:bug 🐞, category:models-and-data-infrastructure, status:review

#3626 Fix question editor stripping values
  admin_pages/registration_form/templates/questions_main_meta_box.template.php
Labels: priority:critical 🔥

#3618 Fix EE_Request_Handler Loading
  core/EE_Registry.core.php
  core/EE_System.core.php
  modules/events_archive/EED_Events_Archive.module.php
Labels: type:bug 🐞, category:core-plugin, status:feedback-needed

#3645 Ensure Template Helper is Loaded for Espresso Shortcodes
  core/EE_Front_Controller.core.php
  core/services/request/CurrentPage.php
  core/services/shortcodes/LegacyShortcodesManager.php
Labels: type:bug 🐞, category:templates-shortcodes-and-widgets, status:review

#3644 Calculate Ticket Selector Rows Dynamically
  modules/ticket_selector/TicketSelector.php
  modules/ticket_selector/TicketSelectorSimple.php
  modules/ticket_selector/TicketSelectorStandard.php
Labels: type:bug 🐞, status:review, category:ticket-selector

#3649 Fix Missing RegIDs After Reg Status Update
  core/admin/EE_Admin_Page.core.php
  modules/messages/EED_Messages.module.php
Labels: type:bug 🐞, category:admin-pages, status:review

#3454 Fix Delete Event Logic
  admin_pages/events/Events_Admin_Page.core.php
  core/db_models/EEM_Event.model.php
  core/db_models/EEM_Soft_Delete_Base.model.php
  tests/testcases/admin_pages/events/Events_Admin_Page_Test.php
Labels: type:bug 🐞, category:models-and-data-infrastructure, priority:normal, status:review

#3648 Fix Ticket Selector Row Count
  modules/ticket_selector/TicketSelectorRow.php
  modules/ticket_selector/TicketSelectorRowSimple.php
  modules/ticket_selector/TicketSelectorRowStandard.php
  modules/ticket_selector/TicketSelectorStandard.php
Labels: type:bug 🐞, status:review, category:ticket-selector
