Repository eventespresso/event-espresso-core, pull requests merged in 2021-02, with the labels that each got.

#3293 Moar Betterer Default Price and Tax Cloning
  core/db_models/EEM_Price.model.php
  core/domain/services/admin/entities/DefaultPrices.php
  core/domain/services/admin/entities/DefaultTickets.php
Labels: category:models-and-data-infrastructure, status:review, type:enhancement 🎉

#3294 Prepare GQL for better local cache
  core/domain/services/admin/events/editor/EventEditorGraphQLData.php
  core/domain/services/admin/events/editor/EventEntityRelations.php
  core/domain/services/graphql/connection_resolvers/PriceConnectionResolver.php
  core/domain/services/graphql/connection_resolvers/TicketConnectionResolver.php
  core/domain/services/graphql/connections/DatetimeTicketsConnection.php
  core/domain/services/graphql/connections/TicketPricesConnection.php
Labels: EDTR v2, category:models-and-data-infrastructure, type:enhancement 🎉, type:feature-request 🙏

#3306 move root status color vars
  core/admin/assets/admin-menu-styles.css
  core/templates/global_assets/css/espresso-admin-toolbar.css
  core/templates/global_assets/css/espresso_default.css
Labels: category:assets, status:review, type:bug 🐞

#3309 Add WP Users to Incompatible Addons List
  core/services/addon/api/IncompatibleAddonHandler.php
Labels: category:activation-installation-and-migration, status:review, type:theme/plugin-conflict 💥

#3200 Get Foreign Key Objects from Database
  core/db_models/EEM_Base.model.php
Labels: category:models-and-data-infrastructure, status:review, type:bug 🐞

#3316 Fix deletion of prices when permanently deleting a ticket
  core/domain/services/graphql/mutators/TicketDelete.php
Labels: EDTR v2, category:models-and-data-infrastructure, type:bug 🐞

#3314 check ticket::taxable() b4 taxing
  caffeinated/brewing_regular.php
  core/domain/services/admin/entities/DefaultPrices.php
  core/helpers/EEH_Debug_Tools.helper.php
Labels: EDTR v2, category:models-and-data-infrastructure, priority:high, status:review, type:bug 🐞

#3254 Add datetime editor hooks
  caffeinated/admin/new/pricing/espresso_events_Pricing_Hooks.class.php
  caffeinated/admin/new/pricing/templates/event_tickets_datetime_attached_tickets_row.template.php
Labels: status:review

#3319 Add userId to GQL for capability checks
  core/domain/entities/admin/GraphQLData/Tickets.php
  core/domain/services/graphql/resolvers/FieldResolver.php
  core/domain/services/graphql/types/Price.php
  core/domain/services/graphql/types/PriceType.php
  core/domain/services/graphql/types/Ticket.php
Labels: EDTR v2, category:models-and-data-infrastructure, type:enhancement 🎉

#3322 Fix WP GraphQL (de)activation
  espresso.php
Labels: EDTR v2, category:third-party-libs, priority:high, type:bug 🐞
