Repository eventespresso/event-espresso-core, pull requests merged in 2021-11, with the labels that each got.

#3591 Single date ticket query
  core/domain/services/graphql/types/RootQuery.php
  core/services/graphql/fields/GraphQLField.php
  core/services/graphql/fields/GraphQLOutputField.php
  docs/GraphQL-API/query/datetime.md
  docs/GraphQL-API/query/ticket.md
Labels: category:models-and-data-infrastructure, EDTR v2

#3590 Update Datetime & Ticket Sold Counts When Relations Change
  .github/workflows/pr-checks-dev.yml
  caffeinated/admin/new/pricing/espresso_events_Pricing_Hooks.class.php
  composer.json
  composer.lock
  core/db_classes/EE_Base_Class.class.php
  core/db_classes/EE_Datetime.class.php
  core/db_classes/EE_Ticket.class.php
  tests/bootstrap/CoreLoader.php
  tests/includes/listener-loader.php
  tests/includes/phpunit7/speed-trap-listener.php
  tests/includes/scenarios/EE_Datetime_Scenario_A.scenario.php
  tests/includes/scenarios/EE_Datetime_Scenario_B.scenario.php
  tests/includes/speed-trap-listener.php
  tests/phpunit.xml
  tests/testcases/core/db_classes/EE_Datetime_Test.php
  tests/testcases/modules/EED_Ticket_Sales_Monitor_Test.php
Labels: type:enhancement 🎉, category:models-and-data-infrastructure, priority:normal, status:review

#3587 Don't Escape Form Output
  admin_pages/events/templates/event_preview_deletion.template.php
Labels: type:bug 🐞, category:admin-page-ui-&-ux, status:needs-testing

#3594 Remove Overly Aggressive Sanitization
  core/services/request/RequestParams.php
Labels: type:bug 🐞, category:admin-pages, priority:critical 🔥, status:review

#3595 Fix Unit Tests
  composer.json
  composer.lock
  tests/includes/CoreLoader.php
  tests/includes/listener-loader.php
  tests/includes/phpunit7/speed-trap-listener.php
  tests/includes/speed-trap-listener.php
  tests/phpunit.xml
Labels: type:build-process 🔨, category:unit-tests, status:review

#3601 Typecast Array Values Passed to RequestSanitizer
  core/services/request/sanitizers/RequestSanitizer.php
Labels: type:bug 🐞, status:review, category:ticket-selector

#3602 Register Dependencies for DisplayTicketSelector
  core/EE_Dependency_Map.core.php
Labels: type:bug 🐞, category:core-plugin, status:review

#3603 Fix 'Resend Registration Details' Link
  core/admin/EE_Admin_Page.core.php
Labels: type:bug 🐞, category:admin-pages, status:review

#3605 Ensure AJAX Constants are Defined
  core/domain/services/contexts/RequestTypeContextDetector.php
Labels: type:bug 🐞, category:core-plugin, status:review

#3606 Fix Message Preview
  admin_pages/messages/Messages_Admin_Page.core.php
Labels: type:bug 🐞, category:messaging-&-messengers, status:review

#3613 Lazy Load CurrentPage in Legacy Request Handler
  core/EE_Dependency_Map.core.php
  core/EE_Request_Handler.core.php
Labels: type:bug 🐞, category:admin-pages, status:review

#3616 Event List Bulk Select Checkbox Class
  admin_pages/events/Events_Admin_List_Table.class.php
Labels: type:enhancement 🎉, category:admin-page-ui-&-ux, status:review

#3610 Add `EEM_Country::getCountryByName()`
  core/db_models/EEM_Country.model.php
Labels: type:enhancement 🎉, category:models-and-data-infrastructure, status:review

#3617 Refactor ProcessTicketSelector & Add Unit Tests
  core/services/request/sanitizers/RequestSanitizer.php
  modules/ticket_selector/ProcessTicketSelector.php
  modules/ticket_selector/ProcessTicketSelectorPostData.php
  tests/mocks/core/services/request/RequestMockBlank.php
  tests/mocks/modules/ticket_selector/ProcessTicketSelectorPostDataMock.php
  tests/mocks/modules/ticket_selector/RequestMock.php
  tests/testcases/modules/ticket_selector/ProcessTicketSelectorTest.php
Labels: category:unit-tests, status:review, type:code-quality 👾, category:ticket-selector

#3520 Fix New Messages Template Parameter Name
  admin_pages/messages/Messages_Admin_Page.core.php
Labels: type:bug 🐞, category:admin-pages, priority:normal, status:review
