Repository eventespresso/event-espresso-core, pull requests merged in 2021-07, with the labels that each got.

#3451 Form builder | EDTR Rehydration
  .github/workflows/pr-checks-dev.yml
  admin_pages/events/Events_Admin_Page.core.php
  core/db_classes/EE_Event.class.php
  core/db_classes/EE_Form_Element.class.php
  core/db_models/EEM_Form_Element.model.php
  core/db_models/fields/EE_Foreign_Key_String_Field.php
  core/db_models/fields/EE_JSON_Field.php
  core/domain/entities/routing/handlers/admin/EspressoEventEditor.php
  core/domain/services/admin/events/editor/EventEditorGraphQLData.php
  core/domain/services/admin/events/editor/FormBuilder.php
  core/domain/services/graphql/mutators/EntityMutator.php
  core/domain/services/registration/form/v1/CopyAttendeeInfoForm.php
  core/domain/services/registration/form/v1/RegForm.php
  core/domain/services/registration/form/v1/RegFormHandler.php
  core/domain/services/registration/form/v1/RegFormQuestionFactory.php
  core/domain/services/registration/form/v1/RegistrantData.php
  core/services/form/meta/InputOptions.php
  core/services/orm/tree_traversal/NodeGroupDao.php
  core/services/orm/tree_traversal/RelationNode.php
  tests/testcases/core/libraries/rest_api/controllers/Read_Test.php
Labels: category:models-and-data-infrastructure

#3452 Fix Table Prefix Removal
  core/db_models/helpers/EE_Table_Base.php
Labels: category:models-and-data-infrastructure, priority:high, status:review, type:bug 🐞

#3453 Fix Admin Page Initialization for Extended Classes
  admin_pages/events/Events_Admin_Page.core.php
  admin_pages/messages/Messages_Admin_Page.core.php
  caffeinated/admin/extend/messages/espresso_events_Messages_Hooks_Extend.class.php
  core/admin/EE_Admin_Hooks.core.php
  core/admin/EE_Admin_Page.core.php
  core/admin/EE_Admin_Page_Init.core.php
  core/db_classes/EE_Ticket.class.php
  core/helpers/EEH_Debug_Tools.helper.php
  core/services/orm/tree_traversal/NodeGroupDao.php
  core/services/orm/tree_traversal/RelationNode.php
  tests/testcases/core/admin/EE_Admin_Hooks_Tests.php
Labels: category:admin-pages, status:review, type:bug 🐞

#3450 Add-on Registration Fixes
  admin_pages/messages/Messages_Admin_Page.core.php
  core/EE_Addon.core.php
  core/EE_System.core.php
  core/domain/DomainFactory.php
  core/helpers/EEH_Activation.helper.php
  core/libraries/messages/EE_Message_Resource_Manager.lib.php
  core/libraries/plugin_api/EEI_Plugin_API.lib.php
  core/libraries/plugin_api/EE_Register_Addon.lib.php
  core/libraries/plugin_api/EE_Register_Admin_Page.lib.php
  core/libraries/plugin_api/EE_Register_CPT.lib.php
  core/libraries/plugin_api/EE_Register_Capabilities.lib.php
  core/libraries/plugin_api/EE_Register_Config.lib.php
  core/libraries/plugin_api/EE_Register_Data_Migration_Scripts.lib.php
  core/libraries/plugin_api/EE_Register_Message_Type.lib.php
  core/libraries/plugin_api/EE_Register_Messages_Shortcode_Library.lib.php
  core/libraries/plugin_api/EE_Register_Messages_Template_Pack.lib.php
  core/libraries/plugin_api/EE_Register_Messages_Template_Variations.lib.php
  core/libraries/plugin_api/EE_Register_Model.lib.php
  core/libraries/plugin_api/EE_Register_Model_Extensions.lib.php
  core/libraries/plugin_api/EE_Register_Module.lib.php
  core/libraries/plugin_api/EE_Register_Payment_Method.lib.php
  core/libraries/plugin_api/EE_Register_Personal_Data_Eraser.lib.php
  core/libraries/plugin_api/EE_Register_Personal_Data_Exporter.lib.php
  core/libraries/plugin_api/EE_Register_Privacy_Policy.lib.php
  core/libraries/plugin_api/EE_Register_Shortcode.lib.php
  core/libraries/plugin_api/EE_Register_Widget.lib.php
  tests/testcases/core/EE_System_Test_With_Addons.php
Labels: category:activation-installation-and-migration, status:review, type:bug 🐞

#3227 States don't 'hide' on mobile when selecting another country
  core/templates/global_assets/scripts/espresso_core.js
Labels: category:spco-&-registration, priority:normal, status:feedback-needed, type:bug 🐞

#3460 flush rewrite rules on shutdown
  core/domain/services/custom_post_types/RewriteRules.php
Labels: category:core-plugin, type:enhancement 🎉

#3472 Replace EE_Request
  core/EE_Dependency_Map.core.php
  core/EE_Module_Request_Router.core.php
  core/EE_Request_Handler.core.php
  core/Factory.php
  core/business/EE_Registration_Processor.class.php
  core/libraries/form_sections/form_handlers/SequentialStepFormManager.php
  core/services/progress_steps/ProgressStepManager.php
  modules/invalid_checkout_access/InvalidCheckoutAccess.php
  tests/testcases/core/services/request/RequestTest.php
Labels: category:core-plugin, priority:normal, status:review, type:code-quality 👾

#3475 Fix Reflection Class PHP 8 Issues
  core/services/container/Mirror.php
Labels: category:accessibility, category:core-plugin, priority:high, status:review, type:bug 🐞

#3483 Enhance Country and State GraphQL schema
  core/db_classes/EE_Country.class.php
  core/domain/entities/routing/handlers/shared/GQLRequests.php
  core/domain/services/graphql/connection_resolvers/CountryConnectionResolver.php
  core/domain/services/graphql/connection_resolvers/StateConnectionResolver.php
  core/domain/services/graphql/connections/RootQueryCountriesConnection.php
  core/domain/services/graphql/connections/RootQueryStatesConnection.php
  core/domain/services/graphql/data/domains/EspressoEditor.php
  core/domain/services/graphql/data/loaders/CountryLoader.php
  core/domain/services/graphql/data/loaders/StateLoader.php
  core/domain/services/graphql/enums/CountriesConnectionOrderbyEnum.php
  core/domain/services/graphql/enums/StatesConnectionOrderbyEnum.php
  core/domain/services/graphql/inputs/CountriesConnectionOrderbyInput.php
  core/domain/services/graphql/inputs/StatesConnectionOrderbyInput.php
  core/domain/services/graphql/types/Country.php
  docs/GraphQL-API/query/country.md
  docs/GraphQL-API/query/state.md
Labels: EDTR v2, category:models-and-data-infrastructure
