Repository eventespresso/event-espresso-core, pull requests merged in 2021-01, with the labels that each got.

#3243 Update GH Actions workflows for dev branch
  .github/workflows/deploy-to-barista.yml
  .github/workflows/deploy-to-rc.yml
  .github/workflows/pr-checks-dev.yml
Labels: category:CI-CD-pipeline, type:build-process 🔨, type:task 🧹

#3250 Fix event mutation for empty values
  core/domain/services/graphql/data/mutations/EventMutation.php
  tests/testcases/core/db_classes/EE_Attendee_Test.php
  tests/testcases/core/libraries/form_sections/strategies/validation/EE_Model_Matching_Query_Validation_Strategy_Test.php
Labels: EDTR v2, category:models-and-data-infrastructure, type:bug 🐞

#3245 Fix Hidden Ticket Selector Details Row
  modules/ticket_selector/TicketSelectorRowStandard.php
  modules/ticket_selector/assets/ticket_selector.js
Labels: category:ticket-selector, status:review, type:bug 🐞

#3251 Return of the New Add-on Registration API
  core/EE_Addon.core.php
  core/EE_Dependency_Map.core.php
  core/EE_Psr4AutoloaderInit.core.php
  core/EE_System.core.php
  core/Psr4Autoloader.php
  core/domain/DomainBase.php
  core/domain/DomainFactory.php
  core/domain/values/FilePath.php
  core/domain/values/FullyQualifiedName.php
  core/helpers/EEH_Autoloader.helper.php
  core/helpers/EEH_File.helper.php
  core/helpers/EEH_URL.helper.php
  core/interfaces/EEHI_File.interface.php
  core/libraries/plugin_api/EEI_Plugin_API.lib.php
  core/libraries/plugin_api/EE_Register_Addon.lib.php
  core/libraries/plugin_api/EE_Register_Admin_Page.lib.php
  core/libraries/plugin_api/EE_Register_CPT.lib.php
  core/libraries/plugin_api/EE_Register_Capabilities.lib.php
  core/libraries/plugin_api/EE_Register_Config.lib.php
  core/libraries/plugin_api/EE_Register_Data_Migration_Scripts.lib.php
  core/libraries/plugin_api/EE_Register_Message_Type.lib.php
  core/libraries/plugin_api/EE_Register_Messages_Shortcode_Library.lib.php
  core/libraries/plugin_api/EE_Register_Messages_Template_Pack.lib.php
  core/libraries/plugin_api/EE_Register_Messages_Template_Variations.lib.php
  core/libraries/plugin_api/EE_Register_Model.lib.php
  core/libraries/plugin_api/EE_Register_Model_Extensions.lib.php
  core/libraries/plugin_api/EE_Register_Module.lib.php
  core/libraries/plugin_api/EE_Register_Payment_Method.lib.php
  core/libraries/plugin_api/EE_Register_Personal_Data_Eraser.lib.php
  core/libraries/plugin_api/EE_Register_Personal_Data_Exporter.lib.php
  core/libraries/plugin_api/EE_Register_Privacy_Policy.lib.php
  core/libraries/plugin_api/EE_Register_Shortcode.lib.php
  core/libraries/plugin_api/EE_Register_Widget.lib.php
  core/services/addon/AddonCollection.php
  core/services/addon/AddonManager.php
  core/services/addon/api/AddonApiVersion.php
  core/services/addon/api/IncompatibleAddonHandler.php
  core/services/addon/api/ThirdPartyPluginHandler.php
  core/services/addon/api/v1/AddonApi.php
  core/services/addon/api/v1/DataMigrationApi.php
  core/services/addon/api/v1/LegacyModelApi.php
  core/services/addon/api/v1/RegisterAddon.php
  modules/messages/EED_Messages.module.php
  tests/mocks/core/Psr4AutoloaderMock.php
  tests/testcases/core/EE_System_Test.php
  tests/testcases/core/Psr4AutoloaderTest.php
  tests/testcases/core/db_classes/EE_Attendee_Test.php
  tests/testcases/core/domain/DomainFactoryTest.php
  tests/testcases/core/domain/services/graphql/GraphQLUnitTestCase.php
  tests/testcases/core/domain/services/graphql/connections/PriceConnectionQueriesTest.php
  tests/testcases/core/domain/values/FilePathTest.php
  tests/testcases/core/domain/values/FullyQualifiedNameTest.php
Labels: category:activation-installation-and-migration, status:review, type:enhancement 🎉

#3257 Make sure parameter is in its right place, fixes #3256
  core/libraries/form_sections/base/EE_Model_Form_Section.form.php
  tests/testcases/core/db_classes/EE_Attendee_Test.php
Labels: type:bug 🐞

#3258 Load PUE During AJAX Requests
  .github/workflows/ci-master.yml
  .github/workflows/pr-checks-dev.yml
  composer.json
  composer.lock
  core/EE_Addon.core.php
  core/EE_Psr4AutoloaderInit.core.php
  core/domain/entities/routing/handlers/admin/PueRequests.php
  core/services/routing/Router.php
  phpunit.xml
  tests/bootstrap.php
  tests/bootstrap/AddonLoader.php
  tests/bootstrap/CoreLoader.php
  tests/phpunit.xml
Labels: category:pue-uxip-and-licensing, priority:normal, status:review, type:bug 🐞

#3270 Fix Activation Errors
  core/EE_Addon.core.php
  core/EE_Dependency_Map.core.php
  core/admin/templates/admin_general_metabox_contents_espresso_sponsors.template.php
  core/domain/entities/routing/handlers/shared/RestApiRequests.php
Labels: category:general, priority:high, status:review, type:bug 🐞

#3271 Fix event mutation for event description
  core/domain/services/graphql/data/mutations/EventMutation.php
Labels: category:models-and-data-infrastructure, type:bug 🐞

#3274 Fix Exceptions on Post/Page Update
  caffeinated/modules/recaptcha_invisible/InvisibleRecaptcha.php
  core/domain/entities/routing/handlers/admin/GutenbergEditor.php
Labels: category:core-plugin, priority:high, status:review, type:bug 🐞

#3283 Fix nav tabs
  core/admin/assets/ee-admin-page.css
Labels: EDTR v2, category:admin-page-ui-&-ux, status:review, type:bug 🐞

#3284 Fix Status Change Notice Display
  core/admin/templates/status_change_notice.template.php
Labels: EDTR v2, category:admin-page-ui-&-ux, priority:normal, status:review, type:bug 🐞

#3277 Fix REST API Loading
  core/domain/entities/routing/handlers/shared/RestApiRequests.php
  core/libraries/rest_api/controllers/model/Meta.php
  modules/core_rest_api/EED_Core_Rest_Api.module.php
Labels: EDTR v2, category:core-plugin, status:review, type:bug 🐞

#3286 Add filters to Tickets GQL query
  core/domain/services/graphql/connection_resolvers/TicketConnectionResolver.php
  core/domain/services/graphql/connections/DatetimeTicketsConnection.php
Labels: EDTR v2, category:models-and-data-infrastructure, type:enhancement 🎉
