Repository eventespresso/event-espresso-core, pull requests merged in 2021-05, with the labels that each got.

#2180 Cascading Deletions of Events (CASC/base)
  admin_pages/events/Events_Admin_List_Table.class.php
  admin_pages/events/Events_Admin_Page.core.php
  admin_pages/events/form_sections/ConfirmEventDeletionForm.php
  admin_pages/events/templates/event_preview_deletion.template.php
  admin_pages/transactions/Transactions_Admin_Page.core.php
  caffeinated/admin/extend/registrations/Extend_Registrations_Admin_Page.core.php
  core/EE_Dependency_Map.core.php
  core/db_classes/EE_Registration.class.php
  core/domain/services/admin/events/data/ConfirmDeletion.php
  core/domain/services/admin/events/data/PreviewDeletion.php
  core/libraries/batch/JobHandlers/ExecuteBatchDeletion.php
  core/libraries/batch/JobHandlers/PreviewEventDeletion.php
  core/libraries/form_sections/base/EE_Form_Section_Proper.form.php
  core/services/orm/tree_traversal/BaseNode.php
  core/services/orm/tree_traversal/ModelObjNode.php
  core/services/orm/tree_traversal/NodeGroupDao.php
  core/services/orm/tree_traversal/RelationNode.php
  docs/G--Model-System/tree-traversal.md
  tests/testcases/admin_pages/events/Events_Admin_Page_Test.php
  tests/testcases/core/services/orm/tree_traversal/ModelObjNodeTest.php
  tests/testcases/core/services/orm/tree_traversal/RelationNodeTest.php
Labels: category:models-and-data-infrastructure, status:needs-testing, type:feature-request 🙏

#3383 Add Ticket Visibility Field & Accessors to Ticket Model
  admin_pages/events/Events_Admin_List_Table.class.php
  admin_pages/events/Events_Admin_Page.core.php
  composer.json
  core/data_migration_scripts/EE_DMS_Core_4_11_0.dms.php
  core/db_classes/EE_Ticket.class.php
  core/db_models/EEM_Ticket.model.php
  core/services/orm/tree_traversal/ModelObjNode.php
  tests/testcases/core/services/orm/tree_traversal/ModelObjNodeTest.php
  tests/testcases/core/services/orm/tree_traversal/RelationNodeTest.php
Labels: category:models-and-data-infrastructure, priority:normal, status:review, type:enhancement 🎉

#3384 Add Ticket Visibility Field to Server Side GraphQL
  core/db_classes/EE_Ticket.class.php
  core/db_models/EEM_Ticket.model.php
  core/domain/entities/admin/GraphQLData/Tickets.php
  core/domain/entities/routing/handlers/admin/EspressoEventEditor.php
  core/domain/services/admin/events/editor/EventEditorGraphQLData.php
  core/domain/services/admin/events/editor/TicketMeta.php
  core/domain/services/graphql/data/mutations/TicketMutation.php
  core/domain/services/graphql/enums/TicketVisibilityEnum.php
  core/domain/services/graphql/types/Ticket.php
Labels: category:models-and-data-infrastructure, status:review, type:feature-request 🙏

#3385 Check Ticket Visibility in Queries and Ticket Selector
  core/db_classes/EE_Ticket.class.php
  core/db_models/EEM_Ticket.model.php
  modules/ticket_selector/DisplayTicketSelector.php
Labels: category:models-and-data-infrastructure, category:ticket-selector, status:review, type:feature-request 🙏

#3390 Improve Event Manager Role Check in Ticket Selector
  core/EE_Dependency_Map.core.php
  core/domain/entities/routing/handlers/admin/EspressoEventEditor.php
  core/domain/entities/users/CurrentUser.php
  core/domain/entities/users/EventManagers.php
  core/domain/services/admin/events/editor/EventEditorGraphQLData.php
  core/domain/services/admin/events/editor/EventManagerData.php
  core/domain/services/admin/events/editor/EventManagers.php
  core/domain/services/admin/events/editor/TicketMeta.php
  modules/ticket_selector/DisplayTicketSelector.php
  modules/ticket_selector/EED_Ticket_Selector.module.php
  modules/ticket_selector/TicketSelectorIframe.php
Labels: category:models-and-data-infrastructure, status:review, type:enhancement 🎉

#3404 Update ALL the Dependencies
  package-lock.json
  package.json
Labels: category:CI-CD-pipeline, type: tooling :hammer:
