Repository eventespresso/event-espresso-core, pull requests merged in 2022-07, with the labels that each got.

#3907 Fix Filter Views for CSV Reg Report
  admin_pages/registrations/Registrations_Admin_Page.core.php
  core/admin/EE_Admin_List_Table.core.php
  core/domain/services/admin/registrations/list_table/csv_reports/RegistrationsCsvReportParams.php
Labels: type:bug 🐞, category:admin-pages, priority:high, status:review

#3935 Fix Admin Settings Form Data
  admin_pages/general_settings/General_Settings_Admin_Page.core.php
  modules/add_new_state/EED_Add_New_State.module.php
Labels: type:bug 🐞, category:admin-pages, status:review

#1772 dont reuse DMS scripts as it might be from a different site
  core/EE_Data_Migration_Manager.core.php
Labels: type:bug 🐞, category:wp-multi-site, status:needs-testing

#3930 Fix UI Issues of Image Uploader Button
  core/admin/assets/ee-admin-page.css
  core/libraries/form_sections/strategies/display/EE_Admin_File_Uploader_Display_Strategy.strategy.php
  core/templates/global_assets/css/espresso_default.css
Labels: type:enhancement 🎉, category:admin-page-ui-&-ux, priority:low, status:can-merge

#3944 Fix Event Class Data Types
  core/db_classes/EE_Event.class.php
  core/db_models/fields/EE_Text_Field_Base.php
Labels: type:bug 🐞, category:models-and-data-infrastructure, priority:high, status:review

#3949 Fix Additional PHP8 Issues
  core/EE_Registry.core.php
  core/libraries/form_sections/form_handlers/SequentialStepForm.php
Labels: type:bug 🐞, category:models-and-data-infrastructure, priority:high, status:review

#3951 Fix Command Bus Middleware
  core/services/commands/CommandBus.php
  core/services/commands/CommandBusInterface.php
  core/services/commands/CommandHandlerManager.php
  core/services/commands/CommandRequiresCapCheckInterface.php
  modules/single_page_checkout/EED_Single_Page_Checkout.module.php
  modules/single_page_checkout/reg_steps/attendee_information/EE_SPCO_Reg_Step_Attendee_Information.class.php
Labels: type:bug 🐞, category:command-bus, priority:high, status:review

#3943 Bump All GraphQL Max Query Limits Up To 250
  core/domain/services/graphql/connection_resolvers/AbstractConnectionResolver.php
  core/domain/services/graphql/connection_resolvers/CountryConnectionResolver.php
  core/services/graphql/ConnectionsManager.php
  core/third_party_libs/wp-graphql/src/Data/Connection/AbstractConnectionResolver.php
  tests/testcases/core/domain/services/graphql/connections/BaseQueriesTest.php
  tests/testcases/core/domain/services/graphql/connections/EventConnectionQueriesTest.php
Labels: type:bug 🐞, category:core-plugin, priority:high, status:review

#3942 Fix Ticket Editor
  core/admin/EE_Admin_Hooks.core.php
Labels: type:bug 🐞, category:admin-pages, priority:high, status:review

#2977 Remove the force premium upgrade
  core/third_party_libs/pue/pue-client.php
Labels: category:pue-uxip-and-licensing, type:task 🧹, status:can-merge

#3968 Use PublicCapabilities() for Frontend Registrations
  core/domain/services/commands/registration/CreateRegistrationCommand.php
Labels: type:bug 🐞, category:command-bus, priority:critical 🔥, status:needs-testing

#2755 Stop setting extra meta for every message
  core/db_classes/EE_Message.class.php
Labels: type:enhancement 🎉, category:messaging-&-messengers, status:can-merge

#3932 Redirect SPCO if Payment has Redirect URL
  modules/single_page_checkout/reg_steps/payment_options/EE_SPCO_Reg_Step_Payment_Options.class.php
Labels: type:enhancement 🎉, category:spco-&-registration, priority:low, status:needs-testing

#907 Added Extra Logging when Trashing, Restoring, and Deleting Entities
  admin_pages/events/Events_Admin_Page.core.php
  admin_pages/registrations/Registrations_Admin_Page.core.php
  caffeinated/admin/new/pricing/Pricing_Admin_Page.core.php
  caffeinated/admin/new/pricing/espresso_events_Pricing_Hooks.class.php
  core/EE_System.core.php
  core/admin/EE_Admin_Page.core.php
  core/db_classes/EE_Registration.class.php
  core/db_classes/EE_Soft_Delete_Base_Class.class.php
  core/db_classes/EE_Transaction.class.php
  core/db_models/EEM_Base.model.php
  core/db_models/EEM_CPT_Base.model.php
  core/db_models/EEM_Change_Log.model.php
  core/db_models/EEM_Event.model.php
  core/db_models/EEM_Price_Type.model.php
  core/db_models/EEM_Soft_Delete_Base.model.php
  core/db_models/EEM_Term_Taxonomy.model.php
  core/db_models/EEM_Ticket.model.php
  core/helpers/EEH_Activation.helper.php
  core/libraries/batch/JobHandlers/ExecuteBatchDeletion.php
  core/services/orm/TrashLogger.php
  tests/testcases/admin_pages/events/Events_Admin_Page_Test.php
  tests/testcases/core/db_models/EEM_Soft_Delete_Base_Test.php
Labels: category:models-and-data-infrastructure, type:user-proofing 🛡, status:can-merge

#3937 Use `aria-label`s Instead of `title` for List Table Actions
  admin_pages/about/templates/credits.template.php
  admin_pages/about/templates/reviews.template.php
  admin_pages/events/Event_Categories_Admin_List_Table.class.php
  admin_pages/events/Events_Admin_List_Table.class.php
  admin_pages/general_settings/templates/state_details_settings.template.php
  admin_pages/maintenance/templates/migration_options_from_ee3.template.php
  admin_pages/messages/Messages_Template_List_Table.class.php
  admin_pages/payments/Payment_Log_Admin_List_Table.class.php
  admin_pages/registration_form/Registration_Form_Questions_Admin_List_Table.class.php
  admin_pages/registration_form/espresso_events_Registration_Form_Hooks.class.php
  admin_pages/registrations/EE_Attendee_Contact_List_Table.class.php
  admin_pages/registrations/EE_Registrations_List_Table.class.php
  admin_pages/registrations/Registrations_Admin_Page.core.php
  admin_pages/registrations/templates/attendee_registrations_main_meta_box.template.php
  admin_pages/registrations/templates/reg_admin_details_main_meta_box_attendees.template.php
  admin_pages/registrations/templates/reg_admin_details_side_meta_box_registrant.template.php
  admin_pages/transactions/EE_Admin_Transactions_List_Table.class.php
  admin_pages/transactions/Transactions_Admin_Page.core.php
  admin_pages/transactions/templates/txn_admin_details_main_meta_box_attendees.template.php
  admin_pages/transactions/templates/txn_admin_details_main_meta_box_txn_details.template.php
  admin_pages/transactions/templates/txn_admin_details_side_meta_box_registrant.template.php
  admin_pages/venues/Venue_Categories_Admin_List_Table.class.php
  admin_pages/venues/Venues_Admin_List_Table.class.php
  admin_pages/venues/Venues_Admin_Page.core.php
  caffeinated/admin/extend/events/Extend_Events_Admin_Page.core.php
  caffeinated/admin/extend/events/Tickets_List_Table.class.php
  caffeinated/admin/extend/events/qtips/EE_Event_Editor_Tips.lib.php
  caffeinated/admin/extend/events/templates/event_datetime_metabox_clone_button.template.php
  caffeinated/admin/extend/messages/Custom_Messages_Template_List_Table.class.php
  caffeinated/admin/extend/registration_form/Extend_Registration_Form_Questions_Admin_List_Table.class.php
  caffeinated/admin/extend/registration_form/Registration_Form_Question_Groups_Admin_List_Table.class.php
  caffeinated/admin/extend/registration_form/espresso_events_Registration_Form_Hooks_Extend.class.php
  caffeinated/admin/extend/registration_form/templates/question_groups_main_meta_box.template.php
  caffeinated/admin/extend/registrations/EE_Event_Registrations_List_Table.class.php
  caffeinated/admin/extend/registrations/EE_Registration_CheckIn_List_Table.class.php
  caffeinated/admin/extend/registrations/Extend_EE_Registrations_List_Table.class.php
  caffeinated/admin/extend/registrations/Extend_Registrations_Admin_Page.core.php
  caffeinated/admin/new/pricing/Prices_List_Table.class.php
  caffeinated/admin/new/pricing/templates/event_tickets_datetime_edit_row.template.php
  caffeinated/admin/new/tickets/Tickets_List_Table.class.php
  core/db_classes/EE_Venue.class.php
  core/helpers/EEH_MSG_Template.helper.php
Labels: type:enhancement 🎉, category:i18n, priority:low, status:review, status:can-merge
