Repository eventespresso/event-espresso-core, pull requests merged in 2022-04, with the labels that each got.

#3774 Pass $relativeToWpRoot to server_params->requestUri() call
  core/services/request/Request.php
Labels: type:bug 🐞, category:core-plugin

#3778 Kses - Part 3
  admin_pages/payments/Payments_Admin_Page.core.php
  admin_pages/payments/templates/payment_log_details.template.php
  admin_pages/registration_form/espresso_events_Registration_Form_Hooks.class.php
  admin_pages/registration_form/templates/questions_main_meta_box.template.php
  caffeinated/admin/extend/registration_form/Extend_Registration_Form_Admin_Page.core.php
  caffeinated/admin/extend/registration_form/espresso_events_Registration_Form_Hooks_Extend.class.php
  caffeinated/admin/extend/registration_form/templates/questions_in_group_meta_box.template.php
  core/EE_System.core.php
Labels: category:admin-pages, type:task 🧹, status:please-fix

#3812 Fix StatusChangeNotice Code Vomit
  admin_pages/general_settings/General_Settings_Admin_Page.core.php
  admin_pages/messages/templates/ee_msg_details_main_add_meta_box.template.php
  caffeinated/admin/extend/registrations/EE_Event_Registrations_List_Table.class.php
  caffeinated/admin/new/pricing/espresso_events_Pricing_Hooks.class.php
  caffeinated/modules/ticket_selector_caff/templates/ticket_selector_price_details.template.php
  core/admin/EE_Admin_Page.core.php
  core/admin/StatusChangeNotice.php
  core/admin/templates/status_change_notice.template.php
  core/domain/services/admin/notices/status_change/StatusChangeNotice.php
  core/domain/services/admin/notices/status_change/status_change_notice.css
  core/domain/services/admin/notices/status_change/status_change_notice.js
  core/domain/services/admin/notices/status_change/status_change_notice.template.php
  core/libraries/messages/EE_messenger.lib.php
Labels: type:bug 🐞, category:admin-pages, priority:high, status:review

#3817 Handle Event Query `orderby` Params as Arrays
  core/helpers/EEH_Event_Query.helper.php
Labels: type:bug 🐞, category:templates-shortcodes-and-widgets, status:review
