Repository eventespresso/event-espresso-core, pull requests merged in 2022-01, with the labels that each got.

#3668 fix placeholder case
  admin_pages/transactions/help_tabs/transactions_overview_table_column_headings.help_tab.php
  core/services/encryption/openssl/OpenSSL.php
Labels: type:bug 🐞, category:admin-pages, priority:high, status:review

#3669 Replace Legacy Request Data in Registrations Admin
  .github/workflows/ci-master.yml
  admin_pages/registrations/EE_Registrations_List_Table.class.php
  admin_pages/registrations/Registrations_Admin_Page.core.php
  core/admin/EE_Admin_List_Table.core.php
  core/admin/EE_Admin_Page.core.php
  core/exceptions/ExceptionStackTraceDisplay.php
  core/services/request/Request.php
  core/services/request/RequestInterface.php
  core/services/request/RequestParams.php
  core/templates/global_assets/scripts/EE_Error.js
  tests/mocks/core/services/request/RequestMockBlank.php
Labels: type:enhancement 🎉, category:admin-pages, priority:high, status:review

#3675 Fix Ticket Selector Caps Restrictions Issue
  modules/ticket_selector/ProcessTicketSelector.php
  modules/ticket_selector/ProcessTicketSelectorPostData.php
  modules/ticket_selector/TicketSelectorRowSimple.php
  modules/ticket_selector/TicketSelectorRowStandard.php
  modules/ticket_selector/templates/simple_ticket_selector.template.php
  tests/testcases/modules/ticket_selector/ProcessTicketSelectorTest.php
Labels: type:bug 🐞, priority:critical 🔥, status:review, category:ticket-selector

#3671 Replace Legacy Request Data in Transactions Admin
  admin_pages/transactions/Transactions_Admin_Page.core.php
  tests/includes/EE_UnitTestCase.class.php
  tests/mocks/admin/transactions/Transactions_Admin_Page_Mock.php
  tests/testcases/admin_pages/transactions/Transactions_Admin_Page_Test.php
Labels: category:admin-pages, type:task 🧹, priority:normal, status:review

#3672 Replace Legacy Request Data in Events Admin
  admin_pages/events/Events_Admin_Page.core.php
  core/admin/EE_Admin_Page.core.php
  core/db_classes/EE_Ticket.class.php
  tests/mocks/admin/events/Events_Admin_Page_Mock.php
Labels: category:admin-pages, type:task 🧹, priority:normal, status:review

#3679 Use correct request param for the event_id
  admin_pages/registrations/Registrations_Admin_Page.core.php
Labels: category:admin-pages, status:review

#3677 Set 'Send test email to' field to not be required as it prevents message template changes when empty
  core/libraries/messages/messenger/EE_Email_messenger.class.php
Labels: category:messaging-&-messengers, status:review

#3654 Fix PHP Linting
  package-lock.json
  package.json
  ui/browser/checkins/entities/CheckinStatusDashicon.php
Labels: type:build-process 🔨, priority:high, status:in-progress, category:CI-CD-pipeline
