Repository eventespresso/event-espresso-core, pull requests merged in 2022-06, with the labels that each got.

#3852 Prevent a fatal error within PUE if update_plugins returns false
  core/third_party_libs/pue/pue-client.php
Labels: type:bug 🐞, category:pue-uxip-and-licensing, status:review

#3866 More EDTR UI Fixes & Updates
  admin_pages/about/About_Admin_Page.core.php
  admin_pages/about/templates/credits.template.php
  admin_pages/events/Events_Admin_Page.core.php
  admin_pages/general_settings/General_Settings_Admin_Page.core.php
  admin_pages/general_settings/OrganizationSettings.php
  admin_pages/general_settings/assets/organization.css
  admin_pages/general_settings/templates/espresso_page_settings.template.php
  admin_pages/maintenance/Maintenance_Admin_Page.core.php
  admin_pages/messages/Messages_Admin_Page.core.php
  admin_pages/messages/assets/ee_message_admin.css
  admin_pages/payments/Payments_Admin_Page.core.php
  admin_pages/registration_form/Registration_Form_Admin_Page.core.php
  admin_pages/registrations/Registrations_Admin_Page.core.php
  admin_pages/support/Support_Admin_Page.core.php
  admin_pages/transactions/Transactions_Admin_Page.core.php
  admin_pages/venues/Venues_Admin_Page.core.php
  caffeinated/admin/extend/about/Extend_About_Admin_Page.core.php
  caffeinated/admin/extend/about/templates/ee4-overview.template.php
  caffeinated/admin/extend/events/Extend_Events_Admin_Page.core.php
  caffeinated/admin/extend/messages/Extend_Messages_Admin_Page.core.php
  caffeinated/admin/extend/registration_form/Extend_Registration_Form_Admin_Page.core.php
  caffeinated/admin/extend/registrations/Extend_Registrations_Admin_Page.core.php
  caffeinated/admin/extend/support/Extend_Support_Admin_Page.core.php
  caffeinated/admin/extend/transactions/Extend_Transactions_Admin_Page.core.php
  caffeinated/admin/new/pricing/Pricing_Admin_Page.core.php
  core/admin/EE_Admin_Page.core.php
  core/admin/assets/admin-menu-styles.css
  core/admin/assets/ee-admin-page.css
  core/db_models/EEM_Base.model.php
  core/helpers/EEH_Tabbed_Content.helper.php
  core/helpers/assets/ee_text_list_helper.css
  core/libraries/form_sections/form_handlers/FormHandler.php
  core/libraries/form_sections/form_handlers/SequentialStepForm.php
  core/libraries/form_sections/inputs/EE_Form_Input_Base.input.php
  core/libraries/form_sections/strategies/layout/EE_Admin_Two_Column_Layout.strategy.php
  core/libraries/form_sections/strategies/layout/EE_Two_Column_Layout.strategy.php
  core/services/commands/CommandHandler.php
  core/services/commands/CommandHandlerInterface.php
  tests/mocks/core/services/commands/MockCommandHandler.php
Labels: type:enhancement 🎉, category:admin-page-ui-&-ux, status:review

#3849 Extract & Decouple Admin Menu Classes & Fix Activation
  admin_pages/about/About_Admin_Page_Init.core.php
  admin_pages/events/Events_Admin_Page_Init.core.php
  admin_pages/general_settings/General_Settings_Admin_Page_Init.core.php
  admin_pages/maintenance/Maintenance_Admin_Page_Init.core.php
  admin_pages/messages/Messages_Admin_Page_Init.core.php
  admin_pages/other_services/Other_Services_Admin_Page_Init.core.php
  admin_pages/payments/Payments_Admin_Page_Init.core.php
  admin_pages/registration_form/Registration_Form_Admin_Page_Init.core.php
  admin_pages/registrations/Registrations_Admin_Page_Init.core.php
  admin_pages/support/Support_Admin_Page_Init.core.php
  admin_pages/transactions/Transactions_Admin_Page_Init.core.php
  admin_pages/venues/Venues_Admin_Page_Init.core.php
  caffeinated/admin/new/pricing/Pricing_Admin_Page_Init.core.php
  caffeinated/admin/new/tickets/Tickets_Admin_Page_Init.core.php
  core/EE_Config.core.php
  core/EE_Load_Textdomain.core.php
  core/admin/EE_Admin.core.php
  core/admin/EE_Admin_Hooks.core.php
  core/admin/EE_Admin_Page_CPT_Init.core.php
  core/admin/EE_Admin_Page_Init.core.php
  core/admin/EE_Admin_Page_Loader.core.php
  core/admin/EE_Admin_Page_Main_Menu.core.php
  core/admin/EE_Admin_Page_Menu_Group.core.php
  core/admin/EE_Admin_Page_Menu_Map.core.php
  core/admin/EE_Admin_Page_Sub_Menu.core.php
  core/admin/assets/ee-admin-page.css
  core/domain/entities/admin/menu/AdminMenuGroup.php
  core/domain/entities/admin/menu/AdminMenuItem.php
  core/domain/entities/admin/menu/AdminMenuSubItem.php
  core/domain/entities/admin/menu/AdminMenuTopLevel.php
  core/domain/entities/routing/handlers/admin/ActivationRequests.php
  core/domain/entities/routing/handlers/admin/EspressoLegacyAdmin.php
  core/domain/entities/routing/handlers/admin/WordPressPluginsPage.php
  core/domain/entities/routing/handlers/shared/RegularRequests.php
  core/domain/services/admin/menu/AdminMenuManager.php
  core/domain/services/custom_post_types/RegisterCustomTaxonomyTerms.php
  core/helpers/EEH_Activation.helper.php
  core/libraries/plugin_api/EE_Register_Admin_Page.lib.php
  core/services/notifications/PersistentAdminNoticeManager.php
  tests/mocks/addons/eea-new-addon/admin/new_addon/New_Addon_Admin_Page_Init.core.php
Labels: type:bug 🐞, type:enhancement 🎉, category:admin-pages, category:activation-installation-and-migration, status:review

#3877 Add Cap Checks to Routing
  core/EE_Dependency_Map.core.php
  core/domain/entities/routing/handlers/admin/ActivationRequests.php
  core/domain/entities/routing/handlers/admin/AdminRoute.php
  core/domain/entities/routing/handlers/admin/EspressoEventsAdmin.php
  core/domain/entities/routing/handlers/frontend/PublicRoute.php
  core/domain/entities/routing/handlers/shared/RegularRequests.php
  core/domain/services/capabilities/CapCheck.php
  core/domain/services/capabilities/CapabilitiesChecker.php
  core/domain/services/capabilities/CapabilitiesCheckerInterface.php
  core/services/commands/CommandRequiresCapCheckInterface.php
  core/services/commands/registration/CreateRegistrationCommand.php
  core/services/routing/Route.php
  core/services/routing/RouteHandler.php
  tests/mocks/core/domain/services/capabilities/CapabilitiesCheckerMock.php
Labels: type:enhancement 🎉, category:core-plugin, status:review

#3875 Fix Registrations CSV Report Filters
  admin_pages/general_settings/General_Settings_Admin_Page.core.php
  admin_pages/registrations/EE_Registrations_List_Table.class.php
  admin_pages/registrations/Registrations_Admin_Page.core.php
  admin_pages/registrations/assets/espresso_registrations_admin.css
  caffeinated/admin/extend/registrations/EE_Event_Registrations_List_Table.class.php
  caffeinated/admin/extend/registrations/Extend_Registrations_Admin_Page.core.php
  caffeinated/admin/extend/registrations/assets/ee-newsletter-trigger.css
  core/admin/EE_Admin_List_Table.core.php
  core/admin/EE_Admin_Page.core.php
  core/admin/assets/ee-admin-page.css
  core/admin/assets/ee-admin-page.js
  core/domain/services/admin/registrations/list_table/QueryBuilder.php
  core/domain/services/admin/registrations/list_table/csv_reports/RegistrationsCsvReportParams.php
  core/helpers/EEH_Template.helper.php
  core/libraries/batch/JobHandlers/RegistrationsReport.php
  core/services/request/Request.php
  core/services/request/RequestInterface.php
  core/services/request/ServerParams.php
  tests/mocks/core/services/request/RequestMockBlank.php
Labels: type:bug 🐞, category:admin-pages, priority:high, status:review

#3853 Kses - Part 13
  core/EE_Addon.core.php
  core/EE_Error.core.php
  core/EE_Front_Controller.core.php
  core/db_classes/EE_Base_Class.class.php
  core/db_models/EEM_Base.model.php
  core/entities/models/JsonModelSchema.php
  core/libraries/form_sections/base/EE_Form_Section_Proper.form.php
  core/libraries/messages/defaults/default/email_main_wrapper.template.php
  core/libraries/messages/defaults/default/email_preview_wrapper.template.php
  core/libraries/messages/defaults/default/html_main_wrapper.template.php
  core/libraries/messages/messenger/EE_Html_messenger.class.php
  core/services/request/sanitizers/AllowedTags.php
  core/third_party_libs/pue/pue-client.php
  modules/single_page_checkout/inc/EE_SPCO_JSON_Response.php
Labels: type:enhancement 🎉, category:security, priority:high, status:needs-testing

#3885 Remove wp_kses() from Critical Pages dropdown select output
  admin_pages/general_settings/General_Settings_Admin_Page.core.php
Labels: priority:critical 🔥

#3892 Yet Another Batch of UI Fixes
  admin_pages/general_settings/templates/countries_settings.template.php
  admin_pages/general_settings/templates/espresso_page_settings.template.php
  admin_pages/maintenance/assets/ee-maintenance.css
  admin_pages/messages/Messages_Admin_Page.core.php
  admin_pages/messages/assets/ee-messages-settings.js
  admin_pages/messages/assets/ee_message_admin.css
  admin_pages/messages/assets/ee_message_settings.css
  admin_pages/messages/help_tabs/messages_settings_messengers.help_tab.php
  admin_pages/messages/templates/ee_msg_editor_active_context_element.template.php
  admin_pages/messages/templates/ee_msg_m_settings_content.template.php
  admin_pages/payments/Payments_Admin_Page.core.php
  admin_pages/payments/assets/ee-payments.css
  admin_pages/registrations/assets/espresso_registrations_admin.css
  admin_pages/venues/templates/google_map.template.php
  caffeinated/admin/extend/general_settings/templates/debug_log_settings.template.php
  caffeinated/modules/event_single_caff/templates/admin-event-single-settings.template.php
  caffeinated/modules/events_archive_caff/templates/admin-event-list-settings.template.php
  core/admin/EE_Admin_List_Table.core.php
  core/admin/assets/admin-menu-styles.css
  core/admin/assets/ee-admin-page.css
  core/domain/services/admin/registrations/list_table/csv_reports/RegistrationsCsvReportParams.php
Labels: type:enhancement 🎉, category:admin-page-ui-&-ux, status:review

#3894 Fix Preview and Delete Events Batch Job
  admin_pages/events/form_sections/ConfirmEventDeletionForm.php
  admin_pages/events/templates/event_preview_deletion.template.php
  core/admin/assets/ee-admin-page.css
  core/domain/services/admin/events/data/ConfirmDeletion.php
  core/domain/services/admin/events/data/PreviewDeletion.php
  core/libraries/batch/Assets/batch_runner.js
  core/libraries/batch/JobHandlerBaseClasses/JobHandler.php
  core/libraries/batch/JobHandlers/ExecuteBatchDeletion.php
  core/libraries/batch/JobHandlers/PreviewEventDeletion.php
  core/libraries/form_sections/base/EE_Form_Section_Base.form.php
  docs/M--Batch-Jobs-System/implementing-an-advanced-batch-job.md
  modules/batch/assets/batch_file_runner_init.js
  modules/batch/assets/batch_runner_init.js
Labels: type:enhancement 🎉, category:admin-page-ui-&-ux, status:review

#3895 Fix Blank Max Registrations per Transaction on New Event
  admin_pages/events/Events_Admin_Page.core.php
  core/admin/EE_Admin_Page_CPT.core.php
  core/data_migration_scripts/EE_DMS_Core_4_12_0.dms.php
  core/db_classes/EE_Datetime.class.php
  core/db_classes/EE_Event.class.php
  core/db_classes/EE_Ticket.class.php
  core/db_models/EEM_Base.model.php
  core/db_models/EEM_Event.model.php
  core/domain/services/event/EventSpacesCalculator.php
  core/domain/services/graphql/types/Event.php
Labels: type:bug 🐞, category:models-and-data-infrastructure, status:review

#3889 Fix Save Issue of Critical Pages Form
  admin_pages/general_settings/General_Settings_Admin_Page.core.php
Labels: type:bug 🐞, category:admin-pages, priority:high, status:needs-testing

#3891 Added New Thousands Separators
  admin_pages/general_settings/General_Settings_Admin_Page.core.php
Labels: type:enhancement 🎉, category:i18n, status:needs-testing

#3890 Fix Recaptcha Issue
  core/EE_System.core.php
  core/services/request/sanitizers/AllowedTags.php
  modules/single_page_checkout/templates/registration_page_wrapper.template.php
Labels: type:bug 🐞, category:spco-&-registration, priority:high, status:needs-testing

#3898 Fixed default context of new message template.
  core/helpers/EEH_MSG_Template.helper.php
  core/libraries/messages/EE_messenger.lib.php
  core/services/request/sanitizers/AllowedTags.php
Labels: type:bug 🐞, category:messaging-&-messengers, status:review

#3900 Fix Issue of Loading Ticket Selector, Event Datetime, and Event Details
  core/EED_Module.module.php
  modules/events_archive/EED_Events_Archive.module.php
Labels: category:frontend-ui-&-ux, type:theme/plugin-conflict 💥, priority:normal, status:review
